Repository Azure/AgentBaker: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml, .pipelines/update-go-binary.yaml

Path conditions:
  .pipelines/.vsts-vhd-builder-release-windows.yaml: any of: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/templates/.builder-release-template-windows.yaml, packer.mk, vhdbuilder/packer/packer-plugin.pkr.hcl, vhdbuilder/packer/*.ps1, vhdbuilder/packer/test/*.ps1, vhdbuilder/packer/test/run-test.sh, vhdbuilder/packer/backfill-cleanup.sh, vhdbuilder/packer/cleanup.sh, vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh, vhdbuilder/packer/generate-vhd-publishing-info.sh, vhdbuilder/packer/init-variables.sh, vhdbuilder/packer/windows-image.env, vhdbuilder/packer/windows-vhd-builder-sig.json
  .pipelines/.vsts-vhd-builder.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, parts/linux/cloud-init/artifacts/manifest.json, parts/linux/cloud-init/artifacts/cse_install.sh, parts/linux/cloud-init/artifacts/cse_helpers.sh, parts/linux/cloud-init/artifacts/ubuntu/cse_install_ubuntu.sh, parts/linux/cloud-init/artifacts/mariner/cse_install_mariner.sh, packer.mk, but not: vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*
  .pipelines/e2e-windows.yaml: any of: .pipelines/e2e-windows.yaml, .pipelines/templates/e2e-windows-template.yaml, e2e/windows, parts/windows, staging/cse/windows
  .pipelines/e2e.yaml: any of: .pipelines/e2e.yaml, e2e, parts/linux, pkg/agent, but not: e2e/windows, pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/AKSWindows*
  .pipelines/update-go-binary.yaml: any of: pkg/proto, pkg/parser

index -1 only supports in newer bash script.
  parts/linux/cloud-init/artifacts/cse_install.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

debugging
  .pipelines/e2e.yaml
Due: .pipelines/e2e.yaml

chore(deps): cache CNI/CNS V1.6.0 (#4524)
  parts/linux/cloud-init/artifacts/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/e2e.yaml

fix VHD resource id fetching
  e2e/scenario/base_vhd_catalog.json
  e2e/scenario/vhd.go
Due: .pipelines/e2e.yaml

use resource tags instead of ADO artifacts
  .pipelines/e2e.yaml
  e2e/README.md
  e2e/artifact/const.go
  e2e/artifact/download.go
  e2e/artifact/types.go
  e2e/go.mod
  e2e/go.sum
  e2e/scenario/base_vhd_catalog.json
  e2e/scenario/vhd.go
  e2e/suite/suite.go
Due: .pipelines/e2e.yaml

gitignore logs
  .gitignore
Due: none

reduce diff between ARM64 and X86_64
  packer.mk
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

load defaults from code instead of dotenv
  e2e/config/config.go
  e2e/go.mod
  e2e/go.sum
  e2e/pollers.go
  e2e/vmss.go
Due: .pipelines/e2e.yaml

rename envDefault => getEnvWithDefaultIfEmpty
  e2e/config/config.go
Due: .pipelines/e2e.yaml

add comment
  e2e/config/vhd.go
Due: .pipelines/e2e.yaml

add missing error check
  e2e/config/vhd.go
  e2e/suite_test.go
Due: .pipelines/e2e.yaml

fix VHD build id
  .pipelines/e2e.yaml
Due: .pipelines/e2e.yaml

use full path to branch to avoid collisions
  .pipelines/templates/.builder-release-template.yaml
  e2e/scenario/base_vhd_catalog.json
Due: .pipelines/e2e.yaml

use LookupEnv instead of Getenv
  e2e/config/config.go
Due: .pipelines/e2e.yaml

upgrade golang version to 1.22
  .github/workflows/check-coverage.yml
  .github/workflows/check-generated.yml
  .github/workflows/check-shell.yml
  .github/workflows/check-tests.yml
  .github/workflows/golangci-lint-pr.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/validate-components.yml
  .pipelines/scripts/setup_go.sh
  go.mod
  go.sum
Due: none

undo architecture check
  packer.mk
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

upgrade golangci-lint version
  .github/workflows/golangci-lint-pr.yml
  .github/workflows/golangci-lint.yml
Due: none

minor refactoring
  e2e/config/azure.go
  e2e/config/vhd.go
  e2e/scenario/types.go
  e2e/suite_test.go
Due: .pipelines/e2e.yaml

log error message
  e2e/config/vhd.go
Due: .pipelines/e2e.yaml

ignore scenarios with missing VHD if build id is provided
  e2e/scenario/types.go
  e2e/scenario/vhd.go
  e2e/suite_test.go
Due: .pipelines/e2e.yaml

simplify GPU scenario definition
  e2e/scenario/scenario.go
  e2e/scenario/scenario_ubuntu2204-gpu.go
  e2e/scenario/vm.go
Due: .pipelines/e2e.yaml

simplify if statement
  e2e/suite_test.go
Due: .pipelines/e2e.yaml

fix private kube pkg
  e2e/config/vhd.go
Due: .pipelines/e2e.yaml

don't retry timeout errors
  e2e/pollers.go
  e2e/vmss.go
Due: .pipelines/e2e.yaml

simplify config initialization
  e2e/config/config.go
Due: .pipelines/e2e.yaml

fix image loading when build isn't specified
  .pipelines/templates/.builder-release-template.yaml
  e2e/scenario/base_vhd_catalog.json
Due: .pipelines/e2e.yaml

lazy load VHD resource id, avoid it for scenarios that don't run
  e2e/scenario/scenario.go
  e2e/scenario/types.go
  e2e/scenario/vhd.go
  e2e/vmss.go
Due: .pipelines/e2e.yaml

switch to standard_d2s_v4 node SKU
  e2e/cluster.go
  e2e/vmss.go
Due: .pipelines/e2e.yaml

fix rebase conflicts
  e2e/config/config.go
  e2e/go.mod
  e2e/go.sum
  e2e/scenario/vhd.go
  e2e/suite/suite.go
  e2e/suite_test.go
  go.mod
  go.sum
Due: .pipelines/e2e.yaml

don't need ADO token anymore
  .pipelines/e2e.yaml
Due: .pipelines/e2e.yaml
