Repository Azure/AgentBaker: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml, .pipelines/update-go-binary.yaml

.pipelines/.vsts-vhd-builder-gpu.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_$(Build.SourceBranchName)_$(BuildID)
  pool:
    name: $(POOL_NAME)
  stages:
  - stage: build
    jobs:
    - job: build2404gen2containerd
      timeoutInMinutes: 360
      steps:
      - bash: 'echo ''##vso[task.setvariable variable=OS_SKU]Ubuntu''
  
  ...

.pipelines/.vsts-vhd-builder-pr-windows.yaml:
  name: PR_$(Date:yyyyMMdd)$(Rev:.r)_$(Build.SourceBranchName)_$(BuildID)
  pool:
    name: $(POOL_NAME)
  stages:
  - template: ./templates/.build-and-test-windows-vhds-template.yaml
    parameters:
      vhddebug: false
      skipExtensionCheck: true
      dryrun: false
      overrideBranch: master
  ...

.pipelines/.vsts-vhd-builder.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_$(Build.SourceBranchName)_$(BuildID)
  pool:
    name: $(POOL_NAME)
  stages:
  - stage: build
    jobs:
    - job: build2004fipsgen2containerd
      timeoutInMinutes: 180
      steps:
      - bash: 'echo ''##vso[task.setvariable variable=OS_SKU]Ubuntu''
  
  ...

.pipelines/.vsts-vhd-refresh-testdata.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_$(Build.SourceBranchName)_$(BuildID)
  pool:
    name: $(POOL_NAME)
  stages:
  - stage: Generate_and_Publish_Testdata
    condition: succeeded()
    jobs:
    - job: Generate_Publish_Testdata
      timeoutInMinutes: 10
      steps:
      - bash: 'make generate
  
          '
  ...

.pipelines/e2e-windows.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: ./templates/e2e-template.yaml
    parameters:
      name: Windows Tests
      IgnoreScenariosWithMissingVhd: false

.pipelines/e2e.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: ./templates/e2e-template.yaml
    parameters:
      name: Linux Tests
      IgnoreScenariosWithMissingVhd: false

.pipelines/update-go-binary.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  jobs: null
  check-file:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout current branch
      uses: actions/checkout@v2
    - name: build go binary
      run: make update-contract
    - name: Save file from current branch
      run: cp pkg/parser/bin/parser parser
  ...

fix(containerd): use split cri.v1.runtime for Kata on containerd 2.x + align scriptful/scriptless
  aks-node-controller/parser/helper_test.go
  aks-node-controller/parser/templates/containerd_v2.toml.gtpl
  aks-node-controller/parser/templates/containerd_v2_no_GPU.toml.gtpl
  pkg/agent/baker.go
  pkg/agent/baker_test.go
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

Repair NVIDIA CDI refresh after driver readiness
  parts/linux/cloud-init/artifacts/cse_config.sh
  spec/parts/linux/cloud-init/artifacts/cse_config_spec.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

test(containerd): assert Kata handlers render under split cri.v1.runtime in empty-version v3 path
  pkg/agent/baker_test.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

Handle containerd config parity semantically
  aks-node-controller/app.go
  aks-node-controller/app_test.go
  pkg/agent/baker.go
  pkg/agent/baker_test.go
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix(containerd): align scriptless v4 config with baker for containerd 2.3+
  aks-node-controller/parser/helper.go
  aks-node-controller/parser/helper_test.go
  aks-node-controller/parser/templates/containerd_v2.toml.gtpl
  aks-node-controller/parser/templates/containerd_v2_no_GPU.toml.gtpl
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml

fix: enable CDI in static gb containerd config
  parts/linux/cloud-init/artifacts/ubuntu/gb/containerd-nvidia.toml
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

Handle omitted containerd v2 config versions
  pkg/agent/baker.go
  pkg/agent/baker_test.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

revert: drop enable_cdi from static gb containerd config
  parts/linux/cloud-init/artifacts/ubuntu/gb/containerd-nvidia.toml
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

Guard NVIDIA CDI refresh until driver readiness
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

diag(anc): log the exact containerd TOML entries that differ in the provision-config vs nbc-cmd parity check
  aks-node-controller/app.go
  aks-node-controller/entrydiff_test.go
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml

fix(containerd): render split v3 schema for empty-version Kata containerd-v2 distros
  aks-node-controller/parser/parser_test.go
  parts/linux/cloud-init/artifacts/ubuntu/gb/containerd-nvidia.toml
  pkg/agent/baker_test.go
  pkg/agent/datamodel/types.go
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix(e2e): deliver the compiled aks-node-controller on the scriptless phase-2.5 path
  pkg/agent/baker.go
  pkg/agent/hotfix_marker_test.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix: don't assume containerd v4 schema for empty/unknown version on 24.04/26.04
  pkg/agent/baker.go
  pkg/agent/baker_test.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix(containerd): forward snapshot annotations on kata path in split-plugin schemas
  aks-node-controller/parser/templates/containerd_v2.toml.gtpl
  aks-node-controller/parser/templates/containerd_v2_no_GPU.toml.gtpl
  pkg/agent/baker.go
  pkg/agent/baker_test.go
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

Align e2e containerd version defaults
  e2e/node_config_test.go
  e2e/test_helpers.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

Normalize containerd package versions with epochs
  aks-node-controller/parser/helper.go
  aks-node-controller/parser/helper_test.go
  pkg/agent/baker.go
  pkg/agent/baker_test.go
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix(anc): normalize quotes/whitespace in containerd config equality check (Copilot review)
  aks-node-controller/app.go
  aks-node-controller/app_test.go
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml

diag(anc): make containerd parity diff always self-explanatory
  aks-node-controller/app.go
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml

diag(anc): strip quotes before decoding containerd config in parity diff
  aks-node-controller/app.go
  aks-node-controller/entrydiff_test.go
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml

fix: handle e2e node config conversion errors
  e2e/node_config_test.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix(containerd): don't assume v4 schema for empty containerd version on 24.04
  pkg/agent/baker.go
  pkg/agent/baker_test.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

Harden containerd artifact streaming test
  aks-node-controller/parser/helper_test.go
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml

fix scriptful containerd 2.x config selection
  pkg/agent/baker.go
  pkg/agent/baker_test.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

test/docs(anc): assert version=4 in v4 schema test + fix containerdConfigEntryDiff doc (Copilot review)
  aks-node-controller/app.go
  aks-node-controller/parser/parser_test.go
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml

fix: avoid duplicate [proxy_plugins] table in containerd configs
  aks-node-controller/parser/templates/containerd.toml.gtpl
  aks-node-controller/parser/templates/containerd_no_GPU.toml.gtpl
  aks-node-controller/parser/templates/containerd_v2.toml.gtpl
  aks-node-controller/parser/templates/containerd_v2_no_GPU.toml.gtpl
  pkg/agent/baker.go
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

docs(containerd): correct empty-version 24.04 fallback comment (v2 -> v3)
  pkg/agent/baker.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

refocus PR on containerd config schema
  parts/linux/cloud-init/artifacts/cse_config.sh
  spec/parts/linux/cloud-init/artifacts/cse_config_spec.sh
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

fix(containerd): use schema version 3 (not 2) for containerd 2.0-2.2 split config (AKS #5909)
  aks-node-controller/parser/helper_test.go
  aks-node-controller/parser/templates/containerd_v2.toml.gtpl
  aks-node-controller/parser/templates/containerd_v2_no_GPU.toml.gtpl
  pkg/agent/baker.go
  pkg/agent/baker_test.go
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

docs(containerd): fix stale v2 comments (2.0-2.2 renders v3) + clarify empty-24.04 fallback trade-off
  aks-node-controller/parser/helper.go
  pkg/agent/baker.go
  pkg/agent/baker_test.go
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

Restore scriptless containerd v2 config path
  aks-node-controller/parser/helper.go
  aks-node-controller/parser/helper_test.go
  aks-node-controller/parser/templates/containerd_v2.toml.gtpl
  aks-node-controller/parser/templates/containerd_v2_no_GPU.toml.gtpl
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml

Normalize containerd package versions for schema gating
  aks-node-controller/parser/helper.go
  aks-node-controller/parser/helper_test.go
  pkg/agent/baker.go
  pkg/agent/baker_test.go
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

Handle Debian prerelease containerd versions
  aks-node-controller/parser/helper.go
  aks-node-controller/parser/helper_test.go
  pkg/agent/baker.go
  pkg/agent/baker_test.go
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix: keep kata config parity for v4 containerd
  pkg/agent/baker.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

test(e2e): add E2E_OMIT_CONTAINERD_VERSION to exercise the RP-omits-version path
  e2e/config/config.go
  e2e/test_helpers.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix(anc): remove unused isContainerdV2 after main merge
  aks-node-controller/parser/helper.go
  aks-node-controller/parser/templates/containerd.toml.gtpl
  aks-node-controller/parser/templates/containerd_no_GPU.toml.gtpl
  aks-node-controller/parser/templates/containerd_v2.toml.gtpl
  aks-node-controller/parser/templates/containerd_v2_no_GPU.toml.gtpl
  e2e/node_config_test.go
  e2e/test_helpers.go
  parts/linux/cloud-init/artifacts/cse_config.sh
  pkg/agent/baker.go
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

TEST-ONLY: remove SkipScriptlessEnvParity to prove DRA parity passes on a PR-built VHD
  e2e/scenario_gpu_managed_experience_test.go
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

perf(windows): poll kubelet health more frequently
  parts/windows/windowscsehelper.ps1
  parts/windows/windowscsehelper.tests.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

refactor(windows): make retry delay units explicit
  parts/windows/windowscsehelper.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

refactor(windows): use one-second health retries
  parts/windows/windowscsehelper.ps1
  parts/windows/windowscsehelper.tests.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

Path conditions:
  .pipelines/.vsts-vhd-builder-gpu.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, .pipelines/templates/.builder-release-template.yaml, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/e2e-template.yaml, parts/linux, packer.mk, aks-node-controller, parts/common/components.json, go.mod, go.sum, e2e/scenario_gpu_managed_experience_test.go, but not: schemas/windows_settings.cue, vhdbuilder/release-notes, vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/windows, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*, .github, e2e/scenario_win_test.go, **/*.md
  .pipelines/.vsts-vhd-builder-pr-windows.yaml: any of: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/scripts, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/.build-and-test-windows-vhds-template.yaml, .pipelines/templates/.build-and-test-windows-vhd-template.yaml, .pipelines/templates/.builder-release-template-windows.yaml, .pipelines/templates/e2e-template.yaml, packer.mk, vhdbuilder/packer/packer-plugin.pkr.hcl, vhdbuilder/packer/*.ps1, vhdbuilder/packer/test/*.ps1, vhdbuilder/packer/test/run-test.sh, vhdbuilder/packer/windows-sub-cleanup.sh, vhdbuilder/packer/cleanup.sh, vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh, vhdbuilder/packer/generate-vhd-publishing-info.sh, vhdbuilder/packer/produce-packer-settings.sh, vhdbuilder/packer/windows, parts/common/components.json, parts/windows, go.mod, go.sum, e2e, staging/cse/windows, but not: vhdbuilder/release-notes, **/*.md, .github, e2e/scenario_test.go
  .pipelines/.vsts-vhd-builder.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, .pipelines/templates/.builder-release-template.yaml, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/e2e-template.yaml, parts/linux, packer.mk, aks-node-controller, parts/common/components.json, go.mod, go.sum, but not: schemas/windows_settings.cue, vhdbuilder/release-notes, vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/windows, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*, .github, e2e/scenario_win_test.go
  .pipelines/.vsts-vhd-refresh-testdata.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-refresh-testdata.yaml, parts/linux, packer.mk, parts/common/components.json, but not: vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*
  .pipelines/e2e-windows.yaml: any of: .pipelines/e2e-windows.yaml, .pipelines/templates/e2e-template.yaml, .pipelines/scripts/e2e_run.sh, .pipelines/scripts/e2e_delete_vmss.sh, e2e, parts/windows, pkg/agent, parts/common/components.json, staging/cse/windows, go.mod, go.sum, but not: pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/*Ubuntu*, pkg/agent/testdata/*Flatcar*, pkg/agent/testdata/*Mariner*, pkg/agent/testdata/*AzureLinux*, parts/common/components.json, staging/cse/windows/README, **/*.md, .github, e2e/scenario_test.go
  .pipelines/e2e.yaml: any of: .pipelines/e2e.yaml, .pipelines/templates/e2e-template.yaml, .pipelines/scripts/e2e_run.sh, e2e, parts/linux, parts/common/components.json, pkg/agent, go.mod, go.sum, but not: pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/AKSWindows*, parts/common/components.json, staging/cse/windows/README, **/*.md, e2e/scenario_win_test.go
  .pipelines/update-go-binary.yaml: any of: pkg/proto, pkg/parser
