Repository Azure/AgentBaker: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml, .pipelines/update-go-binary.yaml

Path conditions:
  .pipelines/.vsts-vhd-builder-release-windows.yaml: any of: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/templates/.builder-release-template-windows.yaml, packer.mk, vhdbuilder/packer/packer-plugin.pkr.hcl, vhdbuilder/packer/*.ps1, vhdbuilder/packer/test/*.ps1, vhdbuilder/packer/test/run-test.sh, vhdbuilder/packer/backfill-cleanup.sh, vhdbuilder/packer/cleanup.sh, vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh, vhdbuilder/packer/generate-vhd-publishing-info.sh, vhdbuilder/packer/init-variables.sh, vhdbuilder/packer/windows-image.env, vhdbuilder/packer/windows-vhd-builder-sig.json
  .pipelines/.vsts-vhd-builder.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, .pipelines/templates/.builder-release-template.yaml, parts/linux, packer.mk, but not: vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*
  .pipelines/e2e-windows.yaml: any of: .pipelines/e2e-windows.yaml, .pipelines/templates/e2e-windows-template.yaml, e2e/windows, parts/windows, staging/cse/windows, but not: staging/cse/windows/README
  .pipelines/e2e.yaml: any of: .pipelines/e2e.yaml, .pipelines/templates/e2e-template.yaml, e2e, parts/linux, pkg/agent, but not: e2e/windows, pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/AKSWindows*, parts/linux/cloud-init/artifacts/components.json
  .pipelines/update-go-binary.yaml: any of: pkg/proto, pkg/parser

fix file
  node-bootstrapper/nbc.json
Due: none

move config again
  pkg/agent/datamodel/types.go
  pkg/agent/variables.go
Due: .pipelines/e2e.yaml

fix config
  node-bootstrapper/nbc.json
Due: none

lints
  node-bootstrapper/use_kubeconfig.go
  pkg/agent/datamodel/helper_test.go
  pkg/agent/datamodel/versions_test.go
Due: .pipelines/e2e.yaml

extract segments
  node-bootstrapper/use_kubeconfig.go
Due: none

better log dir
  node-bootstrapper/getlogs.sh
Due: none

get windows working
  node-bootstrapper/custom_data_kubeconfig_test.go
  node-bootstrapper/main.go
  node-bootstrapper/test_helpers.go
  parts/windows/csecmd.ps1
Due: .pipelines/e2e-windows.yaml

fix tests
  node-bootstrapper/custom_data_kubeconfig_test.go
  node-bootstrapper/main.go
  node-bootstrapper/use_kubeconfig.go
Due: none

fix cse
  parts/windows/csecmd.ps1
Due: .pipelines/e2e-windows.yaml

fix some tests
  node-bootstrapper/use_kubeconfig.go
Due: none

remove unused function
  node-bootstrapper/use_kubeconfig.go
Due: none

fix compile errors after rebase
  node-bootstrapper/main.go
Due: none

remove unnecessary var
  e2e/scenario_test.go
  e2e/types.go
Due: .pipelines/e2e.yaml

add ctr to path
  parts/windows/kuberneteswindowssetup.ps1
  staging/cse/windows/provisioningscripts/kubeletstart.ps1
  staging/cse/windows/provisioningscripts/windowsnodereset.ps1
Due: .pipelines/e2e-windows.yaml

remove test files
  node-bootstrapper/.gitignore
  node-bootstrapper/build.sh
  node-bootstrapper/getlogs.sh
  node-bootstrapper/make-it-so.sh
  node-bootstrapper/nbc.json
  node-bootstrapper/prepare.ps1
  node-bootstrapper/reset.ps1
Due: none

remove unnecessary stuff from gitignore
  node-bootstrapper/.gitignore
Due: none

kubeconfig files
  node-bootstrapper/custom_data_kubeconfig_test.go
  node-bootstrapper/getlogs.sh
  node-bootstrapper/main.go
  node-bootstrapper/nbc.json
  parts/windows/kuberneteswindowssetup.ps1
  pkg/agent/params.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

rename files
  node-bootstrapper/running_on_vanilla_windows_vm/step1_install_windows_features.sh
  node-bootstrapper/running_on_vanilla_windows_vm/step2_update_registry.sh
  node-bootstrapper/running_on_vanilla_windows_vm/step3_run_bootstrapper.sh
Due: none

add tests for azure-token.ps1
  node-bootstrapper/azure-token.ps1
  node-bootstrapper/custom_data_kubeconfig_test.go
Due: none

move enum
  node-bootstrapper/custom_data_kubeconfig_test.go
  node-bootstrapper/use_kubeconfig.go
  pkg/agent/baker.go
  pkg/agent/datamodel/types.go
  pkg/agent/params.go
Due: .pipelines/e2e.yaml

rename
  node-bootstrapper/custom_data_kubeconfig_test.go
  node-bootstrapper/use_kubeconfig.go
  pkg/agent/datamodel/types.go
Due: .pipelines/e2e.yaml

get-token.ps1
  node-bootstrapper/azure-token.ps1
  node-bootstrapper/custom_data_kubeconfig_test.go
  node-bootstrapper/getlogs.sh
  node-bootstrapper/main.go
Due: none

lint
  node-bootstrapper/custom_data_kubeconfig_test.go
  node-bootstrapper/use_kubeconfig.go
  pkg/agent/datamodel/types.go
  pkg/agent/params.go
Due: .pipelines/e2e.yaml

move files
  node-bootstrapper/dev-tools/win/local/retrieve_logs.sh
  node-bootstrapper/dev-tools/win/local/sample_node_bootstrapping_config.json
  node-bootstrapper/dev-tools/win/local/setup.ps1
  node-bootstrapper/dev-tools/win/local/step1_install_windows_features.sh
  node-bootstrapper/dev-tools/win/local/step2_update_registry.sh
  node-bootstrapper/dev-tools/win/local/step3_run_bootstrapper.sh
Due: none

fix: always run set pipeline variables step
  .pipelines/templates/.builder-release-template.yaml
Due: .pipelines/.vsts-vhd-builder.yaml

test: let build pass
  vhdbuilder/packer/init-variables.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

test: fail build
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml

test: fail at init variables
  vhdbuilder/packer/init-variables.sh
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

chore: bumping image version to 202410.15.0
  pkg/agent/datamodel/linux_sig_version.json
Due: none

chore: automated PR to update VHDVersion for 202410.15.0 VHD (#5087)
  pkg/agent/datamodel/linux_sig_version.json
Due: none

fix merge conflict with correct ways of calling Get config flag string
  pkg/agent/utils_test.go
Due: .pipelines/e2e.yaml

log better
  e2e/pollers.go
Due: .pipelines/e2e.yaml

after and wants cloud-init.target
  parts/linux/cloud-init/artifacts/bootstrap.service
  parts/linux/cloud-init/artifacts/bootstrap.sh
  vhdbuilder/packer/pre-install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

chore: add windows unit tests
  staging/cse/windows/kubeletfunc.tests.ps1
Due: .pipelines/e2e-windows.yaml

feat: create private acr in e2e tests (#5096)
  e2e/aks_model.go
  e2e/cluster.go
  e2e/config/azure.go
  e2e/config/config.go
  e2e/exec.go
  e2e/go.mod
  e2e/go.sum
  e2e/kube.go
  e2e/pod.go
  e2e/pollers.go
  e2e/scenario_test.go
  e2e/template.go
  e2e/validation.go
Due: .pipelines/e2e.yaml
