Repository Azure/AgentBaker: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

.pipelines/.vsts-vhd-builder-release-windows.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_$(Build.SourceBranchName)_$(BuildID)
  pool:
    name: $(AZURE_POOL_NAME)
  extends:
    template: v2/OneBranch.Official.CrossPlat.yml@templates
    parameters:
      globalSdl:
        antimalwareScan:
          enabled: true
        armory:
          enabled: false
        binskim:
  ...

.pipelines/.vsts-vhd-builder.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_$(OS_SKU)$(OS_VERSION)_$(HYPERV_GENERATION)_$(FEATURE_FLAGS)_$(Build.SourceBranchName)
  pool:
    name: $(POOL_NAME)
  stages:
  - stage: build_vhd
    dependsOn: []
    jobs:
    - job: build
      timeoutInMinutes: 180
      steps:
  ...

.pipelines/e2e-windows.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_e2e
  pool:
    name: $(AZURE_POOL_NAME)
  stages:
  - stage: test_2019_containerd
    dependsOn: []
    condition: eq('${{ parameters.test2019containerd }}', True)
    jobs:
    - template: ./templates/e2e-windows-template.yaml
      parameters:
        windowsImage: 2019-containerd
  ...

.pipelines/e2e.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  pool:
    name: nodesigtest-pool
  jobs:
  - job: Run_AgentBaker_E2E
    steps:
    - bash: 'az login --identity
  
        az account set -s $(AZURE_SUBSCRIPTION_ID)
  
        '
      displayName: az login
    - bash: bash .pipelines/scripts/setup_go.sh
      displayName: setup go
  ...

test: download json file to agent vm and delete from VHD
  vhdbuilder/packer/vhd-image-builder-arm64-gen2.json
  vhdbuilder/packer/vhd-image-builder-base.json
  vhdbuilder/packer/vhd-image-builder-mariner-arm64.json
  vhdbuilder/packer/vhd-image-builder-mariner.json
Due: .pipelines/.vsts-vhd-builder.yaml

nit: capitalization
  .pipelines/templates/.builder-release-template.yaml
Due: none

test: add new benchmarking functions
  parts/linux/cloud-init/artifacts/cse_helpers.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

test: modify install scripts to use new helper functions
  vhdbuilder/packer/install-dependencies.sh
  vhdbuilder/packer/post-install-dependencies.sh
  vhdbuilder/packer/pre-install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml

fix: revert
  .pipelines/.vsts-vhd-builder-release.yaml
Due: none

fix: go dev container
  .pipelines/.vsts-vhd-builder-release.yaml
Due: none

perf: add/modify os_disk_snapshot_name in packer templates
  vhdbuilder/packer/vhd-image-builder-arm64-gen2.json
  vhdbuilder/packer/vhd-image-builder-base.json
  vhdbuilder/packer/vhd-image-builder-mariner-arm64.json
  vhdbuilder/packer/vhd-image-builder-mariner.json
Due: .pipelines/.vsts-vhd-builder.yaml

cleanup: modify cleanup to catch all osdisks
  vhdbuilder/packer/cleanup.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

perf: modify packer.mk to enable shallow replication
  packer.mk
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

perf: modify convert-osdisk-snapshot-to-sig-x64.sh to enable shallow replication
  vhdbuilder/packer/convert-osdisk-snapshot-to-sig.sh
Due: .pipelines/.vsts-vhd-builder.yaml

fix: go dev container version
  .pipelines/.vsts-vhd-builder-release.yaml
Due: none

remove shared image gallery destination object block from packer template to enable SR
  vhdbuilder/packer/vhd-image-builder-arm64-gen2.json
  vhdbuilder/packer/vhd-image-builder-base.json
  vhdbuilder/packer/vhd-image-builder-mariner-arm64.json
  vhdbuilder/packer/vhd-image-builder-mariner.json
Due: .pipelines/.vsts-vhd-builder.yaml

chore: modify arm64_osdisk.. variables to include all VHDs
  .pipelines/templates/.builder-release-template.yaml
  vhdbuilder/packer/convert-osdisk-snapshot-to-sig.sh
  vhdbuilder/packer/init-variables.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

perf: create osdisk snapshot for all VHDs except cvm
  vhdbuilder/packer/init-variables.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

fix: change go dev environment version to enable shallow replication
  .pipelines/.vsts-vhd-builder.yaml
Due: .pipelines/.vsts-vhd-builder.yaml

fix: conditional check for architecture
  vhdbuilder/packer/convert-osdisk-snapshot-to-sig.sh
Due: .pipelines/.vsts-vhd-builder.yaml

perf: add packer template for cvm, cannot use osdisk snapshot for cvm
  vhdbuilder/packer/vhd-image-builder-cvm.json
Due: .pipelines/.vsts-vhd-builder.yaml

perf: parallelize kube binary pulls
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml

fix: typo in comment
  parts/linux/cloud-init/artifacts/cse_helpers.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

run nftables before kubelet
  parts/linux/cloud-init/artifacts/ipv6_nftables.service
Due: .pipelines/e2e.yaml

Execute ipv6 nftables before kubelet (#4358)
  parts/linux/cloud-init/artifacts/ipv6_nftables.service
Due: .pipelines/e2e.yaml

Move generateTestDataIfRequested function to the bottom for consistency
  pkg/parser/parser_test.go
Due: none

change package name back to parser_test as it's ginkgo's convention
  pkg/parser/parser_test.go
Due: none

chore: bumping image version to 202405.03.0
  pkg/agent/datamodel/linux_sig_version.json
Due: none

chore: update image version in official branch
  pkg/agent/datamodel/linux_sig_version.json
Due: none

chore: compute and store VHD build timestamp in official branch
  vhdbuilder/202405.03.0_build_timestamp.json
Due: none

updating tests descriptions
  pkg/parser/parser_test.go
Due: none

feat: add further logging to absvc toggle resolution logic
  pkg/agent/toggles/types.go
Due: .pipelines/e2e.yaml

fix: update go to 1.21 in all go.mod
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: none

fix: upgrade apimachinery
  go.mod
  go.sum
Due: none

fix: bump client-go and apimachinery in all go.mod for CVE fix (#4356)
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
Due: none

refactor: fix the linter
  apiserver/getcachedvhdimages.go
  pkg/agent/baker_test.go
  pkg/agent/datamodel/sig_config.go
  pkg/agent/datamodel/types.go
  pkg/proto/nbcontract/v1/helper.go
  pkg/vhdbuilder/datamodel/component_configs_test.go
Due: .pipelines/e2e.yaml

chore: automated PR to update VHDVersion for 202405.03.0 VHD (#4368)
  pkg/agent/datamodel/linux_sig_version.json
Due: none

Path conditions:
  .pipelines/.vsts-vhd-builder-release-windows.yaml: any of: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/templates/.builder-release-template-windows.yaml, packer.mk, vhdbuilder/packer/packer-plugin.pkr.hcl, vhdbuilder/packer/*.ps1, vhdbuilder/packer/test/*.ps1, vhdbuilder/packer/test/run-test.sh, vhdbuilder/packer/backfill-cleanup.sh, vhdbuilder/packer/cleanup.sh, vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh, vhdbuilder/packer/generate-vhd-publishing-info.sh, vhdbuilder/packer/init-variables.sh, vhdbuilder/packer/windows-image.env, vhdbuilder/packer/windows-vhd-builder-sig.json
  .pipelines/.vsts-vhd-builder.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, parts/linux/cloud-init/artifacts/manifest.json, parts/linux/cloud-init/artifacts/cse_install.sh, parts/linux/cloud-init/artifacts/cse_helpers.sh, parts/linux/cloud-init/artifacts/ubuntu/cse_install_ubuntu.sh, parts/linux/cloud-init/artifacts/mariner/cse_install_mariner.sh, packer.mk, but not: vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*
  .pipelines/e2e-windows.yaml: any of: .pipelines/e2e-windows.yaml, .pipelines/templates/e2e-windows-template.yaml, e2e/windows, parts/windows, staging/cse/windows
  .pipelines/e2e.yaml: any of: .pipelines/e2e.yaml, e2e, parts/linux, pkg/agent, but not: e2e/windows, pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json
