Repository Azure/AgentBaker: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml, .pipelines/update-go-binary.yaml

Path conditions:
  .pipelines/.vsts-vhd-builder-release-windows.yaml: any of: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/templates/.builder-release-template-windows.yaml, packer.mk, vhdbuilder/packer/packer-plugin.pkr.hcl, vhdbuilder/packer/*.ps1, vhdbuilder/packer/test/*.ps1, vhdbuilder/packer/test/run-test.sh, vhdbuilder/packer/backfill-cleanup.sh, vhdbuilder/packer/cleanup.sh, vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh, vhdbuilder/packer/generate-vhd-publishing-info.sh, vhdbuilder/packer/init-variables.sh, vhdbuilder/packer/windows-image.env, vhdbuilder/packer/windows-vhd-builder-sig.json
  .pipelines/.vsts-vhd-builder.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, .pipelines/templates/.builder-release-template.yaml, parts/linux, packer.mk, but not: vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*
  .pipelines/e2e-windows.yaml: any of: .pipelines/e2e-windows.yaml, .pipelines/templates/e2e-windows-template.yaml, e2e/windows, parts/windows, staging/cse/windows
  .pipelines/e2e.yaml: any of: .pipelines/e2e.yaml, .pipelines/templates/e2e-template.yaml, e2e, but not: e2e/windows
  .pipelines/update-go-binary.yaml: any of: pkg/proto, pkg/parser

fix: add env variables
  .pipelines/templates/.builder-release-template.yaml
  vhdbuilder/packer/test/build-performance/evaluate-build-performance.sh
Due: .pipelines/.vsts-vhd-builder.yaml

chore: bump packer version
  .pipelines/templates/.builder-release-template.yaml
Due: .pipelines/.vsts-vhd-builder.yaml

fix: use user assigned managed identity
  vhdbuilder/packer/test/build-performance/main.go
Due: .pipelines/.vsts-vhd-builder.yaml

fix: script flow
  vhdbuilder/packer/test/build-performance/evaluate-build-performance.sh
Due: .pipelines/.vsts-vhd-builder.yaml

chore: add filepath
  vhdbuilder/packer/test/build-performance/evaluate-build-performance.sh
  vhdbuilder/packer/test/build-performance/main.go
Due: .pipelines/.vsts-vhd-builder.yaml

test: perf script
  vhdbuilder/packer/test/build-performance/evaluate-build-performance.sh
Due: .pipelines/.vsts-vhd-builder.yaml

fix: modify program
  vhdbuilder/packer/test/build-performance/go.mod
  vhdbuilder/packer/test/build-performance/go.sum
  vhdbuilder/packer/test/build-performance/main.go
Due: .pipelines/.vsts-vhd-builder.yaml

fix: chdir
  packer.mk
  vhdbuilder/packer/test/build-performance/evaluate-build-performance.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

chore: change variable name to match all pipelines
  .pipelines/templates/.builder-release-template.yaml
Due: .pipelines/.vsts-vhd-builder.yaml

fix: variable syntax
  vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

fix: enable toggle for shallow replication
  vhdbuilder/packer/init-variables.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

chore: bump go version
  .pipelines/templates/.builder-release-template.yaml
Due: .pipelines/.vsts-vhd-builder.yaml

fix: add reporting
  vhdbuilder/packer/test/build-performance/main.go
Due: .pipelines/.vsts-vhd-builder.yaml

chore: modify pipeline
  .pipelines/templates/.builder-release-template.yaml
Due: .pipelines/.vsts-vhd-builder.yaml

fix: json structure / mapping
  vhdbuilder/packer/test/build-performance/evaluate-build-performance.sh
  vhdbuilder/packer/test/build-performance/main.go
Due: .pipelines/.vsts-vhd-builder.yaml

test: dont build ingestor binary
  packer.mk
  vhdbuilder/packer/test/build-performance/evaluate-build-performance.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

fix: filepath
  vhdbuilder/packer/test/build-performance/evaluate-build-performance.sh
  vhdbuilder/packer/test/build-performance/main.go
Due: .pipelines/.vsts-vhd-builder.yaml

fix: dir
  vhdbuilder/packer/init-variables.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

fix: reference correct binary name
  vhdbuilder/packer/test/build-performance/evaluate-build-performance.sh
Due: .pipelines/.vsts-vhd-builder.yaml

fix: evaluate build peformance script
  vhdbuilder/packer/test/build-performance/evaluate-build-performance.sh
Due: .pipelines/.vsts-vhd-builder.yaml

fix: remove /bin subdirectory
  packer.mk
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

chore: go mod tidy
  go.mod
  go.sum
Due: none

chore: go mod init / tidy
  vhdbuilder/packer/test/build-performance/go.mod
  vhdbuilder/packer/test/build-performance/go.sum
Due: .pipelines/.vsts-vhd-builder.yaml

fix: get ingestion status
  vhdbuilder/packer/test/build-performance/main.go
Due: .pipelines/.vsts-vhd-builder.yaml

fix: change variable name
  .pipelines/templates/.builder-release-template.yaml
Due: .pipelines/.vsts-vhd-builder.yaml

fix: binary compilation workflow
  packer.mk
  vhdbuilder/packer/test/build-performance/evaluate-build-performance.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

fix: remove go mount
  .pipelines/templates/.builder-release-template.yaml
Due: .pipelines/.vsts-vhd-builder.yaml

fix: commit variable
  .pipelines/templates/.builder-release-template.yaml
  vhdbuilder/packer/test/build-performance/evaluate-build-performance.sh
Due: .pipelines/.vsts-vhd-builder.yaml

nit: formatting
  vhdbuilder/packer/test/build-performance/evaluate-build-performance.sh
  vhdbuilder/packer/test/build-performance/main.go
Due: .pipelines/.vsts-vhd-builder.yaml

fix: env variable for container
  .pipelines/templates/.builder-release-template.yaml
Due: .pipelines/.vsts-vhd-builder.yaml

fix: newline
  vhdbuilder/packer/test/build-performance/main.go
Due: .pipelines/.vsts-vhd-builder.yaml

fix: rebase issue
  .pipelines/.vsts-vhd-builder-release.yaml
  .pipelines/.vsts-vhd-builder.yaml
Due: .pipelines/.vsts-vhd-builder.yaml

fix: json mapping
  vhdbuilder/packer/test/build-performance/main.go
Due: .pipelines/.vsts-vhd-builder.yaml

fix: change to multi json
  vhdbuilder/packer/test/build-performance/main.go
Due: .pipelines/.vsts-vhd-builder.yaml

fix: go dev container version
  .pipelines/.vsts-vhd-builder-release.yaml
Due: none

fix: reporting
  vhdbuilder/packer/test/build-performance/main.go
Due: .pipelines/.vsts-vhd-builder.yaml

fix: preserve ordering of scripts
  vhdbuilder/packer/test/build-performance/evaluate-build-performance.sh
Due: .pipelines/.vsts-vhd-builder.yaml

fix: add errantly deleted conditional
  .pipelines/templates/.builder-release-template.yaml
Due: .pipelines/.vsts-vhd-builder.yaml

fix: two spaces
  .pipelines/templates/.builder-release-template.yaml
  packer.mk
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

chore: more package support
  vhdbuilder/cacher/pkg/config/config.go
  vhdbuilder/cacher/pkg/env/env.go
  vhdbuilder/cacher/pkg/installers/packages/azurecni/azurecni.go
  vhdbuilder/cacher/pkg/installers/packages/common/common.go
  vhdbuilder/cacher/pkg/installers/packages/critools/critools.go
  vhdbuilder/cacher/pkg/installers/packages/getter/getter.go
  vhdbuilder/cacher/pkg/installers/packages/installer.go
  vhdbuilder/cacher/pkg/model/validate.go
  vhdbuilder/cacher/testdata/components.json
Due: none
