Repository Azure/AgentBaker: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml, .pipelines/update-go-binary.yaml

.pipelines/.vsts-vhd-builder-release-windows.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_$(Build.SourceBranchName)_$(BuildID)
  pool:
    name: $(AZURE_POOL_NAME)
  extends:
    template: v2/OneBranch.Official.CrossPlat.yml@templates
    parameters:
      globalSdl:
        antimalwareScan:
          enabled: true
        armory:
          enabled: false
        binskim:
  ...

.pipelines/.vsts-vhd-builder.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_$(OS_SKU)$(OS_VERSION)_$(HYPERV_GENERATION)_$(FEATURE_FLAGS)_$(Build.SourceBranchName)
  pool:
    name: $(POOL_NAME)
  stages:
  - stage: build
    jobs:
    - job: build2204gen2containerd
      timeoutInMinutes: 180
      steps:
  ...

.pipelines/e2e-windows.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_e2e
  pool:
    name: $(AZURE_POOL_NAME)
  stages:
  - stage: test_2019_containerd
    dependsOn: []
    condition: eq('${{ parameters.test2019containerd }}', True)
    jobs:
    - template: ./templates/e2e-windows-template.yaml
      parameters:
        windowsImage: 2019-containerd
  ...

.pipelines/e2e.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: ./templates/e2e-template.yaml

.pipelines/update-go-binary.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  jobs: null
  check-file:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout current branch
      uses: actions/checkout@v2
    - name: build go binary
      run: make update-contract
    - name: Save file from current branch
      run: cp pkg/parser/bin/parser parser
  ...

Sync CUDA driver version between CSE and VHD
  parts/linux/cloud-init/artifacts/components.json
Due: .pipelines/.vsts-vhd-builder.yaml

update go test workflow name
  .github/workflows/go-test.yml
Due: none

Create new gpu_components.go to move vars
  pkg/agent/datamodel/const.go
  pkg/agent/datamodel/gpu_components.go
Due: .pipelines/e2e.yaml

move more vars to gpu_components.go
  pkg/agent/datamodel/const.go
  pkg/agent/datamodel/gpu_components.go
Due: .pipelines/e2e.yaml

Sync CUDA driver version between CSE and VHD, by updating to the same version (#5164)
  parts/linux/cloud-init/artifacts/components.json
Due: .pipelines/.vsts-vhd-builder.yaml

simplify tests
  e2e/cluster.go
  e2e/nodebootstrapping.go
  e2e/template.go
Due: .pipelines/e2e.yaml

rewrite tests to use standard library
  node-bootstrapper/go.mod
  node-bootstrapper/go.sum
  node-bootstrapper/parser/helper_test.go
  node-bootstrapper/parser/parser_suite_test.go
  node-bootstrapper/parser/parser_test.go
Due: none

fix test
  e2e/scenario_helpers_test.go
Due: .pipelines/e2e.yaml

add tests for node-bootstrapper
  node-bootstrapper/app.go
  node-bootstrapper/app_test.go
  node-bootstrapper/go.mod
  node-bootstrapper/main.go
  node-bootstrapper/parser/testdata/test_nbc.json
Due: none

chore: add binaries for 1.27.100,1.28.15, 1.29.10, 1.30.6, 1.31.2 (#5144)
  parts/linux/cloud-init/artifacts/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/test/linux-vhd-content-test.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

chore: add node-bootstrapper to make test target (#5165)
  .github/workflows/go-test.yml
  Makefile
Due: none

chore: bumping image version to 202410.27.0
  pkg/agent/datamodel/linux_sig_version.json
Due: none

chore: update image version in official branch
  pkg/agent/datamodel/linux_sig_version.json
Due: none

chore: store VHD build timestamp and publisher base image version in official branch
  vhdbuilder/publisher_base_image_version.json
  vhdbuilder/vhd_build_timestamp.json
Due: none

Add regex tests for components.json format
  pkg/agent/datamodel/gpu_components_test.go
Due: .pipelines/e2e.yaml

remove newline
  pkg/agent/datamodel/gpu_components_test.go
Due: .pipelines/e2e.yaml

Use GPU versions in components.json for CSE (#5162)
  pkg/agent/baker.go
  pkg/agent/baker_test.go
  pkg/agent/datamodel/const.go
  pkg/agent/datamodel/gpu_components.go
  pkg/agent/datamodel/gpu_components_test.go
Due: .pipelines/e2e.yaml

Remove nvidia components from manifest.cue and manifest.json
  parts/linux/cloud-init/artifacts/manifest.json
  schemas/manifest.cue
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

fix test
  e2e/scenario_test.go
Due: .pipelines/e2e.yaml

Use standard testing library for node-bootstrapper (#5167)
  node-bootstrapper/go.mod
  node-bootstrapper/go.sum
  node-bootstrapper/parser/helper_test.go
  node-bootstrapper/parser/parser_suite_test.go
  node-bootstrapper/parser/parser_test.go
Due: none

Add tests for node-bootstrapper (#5168)
  node-bootstrapper/app.go
  node-bootstrapper/app_test.go
  node-bootstrapper/main.go
  node-bootstrapper/parser/testdata/test_nbc.json
Due: none

Scriptless E2E (#5166)
  e2e/cluster.go
  e2e/exec.go
  e2e/node_bootstrapper_test.go
  e2e/nodebootstrapping.go
  e2e/opts.go
  e2e/scenario_helpers_test.go
  e2e/scenario_test.go
  e2e/template.go
  e2e/types.go
  e2e/validation.go
  e2e/vmss.go
Due: .pipelines/e2e.yaml

fix lint errors
  .github/workflows/golangci-lint-pr.yml
  .github/workflows/golangci-lint.yml
  pkg/proto/nbcontract/v1/const.go
Due: .pipelines/update-go-binary.yaml

creating a vm
  e2e/config/azure.go
  production-vms/config/azure.go
  production-vms/config/config.go
  production-vms/go.mod
  production-vms/go.sum
  production-vms/main.go
  production-vms/process_json.go
  production-vms/resources.go
  production-vms/test-jsons/testJson1.json
  production-vms/test-jsons/testJson2.json
  production-vms/vm.go
Due: .pipelines/e2e.yaml

Path conditions:
  .pipelines/.vsts-vhd-builder-release-windows.yaml: any of: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/templates/.builder-release-template-windows.yaml, packer.mk, vhdbuilder/packer/packer-plugin.pkr.hcl, vhdbuilder/packer/*.ps1, vhdbuilder/packer/test/*.ps1, vhdbuilder/packer/test/run-test.sh, vhdbuilder/packer/backfill-cleanup.sh, vhdbuilder/packer/cleanup.sh, vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh, vhdbuilder/packer/generate-vhd-publishing-info.sh, vhdbuilder/packer/init-variables.sh, vhdbuilder/packer/windows-image.env, vhdbuilder/packer/windows-vhd-builder-sig.json
  .pipelines/.vsts-vhd-builder.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, .pipelines/templates/.builder-release-template.yaml, parts/linux, packer.mk, but not: vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*
  .pipelines/e2e-windows.yaml: any of: .pipelines/e2e-windows.yaml, .pipelines/templates/e2e-windows-template.yaml, e2e/windows, parts/windows, staging/cse/windows, but not: staging/cse/windows/README
  .pipelines/e2e.yaml: any of: .pipelines/e2e.yaml, .pipelines/templates/e2e-template.yaml, e2e, parts/linux, pkg/agent, but not: e2e/windows, pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/AKSWindows*, parts/linux/cloud-init/artifacts/components.json
  .pipelines/update-go-binary.yaml: any of: pkg/proto, pkg/parser
