Repository Azure/AgentBaker: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml, .pipelines/update-go-binary.yaml

Path conditions:
  .pipelines/.vsts-vhd-builder-pr-windows.yaml: any of: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/.build-and-test-windows-vhds-template.yaml, .pipelines/templates/.build-and-test-windows-vhd-template.yaml, .pipelines/templates/.builder-release-template-windows.yaml, .pipelines/templates/e2e-template.yaml, packer.mk, vhdbuilder/packer/packer-plugin.pkr.hcl, vhdbuilder/packer/*.ps1, vhdbuilder/packer/test/*.ps1, vhdbuilder/packer/test/run-test.sh, vhdbuilder/packer/backfill-cleanup.sh, vhdbuilder/packer/cleanup.sh, vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh, vhdbuilder/packer/generate-vhd-publishing-info.sh, vhdbuilder/packer/init-variables.sh, vhdbuilder/packer/windows, parts/common/components.json, parts/windows, go.mod, go.sum, but not: vhdbuilder/release-notes, **/*.md, .github, e2e/scenario_test.go
  .pipelines/.vsts-vhd-builder.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, .pipelines/templates/.builder-release-template.yaml, .pipelines/templates/e2e-template.yaml, parts/linux, packer.mk, aks-node-controller, but not: vhdbuilder/release-notes, vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*, **/*.md, .github, e2e/scenario_win_test.go
  .pipelines/.vsts-vhd-refresh-testdata.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-refresh-testdata.yaml, parts/linux, packer.mk, parts/common/components.json, but not: vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*
  .pipelines/e2e-windows.yaml: any of: .pipelines/e2e-windows.yaml, .pipelines/templates/e2e-template.yaml, e2e, parts/windows, pkg/agent, parts/common/components.json, staging/cse/windows, go.mod, go.sum, but not: pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/AKSWindows*, parts/common/components.json, staging/cse/windows/README, **/*.md, .github, e2e/scenario_test.go
  .pipelines/e2e.yaml: any of: .pipelines/e2e.yaml, .pipelines/templates/e2e-template.yaml, e2e, parts/linux, pkg/agent, but not: pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/AKSWindows*, parts/linux/cloud-init/artifacts/components.json, staging/cse/windows/README
  .pipelines/update-go-binary.yaml: any of: pkg/proto, pkg/parser

Add types and tests for localdns (#6164)
  pkg/agent/datamodel/types.go
  pkg/agent/datamodel/types_test.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

add latest and latest-1 to serversore
  parts/common/components.json
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

Add code to generate corefile
  parts/linux/cloud-init/nodecustomdata.yml
  pkg/agent/baker.go
  pkg/agent/baker_test.go
  pkg/agent/datamodel/types.go
  pkg/agent/datamodel/types_test.go
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

skip extensioncheck for pr builds
  .pipelines/.vsts-vhd-builder-pr-windows.yaml
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml

Add code to update kubelet flag if localdns is enabled
  pkg/agent/utils.go
  pkg/agent/utils_test.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

Add validation function and checks for artifact streaming systemd units (#6171)
  e2e/scenario_test.go
  e2e/validators.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix: update README
  .github/README-RENOVATE.md
Due: none

fix: update readme
  .github/README-RENOVATE.md
Due: none

test: add shellspec tests
  spec/parts/linux/cloud-init/artifacts/cse_helpers_spec.sh
Due: none

Fine tuning the localdns UT timeout and max attempt for shorter test time (#6172)
  parts/linux/cloud-init/artifacts/localdns.sh
  spec/parts/linux/cloud-init/artifacts/localdns_spec.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

chore: replace ciprod with latest and latest-1 of servercore (#6173)
  .pipelines/.vsts-vhd-builder-pr-windows.yaml
  parts/common/components.json
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

Remove panic and handle the error
  pkg/agent/baker.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix: add exit back
  parts/linux/cloud-init/artifacts/cse_install.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

fix: remove whitespace
  parts/linux/cloud-init/artifacts/cse_install.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

fix: only change linux URLs
  parts/common/components.json
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

Minor updates to baker test
  pkg/agent/baker_test.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

latest changes to baker localdns
  e2e/node_config.go
  pkg/agent/baker.go
  pkg/agent/baker_test.go
  pkg/agent/utils.go
  pkg/agent/utils_test.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix: test error
  spec/parts/linux/cloud-init/artifacts/cse_helpers_spec.sh
Due: none

make tests actaully fail:
  e2e/validators.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix quote issue
  .pipelines/templates/.builder-release-template-windows.yaml
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml

add file tests for each VHD
  e2e/scenario_win_test.go
  vhdbuilder/packer/windows/configure-windows-vhd.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

add file and test for file
  e2e/scenario_win_test.go
  vhdbuilder/packer/windows/configure-windows-vhd.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

better echoing
  .pipelines/templates/e2e-template.yaml
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

add guard to logs
  e2e/vmss.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fixes and logs
  e2e/config/azure.go
  e2e/config/vhd.go
  e2e/vmss.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

more echoing
  .pipelines/templates/e2e-template.yaml
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

make windows tests fail when VHD missing
  .pipelines/.vsts-vhd-builder-release.yaml
  .pipelines/.vsts-vhd-builder.yaml
  .pipelines/e2e-windows.yaml
  .pipelines/e2e.yaml
  .pipelines/templates/.build-and-test-windows-vhd-template.yaml
  .pipelines/templates/e2e-template.yaml
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml
