Repository Azure/AgentBaker: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml, .pipelines/update-go-binary.yaml

Path conditions:
  .pipelines/.vsts-vhd-builder-pr-windows.yaml: any of: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/.build-and-test-windows-vhds-template.yaml, .pipelines/templates/.build-and-test-windows-vhd-template.yaml, .pipelines/templates/.builder-release-template-windows.yaml, .pipelines/templates/e2e-template.yaml, packer.mk, vhdbuilder/packer/packer-plugin.pkr.hcl, vhdbuilder/packer/*.ps1, vhdbuilder/packer/test/*.ps1, vhdbuilder/packer/test/run-test.sh, vhdbuilder/packer/backfill-cleanup.sh, vhdbuilder/packer/cleanup.sh, vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh, vhdbuilder/packer/generate-vhd-publishing-info.sh, vhdbuilder/packer/produce-packer-settings.sh, vhdbuilder/packer/windows, parts/common/components.json, parts/windows, go.mod, go.sum, but not: vhdbuilder/release-notes, **/*.md, .github, e2e/scenario_test.go
  .pipelines/.vsts-vhd-builder.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, .pipelines/templates/.builder-release-template.yaml, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/e2e-template.yaml, parts/linux, packer.mk, aks-node-controller, parts/common/components.json, go.mod, go.sum, but not: schemas/windows_settings.cue, vhdbuilder/release-notes, vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/windows, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*, **/*.md, .github, e2e/scenario_win_test.go
  .pipelines/.vsts-vhd-refresh-testdata.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-refresh-testdata.yaml, parts/linux, packer.mk, parts/common/components.json, but not: vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*
  .pipelines/e2e-windows.yaml: any of: .pipelines/e2e-windows.yaml, .pipelines/templates/e2e-template.yaml, .pipelines/scripts/e2e_run.sh, .pipelines/scripts/e2e_delete_vmss.sh, e2e, parts/windows, pkg/agent, parts/common/components.json, staging/cse/windows, go.mod, go.sum, but not: pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/AKSWindows*, parts/common/components.json, staging/cse/windows/README, **/*.md, .github, e2e/scenario_test.go
  .pipelines/e2e.yaml: any of: .pipelines/e2e.yaml, .pipelines/templates/e2e-template.yaml, e2e, parts/linux, parts/common/components.json, pkg/agent, go.mod, go.sum, but not: pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/AKSWindows*, parts/common/components.json, staging/cse/windows/README, **/*.md, e2e/scenario_win_test.go
  .pipelines/update-go-binary.yaml: any of: pkg/proto, pkg/parser

fix compile error
  e2e/aks_model.go
  e2e/scenario_win_test.go
  pkg/agent/datamodel/types.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

progress with dual stack tests
  e2e/config/azure.go
  e2e/go.mod
  e2e/scenario_win_test.go
  e2e/vmss.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

remove unnecessary code
  e2e/aks_model.go
  e2e/scenario_win_test.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

more dual stack stuff
  e2e/aks_model.go
  e2e/cluster.go
  e2e/scenario_win_test.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

revert change
  pkg/agent/datamodel/types.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

improve windows test
  e2e/config/azure.go
  e2e/scenario_test.go
  e2e/scenario_win_test.go
  e2e/toolkit/strings.go
  e2e/validators.go
  e2e/vmss.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

bug: select correct ip address for windows (#6564)
  .pipelines/.vsts-vhd-builder-pr-windows.yaml
  e2e/aks_model.go
  e2e/cluster.go
  e2e/config/azure.go
  e2e/pod.go
  e2e/scenario_win_test.go
  e2e/test_helpers.go
  e2e/toolkit/strings.go
  e2e/vmss.go
  staging/cse/windows/azurecnifunc.ps1
  vhdbuilder/packer/windows/configure-windows-vhd.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

chore: Remove all traces of SGX_INSTALL
  .pipelines/.vsts-vhd-builder-release.yaml
  .pipelines/.vsts-vhd-builder.yaml
  vhdbuilder/packer/vhd-image-builder-arm64-gen2.json
  vhdbuilder/packer/vhd-image-builder-base.json
  vhdbuilder/packer/vhd-image-builder-cvm.json
  vhdbuilder/packer/vhd-image-builder-mariner-arm64.json
  vhdbuilder/packer/vhd-image-builder-mariner-cvm.json
  vhdbuilder/packer/vhd-image-builder-mariner.json
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

ci: Add jobs to build Flatcar images
  .pipelines/.vsts-vhd-builder-release.yaml
Due: none

build: Introduce packer files for flatcar build
  packer.mk
  vhdbuilder/packer/vhd-image-builder-flatcar-arm64.json
  vhdbuilder/packer/vhd-image-builder-flatcar.json
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

chore: Set TrustedLaunchSupported for Flatcar
  vhdbuilder/packer/produce-packer-settings.sh
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

fixup! ci: Add jobs to build Flatcar images
  .pipelines/.vsts-vhd-builder-release.yaml
Due: none

chore: Skip containerd in SKU_NAME for Flatcar
  .pipelines/templates/.builder-release-template.yaml
Due: .pipelines/.vsts-vhd-builder.yaml

build: Reset first_boot marker at the end of Flatcar build
  vhdbuilder/packer/vhd-image-builder-flatcar-arm64.json
  vhdbuilder/packer/vhd-image-builder-flatcar.json
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

ci: Add Flatcar to PR gate
  .pipelines/.vsts-vhd-builder.yaml
Due: .pipelines/.vsts-vhd-builder.yaml

build: Add isFlatcar helpers
  parts/linux/cloud-init/artifacts/cse_helpers.sh
  parts/linux/cloud-init/artifacts/cse_install.sh
  vhdbuilder/packer/install-dependencies.sh
  vhdbuilder/packer/post-install-dependencies.sh
  vhdbuilder/packer/pre-install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

chore: Don't enable rsyslog on flatcar
  vhdbuilder/packer/pre-install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

chore: Make waagent.conf editable on Flatcar
  vhdbuilder/packer/pre-install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

build: Pass customdata to Flatcar packer build vm
  vhdbuilder/packer/flatcar-customdata.json
  vhdbuilder/packer/flatcar-customdata.yaml
  vhdbuilder/packer/vhd-image-builder-flatcar-arm64.json
  vhdbuilder/packer/vhd-image-builder-flatcar.json
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

build: Add distro helpers for flatcar
  parts/linux/cloud-init/artifacts/flatcar/cse_helpers_flatcar.sh
  parts/linux/cloud-init/artifacts/flatcar/cse_install_flatcar.sh
  vhdbuilder/packer/vhd-image-builder-flatcar-arm64.json
  vhdbuilder/packer/vhd-image-builder-flatcar.json
  vhdbuilder/scripts/linux/flatcar/tool_installs_flatcar.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

chore: Add apt related stubs
  parts/linux/cloud-init/artifacts/flatcar/cse_helpers_flatcar.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

Add CLAUDE.md and plan for rearchitecture under .copilot
  .copilot/plans/test-refactoring-minimize-snapshot-changes.md
  CLAUDE.md
Due: none

kata: use containerd2 with support patches
  parts/common/components.json
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

add v0.30.3-1 and v0.30.3-3
  parts/common/components.json
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

chore: add and update konnectivity image (#6574)
  parts/common/components.json
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

chore: Remove all traces of SGX_INSTALL (#6573)
  .pipelines/.vsts-vhd-builder-release.yaml
  .pipelines/.vsts-vhd-builder.yaml
  vhdbuilder/packer/vhd-image-builder-arm64-gen2.json
  vhdbuilder/packer/vhd-image-builder-base.json
  vhdbuilder/packer/vhd-image-builder-cvm.json
  vhdbuilder/packer/vhd-image-builder-mariner-arm64.json
  vhdbuilder/packer/vhd-image-builder-mariner-cvm.json
  vhdbuilder/packer/vhd-image-builder-mariner.json
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

Make ssh keys upload straightforward
  e2e/config/config.go
  e2e/exec.go
  e2e/scenario_test.go
  e2e/test_helpers.go
  e2e/validation.go
  e2e/validators.go
  e2e/vmss.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

add 2-stage windows test
  e2e/config/azure.go
  e2e/config/vhd.go
  e2e/scenario_win_test.go
  parts/windows/csecmd.ps1
  parts/windows/kuberneteswindowssetup.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

build: Stub chronyd enablement and mkdir before network override
  parts/linux/cloud-init/artifacts/cse_install.sh
  vhdbuilder/scripts/linux/flatcar/tool_installs_flatcar.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

update maintenance configuration from monthly to weekly (#6529)
  e2e/cluster.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

1.12.4
  parts/common/components.json
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

F
  parts/common/components.json
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

Add retry logic to IMDS calls for ip addresses
  staging/cse/windows/azurecnifunc.ps1
Due: .pipelines/e2e-windows.yaml

format
  staging/cse/windows/azurecnifunc.ps1
Due: .pipelines/e2e-windows.yaml

undo format
  staging/cse/windows/azurecnifunc.ps1
Due: .pipelines/e2e-windows.yaml

fix syntax error
  staging/cse/windows/azurecnifunc.ps1
Due: .pipelines/e2e-windows.yaml

chore: update kube-proxy and kubernetes-node versions to latest
  parts/common/components.json
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

change retry logic
  staging/cse/windows/azurecnifunc.ps1
Due: .pipelines/e2e-windows.yaml

feat: support snapshot-based update for azure linux 3.0
  parts/linux/cloud-init/artifacts/mariner/mariner-package-update.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

add 2-stage fix for linux
  e2e/config/azure.go
  e2e/scenario_helpers_test.go
  e2e/scenario_test.go
  e2e/scenario_win_test.go
  e2e/test_helpers.go
  e2e/validators.go
  e2e/vmss.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml
