Repository Azure/AgentBaker: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml, .pipelines/update-go-binary.yaml

.pipelines/.vsts-vhd-builder-release-windows.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_$(Build.SourceBranchName)_$(BuildID)
  pool:
    name: $(AZURE_POOL_NAME)
  extends:
    template: v2/OneBranch.Official.CrossPlat.yml@templates
    parameters:
      globalSdl:
        antimalwareScan:
          enabled: true
        armory:
          enabled: false
        binskim:
  ...

.pipelines/.vsts-vhd-builder.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_$(OS_SKU)$(OS_VERSION)_$(HYPERV_GENERATION)_$(FEATURE_FLAGS)_$(Build.SourceBranchName)
  pool:
    name: $(POOL_NAME)
  stages:
  - stage: build_vhd
    dependsOn: []
    jobs:
    - job: build
      timeoutInMinutes: 180
      steps:
  ...

.pipelines/e2e-windows.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_e2e
  pool:
    name: $(AZURE_POOL_NAME)
  stages:
  - stage: test_2019_containerd
    dependsOn: []
    condition: eq('${{ parameters.test2019containerd }}', True)
    jobs:
    - template: ./templates/e2e-windows-template.yaml
      parameters:
        windowsImage: 2019-containerd
  ...

.pipelines/e2e.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: ./templates/e2e-template.yaml

.pipelines/update-go-binary.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  jobs: null
  check-file:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout current branch
      uses: actions/checkout@v2
    - name: build go binary
      run: make update-contract
    - name: Save file from current branch
      run: cp pkg/parser/bin/parser parser
  ...

test: shallow replication values
  vhdbuilder/packer/vhd-image-builder-mariner.json
Due: .pipelines/.vsts-vhd-builder.yaml

fix: remove whitespace bug
  vhdbuilder/packer/init-variables.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

fix: login method
  vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

Publish vulnerability to Kusto
  .pipelines/templates/.builder-release-template.yaml
Due: none

chore: change variable name to match all pipelines
  .pipelines/templates/.builder-release-template.yaml
Due: none

1804 is excluded from this scanning process
  .pipelines/templates/.builder-release-template.yaml
Due: none

test: auth issues
  .pipelines/templates/.builder-release-template.yaml
Due: none

test: master branch syntax
  vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

perf: add timeout for conversion
  .pipelines/templates/.builder-release-template.yaml
Due: none

test: bump go dev container
  .pipelines/.vsts-vhd-builder-release.yaml
Due: none

back compat for some silly vhds
  parts/linux/cloud-init/artifacts/cse_install.sh
Due: .pipelines/.vsts-vhd-builder.yaml

test: test azcopy
  vhdbuilder/packer/test/run-test.sh
  vhdbuilder/packer/vhd-image-builder-base.json
  vhdbuilder/packer/vhd-image-builder-mariner.json
  vhdbuilder/packer/vhd-scanning.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

update test
  vhdbuilder/packer/test/linux-vhd-content-test.sh
Due: .pipelines/.vsts-vhd-builder.yaml

Revert "docs: add Windows image release notes for 2024-7B (#4617)"
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.6054.240716-image-list.json
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.6054.240716.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2582.240716-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2582.240716.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.2582.240716-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.2582.240716.txt
  vhdbuilder/release-notes/AKSWindows/23H2-gen2/25398.1009.240716-image-list.json
  vhdbuilder/release-notes/AKSWindows/23H2-gen2/25398.1009.240716.txt
  vhdbuilder/release-notes/AKSWindows/23H2/25398.1009.240716-image-list.json
  vhdbuilder/release-notes/AKSWindows/23H2/25398.1009.240716.txt
Due: none

Revert "feat: update Windows base images to 2024.07B (#4613)"
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
  vhdbuilder/packer/windows-image.env
  vhdbuilder/packer/write-release-notes-windows.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml

bug: rollback Windows base image versions to 6B (#4664)
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
  vhdbuilder/packer/windows-image.env
  vhdbuilder/packer/write-release-notes-windows.ps1
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.6054.240716-image-list.json
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.6054.240716.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2582.240716-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2582.240716.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.2582.240716-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.2582.240716.txt
  vhdbuilder/release-notes/AKSWindows/23H2-gen2/25398.1009.240716-image-list.json
  vhdbuilder/release-notes/AKSWindows/23H2-gen2/25398.1009.240716.txt
  vhdbuilder/release-notes/AKSWindows/23H2/25398.1009.240716-image-list.json
  vhdbuilder/release-notes/AKSWindows/23H2/25398.1009.240716.txt
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml

feat: remove unused k8s packages in Windows VHDs
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml

chore: upgrade Azure Disk and blob driver versions in vhd image
  parts/linux/cloud-init/artifacts/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml

feat: delete the failed image gallery
  vhdbuilder/packer/init-variables.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

feat: delete the failed image gallery (#4667)
  vhdbuilder/packer/init-variables.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

feat: update the free space size to 1gb in Windows VHDs
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml

feat: update the free space size to 1gb in Windows VHDs (#4669)
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml

feat: add Windows next-gen networking params to CSE variables
  pkg/agent/variables.go
Due: none

feat: Windows CSE invokes Windows next-gen networking func
  parts/windows/kuberneteswindowssetup.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud+ootcredentialprovider/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/agent/testdata/AKSWindows2019+ootcredentialprovider/CustomData
Due: .pipelines/e2e-windows.yaml

feat: error codes for Windows next-gen networking
  parts/windows/kuberneteswindowssetup.ps1
  parts/windows/windowscsehelper.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud+ootcredentialprovider/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/agent/testdata/AKSWindows2019+ootcredentialprovider/CustomData
  pkg/agent/variables.go
Due: .pipelines/e2e-windows.yaml

feat: placeholder for windows next-gen networking func
  staging/cse/windows/nextgennetworking.ps1
Due: .pipelines/e2e-windows.yaml

make subscriptionID and region specific to scenario for e2es
  e2e/aks_model.go
  e2e/cluster.go
  e2e/config/config.go
  e2e/config/vhd.go
  e2e/kube.go
  e2e/nodebootstrapping.go
  e2e/scenario_helpers_test.go
  e2e/scenario_test.go
  e2e/types.go
  e2e/vmss.go
Due: .pipelines/e2e.yaml

update a100 sku
  e2e/config/config.go
  e2e/scenario_helpers_test.go
  e2e/scenario_test.go
Due: .pipelines/e2e.yaml

make it work
  e2e/aks_model.go
  e2e/cluster.go
  e2e/config/config.go
  e2e/config/vhd.go
  e2e/kube.go
  e2e/nodebootstrapping.go
  e2e/scenario_helpers_test.go
  e2e/vmss.go
Due: .pipelines/e2e.yaml

randomly pick 3 versions to test to save testing time for testKubeBinariesPresent
  vhdbuilder/packer/test/linux-vhd-content-test.sh
Due: .pipelines/.vsts-vhd-builder.yaml

test: fix azcopy
  .pipelines/templates/.builder-release-template.yaml
Due: none

test: revert to original logic
  .pipelines/templates/.builder-release-template.yaml
  vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

fix: revert to old go dev container version
  .pipelines/.vsts-vhd-builder-release.yaml
Due: none

test: azcopy login
  .pipelines/templates/.builder-release-template.yaml
Due: none

fix: azcopy login method
  vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

test: azcopy login method
  .pipelines/templates/.builder-release-template.yaml
  vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

Path conditions:
  .pipelines/.vsts-vhd-builder-release-windows.yaml: any of: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/templates/.builder-release-template-windows.yaml, packer.mk, vhdbuilder/packer/packer-plugin.pkr.hcl, vhdbuilder/packer/*.ps1, vhdbuilder/packer/test/*.ps1, vhdbuilder/packer/test/run-test.sh, vhdbuilder/packer/backfill-cleanup.sh, vhdbuilder/packer/cleanup.sh, vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh, vhdbuilder/packer/generate-vhd-publishing-info.sh, vhdbuilder/packer/init-variables.sh, vhdbuilder/packer/windows-image.env, vhdbuilder/packer/windows-vhd-builder-sig.json
  .pipelines/.vsts-vhd-builder.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, parts/linux/cloud-init/artifacts/manifest.json, parts/linux/cloud-init/artifacts/cse_install.sh, parts/linux/cloud-init/artifacts/cse_helpers.sh, parts/linux/cloud-init/artifacts/ubuntu/cse_install_ubuntu.sh, parts/linux/cloud-init/artifacts/mariner/cse_install_mariner.sh, packer.mk, but not: vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*
  .pipelines/e2e-windows.yaml: any of: .pipelines/e2e-windows.yaml, .pipelines/templates/e2e-windows-template.yaml, e2e/windows, parts/windows, staging/cse/windows
  .pipelines/e2e.yaml: any of: .pipelines/e2e.yaml, .pipelines/templates/e2e-template.yaml, e2e, but not: e2e/windows
  .pipelines/update-go-binary.yaml: any of: pkg/proto, pkg/parser
