Repository Azure/AgentBaker: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml, .pipelines/update-go-binary.yaml

.pipelines/.vsts-vhd-builder-release-windows.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_$(Build.SourceBranchName)_$(BuildID)
  pool:
    name: $(AZURE_POOL_NAME)
  stages:
  - stage: build_vhd_2019_containerd
    jobs:
    - job: build_vhd_2019_containerd
      dependsOn: []
      condition: eq('${{ parameters.build2019containerd }}', True)
      timeoutInMinutes: 180
  ...

.pipelines/.vsts-vhd-builder.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_$(Build.SourceBranchName)_$(BuildID)
  pool:
    name: $(POOL_NAME)
  stages:
  - template: ./templates/.build-and-test-all-linux-vhds-template.yaml
    parameters:
      useOverrides: ${{ parameters.useOverrides }}
      overrideBranch: ${{ parameters.overrideBranch }}
  ...

.pipelines/e2e-windows.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_e2e
  pool:
    name: $(AZURE_POOL_NAME)
  stages:
  - stage: test_2019_containerd
    dependsOn: []
    condition: eq('${{ parameters.test2019containerd }}', True)
    jobs:
    - template: ./templates/e2e-windows-template.yaml
      parameters:
        windowsImage: 2019-containerd
  ...

.pipelines/e2e.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: ./templates/e2e-template.yaml
    parameters:
      subscriptionId: $(SUBSCRIPTION_ID)
      poolName: $(POOL_NAME)

.pipelines/update-go-binary.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  jobs: null
  check-file:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout current branch
      uses: actions/checkout@v2
    - name: build go binary
      run: make update-contract
    - name: Save file from current branch
      run: cp pkg/parser/bin/parser parser
  ...

figuring out what broke
  parts/linux/cloud-init/artifacts/cse_config.sh
  parts/linux/cloud-init/artifacts/cse_helpers.sh
  parts/linux/cloud-init/artifacts/cse_main.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

feat: add AzureLinuxV3 Gen2 TrustedLaunch to autonotes
  vhdbuilder/release-notes/autonotes/main.go
Due: none

add nodesig as owners in security patch
  CODEOWNERS
Due: none

documentation: update readme for merging runc and containerd (#5629)
  parts/linux/cloud-init/artifacts/README-COMPONENTS.md
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

Add yew and ybaydogan for code owners (#5627)
  CODEOWNERS
Due: none

add test Test_Ubuntu2204_GPUA10_ScriptlessInstaller
  e2e/scenario_test.go
Due: .pipelines/e2e.yaml

add GPU_DRIVER_TYPE back to env variables of aks node controller
  aks-node-controller/parser/helper.go
  aks-node-controller/parser/parser.go
  pkg/agent/baker.go
  pkg/agent/baker_test.go
Due: .pipelines/e2e.yaml

add e2e test Test_Ubuntu2204_GPUA10_Scriptless
  e2e/scenario_test.go
Due: .pipelines/e2e.yaml

Xmzhao/add e2e test ubuntu2204 gpua10 scriptless (#5633)
  aks-node-controller/parser/helper.go
  aks-node-controller/parser/parser.go
  e2e/scenario_test.go
  pkg/agent/baker.go
  pkg/agent/baker_test.go
Due: .pipelines/e2e.yaml

don't run e2e tests if the VHD isn't being built
  .pipelines/templates/.build-and-test-windows-vhd-template.yaml
Due: none

improve conditino
  .pipelines/templates/.build-and-test-windows-vhd-template.yaml
Due: none

add aks-node-controller files into vhd build condition
  .pipelines/.vsts-vhd-builder.yaml
Due: .pipelines/.vsts-vhd-builder.yaml

remove condition
  .pipelines/templates/.build-and-test-windows-vhd-template.yaml
Due: none

exclude md files
  .pipelines/.vsts-vhd-builder-release-windows.yaml
  .pipelines/.vsts-vhd-builder.yaml
  .pipelines/e2e-windows.yaml
  .pipelines/e2e.yaml
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

chore: don't run e2e tests if the VHD isn't being built (#5636)
  .pipelines/templates/.build-and-test-windows-vhd-template.yaml
Due: none

correct syntax
  .pipelines/.vsts-vhd-builder-release-windows.yaml
  .pipelines/.vsts-vhd-builder.yaml
  .pipelines/e2e-windows.yaml
  .pipelines/e2e.yaml
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

quote params
  vhdbuilder/packer/configure-windows-vhd.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml

log azcopy logs
  vhdbuilder/packer/configure-windows-vhd.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml

fix issue with log dir not existing
  vhdbuilder/packer/configure-windows-vhd.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml

Update VM password signin to ssh
  vhdbuilder/packer/test/run-test.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

fix condition
  .pipelines/templates/.build-and-test-windows-vhd-template.yaml
Due: none

condition
  .pipelines/templates/.build-and-test-windows-vhd-template.yaml
Due: none

move files around
  parts/windows/components_json_helpers.ps1
  parts/windows/components_json_helpers_tests.ps1
  vhdbuilder/packer/components.json
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e-windows.yaml

source the right file
  vhdbuilder/packer/configure-windows-vhd.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml

new location
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml

copy windows-vhd-configuration.ps1
  vhdbuilder/packer/windows-vhd-builder-sig.json
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml

try different path
  vhdbuilder/packer/configure-windows-vhd.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml

paths
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/windows-vhd-builder-sig.json
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml

bump moby
  parts/linux/cloud-init/artifacts/components.json
Due: .pipelines/.vsts-vhd-builder.yaml

Change disk size
  vhdbuilder/packer/windows-image.env
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml

fix path
  vhdbuilder/packer/windows-vhd-configuration.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml

source helper functions
  vhdbuilder/packer/windows-vhd-configuration.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml

chore: fix condition in windows pipeline (#5638)
  .pipelines/templates/.build-and-test-windows-vhd-template.yaml
Due: none

fix version tag for iis
  parts/linux/cloud-init/artifacts/components.json
Due: .pipelines/.vsts-vhd-builder.yaml

chore: bump moby-containerd version for azure linux (#5640)
  parts/linux/cloud-init/artifacts/components.json
Due: .pipelines/.vsts-vhd-builder.yaml

Path conditions:
  .pipelines/.vsts-vhd-builder-release-windows.yaml: any of: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/templates/.builder-release-template-windows.yaml, packer.mk, vhdbuilder/packer/packer-plugin.pkr.hcl, vhdbuilder/packer/*.ps1, vhdbuilder/packer/test/*.ps1, vhdbuilder/packer/test/run-test.sh, vhdbuilder/packer/backfill-cleanup.sh, vhdbuilder/packer/cleanup.sh, vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh, vhdbuilder/packer/generate-vhd-publishing-info.sh, vhdbuilder/packer/init-variables.sh, vhdbuilder/packer/windows-image.env, vhdbuilder/packer/windows-vhd-builder-sig.json
  .pipelines/.vsts-vhd-builder.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, .pipelines/templates/.builder-release-template.yaml, parts/linux, packer.mk, but not: vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*
  .pipelines/e2e-windows.yaml: any of: .pipelines/e2e-windows.yaml, .pipelines/templates/e2e-windows-template.yaml, e2e/windows, parts/windows, staging/cse/windows, but not: staging/cse/windows/README
  .pipelines/e2e.yaml: any of: .pipelines/e2e.yaml, .pipelines/templates/e2e-template.yaml, e2e, parts/linux, pkg/agent, but not: pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/AKSWindows*, parts/linux/cloud-init/artifacts/components.json, staging/cse/windows/README
  .pipelines/update-go-binary.yaml: any of: pkg/proto, pkg/parser
