Repository Azure/AgentBaker: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml, .pipelines/update-go-binary.yaml

Path conditions:
  .pipelines/.vsts-vhd-builder.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, .pipelines/templates/.builder-release-template.yaml, parts/linux, packer.mk, but not: vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*
  .pipelines/e2e-windows.yaml: any of: .pipelines/e2e-windows.yaml, .pipelines/templates/e2e-windows-template.yaml, e2e/windows, parts/windows, staging/cse/windows, but not: staging/cse/windows/README
  .pipelines/e2e.yaml: any of: .pipelines/e2e.yaml, .pipelines/templates/e2e-template.yaml, e2e, parts/linux, pkg/agent, but not: pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/AKSWindows*, parts/linux/cloud-init/artifacts/components.json, staging/cse/windows/README
  .pipelines/update-go-binary.yaml: any of: pkg/proto, pkg/parser

chore: add exclusions for scenario_test files (#5798)
  .pipelines/.vsts-vhd-builder-pr-windows.yaml
  .pipelines/.vsts-vhd-builder-release-windows.yaml
  .pipelines/.vsts-vhd-builder.yaml
  .pipelines/e2e-windows.yaml
  .pipelines/e2e.yaml
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

add scriptless e2e test for Test_Ubuntu2204_ChronyRestarts
  e2e/scenario_test.go
Due: .pipelines/e2e.yaml

update code
  e2e/scenario_test.go
Due: .pipelines/e2e.yaml

add ubuntu check for grub issue
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml

Add scriptless e2e test for Test_Ubuntu2204_ChronyRestarts (#5796)
  e2e/scenario_test.go
Due: .pipelines/e2e.yaml

disable minor update for components caching multiple versions
  .github/renovate.json
Due: none

update readme
  .github/README-RENOVATE.md
Due: none

update kata container config
  pkg/agent/baker.go
Due: .pipelines/e2e.yaml

add 2025-2b reg keys
  vhdbuilder/packer/windows/windows_settings.json
Due: none

Update reg key validation script
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
Due: none

Bump OS disk size
  vhdbuilder/packer/windows/windows-image.env
Due: none

Pipeline var to skip extension check
  .pipelines/templates/.build-and-test-windows-vhd-template.yaml
  .pipelines/templates/.builder-release-template-windows.yaml
  vhdbuilder/packer/windows/configure-windows-vhd.ps1
Due: none

initial changes
  .pipelines/.vsts-vhd-builder-release-windows.yaml
  .pipelines/templates/.build-and-test-windows-vhd-template.yaml
  .pipelines/templates/.build-and-test-windows-vhds-template.yaml
  .pipelines/templates/.builder-release-template-windows.yaml
  vhdbuilder/packer/windows/configure-windows-vhd.ps1
Due: none

Remove redundant var
  .pipelines/templates/.build-and-test-windows-vhd-template.yaml
Due: none

allow config "v1"
  aks-node-controller/app.go
Due: none

Flag to skip check
  vhdbuilder/packer/windows/windows-image.env
Due: none

update docs and tests
  aks-node-controller/README.md
  aks-node-controller/parser/testdata/test_aksnodeconfig.json
  aks-node-controller/parser/testdata/test_aksnodeconfig_fields_missing.json
  aks-node-controller/parser/testdata/test_aksnodeconfig_fields_unexpected.json
Due: none

fix check
  aks-node-controller/app.go
Due: none

fix test for os disk size
  vhdbuilder/packer/init-variables.sh
Due: .pipelines/.vsts-vhd-builder.yaml

automate-version-bump changes
  schemas/windows_settings.cue
  vhdbuilder/packer/init-variables.sh
  vhdbuilder/packer/windows/windows_settings.json
  vhdbuilder/scripts/windows/automate_version_bump.sh
Due: .pipelines/.vsts-vhd-builder.yaml

spaces
  vhdbuilder/packer/init-variables.sh
Due: .pipelines/.vsts-vhd-builder.yaml

change for testing - will revert
  vhdbuilder/scripts/windows/automate_version_bump.sh
Due: none

remove file
  vhdbuilder/packer/windows/windows-image.env
Due: none

move base versions into config
  schemas/windows_settings.cue
  vhdbuilder/packer/init-variables.sh
  vhdbuilder/packer/windows/windows_settings.json
Due: .pipelines/.vsts-vhd-builder.yaml

fix lint
  vhdbuilder/scripts/windows/automate_version_bump.sh
Due: none

fix test
  vhdbuilder/packer/init-variables.sh
Due: .pipelines/.vsts-vhd-builder.yaml

change tabs to spaces
  schemas/windows_settings.cue
Due: .pipelines/.vsts-vhd-builder.yaml

set branch name
  vhdbuilder/scripts/windows/automate_version_bump.sh
Due: none

revert
  vhdbuilder/scripts/windows/automate_version_bump.sh
Due: none

add christian as code owner
  CODEOWNERS
Due: none

update kata container config
  pkg/agent/baker.go
  pkg/agent/baker_test.go
  pkg/agent/testdata/AKSUbuntu2404+CustomLinuxOSConfigUlimit/CSECommand
  pkg/agent/testdata/AKSUbuntu2404+NetworkPolicy/CSECommand
  pkg/agent/testdata/AKSUbuntu2404+Teleport/CSECommand
  pkg/agent/testdata/CustomizedImageKata/CSECommand
  pkg/agent/testdata/CustomizedImageKata/CustomData
Due: .pipelines/e2e.yaml

fix: test vs prod logic
  vhdbuilder/packer/buildperformance/evaluate-build-performance.sh
Due: .pipelines/.vsts-vhd-builder.yaml

fix: do not download bpp for prod
  .pipelines/templates/.builder-release-template.yaml
Due: .pipelines/.vsts-vhd-builder.yaml

fix: remove unnecessary code
  vhdbuilder/packer/buildperformance/evaluate-build-performance.sh
Due: .pipelines/.vsts-vhd-builder.yaml

test: new section
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml

fix: add full path to successfully delete performance data file
  vhdbuilder/packer/buildperformance/evaluate-build-performance.sh
Due: .pipelines/.vsts-vhd-builder.yaml

fix: add new column test
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml

chore: move base versions into config (#5800)
  CODEOWNERS
  schemas/windows_settings.cue
  vhdbuilder/packer/init-variables.sh
  vhdbuilder/packer/windows/windows-image.env
  vhdbuilder/packer/windows/windows_settings.json
  vhdbuilder/scripts/windows/automate_version_bump.sh
Due: .pipelines/.vsts-vhd-builder.yaml
