Repository Azure/AgentBaker: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml, .pipelines/update-go-binary.yaml

Path conditions:
  .pipelines/.vsts-vhd-builder-pr-windows.yaml: any of: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/.build-and-test-windows-vhds-template.yaml, .pipelines/templates/.build-and-test-windows-vhd-template.yaml, .pipelines/templates/.builder-release-template-windows.yaml, .pipelines/templates/e2e-template.yaml, packer.mk, vhdbuilder/packer/packer-plugin.pkr.hcl, vhdbuilder/packer/*.ps1, vhdbuilder/packer/test/*.ps1, vhdbuilder/packer/test/run-test.sh, vhdbuilder/packer/backfill-cleanup.sh, vhdbuilder/packer/cleanup.sh, vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh, vhdbuilder/packer/generate-vhd-publishing-info.sh, vhdbuilder/packer/init-variables.sh, vhdbuilder/packer/windows, parts/common/components.json, parts/windows, go.mod, go.sum, but not: vhdbuilder/release-notes, **/*.md, .github, e2e/scenario_test.go
  .pipelines/.vsts-vhd-builder.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, .pipelines/templates/.builder-release-template.yaml, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/e2e-template.yaml, parts/linux, packer.mk, aks-node-controller, parts/common/components.json, go.mod, go.sum, but not: schemas/windows_settings.cue, vhdbuilder/release-notes, vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/windows, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*, **/*.md, .github, e2e/scenario_win_test.go
  .pipelines/.vsts-vhd-refresh-testdata.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-refresh-testdata.yaml, parts/linux, packer.mk, parts/common/components.json, but not: vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*
  .pipelines/e2e-windows.yaml: any of: .pipelines/e2e-windows.yaml, .pipelines/templates/e2e-template.yaml, e2e, parts/windows, pkg/agent, parts/common/components.json, staging/cse/windows, go.mod, go.sum, but not: pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/AKSWindows*, parts/common/components.json, staging/cse/windows/README, **/*.md, .github, e2e/scenario_test.go
  .pipelines/e2e.yaml: any of: .pipelines/e2e.yaml, .pipelines/templates/e2e-template.yaml, e2e, parts/linux, pkg/agent, but not: pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/AKSWindows*, parts/linux/cloud-init/artifacts/components.json, staging/cse/windows/README
  .pipelines/update-go-binary.yaml: any of: pkg/proto, pkg/parser

bring back aks
  .pipelines/scripts/windows_build_vhd.sh
Due: none

set logger
  e2e/scenario_helpers_test.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

try building in MS tenent
  .pipelines/.vsts-vhd-builder-pr-windows.yaml
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml

fix image name
  .pipelines/scripts/windows_build_vhd.sh
Due: none

go mod tidy
  e2e/go.mod
  e2e/go.sum
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

add logging
  e2e/config/azure.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

set right sub for gallery subscription id
  .pipelines/.vsts-vhd-builder-pr-windows.yaml
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml

no export
  .pipelines/scripts/e2e_run.sh
Due: none

use defaults
  .pipelines/scripts/e2e_run.sh
Due: none

skip extension check on PRs
  .pipelines/.vsts-vhd-builder-pr-windows.yaml
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml

inline windows gallery variable
  e2e/config/vhd.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

tweak to get image names matching
  .pipelines/scripts/windows_build_vhd.sh
Due: none

add flag back that got lost in rebase
  .pipelines/scripts/windows_build_vhd.sh
Due: none

update verify_shell.sh
  .pipelines/scripts/verify_shell.sh
Due: none

add colon
  vhdbuilder/packer/test/linux-vhd-content-test.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

add debug to vm test flags
  vhdbuilder/packer/test/run-test.sh
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

add debug
  vhdbuilder/packer/test/run-test.sh
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

test: add spec for shellspec tests, checking exit codes for helper commands used in long running operations (#6216)
  spec/parts/linux/cloud-init/artifacts/cse_helpers_retry_timeout_spec.sh
Due: none

minor update
  parts/linux/cloud-init/artifacts/aks-check-network.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

Changing [[ ]] to [] for POSIX compliant
  vhdbuilder/packer/backfill-cleanup.sh
  vhdbuilder/packer/buildperformance/evaluate-build-performance.sh
  vhdbuilder/packer/cleanup.sh
  vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh
  vhdbuilder/packer/generate-vhd-publishing-info.sh
  vhdbuilder/packer/init-variables.sh
  vhdbuilder/packer/install-dependencies.sh
  vhdbuilder/packer/packer_source.sh
  vhdbuilder/packer/post-install-dependencies.sh
  vhdbuilder/packer/pre-install-dependencies.sh
  vhdbuilder/packer/test-scan-and-cleanup.sh
  vhdbuilder/packer/test/linux-vhd-content-test.sh
  vhdbuilder/packer/test/run-pretest.sh
  vhdbuilder/packer/test/run-test.sh
  vhdbuilder/packer/trivy-scan.sh
  vhdbuilder/packer/vhd-image-builder-mariner-cvm.json
  vhdbuilder/packer/vhd-scanning.sh
  vhdbuilder/packer/windows/windows_settings.json
  vhdbuilder/release-notes/security-patch/20250413T000000Z/release_notes_delta_20250413T000000Z.txt
  vhdbuilder/scripts/gc.sh
  vhdbuilder/scripts/linux/mariner/tool_installs_mariner.sh
  vhdbuilder/scripts/windows/automate_helpers.sh
  vhdbuilder/scripts/windows/automate_version_bump.sh
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

Update mirror version with fixes for artifact streaming
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

revert enexpected diff
  vhdbuilder/packer/vhd-image-builder-mariner-cvm.json
  vhdbuilder/packer/windows/windows_settings.json
  vhdbuilder/release-notes/security-patch/20250413T000000Z/release_notes_delta_20250413T000000Z.txt
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

Update mirror version 0.2.11 with fixes for artifact streaming (race condition during installation) (#6221)
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

update
  vhdbuilder/packer/generate-vhd-publishing-info.sh
  vhdbuilder/packer/init-variables.sh
  vhdbuilder/packer/install-dependencies.sh
  vhdbuilder/packer/test/linux-vhd-content-test.sh
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

update
  vhdbuilder/packer/post-install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

eq
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

update to 0.0.52
  parts/common/components.json
  parts/windows/kuberneteswindowssetup.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud+ootcredentialprovider/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletServingCertificateRotation/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/agent/testdata/AKSWindows2019+ootcredentialprovider/CustomData
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml

Update to the official containerd 2.0 package
  parts/windows/windowscsehelper.ps1
  parts/windows/windowscsehelper.tests.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

Update test data
  pkg/agent/testdata/AKSWindows2019+CustomCloud+ootcredentialprovider/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletServingCertificateRotation/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/agent/testdata/AKSWindows2019+ootcredentialprovider/CustomData
Due: none

vhdbuilder: Upload and cleanup cis scanner
  vhdbuilder/packer/cleanup-vhd.sh
  vhdbuilder/packer/vhd-image-builder-base.json
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

parts/cis: Scan for CIS compliance after applying changes
  parts/linux/cloud-init/artifacts/cis.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

pipelines: Download cis scanner artifact
  .pipelines/templates/.builder-release-template.yaml
Due: .pipelines/.vsts-vhd-builder.yaml

pipelines: Publish CIS report as artifact
  .pipelines/templates/.builder-release-template.yaml
  vhdbuilder/packer/vhd-image-builder-base.json
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml
