Repository Azure/AgentBaker: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

Path conditions:
  .pipelines/.vsts-vhd-builder-release-windows.yaml: any of: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/templates/.builder-release-template-windows.yaml, packer.mk, vhdbuilder/packer/packer-plugin.pkr.hcl, vhdbuilder/packer/*.ps1, vhdbuilder/packer/test/*.ps1, vhdbuilder/packer/test/run-test.sh, vhdbuilder/packer/backfill-cleanup.sh, vhdbuilder/packer/cleanup.sh, vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh, vhdbuilder/packer/generate-vhd-publishing-info.sh, vhdbuilder/packer/init-variables.sh, vhdbuilder/packer/windows-image.env, vhdbuilder/packer/windows-vhd-builder-sig.json
  .pipelines/.vsts-vhd-builder.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, parts/linux/cloud-init/artifacts/manifest.json, parts/linux/cloud-init/artifacts/cse_install.sh, parts/linux/cloud-init/artifacts/cse_helpers.sh, parts/linux/cloud-init/artifacts/ubuntu/cse_install_ubuntu.sh, parts/linux/cloud-init/artifacts/mariner/cse_install_mariner.sh, packer.mk, but not: vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*
  .pipelines/e2e-windows.yaml: any of: .pipelines/e2e-windows.yaml, .pipelines/templates/e2e-windows-template.yaml, e2e/windows, parts/windows, staging/cse/windows
  .pipelines/e2e.yaml: any of: .pipelines/e2e.yaml, e2e, parts/linux, pkg/agent, but not: e2e/windows, pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json

parallelize downloadContainerdWasmShims
  parts/linux/cloud-init/artifacts/cse_install.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

remove redundant variable assignment
  parts/linux/cloud-init/artifacts/cse_install.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

perf: parallelize downloadContainerdWasmShims function
  parts/linux/cloud-init/artifacts/cse_install.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

fix: wasm shims download failure fix
  parts/linux/cloud-init/artifacts/cse_install.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

fix: wasmshims versions
  pkg/agent/baker.go
Due: .pipelines/e2e.yaml

fix: indentation
  pkg/agent/baker_test.go
Due: .pipelines/e2e.yaml

fix: indentation
  pkg/agent/baker.go
Due: .pipelines/e2e.yaml

chore: generate
  pkg/agent/testdata/AKSUbuntu1804+krustlet/CSECommand
Due: .pipelines/e2e.yaml

fix: revert to remote master version of pkg/agent/baker_test.go
  pkg/agent/baker_test.go
Due: .pipelines/e2e.yaml

fix: revert shim versions
  pkg/agent/baker_test.go
Due: .pipelines/e2e.yaml

chore: add wasmshims versins
  parts/linux/cloud-init/artifacts/cse_install.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

fix indentation
  pkg/agent/baker_test.go
Due: .pipelines/e2e.yaml

fix: code style for string comparison
  parts/linux/cloud-init/artifacts/cse_install.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

fix shim version and indentation
  pkg/agent/baker_test.go
Due: .pipelines/e2e.yaml

fix: fix wasmshims version
  pkg/agent/baker_test.go
Due: .pipelines/e2e.yaml

fix: remove obsolete wasm shims
  parts/linux/cloud-init/artifacts/cse_install.sh
  pkg/agent/baker_test.go
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

fix: downloadContainerdWasmShims bug fix
  parts/linux/cloud-init/artifacts/cse_install.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

chore: indentation
  pkg/agent/baker.go
Due: .pipelines/e2e.yaml

fix indentation
  pkg/agent/baker.go
Due: .pipelines/e2e.yaml

install fips after purging
  vhdbuilder/packer/pre-install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml

chore: bump build_vhd to 2204_gen2_containerd
  .pipelines/.vsts-vhd-builder.yaml
Due: .pipelines/.vsts-vhd-builder.yaml

revert fips guard
  vhdbuilder/packer/pre-install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml

Add coredns image v1.9.4-hotfix.20240327
  vhdbuilder/packer/components.json
Due: .pipelines/.vsts-vhd-builder.yaml

Update image tags for addon-resizer to 1.8.20, metrics-server to 0.7.0, and cluster-proportional-autoscaler to 1.8.9
  vhdbuilder/packer/components.json
Due: .pipelines/.vsts-vhd-builder.yaml

chore: bump build_vhd to 2204_gen2_containerd (#4197)
  .pipelines/.vsts-vhd-builder.yaml
Due: .pipelines/.vsts-vhd-builder.yaml

update-grub after fips install
  vhdbuilder/packer/pre-install-dependencies.sh
  vhdbuilder/scripts/linux/ubuntu/tool_installs_ubuntu.sh
Due: .pipelines/.vsts-vhd-builder.yaml

don't purge kernel - test
  vhdbuilder/packer/pre-install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml

remove isSgxNode
  pkg/proto/nbcontract/v1/config.pb.go
  pkg/proto/nbcontract/v1/config.proto
Due: none
