Repository Azure/AgentBaker: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml, .pipelines/update-go-binary.yaml

.pipelines/.vsts-vhd-builder-pr-windows.yaml:
  name: PR_$(Date:yyyyMMdd)$(Rev:.r)_$(Build.SourceBranchName)_$(BuildID)
  pool:
    name: $(POOL_NAME)
  stages:
  - template: ./templates/.build-and-test-windows-vhds-template.yaml
    parameters:
      vhddebug: false
      skipExtensionCheck: true
      dryrun: false
      overrideBranch: master
  ...

.pipelines/.vsts-vhd-builder.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_$(Build.SourceBranchName)_$(BuildID)
  pool:
    name: $(POOL_NAME)
  stages:
  - stage: build
    jobs:
    - job: build2204gen2containerd
      timeoutInMinutes: 180
      steps:
      - bash: 'echo ''##vso[task.setvariable variable=OS_SKU]Ubuntu''
  
  ...

.pipelines/.vsts-vhd-refresh-testdata.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_$(Build.SourceBranchName)_$(BuildID)
  pool:
    name: $(POOL_NAME)
  stages:
  - stage: Generate_and_Publish_Testdata
    condition: succeeded()
    jobs:
    - job: Generate_Publish_Testdata
      timeoutInMinutes: 10
      steps:
      - bash: 'make generate
  
          '
  ...

.pipelines/e2e-windows.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: ./templates/e2e-template.yaml
    parameters:
      name: Windows Tests
      IgnoreScenariosWithMissingVhd: false

.pipelines/e2e.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: ./templates/e2e-template.yaml
    parameters:
      name: Linux Tests
      IgnoreScenariosWithMissingVhd: false

.pipelines/update-go-binary.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  jobs: null
  check-file:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout current branch
      uses: actions/checkout@v2
    - name: build go binary
      run: make update-contract
    - name: Save file from current branch
      run: cp pkg/parser/bin/parser parser
  ...

Add oneshot systemd service to write nvidia-specific containerd file
  parts/linux/cloud-init/artifacts/ubuntu/containerd-nvidia-config.service
  parts/linux/cloud-init/artifacts/ubuntu/gb200-containerd-config.sh
  vhdbuilder/packer/install-dependencies.sh
  vhdbuilder/packer/packer_source.sh
  vhdbuilder/packer/vhd-image-builder-arm64-gen2.json
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

Require containerd service to run before replacing file
  parts/linux/cloud-init/artifacts/ubuntu/containerd-nvidia-config.service
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

Change dependency for containerd-nvidia-config service
  parts/linux/cloud-init/artifacts/ubuntu/containerd-nvidia-config.service
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

Move oneshot script to later in the boot process
  parts/linux/cloud-init/artifacts/ubuntu/containerd-nvidia-config.service
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

Make sure the nvidia config is written before the device plugin starts
  parts/linux/cloud-init/artifacts/ubuntu/containerd-nvidia-config.service
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

Remove DefaultDependencies=no, restore After=aks-log-collector.service
  parts/linux/cloud-init/artifacts/ubuntu/containerd-nvidia-config.service
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

Attempt to write containerd configuration directly after making modifications to RP
  parts/linux/cloud-init/artifacts/ubuntu/containerd-nvidia-config.service
  vhdbuilder/packer/install-dependencies.sh
  vhdbuilder/packer/packer_source.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

Add check for existing containerd configuration file. Skip generation if it already exists
  parts/linux/cloud-init/artifacts/cse_config.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

Modify nvidia-device-plugin service to run after kubelet
  parts/linux/cloud-init/artifacts/ubuntu/containerd-nvidia-config.service
  parts/linux/cloud-init/artifacts/ubuntu/gb200-containerd-config.sh
  vhdbuilder/packer/install-dependencies.sh
  vhdbuilder/packer/packer_source.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

Add ExecStartPre to make sure the device-plugins directory exists
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

Remove reference to deleted files
  vhdbuilder/packer/vhd-image-builder-arm64-gen2.json
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

Remove OFED driver installation to troubleshoot VHD build failure around the NVIDIA driver
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

Fix formatting for package installation
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

Break up apt commands to install kernel-related packages separately
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

Enable openidb service
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

Replace MLNX_OFED with DOCA-OFED
  parts/linux/cloud-init/artifacts/ubuntu/doca.list
  parts/linux/cloud-init/artifacts/ubuntu/doca.pub
  parts/linux/cloud-init/artifacts/ubuntu/mellanox_mlnx_ofed.list
  vhdbuilder/packer/install-dependencies.sh
  vhdbuilder/packer/packer_source.sh
  vhdbuilder/packer/vhd-image-builder-arm64-gen2.json
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

Keith ms/add nvidia module parameters (#7071)
  parts/linux/cloud-init/artifacts/ubuntu/containerd-nvidia.toml
  parts/linux/cloud-init/artifacts/ubuntu/modprobe-nvidia-parameters.conf
  vhdbuilder/packer/install-dependencies.sh
  vhdbuilder/packer/packer_source.sh
  vhdbuilder/packer/vhd-image-builder-arm64-gen2.json
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

Remove reference to ARM64 check in GB200 image, only set 60GB volume size when the GB200 feature flag is present
  vhdbuilder/packer/install-dependencies.sh
  vhdbuilder/packer/packer_source.sh
  vhdbuilder/packer/post-install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

Split out GB200 build into new packer file
  e2e/vmss.go
  packer.mk
  vhdbuilder/packer/vhd-image-builder-arm64-gb200.json
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

Add the ability to specify a custom local repository to download (#7186)
  .pipelines/templates/.builder-release-template.yaml
  parts/linux/cloud-init/artifacts/ubuntu/containerd-nvidia.toml
  parts/linux/cloud-init/artifacts/ubuntu/doca.list
  vhdbuilder/packer/install-dependencies.sh
  vhdbuilder/packer/packer_source.sh
  vhdbuilder/packer/vhd-image-builder-arm64-gb200.json
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

Remove specific package version specification for the driver, bump to CUDA toolkit 13
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

tidy up messy merge -- remove bad mellanox deb repo reference
  vhdbuilder/packer/packer_source.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

Enable nvidia driver sysext
  vhdbuilder/packer/flatcar-customdata.yaml
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

fix shell test failure. Glob matching is tidier in bash
  parts/linux/cloud-init/artifacts/cse_config.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

[ni] azure-acr-credential-provder
  e2e/scenario_test.go
  parts/linux/cloud-init/artifacts/cse_config.sh
  parts/linux/cloud-init/artifacts/cse_install.sh
  parts/linux/cloud-init/artifacts/flatcar/cse_install_flatcar.sh
  parts/linux/cloud-init/artifacts/mariner/cse_install_mariner.sh
  parts/linux/cloud-init/artifacts/ubuntu/cse_helpers_ubuntu.sh
  parts/linux/cloud-init/artifacts/ubuntu/cse_install_ubuntu.sh
  spec/parts/linux/cloud-init/artifacts/cse_config_spec.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

rename continue
  parts/linux/cloud-init/artifacts/mariner/cse_install_mariner.sh
  parts/linux/cloud-init/artifacts/ubuntu/cse_install_ubuntu.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

feat: Support custom clouds with Flatcar
  parts/linux/cloud-init/artifacts/init-aks-custom-cloud-operation-requests.sh
  parts/linux/cloud-init/artifacts/init-aks-custom-cloud.sh
  pkg/agent/baker_test.go
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

test: Regenerate testdata
  pkg/agent/testdata/AKSUbuntu2204+CustomCloud+USNat/CustomData
  pkg/agent/testdata/AKSUbuntu2204+CustomCloud+USSec/CustomData
  pkg/agent/testdata/AKSUbuntu2204+CustomCloud+ootcredentialprovider/CustomData
  pkg/agent/testdata/AKSUbuntu2204+CustomCloud/CustomData
  pkg/agent/testdata/Flatcar+CustomCloud+USSec/CSECommand
  pkg/agent/testdata/Flatcar+CustomCloud+USSec/CustomData
  pkg/agent/testdata/Flatcar+CustomCloud+USSec/CustomData.inner
  pkg/agent/testdata/Flatcar+CustomCloud/CSECommand
  pkg/agent/testdata/Flatcar+CustomCloud/CustomData
  pkg/agent/testdata/Flatcar+CustomCloud/CustomData.inner
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

log pipe status
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

feat: flatcar: install blobfuse2 binary
  e2e/scenario_test.go
  parts/linux/cloud-init/artifacts/flatcar/cse_install_flatcar.sh
  pkg/agent/testdata/Flatcar/CustomData
  pkg/agent/testdata/Flatcar/CustomData.inner
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

tmp: just run Flatcar for testing
  .pipelines/.vsts-vhd-builder-release.yaml
Due: none

unify
  parts/linux/cloud-init/artifacts/cse_config.sh
  parts/linux/cloud-init/artifacts/cse_install.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

chore: bump image version to 202510.19.1
  pkg/agent/datamodel/linux_sig_version.json
Due: none

ut fix
  spec/parts/linux/cloud-init/artifacts/cse_config_spec.sh
  spec/parts/linux/cloud-init/artifacts/cse_install_spec.sh
Due: none

ut2
  spec/parts/linux/cloud-init/artifacts/cse_install_spec.sh
Due: none

ut3
  spec/parts/linux/cloud-init/artifacts/cse_config_spec.sh
Due: none

Path conditions:
  .pipelines/.vsts-vhd-builder-pr-windows.yaml: any of: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/scripts, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/.build-and-test-windows-vhds-template.yaml, .pipelines/templates/.build-and-test-windows-vhd-template.yaml, .pipelines/templates/.builder-release-template-windows.yaml, .pipelines/templates/e2e-template.yaml, packer.mk, vhdbuilder/packer/packer-plugin.pkr.hcl, vhdbuilder/packer/*.ps1, vhdbuilder/packer/test/*.ps1, vhdbuilder/packer/test/run-test.sh, vhdbuilder/packer/windows-sub-cleanup.sh, vhdbuilder/packer/cleanup.sh, vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh, vhdbuilder/packer/generate-vhd-publishing-info.sh, vhdbuilder/packer/produce-packer-settings.sh, vhdbuilder/packer/windows, parts/common/components.json, parts/windows, go.mod, go.sum, e2e, staging/cse/windows, but not: vhdbuilder/release-notes, **/*.md, .github, e2e/scenario_test.go
  .pipelines/.vsts-vhd-builder.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, .pipelines/templates/.builder-release-template.yaml, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/e2e-template.yaml, parts/linux, packer.mk, aks-node-controller, parts/common/components.json, go.mod, go.sum, but not: schemas/windows_settings.cue, vhdbuilder/release-notes, vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/windows, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*, **/*.md, .github, e2e/scenario_win_test.go
  .pipelines/.vsts-vhd-refresh-testdata.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-refresh-testdata.yaml, parts/linux, packer.mk, parts/common/components.json, but not: vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*
  .pipelines/e2e-windows.yaml: any of: .pipelines/e2e-windows.yaml, .pipelines/templates/e2e-template.yaml, .pipelines/scripts/e2e_run.sh, .pipelines/scripts/e2e_delete_vmss.sh, e2e, parts/windows, pkg/agent, parts/common/components.json, staging/cse/windows, go.mod, go.sum, but not: pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/AKSWindows*, parts/common/components.json, staging/cse/windows/README, **/*.md, .github, e2e/scenario_test.go
  .pipelines/e2e.yaml: any of: .pipelines/e2e.yaml, .pipelines/templates/e2e-template.yaml, .pipelines/scripts/e2e_run.sh, e2e, parts/linux, parts/common/components.json, pkg/agent, go.mod, go.sum, but not: pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/AKSWindows*, parts/common/components.json, staging/cse/windows/README, **/*.md, e2e/scenario_win_test.go
  .pipelines/update-go-binary.yaml: any of: pkg/proto, pkg/parser
