Repository Azure/AgentBaker: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml, .pipelines/update-go-binary.yaml

Path conditions:
  .pipelines/.vsts-vhd-builder-gpu.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, .pipelines/templates/.builder-release-template.yaml, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/e2e-template.yaml, parts/linux, packer.mk, aks-node-controller, parts/common/components.json, go.mod, go.sum, e2e/scenario_gpu_managed_experience_test.go, but not: schemas/windows_settings.cue, vhdbuilder/release-notes, vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/windows, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*, .github, e2e/scenario_win_test.go, **/*.md
  .pipelines/.vsts-vhd-builder-pr-windows.yaml: any of: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/scripts, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/.build-and-test-windows-vhds-template.yaml, .pipelines/templates/.build-and-test-windows-vhd-template.yaml, .pipelines/templates/.builder-release-template-windows.yaml, .pipelines/templates/e2e-template.yaml, packer.mk, vhdbuilder/packer/packer-plugin.pkr.hcl, vhdbuilder/packer/*.ps1, vhdbuilder/packer/test/*.ps1, vhdbuilder/packer/test/run-test.sh, vhdbuilder/packer/windows-sub-cleanup.sh, vhdbuilder/packer/cleanup.sh, vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh, vhdbuilder/packer/generate-vhd-publishing-info.sh, vhdbuilder/packer/produce-packer-settings.sh, vhdbuilder/packer/windows, parts/common/components.json, parts/windows, go.mod, go.sum, e2e, staging/cse/windows, but not: vhdbuilder/release-notes, **/*.md, .github, e2e/scenario_test.go
  .pipelines/.vsts-vhd-builder.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, .pipelines/templates/.builder-release-template.yaml, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/e2e-template.yaml, parts/linux, packer.mk, aks-node-controller, parts/common/components.json, go.mod, go.sum, but not: schemas/windows_settings.cue, vhdbuilder/release-notes, vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/windows, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*, .github, e2e/scenario_win_test.go
  .pipelines/.vsts-vhd-refresh-testdata.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-refresh-testdata.yaml, parts/linux, packer.mk, parts/common/components.json, but not: vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*
  .pipelines/e2e-windows.yaml: any of: .pipelines/e2e-windows.yaml, .pipelines/templates/e2e-template.yaml, .pipelines/scripts/e2e_run.sh, .pipelines/scripts/e2e_delete_vmss.sh, e2e, parts/windows, pkg/agent, parts/common/components.json, staging/cse/windows, go.mod, go.sum, but not: pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/*Ubuntu*, pkg/agent/testdata/*Flatcar*, pkg/agent/testdata/*Mariner*, pkg/agent/testdata/*AzureLinux*, parts/common/components.json, staging/cse/windows/README, **/*.md, .github, e2e/scenario_test.go
  .pipelines/e2e.yaml: any of: .pipelines/e2e.yaml, .pipelines/templates/e2e-template.yaml, .pipelines/scripts/e2e_run.sh, e2e, parts/linux, parts/common/components.json, pkg/agent, go.mod, go.sum, but not: pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/AKSWindows*, parts/common/components.json, staging/cse/windows/README, **/*.md, e2e/scenario_win_test.go
  .pipelines/update-go-binary.yaml: any of: pkg/proto, pkg/parser

e2e: use testDir() for Windows CSE output log path consistency
  e2e/test_helpers.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix(e2e): re-fetch VM instance view for fresh CSE extension status
  e2e/test_helpers.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

e2e: trim whitespace from RCV1P_SUBSCRIPTION_ID to fix gating
  e2e/config/config.go
  e2e/scenario_rcv1p_test.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix(e2e): filter CSE extension to fix empty Windows CSE log files
  e2e/test_helpers.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

e2e: add gen2 Windows RCV1P tests, fix Windows2025 TrustedLaunch
  e2e/scenario_rcv1p_win_test.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

e2e: switch RCV1P tests to Azure CNI Overlay to fix IP exhaustion
  e2e/cache.go
  e2e/scenario_rcv1p_test.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

e2e: revert RCV1P from overlay back to kubenet
  e2e/cache.go
  e2e/scenario_rcv1p_test.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

REVERT ME: use dedicated kubenet cluster for RCV1P tests
  e2e/cache.go
  e2e/scenario_rcv1p_test.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

REVERT ME: use Azure CNI cluster for Windows RCV1P tests
  e2e/cache.go
  e2e/scenario_rcv1p_test.go
  e2e/scenario_rcv1p_win_test.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

Remove canary check - validators confirmed working
  e2e/validators.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

REVERT ME: add wireserver endpoint diagnostics to Windows RCV1P validator
  e2e/validators.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

REVERT ME: canary check to prove whether SSH validators are broken
  e2e/validators.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

REVERT ME: add azcopy error logging to Windows log collection
  e2e/vmss.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

REVERT ME: use branch-built CSE zip for Windows RCV1P E2E tests
  e2e/scenario_rcv1p_test.go
  e2e/scenario_rcv1p_win_test.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

REVERT ME: enable verbose test output for azcopy/wireserver diagnostics
  .pipelines/scripts/e2e_run.sh
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix: use correct wireserver JSON field name for rcv1p cert download
  staging/cse/windows/kubernetesfunc.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

fix: make wireserver cert retrieval failures fatal on Linux
  parts/linux/cloud-init/artifacts/init-aks-custom-cloud.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

fix(e2e): restore missing Validator and VMConfigMutator in CSE perf tests
  e2e/scenario_cse_perf_test.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

feat: refactor aks-node-controller to use urfave cli to manually do command line parsing, setting
  aks-node-controller/app.go
  aks-node-controller/go.mod
  aks-node-controller/go.sum
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml

Disable secure boot in gpu tests
  e2e/scenario_test.go
  e2e/test_helpers.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix(e2e): extract CSE events eagerly before GA sweeps them
  e2e/cse_timing.go
  e2e/test_helpers.go
  e2e/types.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

download hotfix and then run it
  aks-node-controller/app.go
  aks-node-controller/app_test.go
  aks-node-controller/hotfix.go
  aks-node-controller/hotfix_test.go
  parts/linux/cloud-init/artifacts/aks-node-controller-wrapper.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

feat(windows): add support for configuring secure TLS bootstrap client RPC timeouts
  parts/windows/kuberneteswindowssetup.ps1
  staging/cse/windows/kubernetesfunc.ps1
  staging/cse/windows/provisioningscripts/kubeletstart.ps1
  staging/cse/windows/provisioningscripts/securetlsbootstrap.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

fix(e2e): bump ensureNoDupOnPromiscuBridge cached threshold to p99 (14s)
  e2e/scenario_cse_perf_test.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix: conslidate use of masterminds semver across the codebase
  aks-node-controller/go.mod
  aks-node-controller/go.sum
  aks-node-controller/helpers/utils.go
  e2e/go.mod
  e2e/go.sum
  e2e/node_config.go
  e2e/scenario_win_test.go
  e2e/toolkit/k8s.go
  e2e/validators.go
  go.mod
  go.sum
  pkg/agent/datamodel/versions.go
  pkg/agent/datamodel/versions_test.go
  pkg/agent/utils.go
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

test(e2e): simplify hosts plugin validators and add IPv6 validation
  e2e/validation.go
  e2e/validators.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

use acr for gpu sysext
  e2e/aks_model.go
  e2e/scenario_test.go
  parts/linux/cloud-init/artifacts/acl/cse_install_acl.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

feat: refactor aks-node-controller to use urfave cli to manually do command line parsing, setting (#8397)
  aks-node-controller/app.go
  aks-node-controller/app_test.go
  aks-node-controller/go.mod
  aks-node-controller/go.sum
  aks-node-controller/hotfix.go
  aks-node-controller/hotfix_test.go
  parts/linux/cloud-init/artifacts/aks-node-controller-wrapper.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

feat: add patch-only version matching for ANC hotfix download
  aks-node-controller/app_test.go
  aks-node-controller/go.mod
  aks-node-controller/hotfix.go
  aks-node-controller/hotfix_test.go
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml

Add oem-cloudinit fix
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

fix: conslidate use of masterminds semver across the codebase (#8399)
  aks-node-controller/go.mod
  aks-node-controller/go.sum
  aks-node-controller/helpers/utils.go
  e2e/go.mod
  e2e/go.sum
  e2e/node_config.go
  e2e/scenario_win_test.go
  e2e/toolkit/k8s.go
  e2e/validators.go
  go.mod
  go.sum
  pkg/agent/datamodel/versions.go
  pkg/agent/datamodel/versions_test.go
  pkg/agent/utils.go
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

update acr base
  pkg/agent/baker.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

feat: add patch-only version matching for ANC hotfix download
  aks-node-controller/app_test.go
  aks-node-controller/hotfix.go
  aks-node-controller/hotfix_test.go
  parts/linux/cloud-init/artifacts/aks-node-controller-wrapper.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

feat: add GH Action for ANC hotfix template injection
  .github/workflows/anc-hotfix-generate.yml
  hack/anc-hotfix-version.json
  hack/anc_hotfix_generate.py
Due: none

feat: add GH Action for ANC hotfix template injection
  .github/workflows/anc-hotfix-generate.yml
  AGENTS.md
  hotfix/anc-hotfix-version.json
  hotfix/anc_hotfix_generate.py
Due: none

feat: add anc-hotfix label trigger for manual workflow invocation
  .github/workflows/anc-hotfix-generate.yml
Due: none

fix(acl): restore UKI firstboot addon in cleanup-vhd.sh
  vhdbuilder/packer/cleanup-vhd.sh
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

feat: add patch-only version matching for ANC hotfix download (#8355)
  aks-node-controller/app_test.go
  aks-node-controller/hotfix.go
  aks-node-controller/hotfix_test.go
  parts/linux/cloud-init/artifacts/aks-node-controller-wrapper.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

fix: address PR review comments on anc_hotfix_generate.py
  hotfix/anc_hotfix_generate.py
Due: none

force acr
  parts/linux/cloud-init/artifacts/acl/cse_install_acl.sh
  pkg/agent/baker.go
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml
