Repository Azure/AgentBaker: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml, .pipelines/update-go-binary.yaml

.pipelines/.vsts-vhd-builder-gpu.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_$(Build.SourceBranchName)_$(BuildID)
  pool:
    name: $(POOL_NAME)
  stages:
  - stage: build
    jobs:
    - job: build2404gen2containerd
      timeoutInMinutes: 360
      steps:
      - bash: 'echo ''##vso[task.setvariable variable=OS_SKU]Ubuntu''
  
  ...

.pipelines/.vsts-vhd-builder-pr-windows.yaml:
  name: PR_$(Date:yyyyMMdd)$(Rev:.r)_$(Build.SourceBranchName)_$(BuildID)
  pool:
    name: $(POOL_NAME)
  stages:
  - template: ./templates/.build-and-test-windows-vhds-template.yaml
    parameters:
      vhddebug: false
      skipExtensionCheck: true
      dryrun: false
      overrideBranch: master
  ...

.pipelines/.vsts-vhd-builder.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_$(Build.SourceBranchName)_$(BuildID)
  pool:
    name: $(POOL_NAME)
  stages:
  - stage: build
    jobs:
    - job: build2004fipsgen2containerd
      timeoutInMinutes: 180
      steps:
      - bash: 'echo ''##vso[task.setvariable variable=OS_SKU]Ubuntu''
  
  ...

.pipelines/.vsts-vhd-refresh-testdata.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_$(Build.SourceBranchName)_$(BuildID)
  pool:
    name: $(POOL_NAME)
  stages:
  - stage: Generate_and_Publish_Testdata
    condition: succeeded()
    jobs:
    - job: Generate_Publish_Testdata
      timeoutInMinutes: 10
      steps:
      - bash: 'make generate
  
          '
  ...

.pipelines/e2e-windows.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: ./templates/e2e-template.yaml
    parameters:
      name: Windows Tests
      IgnoreScenariosWithMissingVhd: false

.pipelines/e2e.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: ./templates/e2e-template.yaml
    parameters:
      name: Linux Tests
      IgnoreScenariosWithMissingVhd: false

.pipelines/update-go-binary.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  jobs: null
  check-file:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout current branch
      uses: actions/checkout@v2
    - name: build go binary
      run: make update-contract
    - name: Save file from current branch
      run: cp pkg/parser/bin/parser parser
  ...

feat: enhance CA certificates refresh task registration for legacy CSE packages
  parts/windows/kuberneteswindowssetup.ps1
  spec/parts/linux/cloud-init/artifacts/init_aks_custom_cloud_spec.sh
  staging/cse/windows/kubernetesfunc.tests.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

feat: refactor test setup functions for improved readability and consistency
  staging/cse/windows/kubernetesfunc.tests.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

feat: update CA certificates functions for backward compatibility with optional Location parameter
  staging/cse/windows/kubernetesfunc.ps1
  staging/cse/windows/kubernetesfunc.tests.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

feat: update cse_cmd.sh and cse_cmd.sh.gtpl to ensure consistent logging of custom cloud file paths
  aks-node-controller/parser/templates/cse_cmd.sh.gtpl
  parts/linux/cloud-init/artifacts/cse_cmd.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

feat: remove deprecated Ubuntu repository initialization logic from init-aks-custom-cloud.sh
  parts/linux/cloud-init/artifacts/init-aks-custom-cloud.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

feat: enhance tests for Should-InstallCACertificatesRefreshTask and Get-CACertificates to verify URI handling
  staging/cse/windows/kubernetesfunc.tests.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

Split init-aks-custom-cloud.sh to fix Flatcar/ACL customData size limit
  parts/linux/cloud-init/artifacts/init-aks-custom-cloud-repos.sh
  parts/linux/cloud-init/artifacts/init-aks-custom-cloud.sh
  parts/linux/cloud-init/nodecustomdata.yml
  pkg/agent/baker.go
  pkg/agent/const.go
  pkg/agent/variables.go
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

feat(e2e): add RCV1P cert mode end-to-end tests
  .pipelines/e2e-rcv1p.yaml
  .pipelines/scripts/e2e_run.sh
  .pipelines/templates/e2e-template.yaml
  e2e/config/azure.go
  e2e/config/config.go
  e2e/scenario_rcv1p_test.go
  e2e/scenario_rcv1p_win_test.go
  e2e/test_helpers.go
  e2e/types.go
  e2e/validators.go
  e2e/vmss.go
  parts/linux/cloud-init/artifacts/init-aks-custom-cloud.sh
  spec/parts/linux/cloud-init/artifacts/init_aks_custom_cloud_spec.sh
  staging/cse/windows/kubernetesfunc.ps1
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

e2e: use JSON injection for VM profile tags at VMSS creation time
  e2e/vmss.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

Add Windows not-opted-in negative test for RCV1P cert mode
  e2e/scenario_rcv1p_win_test.go
  e2e/validators.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

Address PR review feedback: fix multi-subscription, validation, and error handling
  e2e/validators.go
  parts/windows/kuberneteswindowssetup.ps1
  staging/cse/windows/kubernetesfunc.ps1
  staging/cse/windows/kubernetesfunc.tests.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

e2e: add VM instance-level tag update for RCV1P wireserver opt-in
  e2e/scenario_rcv1p_test.go
  e2e/scenario_rcv1p_win_test.go
  e2e/types.go
  e2e/vmss.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

Revert "e2e: use lightweight PATCH for VM instance tags instead of JSON injection"
  e2e/vmss.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

e2e: use Microsoft.Resources/tags API for VM instance tag patching
  e2e/vmss.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

e2e: use lightweight PATCH for VM instance tags instead of JSON injection
  e2e/vmss.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

e2e: use BeginUpdate + deferred CSE for VM instance tagging
  e2e/vmss.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

e2e: add feature flag check for RCV1P subscription
  e2e/scenario_rcv1p_test.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

REVERT ME: poll wireserver IsOptedInForRootCerts with retry loop
  parts/linux/cloud-init/artifacts/init-aks-custom-cloud.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

e2e: always log PlatformSettingsOverride feature flag status
  e2e/scenario_rcv1p_test.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix(windows): parse wireserver IsOptedInForRootCerts JSON with ConvertFrom-Json
  staging/cse/windows/kubernetesfunc.ps1
  staging/cse/windows/kubernetesfunc.tests.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

e2e: make RCV1P_SUBSCRIPTION_ID optional with feature flag auto-detection
  e2e/validators.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

e2e: always collect Windows CSE logs (not just on failure)
  e2e/vmss.go
  parts/linux/cloud-init/artifacts/init-aks-custom-cloud.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix: add wireserver HTTP error diagnostic logging for cert endpoints
  staging/cse/windows/kubernetesfunc.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

e2e: use testDir() for Windows CSE output log path consistency
  e2e/test_helpers.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix(e2e): filter CSE extension to fix empty Windows CSE log files
  e2e/test_helpers.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix(e2e): re-fetch VM instance view for fresh CSE extension status
  e2e/test_helpers.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

e2e: trim whitespace from RCV1P_SUBSCRIPTION_ID to fix gating
  e2e/config/config.go
  e2e/scenario_rcv1p_test.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

e2e: add gen2 Windows RCV1P tests, fix Windows2025 TrustedLaunch
  e2e/scenario_rcv1p_win_test.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

e2e: switch RCV1P tests to Azure CNI Overlay to fix IP exhaustion
  e2e/cache.go
  e2e/scenario_rcv1p_test.go
  e2e/scenario_rcv1p_win_test.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

e2e: revert RCV1P from overlay back to kubenet
  e2e/cache.go
  e2e/scenario_rcv1p_test.go
  e2e/scenario_rcv1p_win_test.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

REVERT ME: use dedicated kubenet cluster for RCV1P tests
  e2e/cache.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

REVERT ME: use Azure CNI cluster for Windows RCV1P tests
  e2e/cache.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

REVERT ME: add wireserver endpoint diagnostics to Windows RCV1P validator
  e2e/validators.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

REVERT ME: enable verbose test output for azcopy/wireserver diagnostics
  .pipelines/scripts/e2e_run.sh
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

REVERT ME: canary check to prove whether SSH validators are broken
  e2e/validators.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix: use correct wireserver JSON field name for rcv1p cert download
  staging/cse/windows/kubernetesfunc.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

REVERT ME: add azcopy error logging to Windows log collection
  e2e/vmss.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

revert: remove diagnostic commits used during RCV1P development
  .pipelines/scripts/e2e_run.sh
  e2e/validators.go
  e2e/vmss.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix: make wireserver cert retrieval failures fatal on Linux
  parts/linux/cloud-init/artifacts/init-aks-custom-cloud.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

Remove canary check - validators confirmed working
  e2e/validators.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

Path conditions:
  .pipelines/.vsts-vhd-builder-gpu.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, .pipelines/templates/.builder-release-template.yaml, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/e2e-template.yaml, parts/linux, packer.mk, aks-node-controller, parts/common/components.json, go.mod, go.sum, e2e/scenario_gpu_managed_experience_test.go, but not: schemas/windows_settings.cue, vhdbuilder/release-notes, vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/windows, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*, .github, e2e/scenario_win_test.go, **/*.md
  .pipelines/.vsts-vhd-builder-pr-windows.yaml: any of: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/scripts, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/.build-and-test-windows-vhds-template.yaml, .pipelines/templates/.build-and-test-windows-vhd-template.yaml, .pipelines/templates/.builder-release-template-windows.yaml, .pipelines/templates/e2e-template.yaml, packer.mk, vhdbuilder/packer/packer-plugin.pkr.hcl, vhdbuilder/packer/*.ps1, vhdbuilder/packer/test/*.ps1, vhdbuilder/packer/test/run-test.sh, vhdbuilder/packer/windows-sub-cleanup.sh, vhdbuilder/packer/cleanup.sh, vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh, vhdbuilder/packer/generate-vhd-publishing-info.sh, vhdbuilder/packer/produce-packer-settings.sh, vhdbuilder/packer/windows, parts/common/components.json, parts/windows, go.mod, go.sum, e2e, staging/cse/windows, but not: vhdbuilder/release-notes, **/*.md, .github, e2e/scenario_test.go
  .pipelines/.vsts-vhd-builder.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, .pipelines/templates/.builder-release-template.yaml, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/e2e-template.yaml, parts/linux, packer.mk, aks-node-controller, parts/common/components.json, go.mod, go.sum, but not: schemas/windows_settings.cue, vhdbuilder/release-notes, vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/windows, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*, .github, e2e/scenario_win_test.go
  .pipelines/.vsts-vhd-refresh-testdata.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-refresh-testdata.yaml, parts/linux, packer.mk, parts/common/components.json, but not: vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*
  .pipelines/e2e-windows.yaml: any of: .pipelines/e2e-windows.yaml, .pipelines/templates/e2e-template.yaml, .pipelines/scripts/e2e_run.sh, .pipelines/scripts/e2e_delete_vmss.sh, e2e, parts/windows, pkg/agent, parts/common/components.json, staging/cse/windows, go.mod, go.sum, but not: pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/*Ubuntu*, pkg/agent/testdata/*Flatcar*, pkg/agent/testdata/*Mariner*, pkg/agent/testdata/*AzureLinux*, parts/common/components.json, staging/cse/windows/README, **/*.md, .github, e2e/scenario_test.go
  .pipelines/e2e.yaml: any of: .pipelines/e2e.yaml, .pipelines/templates/e2e-template.yaml, .pipelines/scripts/e2e_run.sh, e2e, parts/linux, parts/common/components.json, pkg/agent, go.mod, go.sum, but not: pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/AKSWindows*, parts/common/components.json, staging/cse/windows/README, **/*.md, e2e/scenario_win_test.go
  .pipelines/update-go-binary.yaml: any of: pkg/proto, pkg/parser
