Repository Azure/AgentBaker: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml, .pipelines/update-go-binary.yaml

Path conditions:
  .pipelines/.vsts-vhd-builder-release-windows.yaml: any of: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/templates/.builder-release-template-windows.yaml, packer.mk, vhdbuilder/packer/packer-plugin.pkr.hcl, vhdbuilder/packer/*.ps1, vhdbuilder/packer/test/*.ps1, vhdbuilder/packer/test/run-test.sh, vhdbuilder/packer/backfill-cleanup.sh, vhdbuilder/packer/cleanup.sh, vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh, vhdbuilder/packer/generate-vhd-publishing-info.sh, vhdbuilder/packer/init-variables.sh, vhdbuilder/packer/windows-image.env, vhdbuilder/packer/windows-vhd-builder-sig.json
  .pipelines/.vsts-vhd-builder.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, .pipelines/templates/.builder-release-template.yaml, parts/linux, packer.mk, but not: vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*
  .pipelines/e2e-windows.yaml: any of: .pipelines/e2e-windows.yaml, .pipelines/templates/e2e-windows-template.yaml, e2e/windows, parts/windows, staging/cse/windows
  .pipelines/e2e.yaml: any of: .pipelines/e2e.yaml, .pipelines/templates/e2e-template.yaml, e2e, but not: e2e/windows
  .pipelines/update-go-binary.yaml: any of: pkg/proto, pkg/parser

test our rework with no logic changes (kinda)
  .pipelines/templates/.builder-release-template.yaml
  parts/linux/cloud-init/artifacts/components.json
  parts/linux/cloud-init/artifacts/cse_install.sh
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml

make azl use latest version of contianerd
  parts/linux/cloud-init/artifacts/components.json
  spec/parts/linux/cloud-init/artifacts/cse_install_spec.sh
Due: .pipelines/.vsts-vhd-builder.yaml

create a hack to launch an installer on a VM
  dist/installer-linux-amd64
  e2e/scenario_test.go
  e2e/types.go
  e2e/validators.go
  e2e/vmss.go
  installer/.gitignore
  installer/build.sh
  installer/go.mod
  installer/main.go
  vhdbuilder/packer/packer_source.sh
  vhdbuilder/packer/vhd-image-builder-base.json
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

add tests
  installer/go.mod
  installer/go.sum
  installer/main.go
  installer/main_test.go
Due: none

add logic to installer
  e2e/installer_test.go
  e2e/log.go
  installer/go.mod
  installer/go.sum
  installer/main.go
  installer/main_test.go
Due: .pipelines/e2e.yaml

add installer test to e2e
  e2e/exec.go
  e2e/installer_test.go
  e2e/vmss.go
Due: .pipelines/e2e.yaml

add logic to installer
  e2e/installer_test.go
  installer/main.go
Due: .pipelines/e2e.yaml

fix rebase conflicts
  e2e/go.mod
  e2e/go.sum
  e2e/installer_test.go
Due: .pipelines/e2e.yaml

add installer test to e2e
  e2e/config/azure.go
  e2e/config/config.go
  e2e/config/vhd.go
  e2e/exec.go
  e2e/installer_test.go
  installer/.gitignore
  installer/go.mod
  installer/go.sum
  installer/main.go
  installer/main_test.go
Due: .pipelines/e2e.yaml

pass CSE configuration
  e2e/installer_test.go
  e2e/scenario_helpers_test.go
  e2e/types.go
  e2e/validation.go
  e2e/vmss.go
  installer/main.go
Due: .pipelines/e2e.yaml

fix ADO template
  .pipelines/templates/.builder-release-template.yaml
  installer/main.go
Due: .pipelines/.vsts-vhd-builder.yaml

start writing tests for kubeconfig
  node-bootstrapper/custom_data_kubeconfig_test.go
  node-bootstrapper/custom_data_test.go
  node-bootstrapper/main.go
  node-bootstrapper/test_helpers.go
  pkg/agent/datamodel/types.go
Due: none

fix path to installer
  .pipelines/templates/.builder-release-template.yaml
  installer/build.sh
  vhdbuilder/packer/vhd-image-builder-arm64-gen2.json
  vhdbuilder/packer/vhd-image-builder-base.json
  vhdbuilder/packer/vhd-image-builder-mariner-arm64.json
  vhdbuilder/packer/vhd-image-builder-mariner.json
Due: .pipelines/.vsts-vhd-builder.yaml

create missing directories
  node-bootstrapper/main.go
Due: none

build installer
  .pipelines/templates/.builder-release-template.yaml
  dist/installer-linux-amd64
  installer/.gitignore
  installer/build.sh
  installer/main.go
  pkg/agent/bakerapi.go
  vhdbuilder/packer/vhd-image-builder-arm64-gen2.json
  vhdbuilder/packer/vhd-image-builder-mariner-arm64.json
  vhdbuilder/packer/vhd-image-builder-mariner.json
Due: .pipelines/.vsts-vhd-builder.yaml

fix flag parsing, validate config version
  e2e/template.go
  node-bootstrapper/main.go
  pkg/agent/bakerapi.go
  pkg/agent/datamodel/types.go
Due: .pipelines/e2e.yaml

fix tests
  parts/linux/cloud-init/nodecustomdata.yml
  pkg/agent/utils_test.go
Due: .pipelines/.vsts-vhd-builder.yaml

add shebang line
  node-bootstrapper/build.sh
Due: none

explicitly specify mode and config
  e2e/installer_test.go
  node-bootstrapper/main.go
  pkg/agent/bakerapi.go
Due: .pipelines/e2e.yaml

rename installer => node-bootstrapper
  .pipelines/templates/.builder-release-template.yaml
  e2e/cluster.go
  e2e/exec.go
  e2e/installer_test.go
  installer/.gitignore
  installer/build.sh
  node-bootstrapper/.gitignore
  node-bootstrapper/build.sh
  node-bootstrapper/go.mod
  node-bootstrapper/go.sum
  node-bootstrapper/main.go
  pkg/agent/bakerapi.go
  vhdbuilder/packer/packer_source.sh
  vhdbuilder/packer/vhd-image-builder-arm64-gen2.json
  vhdbuilder/packer/vhd-image-builder-base.json
  vhdbuilder/packer/vhd-image-builder-mariner-arm64.json
  vhdbuilder/packer/vhd-image-builder-mariner.json
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

reduce line length
  pkg/agent/bakerapi.go
Due: none

simplify config loading
  node-bootstrapper/main.go
Due: none

fallback to v1 for windows
  pkg/agent/bakerapi.go
Due: none

allow to switch between CSE scripts in e2e
  e2e/config/config.go
  e2e/installer_test.go
  e2e/nodebootstrapping.go
Due: .pipelines/e2e.yaml

use NBC
  e2e/installer_test.go
  installer/go.mod
  installer/go.sum
  installer/main.go
  installer/main_test.go
Due: .pipelines/e2e.yaml

skip privatepkg test
  e2e/scenario_test.go
Due: .pipelines/e2e.yaml

add comment
  e2e/installer_test.go
Due: .pipelines/e2e.yaml

fix CSE
  e2e/installer_test.go
  e2e/validation.go
  pkg/agent/bakerapi.go
Due: .pipelines/e2e.yaml

rename config version
  e2e/template.go
  node-bootstrapper/main.go
  pkg/agent/bakerapi.go
Due: .pipelines/e2e.yaml

fix node-boostrapper references
  node-bootstrapper/build.sh
  vhdbuilder/packer/vhd-image-builder-arm64-gen2.json
  vhdbuilder/packer/vhd-image-builder-base.json
  vhdbuilder/packer/vhd-image-builder-mariner-arm64.json
  vhdbuilder/packer/vhd-image-builder-mariner.json
Due: .pipelines/.vsts-vhd-builder.yaml

add config version
  installer/main.go
Due: none

improve test documentation
  e2e/installer_test.go
  e2e/types.go
  e2e/vmss.go
Due: .pipelines/e2e.yaml

fix lint error
  pkg/agent/bakerapi.go
Due: none

use installer in all VHDs
  e2e/nodebootstrapping.go
  installer/main.go
  pkg/agent/bakerapi.go
Due: .pipelines/e2e.yaml

fix incorrectly resolved rebase conflicts
  e2e/scenario_helpers_test.go
  e2e/validation.go
Due: .pipelines/e2e.yaml

write custom data in node-bootstrapper
  node-bootstrapper/build.sh
  node-bootstrapper/custom_data_test.go
  node-bootstrapper/go.mod
  node-bootstrapper/go.sum
  node-bootstrapper/main.go
  parts/linux/cloud-init/nodecustomdata.yml
  pkg/agent/baker.go
  pkg/agent/utils.go
  pkg/agent/utils_test.go
Due: .pipelines/.vsts-vhd-builder.yaml

tests for token_arc.sh
  node-bootstrapper/custom_data_kubeconfig_test.go
  node-bootstrapper/main.go
Due: none

clean up test
  node-bootstrapper/custom_data_kubeconfig_test.go
  node-bootstrapper/main.go
  node-bootstrapper/test_helpers.go
Due: none

make sure token files are executable
  node-bootstrapper/custom_data_kubeconfig_test.go
  node-bootstrapper/main.go
Due: none

azure token.sh
  node-bootstrapper/custom_data_kubeconfig_test.go
  node-bootstrapper/main.go
Due: none
