Repository Azure/AgentBaker: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml, .pipelines/update-go-binary.yaml

.pipelines/.vsts-vhd-builder-release-windows.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_$(Build.SourceBranchName)_$(BuildID)
  pool:
    name: $(AZURE_POOL_NAME)
  extends:
    template: v2/OneBranch.Official.CrossPlat.yml@templates
    parameters:
      globalSdl:
        antimalwareScan:
          enabled: true
        armory:
          enabled: false
        binskim:
  ...

.pipelines/.vsts-vhd-builder.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_$(OS_SKU)$(OS_VERSION)_$(HYPERV_GENERATION)_$(FEATURE_FLAGS)_$(Build.SourceBranchName)
  pool:
    name: $(POOL_NAME)
  stages:
  - stage: build_vhd
    dependsOn: []
    jobs:
    - job: build
      timeoutInMinutes: 180
      steps:
  ...

.pipelines/e2e-windows.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_e2e
  pool:
    name: $(AZURE_POOL_NAME)
  stages:
  - stage: test_2019_containerd
    dependsOn: []
    condition: eq('${{ parameters.test2019containerd }}', True)
    jobs:
    - template: ./templates/e2e-windows-template.yaml
      parameters:
        windowsImage: 2019-containerd
  ...

.pipelines/e2e.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  pool:
    name: nodesigtest-pool
  jobs:
  - job: Run_AgentBaker_E2E
    timeoutInMinutes: ${{ variables.defaultTimeout }}
    steps:
    - bash: 'az login --identity
  
        az account set -s $(AZURE_SUBSCRIPTION_ID)
  
        '
      displayName: az login
  ...

.pipelines/update-go-binary.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  jobs: null
  check-file:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout current branch
      uses: actions/checkout@v2
    - name: build go binary
      run: make update-contract
    - name: Save file from current branch
      run: cp pkg/parser/bin/parser parser
  ...

fix: find working vm size
  .pipelines/.vsts-vhd-builder.yaml
Due: .pipelines/.vsts-vhd-builder.yaml

fix: revert vm size
  .pipelines/.vsts-vhd-builder-release.yaml
Due: none

test: call test function
  vhdbuilder/packer/test/linux-vhd-content-test.sh
Due: .pipelines/.vsts-vhd-builder.yaml

fix: add warning message
  parts/linux/cloud-init/artifacts/cse_helpers.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

fix: remove check perf data function from cse helpers
  parts/linux/cloud-init/artifacts/cse_helpers.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

fix: change vm sizes
  .pipelines/.vsts-vhd-builder.yaml
Due: .pipelines/.vsts-vhd-builder.yaml

fix: add section for finishing bcc install
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml

fix: test pipekine
  vhdbuilder/packer/vhd-image-builder-arm64-gen2.json
  vhdbuilder/packer/vhd-image-builder-base.json
  vhdbuilder/packer/vhd-image-builder-mariner-arm64.json
  vhdbuilder/packer/vhd-image-builder-mariner.json
Due: .pipelines/.vsts-vhd-builder.yaml

fix: benchmark functions
  parts/linux/cloud-init/artifacts/cse_helpers.sh
  vhdbuilder/packer/pre-install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

perf: change vm sizes for PR Gate
  .pipelines/.vsts-vhd-builder.yaml
Due: .pipelines/.vsts-vhd-builder.yaml

fix: rename section
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml

fix: change vm location
  vhdbuilder/packer/vhd-image-builder-arm64-gen2.json
  vhdbuilder/packer/vhd-image-builder-base.json
  vhdbuilder/packer/vhd-image-builder-mariner-arm64.json
  vhdbuilder/packer/vhd-image-builder-mariner.json
Due: .pipelines/.vsts-vhd-builder.yaml

fix: check_array_size function
  parts/linux/cloud-init/artifacts/cse_helpers.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

test: vhd-build-performance data file deletion check
  vhdbuilder/packer/test/linux-vhd-content-test.sh
Due: .pipelines/.vsts-vhd-builder.yaml

perf: mount agent vm packer binary to go dev container
  .pipelines/templates/.builder-release-template.yaml
Due: none

test: fix azcopy
  .pipelines/templates/.builder-release-template.yaml
Due: none

test: show ubuntu version
  .pipelines/templates/.builder-release-template.yaml
Due: none

fix: go dev container version
  .pipelines/.vsts-vhd-builder-release.yaml
Due: none

fix: az copy login issues
  vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

fix: azcopy login method
  vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

chore: remove example variable
  .pipelines/templates/.builder-release-template.yaml
Due: none

test: attempt azcopy login with upgraded toolchain
  .pipelines/templates/.builder-release-template.yaml
Due: none

fix: set stage variables
  .pipelines/templates/.builder-release-template.yaml
Due: none

fix: add shallow replication toggle
  vhdbuilder/packer/init-variables.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

fix: upgrade azcopy for Ubuntu transfer
  .pipelines/templates/.builder-release-template.yaml
  vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

fix: install packer plugin
  packer.mk
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

test: get variable values
  .pipelines/templates/.builder-release-template.yaml
Due: none

fix: remove whitespace in JSON
  vhdbuilder/packer/init-variables.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

test: check azure cli
  .pipelines/templates/.builder-release-template.yaml
Due: none

fix: change go dev container version for ubuntu bug
  .pipelines/.vsts-vhd-builder.yaml
Due: .pipelines/.vsts-vhd-builder.yaml

fix: remove whitespace bug
  vhdbuilder/packer/init-variables.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

test: upgrade go dev container version
  .pipelines/.vsts-vhd-builder-release.yaml
Due: none

fix: remove shallow replication from packer settings file
  vhdbuilder/packer/init-variables.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

test: azcopy login syntax
  vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

fix: fix carriage return bug
  vhdbuilder/packer/init-variables.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

fix: login method
  vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

Path conditions:
  .pipelines/.vsts-vhd-builder-release-windows.yaml: any of: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/templates/.builder-release-template-windows.yaml, packer.mk, vhdbuilder/packer/packer-plugin.pkr.hcl, vhdbuilder/packer/*.ps1, vhdbuilder/packer/test/*.ps1, vhdbuilder/packer/test/run-test.sh, vhdbuilder/packer/backfill-cleanup.sh, vhdbuilder/packer/cleanup.sh, vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh, vhdbuilder/packer/generate-vhd-publishing-info.sh, vhdbuilder/packer/init-variables.sh, vhdbuilder/packer/windows-image.env, vhdbuilder/packer/windows-vhd-builder-sig.json
  .pipelines/.vsts-vhd-builder.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, parts/linux/cloud-init/artifacts/manifest.json, parts/linux/cloud-init/artifacts/cse_install.sh, parts/linux/cloud-init/artifacts/cse_helpers.sh, parts/linux/cloud-init/artifacts/ubuntu/cse_install_ubuntu.sh, parts/linux/cloud-init/artifacts/mariner/cse_install_mariner.sh, packer.mk, but not: vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*
  .pipelines/e2e-windows.yaml: any of: .pipelines/e2e-windows.yaml, .pipelines/templates/e2e-windows-template.yaml, e2e/windows, parts/windows, staging/cse/windows
  .pipelines/e2e.yaml: any of: .pipelines/e2e.yaml, e2e, parts/linux, pkg/agent, but not: e2e/windows, pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/AKSWindows*
  .pipelines/update-go-binary.yaml: any of: pkg/proto, pkg/parser
