Repository Azure/AgentBaker: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml, .pipelines/update-go-binary.yaml

.pipelines/.vsts-vhd-builder-gpu.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_$(Build.SourceBranchName)_$(BuildID)
  pool:
    name: $(POOL_NAME)
  stages:
  - stage: build
    jobs:
    - job: build2404gen2containerd
      timeoutInMinutes: 360
      steps:
      - bash: 'echo ''##vso[task.setvariable variable=OS_SKU]Ubuntu''
  
  ...

.pipelines/.vsts-vhd-builder-pr-windows.yaml:
  name: PR_$(Date:yyyyMMdd)$(Rev:.r)_$(Build.SourceBranchName)_$(BuildID)
  pool:
    name: $(POOL_NAME)
  stages:
  - template: ./templates/.build-and-test-windows-vhds-template.yaml
    parameters:
      vhddebug: false
      skipExtensionCheck: true
      dryrun: false
      overrideBranch: master
  ...

.pipelines/.vsts-vhd-builder.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_$(Build.SourceBranchName)_$(BuildID)
  pool:
    name: $(POOL_NAME)
  stages:
  - stage: build
    jobs:
    - job: build2004fipsgen2containerd
      timeoutInMinutes: 180
      steps:
      - bash: 'echo ''##vso[task.setvariable variable=OS_SKU]Ubuntu''
  
  ...

.pipelines/.vsts-vhd-refresh-testdata.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_$(Build.SourceBranchName)_$(BuildID)
  pool:
    name: $(POOL_NAME)
  stages:
  - stage: Generate_and_Publish_Testdata
    condition: succeeded()
    jobs:
    - job: Generate_Publish_Testdata
      timeoutInMinutes: 10
      steps:
      - bash: 'make generate
  
          '
  ...

.pipelines/e2e-windows.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: ./templates/e2e-template.yaml
    parameters:
      name: Windows Tests
      IgnoreScenariosWithMissingVhd: false

.pipelines/e2e.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: ./templates/e2e-template.yaml
    parameters:
      name: Linux Tests
      IgnoreScenariosWithMissingVhd: false

.pipelines/update-go-binary.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  jobs: null
  check-file:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout current branch
      uses: actions/checkout@v2
    - name: build go binary
      run: make update-contract
    - name: Save file from current branch
      run: cp pkg/parser/bin/parser parser
  ...

fix(windows): harden failure diagnostics and cleanup
  e2e/vmss.go
  staging/cse/windows/provisioningscripts/windowsnodereset.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix(windows): verify kubelet health after reset
  parts/windows/windowscsehelper.ps1
  parts/windows/windowscsehelper.tests.ps1
  staging/cse/windows/provisioningscripts/windowsnodereset.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

refactor(e2e): simplify Windows log collection
  e2e/vmss.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix(windows): copy locked IPAM log before collection
  staging/cse/windows/debug/collect-windows-logs.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

perf(windows): shorten kubelet health retry
  parts/windows/windowscsehelper.ps1
  parts/windows/windowscsehelper.tests.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

fix(windows): wait for kubelet healthz after node reset
  parts/windows/windowscsehelper.ps1
  parts/windows/windowscsehelper.tests.ps1
  staging/cse/windows/provisioningscripts/windowsnodereset.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

fix: remove obsoleteGOEXPERIMENT=ms_nocgo_opensslcrypto
  packer.mk
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

fix(windows): gate provisioning on kubelet readiness, not NSSM state
  parts/windows/windowscsehelper.ps1
  parts/windows/windowscsehelper.tests.ps1
  staging/cse/windows/provisioningscripts/windowsnodereset.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

fix(windows): probe kubelet healthz after the node reset task
  parts/windows/kuberneteswindowssetup.ps1.template
  parts/windows/windowscsehelper.ps1
  parts/windows/windowscsehelper.tests.ps1
  pkg/agent/baker.go
  pkg/agent/datamodel/types.go
  pkg/agent/datamodel/types_test.go
  pkg/agent/windows_kubelet_healthz_test.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix: use generated ACL CVM SIG definition
  pkg/agent/datamodel/sig_config.go
  pkg/agent/datamodel/sig_config_test.go
Due: none

fix: address ACL CVM review feedback
  pkg/agent/bakerapi_test.go
  pkg/agent/datamodel/sig_config.go
  pkg/agent/datamodel/sig_config_test.go
  pkg/agent/datamodel/types_test.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

Pin GitHub Actions to full-length commit SHAs (#9335)
  .github/dependabot.yml
  .github/workflows/buf.yaml
  .github/workflows/check-coverage.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/generate-kubelet-flags.yaml
  .github/workflows/go-test.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/hotfix-generate.yml
  .github/workflows/labeler.yaml
  .github/workflows/pr-lint.yaml
  .github/workflows/shellcheck.yml
  .github/workflows/shellspec.yaml
  .github/workflows/tidy.yaml
  .github/workflows/validate-components.yml
  .github/workflows/validate-windows-ut.yml
Due: none

docs: add ACL troubleshooting Copilot skill for AKS Node SIG
  .github/skills/acl-troubleshooting/SKILL.md
Due: none

fix: anc version content test should not fail for test builds
  vhdbuilder/packer/test/linux-vhd-content-test.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

feat(vhd): select Azure Linux ARM64 kernel by hardware
  parts/linux/cloud-init/artifacts/10_azure_nvidia
  parts/linux/cloud-init/artifacts/51-azure-nvidia.cfg
  spec/parts/linux/cloud-init/artifacts/azure_nvidia_spec.sh
  vhdbuilder/packer/packer_source.sh
  vhdbuilder/packer/pre-install-dependencies.sh
  vhdbuilder/packer/vhd-image-builder-mariner-arm64.json
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

feat(cse): support managed GPU drivers on Azure Linux ARM64
  parts/linux/cloud-init/artifacts/cse_config.sh
  parts/linux/cloud-init/artifacts/mariner/cse_install_mariner.sh
  pkg/agent/baker_test.go
  spec/parts/linux/cloud-init/artifacts/cse_config_spec.sh
  spec/parts/linux/cloud-init/artifacts/cse_install_mariner_spec.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

test(vhd): validate shared Azure Linux ARM64 images
  spec/vhdbuilder/packer/test/linux_vhd_content_test_helpers_spec.sh
  vhdbuilder/packer/test/linux-vhd-content-test.sh
  vhdbuilder/packer/test/run-test.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

fix
  .pipelines/.vsts-vhd-builder-release.yaml
  .pipelines/.vsts-vhd-builder.yaml
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml

fix
  vhdbuilder/packer/pre-install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

fix
  .pipelines/templates/.builder-release-template.yaml
  vhdbuilder/packer/pre-install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

pull secure-tls-bootstrap-client from aks dalec
  parts/common/components.json
  staging/cse/windows/securetlsbootstrapfunc.ps1
  staging/cse/windows/securetlsbootstrapfunc.tests.ps1
  vhdbuilder/packer/test/windows-files-check.ps1
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml

fix: anc version content test should not fail for test builds (#9363)
  vhdbuilder/packer/test/linux-vhd-content-test.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

Revert "fix: remove obsoleteGOEXPERIMENT=ms_nocgo_opensslcrypto"
  packer.mk
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

preserve backwards compat by caching stls binary with the same name as before
  parts/common/components.json
  staging/cse/windows/securetlsbootstrapfunc.ps1
  staging/cse/windows/securetlsbootstrapfunc.tests.ps1
  vhdbuilder/packer/windows/components_json_helpers.ps1
  vhdbuilder/packer/windows/components_json_helpers.tests.ps1
  vhdbuilder/packer/windows/configure-windows-vhd.ps1
  vhdbuilder/packer/windows/windows-vhd-configuration.ps1
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml

fix cue
  schemas/components.cue
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

refactor: name the healthz helpers for Windows rather than PowerShell
  pkg/agent/baker.go
  pkg/agent/datamodel/types.go
  pkg/agent/datamodel/types_test.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix backcompat
  vhdbuilder/packer/windows/components_json_helpers.ps1
  vhdbuilder/packer/windows/components_json_helpers.tests.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml

fix: reject empty resolver state during LocalDNS startup
  parts/linux/cloud-init/artifacts/localdns.sh
  spec/parts/linux/cloud-init/artifacts/localdns_spec.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

test: add PR 9101 standalone hotfix payload
  aks-node-controller/scripthotfix/generated/manifest.json
  aks-node-controller/scripthotfix/generated/payloads/cse_config.sh
  parts/linux/cloud-init/artifacts/aks-node-controller-hotfix.json
  parts/linux/cloud-init/nodecustomdata.yml
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

fix(windows): import WireServer certs into trust stores (#9353)
  e2e/scenario_rcv1p_win_test.go
  e2e/validators.go
  staging/cse/windows/kubernetesfunc.ps1
  staging/cse/windows/kubernetesfunc.tests.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

Fallback containerd schema for Ubuntu VHDs
  pkg/agent/baker.go
  pkg/agent/baker_test.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix: gate ANC containerd v4 config
  aks-node-controller/parser/helper.go
  aks-node-controller/parser/helper_test.go
  aks-node-controller/parser/templates/containerd.toml.gtpl
  aks-node-controller/parser/templates/containerd_no_GPU.toml.gtpl
  parts/linux/cloud-init/artifacts/ubuntu/gb/containerd-nvidia.toml
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

Preserve containerd config in e2e converter
  e2e/node_config.go
  e2e/node_config_test.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix: align containerd v2 configs with 2.3 schema
  parts/linux/cloud-init/artifacts/ubuntu/gb/containerd-nvidia.toml
  pkg/agent/baker.go
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

Fix aks-node-controller lint failure
  aks-node-controller/parser/helper.go
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml

Gate containerd v4 config on 2.3
  aks-node-controller/parser/helper.go
  aks-node-controller/parser/helper_test.go
  aks-node-controller/parser/parser_test.go
  aks-node-controller/parser/templates/containerd.toml.gtpl
  aks-node-controller/parser/templates/containerd_no_GPU.toml.gtpl
  pkg/agent/baker.go
  pkg/agent/baker_test.go
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

Revert "fix: don't assume containerd v4 schema for empty/unknown version on 24.04/26.04"
  pkg/agent/baker.go
  pkg/agent/baker_test.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

test(e2e): assert Kata containerd handler by schema-independent suffix
  e2e/validators_kata.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix(e2e): skip Kata in containerd version fallback
  e2e/test_helpers.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix(e2e): skip provision-config vs nbc-cmd parity for managed-extension GPU scenario
  e2e/scenario_gpu_managed_experience_test.go
  e2e/types.go
  e2e/validators.go
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

Path conditions:
  .pipelines/.vsts-vhd-builder-gpu.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, .pipelines/templates/.builder-release-template.yaml, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/e2e-template.yaml, parts/linux, packer.mk, aks-node-controller, parts/common/components.json, go.mod, go.sum, e2e/scenario_gpu_managed_experience_test.go, but not: schemas/windows_settings.cue, vhdbuilder/release-notes, vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/windows, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*, .github, e2e/scenario_win_test.go, **/*.md
  .pipelines/.vsts-vhd-builder-pr-windows.yaml: any of: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/scripts, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/.build-and-test-windows-vhds-template.yaml, .pipelines/templates/.build-and-test-windows-vhd-template.yaml, .pipelines/templates/.builder-release-template-windows.yaml, .pipelines/templates/e2e-template.yaml, packer.mk, vhdbuilder/packer/packer-plugin.pkr.hcl, vhdbuilder/packer/*.ps1, vhdbuilder/packer/test/*.ps1, vhdbuilder/packer/test/run-test.sh, vhdbuilder/packer/windows-sub-cleanup.sh, vhdbuilder/packer/cleanup.sh, vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh, vhdbuilder/packer/generate-vhd-publishing-info.sh, vhdbuilder/packer/produce-packer-settings.sh, vhdbuilder/packer/windows, parts/common/components.json, parts/windows, go.mod, go.sum, e2e, staging/cse/windows, but not: vhdbuilder/release-notes, **/*.md, .github, e2e/scenario_test.go
  .pipelines/.vsts-vhd-builder.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, .pipelines/templates/.builder-release-template.yaml, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/e2e-template.yaml, parts/linux, packer.mk, aks-node-controller, parts/common/components.json, go.mod, go.sum, but not: schemas/windows_settings.cue, vhdbuilder/release-notes, vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/windows, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*, .github, e2e/scenario_win_test.go
  .pipelines/.vsts-vhd-refresh-testdata.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-refresh-testdata.yaml, parts/linux, packer.mk, parts/common/components.json, but not: vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*
  .pipelines/e2e-windows.yaml: any of: .pipelines/e2e-windows.yaml, .pipelines/templates/e2e-template.yaml, .pipelines/scripts/e2e_run.sh, .pipelines/scripts/e2e_delete_vmss.sh, e2e, parts/windows, pkg/agent, parts/common/components.json, staging/cse/windows, go.mod, go.sum, but not: pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/*Ubuntu*, pkg/agent/testdata/*Flatcar*, pkg/agent/testdata/*Mariner*, pkg/agent/testdata/*AzureLinux*, parts/common/components.json, staging/cse/windows/README, **/*.md, .github, e2e/scenario_test.go
  .pipelines/e2e.yaml: any of: .pipelines/e2e.yaml, .pipelines/templates/e2e-template.yaml, .pipelines/scripts/e2e_run.sh, e2e, parts/linux, parts/common/components.json, pkg/agent, go.mod, go.sum, but not: pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/AKSWindows*, parts/common/components.json, staging/cse/windows/README, **/*.md, e2e/scenario_win_test.go
  .pipelines/update-go-binary.yaml: any of: pkg/proto, pkg/parser
