Repository Azure/AgentBaker: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml, .pipelines/update-go-binary.yaml

Path conditions:
  .pipelines/.vsts-vhd-builder-pr-windows.yaml: any of: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/.build-and-test-windows-vhds-template.yaml, .pipelines/templates/.build-and-test-windows-vhd-template.yaml, .pipelines/templates/.builder-release-template-windows.yaml, .pipelines/templates/e2e-template.yaml, packer.mk, vhdbuilder/packer/packer-plugin.pkr.hcl, vhdbuilder/packer/*.ps1, vhdbuilder/packer/test/*.ps1, vhdbuilder/packer/test/run-test.sh, vhdbuilder/packer/backfill-cleanup.sh, vhdbuilder/packer/cleanup.sh, vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh, vhdbuilder/packer/generate-vhd-publishing-info.sh, vhdbuilder/packer/produce-packer-settings.sh, vhdbuilder/packer/windows, parts/common/components.json, parts/windows, go.mod, go.sum, but not: vhdbuilder/release-notes, **/*.md, .github, e2e/scenario_test.go
  .pipelines/.vsts-vhd-builder.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, .pipelines/templates/.builder-release-template.yaml, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/e2e-template.yaml, parts/linux, packer.mk, aks-node-controller, parts/common/components.json, go.mod, go.sum, but not: schemas/windows_settings.cue, vhdbuilder/release-notes, vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/windows, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*, **/*.md, .github, e2e/scenario_win_test.go
  .pipelines/.vsts-vhd-refresh-testdata.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-refresh-testdata.yaml, parts/linux, packer.mk, parts/common/components.json, but not: vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*
  .pipelines/e2e-windows.yaml: any of: .pipelines/e2e-windows.yaml, .pipelines/templates/e2e-template.yaml, .pipelines/scripts/e2e_run.sh, e2e, parts/windows, pkg/agent, parts/common/components.json, staging/cse/windows, go.mod, go.sum, but not: pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/AKSWindows*, parts/common/components.json, staging/cse/windows/README, **/*.md, .github, e2e/scenario_test.go
  .pipelines/e2e.yaml: any of: .pipelines/e2e.yaml, .pipelines/templates/e2e-template.yaml, e2e, parts/linux, parts/common/components.json, pkg/agent, go.mod, go.sum, but not: pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/AKSWindows*, parts/common/components.json, staging/cse/windows/README, **/*.md, e2e/scenario_win_test.go
  .pipelines/update-go-binary.yaml: any of: pkg/proto, pkg/parser

test: unit test coverage for containerd func which generates containerd config
  parts/windows/windowscsehelper.ps1
  parts/windows/windowscsehelper.tests.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud+ootcredentialprovider/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletServingCertificateRotation/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/agent/testdata/AKSWindows2019+ootcredentialprovider/CustomData
  staging/cse/windows/containerdfunc.ps1
  staging/cse/windows/containerdfunc.tests.ps1
  staging/cse/windows/containerdfunc.tests.suites/config.toml
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

choose template version depend on containerd runtime version
  staging/cse/windows/containerd2template.toml
  staging/cse/windows/containerdfunc.ps1
  staging/cse/windows/containerdfunc.tests.ps1
Due: .pipelines/e2e-windows.yaml

feat: add containerd2 config template
  staging/cse/windows/containerd2template.toml
  staging/cse/windows/containerdfunc.tests.ps1
Due: .pipelines/e2e-windows.yaml

feat: support IMDS restriction for Windows node(re-commit for signing)
  parts/windows/kuberneteswindowssetup.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud+ootcredentialprovider/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletServingCertificateRotation/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/agent/testdata/AKSWindows2019+ootcredentialprovider/CustomData
  staging/cse/windows/azurecnifunc.ps1
  staging/cse/windows/azurecnifunc.tests.ps1
  staging/cse/windows/azurecnifunc.tests.suites/AzureCNI.Expect.EnableIMDSRestriction.conflist
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

feat: support IMDS restriction on Windows node (#6396)
  parts/windows/kuberneteswindowssetup.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud+ootcredentialprovider/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletServingCertificateRotation/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/agent/testdata/AKSWindows2019+ootcredentialprovider/CustomData
  staging/cse/windows/azurecnifunc.ps1
  staging/cse/windows/azurecnifunc.tests.ps1
  staging/cse/windows/azurecnifunc.tests.suites/AzureCNI.Expect.EnableIMDSRestriction.conflist
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

test: downloadSecureFile task
  .pipelines/templates/.builder-release-template.yaml
Due: .pipelines/.vsts-vhd-builder.yaml

chore: explicitly specify latest kata UVM artifact built from master branch (#6407)
  .pipelines/templates/.builder-release-template.yaml
Due: .pipelines/.vsts-vhd-builder.yaml

chore: cleanup
  parts/linux/cloud-init/artifacts/cse_config.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

Add more comments
  .pipelines/templates/.builder-release-template-windows.yaml
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml

test
  parts/windows/kuberneteswindowssetup.ps1
  staging/cse/windows/azurecnifunc.ps1
  staging/cse/windows/azurecnifunc.tests.ps1
  staging/cse/windows/containerdfunc.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

test
  .pipelines/templates/.builder-release-template.yaml
Due: .pipelines/.vsts-vhd-builder.yaml

chore: tests and cleanup
  Makefile
  parts/linux/cloud-init/artifacts/cse_config.sh
  spec/parts/linux/cloud-init/artifacts/cse_config_spec.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

test: signature logic
  .pipelines/templates/.builder-release-template.yaml
Due: .pipelines/.vsts-vhd-builder.yaml

chore: cleanup pipeline
  .pipelines/templates/.builder-release-template.yaml
Due: .pipelines/.vsts-vhd-builder.yaml

test: VHD integrity
  .pipelines/templates/.builder-release-template.yaml
Due: .pipelines/.vsts-vhd-builder.yaml

test: checksum
  .pipelines/templates/.builder-release-template.yaml
Due: .pipelines/.vsts-vhd-builder.yaml

test: secure file download fix
  .pipelines/templates/.builder-release-template.yaml
Due: .pipelines/.vsts-vhd-builder.yaml

test: test
  .pipelines/templates/.builder-release-template.yaml
Due: .pipelines/.vsts-vhd-builder.yaml

remove old konnectivity-agent image
  parts/common/components.json
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

chore: bump policy addon v1.12.0
  parts/common/components.json
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

test: reenable 2025 gen2 test
  e2e/scenario_win_test.go
Due: .pipelines/e2e-windows.yaml

fix cve-2025-27114 on azlinux3
  parts/common/components.json
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

using inhouse ACR
  spec/shellspec.Dockerfile
Due: none

can't pass msi in gothub-actions...
  .github/workflows/shellspec.yaml
Due: none

bumping azlinux2 version
  parts/common/components.json
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

Fixing CSSC Warnings by using internal authenticated ACR (#6420)
  .github/workflows/shellspec.yaml
  spec/shellspec.Dockerfile
Due: none

Update acr mirror with fix for systemd unit
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

fix acr0mirror test
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

fix: update acr mirror to 0.2.12 with fix for systemd unit (#6421)
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

revert changes for Mirror binary
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

feat: add logic to switch to containerd2 config template for ws 2025 + 1.33
  staging/cse/windows/azurecnifunc.ps1
  staging/cse/windows/azurecnifunc.tests.ps1
  vhdbuilder/packer/windows/components_json_helpers.tests.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

feat: utility function to create windows cse zip
  vhdbuilder/scripts/windows/build_release_package.ps1
  vhdbuilder/scripts/windows/tests/build_release_package.tests.ps1
Due: none
