Repository Azure/AgentBaker: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml, .pipelines/update-go-binary.yaml

.pipelines/.vsts-vhd-builder-gpu.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_$(Build.SourceBranchName)_$(BuildID)
  pool:
    name: $(POOL_NAME)
  stages:
  - stage: build
    jobs:
    - job: build2404gen2containerd
      timeoutInMinutes: 360
      steps:
      - bash: 'echo ''##vso[task.setvariable variable=OS_SKU]Ubuntu''
  
  ...

.pipelines/.vsts-vhd-builder-pr-windows.yaml:
  name: PR_$(Date:yyyyMMdd)$(Rev:.r)_$(Build.SourceBranchName)_$(BuildID)
  pool:
    name: $(POOL_NAME)
  stages:
  - template: ./templates/.build-and-test-windows-vhds-template.yaml
    parameters:
      vhddebug: false
      skipExtensionCheck: true
      dryrun: false
      overrideBranch: master
  ...

.pipelines/.vsts-vhd-builder.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_$(Build.SourceBranchName)_$(BuildID)
  pool:
    name: $(POOL_NAME)
  stages:
  - stage: build
    jobs:
    - job: build2004fipsgen2containerd
      timeoutInMinutes: 180
      steps:
      - bash: 'echo ''##vso[task.setvariable variable=OS_SKU]Ubuntu''
  
  ...

.pipelines/.vsts-vhd-refresh-testdata.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_$(Build.SourceBranchName)_$(BuildID)
  pool:
    name: $(POOL_NAME)
  stages:
  - stage: Generate_and_Publish_Testdata
    condition: succeeded()
    jobs:
    - job: Generate_Publish_Testdata
      timeoutInMinutes: 10
      steps:
      - bash: 'make generate
  
          '
  ...

.pipelines/e2e-windows.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: ./templates/e2e-template.yaml
    parameters:
      name: Windows Tests
      IgnoreScenariosWithMissingVhd: false

.pipelines/e2e.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: ./templates/e2e-template.yaml
    parameters:
      name: Linux Tests
      IgnoreScenariosWithMissingVhd: false

.pipelines/update-go-binary.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  jobs: null
  check-file:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout current branch
      uses: actions/checkout@v2
    - name: build go binary
      run: make update-contract
    - name: Save file from current branch
      run: cp pkg/parser/bin/parser parser
  ...

Modify nvidia-device-plugin service to run after kubelet
  parts/linux/cloud-init/artifacts/ubuntu/containerd-nvidia-config.service
  parts/linux/cloud-init/artifacts/ubuntu/gb200-containerd-config.sh
  vhdbuilder/packer/install-dependencies.sh
  vhdbuilder/packer/packer_source.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

Remove OFED driver installation to troubleshoot VHD build failure around the NVIDIA driver
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

Add ExecStartPre to make sure the device-plugins directory exists
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

Replace MLNX_OFED with DOCA-OFED
  parts/linux/cloud-init/artifacts/ubuntu/doca.list
  parts/linux/cloud-init/artifacts/ubuntu/doca.pub
  parts/linux/cloud-init/artifacts/ubuntu/mellanox_mlnx_ofed.list
  vhdbuilder/packer/install-dependencies.sh
  vhdbuilder/packer/packer_source.sh
  vhdbuilder/packer/vhd-image-builder-arm64-gen2.json
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

Fix formatting for package installation
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

Enable openidb service
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

Break up apt commands to install kernel-related packages separately
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

Keith ms/add nvidia module parameters (#7071)
  parts/linux/cloud-init/artifacts/ubuntu/containerd-nvidia.toml
  parts/linux/cloud-init/artifacts/ubuntu/modprobe-nvidia-parameters.conf
  vhdbuilder/packer/install-dependencies.sh
  vhdbuilder/packer/packer_source.sh
  vhdbuilder/packer/vhd-image-builder-arm64-gen2.json
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

Remove reference to ARM64 check in GB200 image, only set 60GB volume size when the GB200 feature flag is present
  vhdbuilder/packer/install-dependencies.sh
  vhdbuilder/packer/packer_source.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

tidy up messy merge -- remove bad mellanox deb repo reference
  vhdbuilder/packer/packer_source.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

Add the ability to specify a custom local repository to download (#7186)
  .pipelines/templates/.builder-release-template.yaml
  parts/linux/cloud-init/artifacts/ubuntu/containerd-nvidia.toml
  parts/linux/cloud-init/artifacts/ubuntu/doca.list
  vhdbuilder/packer/install-dependencies.sh
  vhdbuilder/packer/packer_source.sh
  vhdbuilder/packer/vhd-image-builder-arm64-gb200.json
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

Split out GB200 build into new packer file
  e2e/vmss.go
  packer.mk
  vhdbuilder/packer/vhd-image-builder-arm64-gb200.json
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix shell test failure. Glob matching is tidier in bash
  parts/linux/cloud-init/artifacts/cse_config.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

bug: add DCGM CUDA13-compatible packages to GB200 image. Also add multinode DCGM package. (#7277)
  parts/linux/cloud-init/artifacts/ubuntu/cse_install_ubuntu.sh
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

Remove specific package version specification for the driver, bump to CUDA toolkit 13
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

add recent additions to vhd/packer/vhd-image-builder-arm64-gen2.json
  vhdbuilder/packer/vhd-image-builder-arm64-gb200.json
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

Address some nits: re-enable CIS reports, follow doca latest, add newline to end of containerd-nvidia.toml
  .pipelines/templates/.builder-release-template.yaml
  parts/linux/cloud-init/artifacts/ubuntu/containerd-nvidia.toml
  parts/linux/cloud-init/artifacts/ubuntu/doca.list
  vhdbuilder/packer/packer_source.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

chore: revert bad aks-node-controller changes (#7336)
  aks-node-controller/parser/helper.go
  parts/linux/cloud-init/artifacts/secure-tls-bootstrap.service
  spec/parts/linux/cloud-init/artifacts/cse_install_spec.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

Revert "chore: revert bad aks-node-controller changes (#7336)" (#7337)
  aks-node-controller/parser/helper.go
  parts/linux/cloud-init/artifacts/secure-tls-bootstrap.service
  spec/parts/linux/cloud-init/artifacts/cse_install_spec.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

chore: final fix for gb200 release branch (#7338)
  aks-node-controller/parser/helper.go
  parts/linux/cloud-init/artifacts/secure-tls-bootstrap.service
  spec/parts/linux/cloud-init/artifacts/cse_install_spec.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

Revert "chore: final fix for gb200 release branch (#7338)"
  aks-node-controller/parser/helper.go
  parts/linux/cloud-init/artifacts/secure-tls-bootstrap.service
  spec/parts/linux/cloud-init/artifacts/cse_install_spec.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

Remove leftover Ubuntu 1604 logic carried over into gb200 packer template
  vhdbuilder/packer/vhd-image-builder-arm64-gb200.json
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

feat: exact BOM versions (#7393)
  vhdbuilder/packer/gb200-mai-bom.json
  vhdbuilder/packer/install-dependencies.sh
  vhdbuilder/packer/packer_source.sh
  vhdbuilder/packer/post-install-dependencies.sh
  vhdbuilder/packer/vhd-image-builder-arm64-gb200.json
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

fix: allow downgrades. I don't know why we're installing ib packages earlier in the process but we are, and they are too new.
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

Add more explicit deps to the GB200 BOM.
  vhdbuilder/packer/gb200-mai-bom.json
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

fix: add libnvidia-container1 to bom
  vhdbuilder/packer/gb200-mai-bom.json
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

Merge changes from `main` into `release-gb200` (#7491)
  .pipelines/.vsts-vhd-builder-release.yaml
  e2e/vmss.go
  vhdbuilder/packer/vhd-image-builder-arm64-gb200.json
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

Merge main changes into release-gb200 branch rolling up through Jan 27 (#7746)
  .github/copilot-instructions.md
  .pipelines/templates/.builder-release-template-windows.yaml
  e2e/scenario_win_test.go
  parts/linux/cloud-init/artifacts/ubuntu/cse_helpers_ubuntu.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

Abenn135/gb300 bom (#7748)
  vhdbuilder/packer/gb200-mai-bom.json
  vhdbuilder/packer/pre-install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

fix: copy over image builder files and configuration from main arm64 file, vhd-image-builder-arm64-gen2.json
  vhdbuilder/packer/vhd-image-builder-arm64-gb200.json
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

Downgrade GBx00 kernel to 6.14.0-1003. (#7769)
  vhdbuilder/packer/gb200-mai-bom.json
  vhdbuilder/packer/pre-install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

fix: make node-problem-detector.d directory before trying to touch the status file skip_vhd_npd in it (#7849)
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

feat: disable NPD for MAI VHD. (#7843)
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

Bond local NVMe drives together via software RAID. Run kubelet root there. (#7929)
  parts/linux/cloud-init/artifacts/ubuntu/format-mount-kubelet.conf
  parts/linux/cloud-init/artifacts/ubuntu/format-mount-nvme-root.service
  parts/linux/cloud-init/artifacts/ubuntu/format-mount-nvme-root.sh
  vhdbuilder/packer/packer_source.sh
  vhdbuilder/packer/vhd-image-builder-arm64-gb200.json
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

Reassemble /dev/md0 correctly (#8130)
  parts/linux/cloud-init/artifacts/ubuntu/format-mount-nvme-root.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

Restore incorrectly deleted file during cherry-pick
  .github/copilot-instructions.md
Due: none

Remove poorly merged stage and Windows configuration
  .pipelines/.vsts-vhd-builder-release.yaml
  .pipelines/templates/.builder-release-template-windows.yaml
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml

Remove malformed pipeline definition
  .pipelines/.vsts-vhd-builder-release.yaml
Due: none

Fix wrongly merged e2e file
  e2e/scenario_win_test.go
  e2e/vmss.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

Remove extra apt-clean
  parts/linux/cloud-init/artifacts/ubuntu/cse_helpers_ubuntu.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

Path conditions:
  .pipelines/.vsts-vhd-builder-gpu.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, .pipelines/templates/.builder-release-template.yaml, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/e2e-template.yaml, parts/linux, packer.mk, aks-node-controller, parts/common/components.json, go.mod, go.sum, e2e/scenario_gpu_managed_experience_test.go, but not: schemas/windows_settings.cue, vhdbuilder/release-notes, vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/windows, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*, .github, e2e/scenario_win_test.go, **/*.md
  .pipelines/.vsts-vhd-builder-pr-windows.yaml: any of: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/scripts, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/.build-and-test-windows-vhds-template.yaml, .pipelines/templates/.build-and-test-windows-vhd-template.yaml, .pipelines/templates/.builder-release-template-windows.yaml, .pipelines/templates/e2e-template.yaml, packer.mk, vhdbuilder/packer/packer-plugin.pkr.hcl, vhdbuilder/packer/*.ps1, vhdbuilder/packer/test/*.ps1, vhdbuilder/packer/test/run-test.sh, vhdbuilder/packer/windows-sub-cleanup.sh, vhdbuilder/packer/cleanup.sh, vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh, vhdbuilder/packer/generate-vhd-publishing-info.sh, vhdbuilder/packer/produce-packer-settings.sh, vhdbuilder/packer/windows, parts/common/components.json, parts/windows, go.mod, go.sum, e2e, staging/cse/windows, but not: vhdbuilder/release-notes, **/*.md, .github, e2e/scenario_test.go
  .pipelines/.vsts-vhd-builder.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, .pipelines/templates/.builder-release-template.yaml, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/e2e-template.yaml, parts/linux, packer.mk, aks-node-controller, parts/common/components.json, go.mod, go.sum, but not: schemas/windows_settings.cue, vhdbuilder/release-notes, vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/windows, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*, .github, e2e/scenario_win_test.go
  .pipelines/.vsts-vhd-refresh-testdata.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-refresh-testdata.yaml, parts/linux, packer.mk, parts/common/components.json, but not: vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*
  .pipelines/e2e-windows.yaml: any of: .pipelines/e2e-windows.yaml, .pipelines/templates/e2e-template.yaml, .pipelines/scripts/e2e_run.sh, .pipelines/scripts/e2e_delete_vmss.sh, e2e, parts/windows, pkg/agent, parts/common/components.json, staging/cse/windows, go.mod, go.sum, but not: pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/*Ubuntu*, pkg/agent/testdata/*Flatcar*, pkg/agent/testdata/*Mariner*, pkg/agent/testdata/*AzureLinux*, parts/common/components.json, staging/cse/windows/README, **/*.md, .github, e2e/scenario_test.go
  .pipelines/e2e.yaml: any of: .pipelines/e2e.yaml, .pipelines/templates/e2e-template.yaml, .pipelines/scripts/e2e_run.sh, e2e, parts/linux, parts/common/components.json, pkg/agent, go.mod, go.sum, but not: pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/AKSWindows*, parts/common/components.json, staging/cse/windows/README, **/*.md, e2e/scenario_win_test.go
  .pipelines/update-go-binary.yaml: any of: pkg/proto, pkg/parser
