Repository Azure/AgentBaker: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml, .pipelines/update-go-binary.yaml

.pipelines/.vsts-vhd-builder-pr-windows.yaml:
  name: PR_$(Date:yyyyMMdd)$(Rev:.r)_$(Build.SourceBranchName)_$(BuildID)
  pool:
    name: $(AZURE_POOL_NAME)
  stages:
  - template: ./templates/.build-and-test-windows-vhds-template.yaml
    parameters:
      vhddebug: false
      skipExtensionCheck: true
      dryrun: false
  ...

.pipelines/.vsts-vhd-builder.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_$(Build.SourceBranchName)_$(BuildID)
  pool:
    name: $(POOL_NAME)
  stages:
  - stage: build
    jobs:
    - job: build2204gen2containerd
      timeoutInMinutes: 180
      steps:
      - bash: 'echo ''##vso[task.setvariable variable=OS_SKU]Ubuntu''
  
  ...

.pipelines/.vsts-vhd-refresh-testdata.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_$(Build.SourceBranchName)_$(BuildID)
  pool:
    name: $(POOL_NAME)
  stages:
  - stage: Generate_and_Publish_Testdata
    condition: succeeded()
    jobs:
    - job: Generate_Publish_Testdata
      timeoutInMinutes: 10
      steps:
      - bash: 'make generate
  
          '
  ...

.pipelines/e2e-windows.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: ./templates/e2e-template.yaml
    parameters:
      name: Windows Tests

.pipelines/e2e.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: ./templates/e2e-template.yaml
    parameters:
      name: Linux Tests

.pipelines/update-go-binary.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  jobs: null
  check-file:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout current branch
      uses: actions/checkout@v2
    - name: build go binary
      run: make update-contract
    - name: Save file from current branch
      run: cp pkg/parser/bin/parser parser
  ...

chore: typos
  parts/linux/cloud-init/artifacts/cse_config.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

test: test PR for signing key
  vhdbuilder/packer/test/run-test.sh
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

fix: remove --debug flag
  vhdbuilder/packer/test/run-test.sh
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

fix: remove debug flag from test vm create command (#6391)
  vhdbuilder/packer/test/run-test.sh
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

chore: typo
  parts/linux/cloud-init/artifacts/cse_config.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

chore: fix
  parts/linux/cloud-init/artifacts/cse_config.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

Use the 'dryrun' parameter instead of the variable (which isn't in scope) for conditions.
  .pipelines/templates/.builder-release-template-windows.yaml
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml

Retry cache test if it fails.
  .pipelines/templates/.builder-release-template-windows.yaml
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml

feat: support IMDS restriction on Windows node
  parts/windows/kuberneteswindowssetup.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud+ootcredentialprovider/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletServingCertificateRotation/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/agent/testdata/AKSWindows2019+ootcredentialprovider/CustomData
  staging/cse/windows/azurecnifunc.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

bug: Dry run variable is empty in prod releases (#6394)
  .pipelines/templates/.builder-release-template-windows.yaml
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml

initial containerd 2 template
  staging/cse/windows/containerd2template.toml
Due: .pipelines/e2e-windows.yaml

fix: Stop passing managed identity ID with --username
  .pipelines/scripts/e2e_run.sh
  packer.mk
  vhdbuilder/packer/trivy-scan.sh
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

chore: RemainAfterExit=yes
  parts/linux/cloud-init/artifacts/cse_config.sh
  parts/linux/cloud-init/artifacts/secure-tls-bootstrap.service
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

chore: desc
  parts/linux/cloud-init/artifacts/secure-tls-bootstrap.service
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

chore: cleanup more release notes
  vhdbuilder/release-notes/security-patch/20250519T000000Z/release_notes_delta_20250519T000000Z.txt
Due: none

chore: cleanup installation
  parts/linux/cloud-init/artifacts/cse_install.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

chore: shellspec
  spec/parts/linux/cloud-init/artifacts/cse_install_spec.sh
Due: none

feat: add test coverage for contained func
  staging/cse/windows/containerdfunc.ps1
  staging/cse/windows/containerdfunc.tests.ps1
Due: .pipelines/e2e-windows.yaml

enable windows e2e tests against daily master build (#6368)
  .pipelines/.vsts-vhd-builder-pr-windows.yaml
  .pipelines/e2e-windows.yaml
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

update readme files to follow markdown
  parts/windows/windowscsehelper.ps1
  parts/windows/windowscsehelper.tests.ps1
  staging/cse/windows/README.md
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

Update to the official containerd 2.0 package
  .github/copilot-instructions.md
  e2e/README.md
  e2e/node_config.go
  e2e/scenario_test.go
  e2e/scenario_win_test.go
  e2e/validators.go
  parts/common/components.json
  parts/windows/windowscsehelper.ps1
  parts/windows/windowscsehelper.tests.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud+ootcredentialprovider/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletServingCertificateRotation/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/agent/testdata/AKSWindows2019+ootcredentialprovider/CustomData
  vhdbuilder/packer/test/windows-files-check.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
  vhdbuilder/packer/windows/components-test.json
  vhdbuilder/packer/windows/components_json_helpers.tests.ps1
  vhdbuilder/packer/windows/configure-windows-vhd.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix: revert merge errors
  .pipelines/e2e-windows.yaml
Due: .pipelines/e2e-windows.yaml

test: regenerate testdata
  .github/copilot-instructions.md
  pkg/agent/testdata/AKSWindows2019+CustomCloud+ootcredentialprovider/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletServingCertificateRotation/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/agent/testdata/AKSWindows2019+ootcredentialprovider/CustomData
Due: none

test: update test cases for install-containerd baed on windows version and k8s versions
  parts/windows/windowscsehelper.tests.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

fix: remove merge errors
  parts/windows/windowscsehelper.ps1
  parts/windows/windowscsehelper.tests.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

test: regenerate testdata
  pkg/agent/testdata/AKSWindows2019+CustomCloud+ootcredentialprovider/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletServingCertificateRotation/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/agent/testdata/AKSWindows2019+ootcredentialprovider/CustomData
Due: none

fix: restore pipeline
  .pipelines/.vsts-vhd-builder-pr-windows.yaml
  .pipelines/e2e-windows.yaml
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

fix: Stop passing managed identity ID with --username (#6397)
  .pipelines/scripts/e2e_run.sh
  packer.mk
  vhdbuilder/packer/trivy-scan.sh
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

refactor: Cleanup nested isMarinerOrAzureLinux check
  vhdbuilder/packer/packer_source.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

fix: update ci linux agent to 3.1.27
  parts/common/components.json
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

fix: update ci agent linux version from 3.1.25 to 3.1.27
  parts/common/components.json
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

fix: update ci agent linux version from 3.1.25 to 3.1.27 (#6399)
  parts/common/components.json
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

refactor: Cleanup nested isMarinerOrAzureLinux check (#6389)
  vhdbuilder/packer/packer_source.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

doc: update copilot instruction for windows
  .github/copilot-instructions.md
Due: none

build contained2 for ws2025
  parts/common/components.json
  parts/windows/windowscsehelper.ps1
  parts/windows/windowscsehelper.tests.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml

Path conditions:
  .pipelines/.vsts-vhd-builder-pr-windows.yaml: any of: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/.build-and-test-windows-vhds-template.yaml, .pipelines/templates/.build-and-test-windows-vhd-template.yaml, .pipelines/templates/.builder-release-template-windows.yaml, .pipelines/templates/e2e-template.yaml, packer.mk, vhdbuilder/packer/packer-plugin.pkr.hcl, vhdbuilder/packer/*.ps1, vhdbuilder/packer/test/*.ps1, vhdbuilder/packer/test/run-test.sh, vhdbuilder/packer/backfill-cleanup.sh, vhdbuilder/packer/cleanup.sh, vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh, vhdbuilder/packer/generate-vhd-publishing-info.sh, vhdbuilder/packer/produce-packer-settings.sh, vhdbuilder/packer/windows, parts/common/components.json, parts/windows, go.mod, go.sum, but not: vhdbuilder/release-notes, **/*.md, .github, e2e/scenario_test.go
  .pipelines/.vsts-vhd-builder.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, .pipelines/templates/.builder-release-template.yaml, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/e2e-template.yaml, parts/linux, packer.mk, aks-node-controller, parts/common/components.json, go.mod, go.sum, but not: schemas/windows_settings.cue, vhdbuilder/release-notes, vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/windows, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*, **/*.md, .github, e2e/scenario_win_test.go
  .pipelines/.vsts-vhd-refresh-testdata.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-refresh-testdata.yaml, parts/linux, packer.mk, parts/common/components.json, but not: vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*
  .pipelines/e2e-windows.yaml: any of: .pipelines/e2e-windows.yaml, .pipelines/templates/e2e-template.yaml, e2e, parts/windows, pkg/agent, parts/common/components.json, staging/cse/windows, go.mod, go.sum, but not: pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/AKSWindows*, parts/common/components.json, staging/cse/windows/README, **/*.md, .github, e2e/scenario_test.go
  .pipelines/e2e.yaml: any of: .pipelines/e2e.yaml, .pipelines/templates/e2e-template.yaml, e2e, parts/linux, parts/common/components.json, pkg/agent, go.mod, go.sum, but not: pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/AKSWindows*, parts/common/components.json, staging/cse/windows/README, **/*.md, e2e/scenario_win_test.go
  .pipelines/update-go-binary.yaml: any of: pkg/proto, pkg/parser
