Repository Azure/AgentBaker: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml, .pipelines/update-go-binary.yaml

.pipelines/.vsts-vhd-builder-pr-windows.yaml:
  name: PR_$(Date:yyyyMMdd)$(Rev:.r)_$(Build.SourceBranchName)_$(BuildID)
  pool:
    name: $(POOL_NAME)
  stages:
  - template: ./templates/.build-and-test-windows-vhds-template.yaml
    parameters:
      vhddebug: false
      skipExtensionCheck: true
      dryrun: false
      overrideBranch: master
  ...

.pipelines/.vsts-vhd-builder.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_$(Build.SourceBranchName)_$(BuildID)
  pool:
    name: $(POOL_NAME)
  stages:
  - stage: build
    jobs:
    - job: build2204gen2containerd
      timeoutInMinutes: 180
      steps:
      - bash: 'echo ''##vso[task.setvariable variable=OS_SKU]Ubuntu''
  
  ...

.pipelines/.vsts-vhd-refresh-testdata.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_$(Build.SourceBranchName)_$(BuildID)
  pool:
    name: $(POOL_NAME)
  stages:
  - stage: Generate_and_Publish_Testdata
    condition: succeeded()
    jobs:
    - job: Generate_Publish_Testdata
      timeoutInMinutes: 10
      steps:
      - bash: 'make generate
  
          '
  ...

.pipelines/e2e-windows.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: ./templates/e2e-template.yaml
    parameters:
      name: Windows Tests
      IgnoreScenariosWithMissingVhd: false

.pipelines/e2e.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: ./templates/e2e-template.yaml
    parameters:
      name: Linux Tests
      IgnoreScenariosWithMissingVhd: false

.pipelines/update-go-binary.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  jobs: null
  check-file:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout current branch
      uses: actions/checkout@v2
    - name: build go binary
      run: make update-contract
    - name: Save file from current branch
      run: cp pkg/parser/bin/parser parser
  ...

chore: bump image version to 202510.03.1
  pkg/agent/datamodel/linux_sig_version.json
Due: none

chore: bump image version to 202510.03.1 (#7243)
  pkg/agent/datamodel/linux_sig_version.json
Due: none

add nslookup to package install list
  parts/linux/cloud-init/artifacts/mariner/cse_install_mariner.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

change write-outputs (#7232)
  parts/windows/windowscsehelper.ps1
  parts/windows/windowscsehelper.tests.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud+ootcredentialprovider/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletServingCertificateRotation/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/agent/testdata/AKSWindows2019+ootcredentialprovider/CustomData
  pkg/agent/testdata/AKSWindows23H2Gen2+NextGenNetworking/CustomData
  pkg/agent/testdata/AKSWindows23H2Gen2+NextGenNetworkingDisabled/CustomData
  pkg/agent/testdata/AKSWindows23H2Gen2+NextGenNetworkingNoConfig/CustomData
  staging/cse/windows/azurecnifunc.ps1
  staging/cse/windows/azurecnifunc.tests.ps1
  staging/cse/windows/provisioningscripts/hnsremediator.ps1
  staging/cse/windows/provisioningscripts/loggenerator.ps1
  staging/cse/windows/provisioningscripts/windowslogscleanup.ps1
  staging/cse/windows/provisioningscripts/windowsnodereset.ps1
  vhdbuilder/packer/test/windows-files-check.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
  vhdbuilder/packer/windows/configure-windows-vhd.ps1
  vhdbuilder/packer/windows/sysprep.ps1
  vhdbuilder/packer/windows/windows-vhd-configuration.ps1
  vhdbuilder/packer/windows/write-release-notes-windows.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

retry
  staging/cse/windows/README.md
  staging/cse/windows/azurecnifunc.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

retry to get network adapter
  staging/cse/windows/azurecnifunc.ps1
  staging/cse/windows/azurecnifunc.tests.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

retry
  staging/cse/windows/azurecnifunc.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

don't change prev version in this case
  parts/common/components.json
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

fix tests
  staging/cse/windows/azurecnifunc.tests.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

no need for error variable when error action is stop
  staging/cse/windows/azurecnifunc.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

revert name change
  staging/cse/windows/README
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml

feat: flatcar: install blobfuse2 binary
  e2e/scenario_test.go
  parts/linux/cloud-init/artifacts/flatcar/cse_install_flatcar.sh
  pkg/agent/testdata/Flatcar/CustomData
  pkg/agent/testdata/Flatcar/CustomData.inner
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

tmp: just run Flatcar for testing
  .pipelines/.vsts-vhd-builder-release.yaml
Due: none

use v6 VM SKU
  .pipelines/.vsts-vhd-builder-release.yaml
Due: none

Add Doca/Mofed driver to GB200 image
  parts/linux/cloud-init/artifacts/ubuntu/mellanox_mlnx_ofed.list
  parts/linux/cloud-init/artifacts/ubuntu/mellanox_mlnx_ofed.pub
  vhdbuilder/packer/install-dependencies.sh
  vhdbuilder/packer/packer_source.sh
  vhdbuilder/packer/vhd-image-builder-arm64-gen2.json
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

increase os disk
  e2e/vmss.go
  vhdbuilder/packer/post-install-dependencies.sh
  vhdbuilder/packer/vhd-image-builder-arm64-gen2.json
  vhdbuilder/packer/vhd-scanning.sh
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

Add option to install DCGM, dcgm-exporter and the NVIDIA drivers for the GB200 platform
  parts/linux/cloud-init/artifacts/ubuntu/nvidia-2404.list
  parts/linux/cloud-init/artifacts/ubuntu/nvidia.pub
  vhdbuilder/packer/install-dependencies.sh
  vhdbuilder/packer/packer_source.sh
  vhdbuilder/packer/pre-install-dependencies.sh
  vhdbuilder/packer/vhd-image-builder-arm64-gen2.json
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

Fix nvidia list file
  parts/linux/cloud-init/artifacts/ubuntu/nvidia-2404.list
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

Fix nvidia-driver package name and version
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

Fix incomplete systemd command
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

Pin to specific versions of NVIDIA packages correctly
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

Remove specific versions due to package installation failures
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

Increase systemd log level to debug to troubleshoot boot errors
  parts/linux/cloud-init/artifacts/10_azure_nvidia
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

Fix NVIDIA package names
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

Add label limit check to prevent kubelet from crashing
  parts/linux/cloud-init/artifacts/cse_helpers.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

Revert systemd debugging kernel parameter
  parts/linux/cloud-init/artifacts/10_azure_nvidia
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

Add additional NVIDIA dependencies to the GB200 image
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

Fix CUDA package name
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

Move label value truncation logic to types.go
  parts/linux/cloud-init/artifacts/cse_helpers.sh
  pkg/agent/datamodel/types.go
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

Add nvidia-container-toolkit configuration to containerd
  parts/linux/cloud-init/artifacts/ubuntu/containerd-nvidia.toml
  vhdbuilder/packer/packer_source.sh
  vhdbuilder/packer/vhd-image-builder-arm64-gen2.json
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

Revert validation logic in Go code, add validation before KUBELET_NODE_LABELS are written to a /etc/default/kubelet
  parts/linux/cloud-init/artifacts/cse_config.sh
  parts/linux/cloud-init/artifacts/cse_helpers.sh
  pkg/agent/datamodel/types.go
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

Revert validation, shorten artifact name
  .pipelines/.vsts-vhd-builder-release.yaml
  parts/linux/cloud-init/artifacts/cse_config.sh
  vhdbuilder/packer/pre-install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

Revert changes, add truncation logic to cse_config.sh before node labels are written to the /etc/default/kubelet file
  .pipelines/.vsts-vhd-builder-release.yaml
  parts/linux/cloud-init/artifacts/cse_config.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

Add ExecStartPre script to trim KUBELET_NODE_LABELS, revert previous changes
  parts/linux/cloud-init/artifacts/cse_config.sh
  parts/linux/cloud-init/artifacts/kubelet.service
  parts/linux/cloud-init/artifacts/update-kubelet-node-labels.sh
  vhdbuilder/packer/packer_source.sh
  vhdbuilder/packer/vhd-image-builder-arm64-gen2.json
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

Remove changes related to truncating node label, specifying version number instead
  parts/linux/cloud-init/artifacts/kubelet.service
  parts/linux/cloud-init/artifacts/update-kubelet-node-labels.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

Revert changes made for truncating node label
  vhdbuilder/packer/packer_source.sh
  vhdbuilder/packer/vhd-image-builder-arm64-gen2.json
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

Add k8s-device-plugin installation and enable with systemd
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

Add check for GB200 VM SKU since it is not currently recognized as such by RP
  parts/linux/cloud-init/artifacts/cse_config.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

Modify script and service file to fix dependency problem
  parts/linux/cloud-init/artifacts/ubuntu/containerd-nvidia-config.service
  parts/linux/cloud-init/artifacts/ubuntu/gb200-containerd-config.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

Path conditions:
  .pipelines/.vsts-vhd-builder-pr-windows.yaml: any of: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/scripts, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/.build-and-test-windows-vhds-template.yaml, .pipelines/templates/.build-and-test-windows-vhd-template.yaml, .pipelines/templates/.builder-release-template-windows.yaml, .pipelines/templates/e2e-template.yaml, packer.mk, vhdbuilder/packer/packer-plugin.pkr.hcl, vhdbuilder/packer/*.ps1, vhdbuilder/packer/test/*.ps1, vhdbuilder/packer/test/run-test.sh, vhdbuilder/packer/windows-sub-cleanup.sh, vhdbuilder/packer/cleanup.sh, vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh, vhdbuilder/packer/generate-vhd-publishing-info.sh, vhdbuilder/packer/produce-packer-settings.sh, vhdbuilder/packer/windows, parts/common/components.json, parts/windows, go.mod, go.sum, e2e, staging/cse/windows, but not: vhdbuilder/release-notes, **/*.md, .github, e2e/scenario_test.go
  .pipelines/.vsts-vhd-builder.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, .pipelines/templates/.builder-release-template.yaml, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/e2e-template.yaml, parts/linux, packer.mk, aks-node-controller, parts/common/components.json, go.mod, go.sum, but not: schemas/windows_settings.cue, vhdbuilder/release-notes, vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/windows, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*, **/*.md, .github, e2e/scenario_win_test.go
  .pipelines/.vsts-vhd-refresh-testdata.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-refresh-testdata.yaml, parts/linux, packer.mk, parts/common/components.json, but not: vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*
  .pipelines/e2e-windows.yaml: any of: .pipelines/e2e-windows.yaml, .pipelines/templates/e2e-template.yaml, .pipelines/scripts/e2e_run.sh, .pipelines/scripts/e2e_delete_vmss.sh, e2e, parts/windows, pkg/agent, parts/common/components.json, staging/cse/windows, go.mod, go.sum, but not: pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/AKSWindows*, parts/common/components.json, staging/cse/windows/README, **/*.md, .github, e2e/scenario_test.go
  .pipelines/e2e.yaml: any of: .pipelines/e2e.yaml, .pipelines/templates/e2e-template.yaml, .pipelines/scripts/e2e_run.sh, e2e, parts/linux, parts/common/components.json, pkg/agent, go.mod, go.sum, but not: pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/AKSWindows*, parts/common/components.json, staging/cse/windows/README, **/*.md, e2e/scenario_win_test.go
  .pipelines/update-go-binary.yaml: any of: pkg/proto, pkg/parser
