Repository Azure/AgentBaker: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml, .pipelines/update-go-binary.yaml

Path conditions:
  .pipelines/.vsts-vhd-builder-pr-windows.yaml: any of: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/.build-and-test-windows-vhds-template.yaml, .pipelines/templates/.build-and-test-windows-vhd-template.yaml, .pipelines/templates/.builder-release-template-windows.yaml, .pipelines/templates/e2e-template.yaml, packer.mk, vhdbuilder/packer/packer-plugin.pkr.hcl, vhdbuilder/packer/*.ps1, vhdbuilder/packer/test/*.ps1, vhdbuilder/packer/test/run-test.sh, vhdbuilder/packer/backfill-cleanup.sh, vhdbuilder/packer/cleanup.sh, vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh, vhdbuilder/packer/generate-vhd-publishing-info.sh, vhdbuilder/packer/init-variables.sh, vhdbuilder/packer/windows, parts/common/components.json, parts/windows, go.mod, go.sum, but not: vhdbuilder/release-notes, **/*.md, .github, e2e/scenario_test.go
  .pipelines/.vsts-vhd-builder.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, .pipelines/templates/.builder-release-template.yaml, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/e2e-template.yaml, parts/linux, packer.mk, aks-node-controller, parts/common/components.json, go.mod, go.sum, but not: schemas/windows_settings.cue, vhdbuilder/release-notes, vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/windows, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*, **/*.md, .github, e2e/scenario_win_test.go
  .pipelines/.vsts-vhd-refresh-testdata.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-refresh-testdata.yaml, parts/linux, packer.mk, parts/common/components.json, but not: vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*
  .pipelines/e2e-windows.yaml: any of: .pipelines/e2e-windows.yaml, .pipelines/templates/e2e-template.yaml, e2e, parts/windows, pkg/agent, parts/common/components.json, staging/cse/windows, go.mod, go.sum, but not: pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/AKSWindows*, parts/common/components.json, staging/cse/windows/README, **/*.md, .github, e2e/scenario_test.go
  .pipelines/e2e.yaml: any of: .pipelines/e2e.yaml, .pipelines/templates/e2e-template.yaml, e2e, parts/linux, parts/common/components.json, pkg/agent, go.mod, go.sum, but not: pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/AKSWindows*, parts/common/components.json, staging/cse/windows/README, **/*.md, e2e/scenario_win_test.go
  .pipelines/update-go-binary.yaml: any of: pkg/proto, pkg/parser

reduce fetch depth
  .pipelines/templates/e2e-template.yaml
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

add file tests for each VHD
  e2e/scenario_win_test.go
  vhdbuilder/packer/windows/configure-windows-vhd.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

set build tags
  e2e/config/vhd.go
  e2e/scenario_helpers_test.go
  e2e/types.go
  e2e/vmss.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fixes and logs
  e2e/config/azure.go
  e2e/config/vhd.go
  e2e/vmss.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

make windows tests fail when VHD missing
  .pipelines/.vsts-vhd-builder-release.yaml
  .pipelines/.vsts-vhd-builder.yaml
  .pipelines/e2e-windows.yaml
  .pipelines/e2e.yaml
  .pipelines/templates/.build-and-test-windows-vhd-template.yaml
  .pipelines/templates/e2e-template.yaml
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

add guard to logs
  e2e/vmss.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

remove env vars
  .pipelines/templates/.build-and-test-windows-vhd-template.yaml
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml

adjust image name and version
  .pipelines/templates/.builder-release-template-windows.yaml
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml

add suggested params
  .pipelines/templates/.build-and-test-windows-vhd-template.yaml
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml

fix quote issue
  .pipelines/templates/.builder-release-template-windows.yaml
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml

rename file so name is meaningful
  .pipelines/.vsts-vhd-builder-pr-windows.yaml
  packer.mk
  vhdbuilder/packer/produce-packer-settings.sh
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

add logging
  e2e/config/vhd.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

error logging
  e2e/config/vhd.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

better logging
  e2e/config/vhd.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

remove logging
  e2e/config/azure.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

add echo
  .pipelines/templates/e2e-template.yaml
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix issues after rebase
  e2e/config/vhd.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

make tests actaully fail:
  e2e/validators.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

remove windows specific SIG gallery
  e2e/config/config.go
  e2e/config/vhd.go
  e2e/vmss.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

quote
  .pipelines/templates/.builder-release-template-windows.yaml
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml

add preix
  .pipelines/templates/.builder-release-template-windows.yaml
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml

remove large containers so testing is faster - REMEMBER TO REVERT THIS COMMIT
  e2e/config/azure.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

no windows server core TODO: REMEMBER TO BRING IT BACK
  parts/common/components.json
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

only build one windows version during testing for speed
  .pipelines/.vsts-vhd-builder-pr-windows.yaml
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml

set another subscription id variable
  .pipelines/.vsts-vhd-builder-pr-windows.yaml
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml

try using variable group
  .pipelines/.vsts-vhd-builder-pr-windows.yaml
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml

change flags
  .pipelines/scripts/e2e_delete_vmss.sh
Due: none

better logging
  e2e/scenario_helpers_test.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

different pool
  .pipelines/.vsts-vhd-builder-pr-windows.yaml
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml

try to stop linux pipeline running
  .pipelines/.vsts-vhd-builder.yaml
Due: .pipelines/.vsts-vhd-builder.yaml

override e2e subscription id
  .pipelines/.vsts-vhd-builder-pr-windows.yaml
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml

change to SIG
  .pipelines/.vsts-vhd-builder-pr-windows.yaml
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml

try a different pool
  .pipelines/.vsts-vhd-builder-pr-windows.yaml
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml

go is prob pre-installed
  .pipelines/scripts/e2e_run.sh
Due: none

extract scripts so they are checked by shellcheck
  .pipelines/scripts/e2e_delete_vmss.sh
  .pipelines/scripts/e2e_run.sh
  .pipelines/scripts/setup_go.sh
  .pipelines/templates/e2e-template.yaml
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

set subscription id
  .pipelines/.vsts-vhd-builder-pr-windows.yaml
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml

enhance shellcheck
  .pipelines/scripts/e2e_run.sh
  .pipelines/scripts/verify_shell.sh
Due: none

different variable
  .pipelines/.vsts-vhd-builder-pr-windows.yaml
  vhdbuilder/packer/produce-packer-settings.sh
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

extract login
  .pipelines/templates/.builder-release-template-windows.yaml
  packer.mk
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

remove unset var
  .pipelines/templates/e2e-template.yaml
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml
