Repository Azure/AgentBaker: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

Path conditions:
  .pipelines/.vsts-vhd-builder-release-windows.yaml: any of: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/templates/.builder-release-template-windows.yaml, packer.mk, vhdbuilder/packer/packer-plugin.pkr.hcl, vhdbuilder/packer/*.ps1, vhdbuilder/packer/test/*.ps1, vhdbuilder/packer/test/run-test.sh, vhdbuilder/packer/backfill-cleanup.sh, vhdbuilder/packer/cleanup.sh, vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh, vhdbuilder/packer/generate-vhd-publishing-info.sh, vhdbuilder/packer/init-variables.sh, vhdbuilder/packer/windows-image.env, vhdbuilder/packer/windows-vhd-builder-sig.json
  .pipelines/.vsts-vhd-builder.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, parts/linux/cloud-init/artifacts/manifest.json, parts/linux/cloud-init/artifacts/cse_install.sh, parts/linux/cloud-init/artifacts/cse_helpers.sh, parts/linux/cloud-init/artifacts/ubuntu/cse_install_ubuntu.sh, parts/linux/cloud-init/artifacts/mariner/cse_install_mariner.sh, packer.mk, but not: vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*
  .pipelines/e2e-windows.yaml: any of: .pipelines/e2e-windows.yaml, .pipelines/templates/e2e-windows-template.yaml, e2e/windows, parts/windows, staging/cse/windows
  .pipelines/e2e.yaml: any of: .pipelines/e2e.yaml, e2e, parts/linux, pkg/agent, but not: e2e/windows, pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json

rename the exported functions
  go.mod
  go.sum
  pkg/proto/nbcontract/v1/helper.go
Due: none

Refactor function names to use proper casing in helper_test.go
  pkg/proto/nbcontract/v1/helper_test.go
Due: none

add tests for utils.go
  pkg/parser/utils_test.go
Due: none

cleanup csi images
  vhdbuilder/packer/components.json
Due: .pipelines/.vsts-vhd-builder.yaml

chore: cache 1.30 credential provider (#4350)
  vhdbuilder/packer/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

Bump cloud-node-manager
  vhdbuilder/packer/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

Bump cloud-node-manager (#4337)
  vhdbuilder/packer/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

Install prebuilt 3.0 kata host packages and add back boot menuentry changes
  parts/linux/cloud-init/artifacts/mariner/cse_install_mariner.sh
  vhdbuilder/scripts/linux/mariner/tool_installs_mariner.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

Fix lint. Add local-lint command in Makefile.
  Makefile
  pkg/proto/nbcontract/v1/const.go
Due: none

Add new API to get cached versions of components on the VHD (#4306)
  apiserver/getcachedvhdimages.go
  apiserver/getdistrosigimageconfig.go
  apiserver/getlatestsigimageconfig.go
  apiserver/getnodebootstrapdata.go
  apiserver/routers.go
  pkg/agent/bakerapi.go
  pkg/agent/bakerapi_test.go
  pkg/agent/datamodel/helper.go
  pkg/agent/datamodel/helper_test.go
  pkg/agent/datamodel/sig_config.go
  pkg/agent/datamodel/types.go
Due: .pipelines/e2e.yaml

moved utils and consts to contract package
  pkg/parser/cmd/main.go
  pkg/parser/consts.go
  pkg/parser/helper.go
  pkg/parser/helper_test.go
  pkg/parser/parser.go
  pkg/parser/parser_test.go
  pkg/proto/nbcontract/v1/config.pb.go
  pkg/proto/nbcontract/v1/config.proto
  pkg/proto/nbcontract/v1/const.go
  pkg/proto/nbcontract/v1/utils.go
  pkg/proto/nbcontract/v1/utils_test.go
Due: none

fix: remove vhd content tests for packages other than kube proxy and kube binaries
  vhdbuilder/packer/test/linux-vhd-content-test.sh
Due: .pipelines/.vsts-vhd-builder.yaml

remove gpu and base scenarios because they are no longer existed.
  e2e/README.md
Due: .pipelines/e2e.yaml

add ubuntu2204-gpu-ncv3 scenario in readme
  e2e/README.md
Due: .pipelines/e2e.yaml

docs: Write down how to config vscode debug mode to run e2e tests (#4346)
  e2e/README.md
  e2e/images/e2edebug.png
Due: .pipelines/e2e.yaml

fix linter errors
  pkg/parser/cmd/main.go
  pkg/parser/consts.go
  pkg/parser/helper.go
  pkg/parser/parser_test.go
Due: none

fix linter errors
  pkg/parser/helper.go
  pkg/parser/helper_test.go
  pkg/proto/nbcontract/v1/const.go
Due: none

chore: support 23H2 in automate release note
  vhdbuilder/release-notes/autonotes/main.go
Due: none

apply code review
  parts/linux/cloud-init/artifacts/cse_config.sh
  parts/linux/cloud-init/artifacts/cse_helpers.sh
  pkg/agent/baker_test.go
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

chore: fix lint
  pkg/agent/baker_test.go
Due: .pipelines/e2e.yaml

chore: make generate after merging master branch
  pkg/agent/testdata/AKSUbuntu2204+IMDSRestrictionOff/CustomData
  pkg/agent/testdata/AKSUbuntu2204+IMDSRestrictionOff/line127.sh
  pkg/agent/testdata/AKSUbuntu2204+IMDSRestrictionOff/line77.sh
  pkg/agent/testdata/AKSUbuntu2204+IMDSRestrictionOnWithFilterTable/CustomData
  pkg/agent/testdata/AKSUbuntu2204+IMDSRestrictionOnWithFilterTable/line127.sh
  pkg/agent/testdata/AKSUbuntu2204+IMDSRestrictionOnWithFilterTable/line77.sh
  pkg/agent/testdata/AKSUbuntu2204+IMDSRestrictionOnWithMangleTable/CustomData
  pkg/agent/testdata/AKSUbuntu2204+IMDSRestrictionOnWithMangleTable/line127.sh
  pkg/agent/testdata/AKSUbuntu2204+IMDSRestrictionOnWithMangleTable/line77.sh
Due: .pipelines/e2e.yaml

rebase and make
  pkg/agent/testdata/AKSUbuntu2204+IMDSRestrictionOff/CustomData
  pkg/agent/testdata/AKSUbuntu2204+IMDSRestrictionOff/line77.sh
  pkg/agent/testdata/AKSUbuntu2204+IMDSRestrictionOnWithFilterTable/CustomData
  pkg/agent/testdata/AKSUbuntu2204+IMDSRestrictionOnWithFilterTable/line77.sh
  pkg/agent/testdata/AKSUbuntu2204+IMDSRestrictionOnWithMangleTable/CustomData
  pkg/agent/testdata/AKSUbuntu2204+IMDSRestrictionOnWithMangleTable/line77.sh
Due: .pipelines/e2e.yaml

chore: bump addon images (#4353)
  vhdbuilder/packer/components.json
Due: .pipelines/.vsts-vhd-builder.yaml

test: add bcc tools test
  vhdbuilder/packer/test/linux-vhd-content-test.sh
Due: .pipelines/.vsts-vhd-builder.yaml

fix: remove testBccTools function argument
  vhdbuilder/packer/test/linux-vhd-content-test.sh
Due: .pipelines/.vsts-vhd-builder.yaml

fix: for loop lacking done statement
  vhdbuilder/packer/test/linux-vhd-content-test.sh
Due: .pipelines/.vsts-vhd-builder.yaml

fix: add installBcc test, change variable name, add comments
  vhdbuilder/packer/install-dependencies.sh
  vhdbuilder/packer/test/linux-vhd-content-test.sh
Due: .pipelines/.vsts-vhd-builder.yaml

fix: shellchecksyntax error
  vhdbuilder/packer/test/linux-vhd-content-test.sh
Due: .pipelines/.vsts-vhd-builder.yaml

chore: simplify testBccTools function
  vhdbuilder/packer/test/linux-vhd-content-test.sh
Due: .pipelines/.vsts-vhd-builder.yaml

perf: run installBcc in a subshell
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml

chore: remove whitespace
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml

fix: syntax error for installBcc test
  vhdbuilder/packer/test/linux-vhd-content-test.sh
Due: .pipelines/.vsts-vhd-builder.yaml

fix: vhd logs filepath typo
  vhdbuilder/packer/test/linux-vhd-content-test.sh
Due: .pipelines/.vsts-vhd-builder.yaml

update containerd config with skip gpu driver logic
  pkg/parser/containerd.toml.gtpl
  pkg/parser/parser_test.go
Due: none

perf: run installBcc in a subshell (#4290)
  vhdbuilder/packer/install-dependencies.sh
  vhdbuilder/packer/test/linux-vhd-content-test.sh
Due: .pipelines/.vsts-vhd-builder.yaml

add enablecustomdata and enablenvidia to contract
  pkg/parser/cmd/main.go
  pkg/parser/containerd.toml.gtpl
  pkg/parser/cse_cmd.sh.gtpl
  pkg/parser/helper.go
  pkg/parser/parser_test.go
  pkg/proto/nbcontract/v1/config.pb.go
  pkg/proto/nbcontract/v1/config.proto
  pkg/proto/nbcontract/v1/gpuconfig.pb.go
  pkg/proto/nbcontract/v1/gpuconfig.proto
Due: none
