Repository Azure/AgentBaker: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml, .pipelines/update-go-binary.yaml

.pipelines/.vsts-vhd-builder-pr-windows.yaml:
  name: PR_$(Date:yyyyMMdd)$(Rev:.r)_$(Build.SourceBranchName)_$(BuildID)
  pool:
    name: $(AZURE_POOL_NAME)
  stages:
  - template: ./templates/.build-and-test-windows-vhds-template.yaml
    parameters:
      vhddebug: false
      dryrun: false
      buildVmSize: Standard_D4ds_v5
      build2019containerd: true
  ...

.pipelines/.vsts-vhd-builder.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_$(Build.SourceBranchName)_$(BuildID)
  pool:
    name: $(POOL_NAME)
  stages:
  - stage: build
    jobs:
    - job: build2204gen2containerd
      timeoutInMinutes: 180
      steps:
      - bash: 'echo ''##vso[task.setvariable variable=OS_SKU]Ubuntu''
  
  ...

.pipelines/e2e-windows.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: ./templates/e2e-template.yaml
    parameters:
      name: Windows Tests

.pipelines/e2e.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: ./templates/e2e-template.yaml
    parameters:
      subscriptionId: $(SUBSCRIPTION_ID)
      poolName: $(POOL_NAME)

.pipelines/update-go-binary.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  jobs: null
  check-file:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout current branch
      uses: actions/checkout@v2
    - name: build go binary
      run: make update-contract
    - name: Save file from current branch
      run: cp pkg/parser/bin/parser parser
  ...

different variable
  .pipelines/.vsts-vhd-builder-pr-windows.yaml
  vhdbuilder/packer/produce-packer-settings.sh
Due: .pipelines/.vsts-vhd-builder.yaml

remove windows specific SIG gallery
  e2e/config/config.go
  e2e/config/vhd.go
  e2e/vmss.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

try a different pool
  .pipelines/.vsts-vhd-builder-pr-windows.yaml
Due: none

try different sub
  .pipelines/.vsts-vhd-builder-pr-windows.yaml
Due: none

extract scripts so they are checked by shellcheck
  .pipelines/scripts/e2e_delete_vmss.sh
  .pipelines/scripts/e2e_run.sh
  .pipelines/scripts/setup_go.sh
  .pipelines/templates/e2e-template.yaml
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

seperate build sub id
  vhdbuilder/packer/produce-packer-settings.sh
  vhdbuilder/packer/windows/windows-vhd-builder-sig.json
Due: .pipelines/.vsts-vhd-builder.yaml

add logging
  e2e/config/vhd.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

base list of files
  .pipelines/scripts/verify_shell.sh
  pkg/agent/testdata/convert.sh
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix quote issue
  .pipelines/templates/.builder-release-template-windows.yaml
Due: none

file rename
  .pipelines/templates/.builder-release-template-windows.yaml
Due: none

try using variable group
  .pipelines/.vsts-vhd-builder-pr-windows.yaml
Due: none

override resource group
  .pipelines/.vsts-vhd-builder-pr-windows.yaml
Due: none

remove logging
  e2e/config/azure.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

adjust image name and version
  .pipelines/templates/.builder-release-template-windows.yaml
Due: none

try to stop linux pipeline running
  .pipelines/.vsts-vhd-builder.yaml
Due: .pipelines/.vsts-vhd-builder.yaml

different build subscription id
  .pipelines/.vsts-vhd-builder-pr-windows.yaml
Due: none

fix script
  .pipelines/.vsts-vhd-builder-pr-windows.yaml
  .pipelines/templates/.builder-release-template-windows.yaml
Due: none

different pool
  .pipelines/.vsts-vhd-builder-pr-windows.yaml
Due: none

change flags
  .pipelines/scripts/e2e_delete_vmss.sh
Due: none

rename file so name is meaningful
  .pipelines/.vsts-vhd-builder-pr-windows.yaml
  packer.mk
  vhdbuilder/packer/produce-packer-settings.sh
Due: .pipelines/.vsts-vhd-builder.yaml

error logging
  e2e/config/vhd.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

no windows server core TODO: REMEMBER TO BRING IT BACK
  parts/common/components.json
Due: none

move 3 scripts out of yaml into one shellcheck'd script
  .pipelines/scripts/windows_build_vhd.sh
  .pipelines/templates/.builder-release-template-windows.yaml
Due: none

different param
  .pipelines/scripts/e2e_run.sh
Due: none

set another subscription id variable
  .pipelines/.vsts-vhd-builder-pr-windows.yaml
Due: none

quote
  .pipelines/templates/.builder-release-template-windows.yaml
Due: none

fixes and logs
  e2e/config/azure.go
  e2e/config/vhd.go
  e2e/vmss.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

change to SIG
  .pipelines/.vsts-vhd-builder-pr-windows.yaml
Due: none

set subscription id
  .pipelines/.vsts-vhd-builder-pr-windows.yaml
Due: none

revert az login flag
  .pipelines/scripts/e2e_run.sh
Due: none

fix script bug
  .pipelines/scripts/windows_build_vhd.sh
  .pipelines/templates/.builder-release-template-windows.yaml
Due: none

rename step
  .pipelines/templates/.builder-release-template-windows.yaml
Due: none

extract login
  .pipelines/templates/.builder-release-template-windows.yaml
  packer.mk
Due: .pipelines/.vsts-vhd-builder.yaml

fix: revert windows changes
  parts/windows/kuberneteswindowssetup.ps1
  parts/windows/windowscsehelper.ps1
  parts/windows/windowscsehelper.tests.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

fix: revert windows changes
  vhdbuilder/packer/windows/components-test.json
  vhdbuilder/packer/windows/components_json_helpers.ps1
  vhdbuilder/packer/windows/configure-windows-vhd.ps1
Due: none

fix: revert windows changes
  vhdbuilder/packer/test/windows-files-check.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
Due: none

chore: remove breadcrumns
  parts/linux/cloud-init/artifacts/cse_install.sh
  parts/linux/cloud-init/artifacts/cse_main.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

Path conditions:
  .pipelines/.vsts-vhd-builder-pr-windows.yaml: any of: parts/windows, but not: vhdbuilder/release-notes, **/*.md, .github, e2e/scenario_test.go, parts/common/components.json
  .pipelines/.vsts-vhd-builder.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, .pipelines/templates/.builder-release-template.yaml, .pipelines/templates/e2e-template.yaml, parts/linux, packer.mk, aks-node-controller, but not: vhdbuilder/release-notes, vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*, **/*.md, .github, e2e/scenario_win_test.go
  .pipelines/e2e-windows.yaml: any of: .pipelines/e2e-windows.yaml, .pipelines/templates/e2e-template.yaml, e2e, parts/windows, pkg/agent, staging/cse/windows, but not: pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/AKSWindows*, parts/common/components.json, staging/cse/windows/README, **/*.md, .github, e2e/scenario_test.go
  .pipelines/e2e.yaml: any of: .pipelines/e2e.yaml, .pipelines/templates/e2e-template.yaml, e2e, parts/linux, pkg/agent, but not: pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/AKSWindows*, parts/linux/cloud-init/artifacts/components.json, staging/cse/windows/README
  .pipelines/update-go-binary.yaml: any of: pkg/proto, pkg/parser
