Repository Azure/AgentBaker: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml, .pipelines/update-go-binary.yaml

.pipelines/.vsts-vhd-builder-gpu.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_$(Build.SourceBranchName)_$(BuildID)
  pool:
    name: $(POOL_NAME)
  stages:
  - stage: build
    jobs:
    - job: build2404gen2containerd
      timeoutInMinutes: 360
      steps:
      - bash: 'echo ''##vso[task.setvariable variable=OS_SKU]Ubuntu''
  
  ...

.pipelines/.vsts-vhd-builder-pr-windows.yaml:
  name: PR_$(Date:yyyyMMdd)$(Rev:.r)_$(Build.SourceBranchName)_$(BuildID)
  pool:
    name: $(POOL_NAME)
  stages:
  - template: ./templates/.build-and-test-windows-vhds-template.yaml
    parameters:
      vhddebug: false
      skipExtensionCheck: true
      dryrun: false
      overrideBranch: master
  ...

.pipelines/.vsts-vhd-builder.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_$(Build.SourceBranchName)_$(BuildID)
  pool:
    name: $(POOL_NAME)
  stages:
  - stage: build
    jobs:
    - job: build2004fipsgen2containerd
      timeoutInMinutes: 180
      steps:
      - bash: 'echo ''##vso[task.setvariable variable=OS_SKU]Ubuntu''
  
  ...

.pipelines/.vsts-vhd-refresh-testdata.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_$(Build.SourceBranchName)_$(BuildID)
  pool:
    name: $(POOL_NAME)
  stages:
  - stage: Generate_and_Publish_Testdata
    condition: succeeded()
    jobs:
    - job: Generate_Publish_Testdata
      timeoutInMinutes: 10
      steps:
      - bash: 'make generate
  
          '
  ...

.pipelines/e2e-windows.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: ./templates/e2e-template.yaml
    parameters:
      name: Windows Tests
      IgnoreScenariosWithMissingVhd: false

.pipelines/e2e.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: ./templates/e2e-template.yaml
    parameters:
      name: Linux Tests
      IgnoreScenariosWithMissingVhd: false

.pipelines/update-go-binary.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  jobs: null
  check-file:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout current branch
      uses: actions/checkout@v2
    - name: build go binary
      run: make update-contract
    - name: Save file from current branch
      run: cp pkg/parser/bin/parser parser
  ...

rename LOCALDNS_COREFILE_ACTIVE → LOCALDNS_COREFILE_BASE, fix Case 3 exit code
  parts/linux/cloud-init/artifacts/cse_config.sh
  parts/linux/cloud-init/artifacts/localdns.sh
  spec/parts/linux/cloud-init/artifacts/cse_config_spec.sh
  spec/parts/linux/cloud-init/artifacts/cse_main_spec.sh
  spec/parts/linux/cloud-init/artifacts/localdns_spec.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

refactor: rename localdns corefile variables to FULL/BASE/ACTIVE
  aks-node-controller/parser/helper.go
  aks-node-controller/parser/parser.go
  parts/linux/cloud-init/artifacts/cse_cmd.sh
  parts/linux/cloud-init/artifacts/cse_config.sh
  parts/linux/cloud-init/artifacts/localdns.sh
  spec/parts/linux/cloud-init/artifacts/cse_config_spec.sh
  spec/parts/linux/cloud-init/artifacts/localdns_spec.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

refactor: simplify enableLocalDNS to read corefile globals directly
  parts/linux/cloud-init/artifacts/cse_config.sh
  parts/linux/cloud-init/artifacts/cse_main.sh
  spec/parts/linux/cloud-init/artifacts/cse_config_spec.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

fix legacy corefile to exclude hosts plugin, rewrite cse_main_spec for refactored function
  pkg/agent/baker.go
  spec/parts/linux/cloud-init/artifacts/cse_main_spec.sh
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

address remaining PR review comments
  aks-node-controller/parser/helper.go
  parts/linux/cloud-init/artifacts/localdns.sh
  spec/parts/linux/cloud-init/artifacts/aks_hosts_setup_spec.sh
  spec/parts/linux/cloud-init/artifacts/cse_config_spec.sh
  spec/parts/linux/cloud-init/artifacts/cse_main_spec.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

refactor: add COREFILE_BASE and COREFILE_EXPERIMENTAL without modifying existing LOCALDNS_GENERATED_COREFILE
  aks-node-controller/parser/helper.go
  aks-node-controller/parser/parser.go
  parts/linux/cloud-init/artifacts/cse_cmd.sh
  parts/linux/cloud-init/artifacts/cse_config.sh
  pkg/agent/baker.go
  spec/parts/linux/cloud-init/artifacts/cse_config_spec.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

address PR review feedback: fix pipefail guard, tighten IPv6 regex, improve e2e validators
  e2e/types.go
  e2e/validation.go
  e2e/validators.go
  parts/linux/cloud-init/artifacts/aks-hosts-setup.sh
  parts/linux/cloud-init/artifacts/cse_config.sh
  parts/linux/cloud-init/artifacts/localdns.sh
  spec/parts/linux/cloud-init/artifacts/aks_hosts_setup_spec.sh
  spec/parts/linux/cloud-init/artifacts/cse_config_spec.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

remove Before=kubelet.service localdns.service from aks-hosts-setup.service
  parts/linux/cloud-init/artifacts/aks-hosts-setup.service
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

refactor: rename corefile variables for backward compat and clarity
  aks-node-controller/parser/helper.go
  aks-node-controller/parser/parser.go
  parts/linux/cloud-init/artifacts/cse_cmd.sh
  parts/linux/cloud-init/artifacts/cse_config.sh
  parts/linux/cloud-init/artifacts/localdns.sh
  spec/parts/linux/cloud-init/artifacts/cse_config_spec.sh
  spec/parts/linux/cloud-init/artifacts/localdns_spec.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

restart localdns in e2e after hosts file is populated
  e2e/validation.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

use printf instead of echo for writing hosts file content
  parts/linux/cloud-init/artifacts/aks-hosts-setup.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

add brownfield e2e tests for hosts plugin mid-lifecycle enablement
  e2e/scenario_localdns_hosts_test.go
  e2e/validators.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

consolidate cloud-env into /etc/localdns/environment
  parts/linux/cloud-init/artifacts/aks-hosts-setup.service
  parts/linux/cloud-init/artifacts/aks-hosts-setup.sh
  parts/linux/cloud-init/artifacts/cse_config.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

pass critical FQDNs from RP instead of hardcoding in VHD script
  aks-node-controller/parser/helper.go
  aks-node-controller/parser/helper_test.go
  aks-node-controller/parser/parser.go
  aks-node-controller/pkg/gen/aksnodeconfig/v1/localdns_config.pb.go
  aks-node-controller/proto/aksnodeconfig/v1/localdns_config.proto
  parts/linux/cloud-init/artifacts/aks-hosts-setup.sh
  parts/linux/cloud-init/artifacts/cse_cmd.sh
  parts/linux/cloud-init/artifacts/cse_config.sh
  pkg/agent/baker.go
  pkg/agent/baker_test.go
  pkg/agent/datamodel/types.go
  spec/parts/linux/cloud-init/artifacts/aks_hosts_setup_spec.sh
  spec/parts/linux/cloud-init/artifacts/cse_config_spec.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

add CriticalFQDNs to e2e base configs so hosts plugin tests receive RP FQDNs
  e2e/node_config.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

add VirtualMachineScaleSetExtensionsClient to e2e AzureClient
  e2e/config/azure.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

add hosts plugin rollback e2e tests for runtime disable (ON→OFF)
  e2e/scenario_localdns_hosts_test.go
  e2e/validators.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

add disableAKSHostsSetup() for production hosts plugin disable
  parts/linux/cloud-init/artifacts/cse_config.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

add spec and implementation plan for hosts plugin disable + cloud-env consolidation
  docs/superpowers/plans/2026-03-31-hosts-plugin-disable-and-cloud-env-consolidation.md
  docs/superpowers/specs/2026-03-31-hosts-plugin-disable-and-cloud-env-consolidation-design.md
Due: none

remove deprecated AzureLinuxV2 and CBLMarinerV2 VHDs from hosts plugin e2e tests
  e2e/scenario_localdns_hosts_test.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

address PR review feedback: Flatcar exclusion, log collection, comment clarity
  e2e/scenario_localdns_hosts_test.go
  e2e/types.go
  parts/linux/cloud-init/artifacts/aks-hosts-setup.sh
  parts/linux/cloud-init/artifacts/aks-hosts-setup.timer
  parts/linux/cloud-init/artifacts/aks-log-collector.sh
  spec/parts/linux/cloud-init/artifacts/aks_hosts_setup_spec.sh
  vhdbuilder/packer/vhd-image-builder-flatcar-arm64.json
  vhdbuilder/packer/vhd-image-builder-flatcar.json
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix hosts plugin e2e: use configured FQDN and add TrustedLaunch for ACL
  e2e/scenario_localdns_hosts_test.go
  e2e/types.go
  e2e/validators.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix rollback tests: use VMSS reimage instead of CSE re-run
  e2e/scenario_localdns_hosts_test.go
  e2e/validators.go
  e2e/vmss.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix: check type assertion ok value to satisfy errcheck linter
  pkg/agent/baker_test.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

remove fictional backward-compat test, clarify spec
  docs/superpowers/specs/2026-03-31-hosts-plugin-disable-and-cloud-env-consolidation-design.md
  e2e/scenario_localdns_hosts_test.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

address PR review feedback and remove brownfield/rollback tests
  aks-node-controller/parser/helper.go
  aks-node-controller/parser/helper_test.go
  docs/superpowers/plans/2026-03-31-hosts-plugin-disable-and-cloud-env-consolidation.md
  docs/superpowers/specs/2026-03-31-hosts-plugin-disable-and-cloud-env-consolidation-design.md
  e2e/scenario_localdns_hosts_test.go
  e2e/validators.go
  e2e/vmss.go
  parts/linux/cloud-init/artifacts/aks-hosts-setup.sh
  parts/linux/cloud-init/artifacts/localdns.sh
  spec/parts/linux/cloud-init/artifacts/aks_hosts_setup_spec.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

add shellspec tests for upstream-dns file edge cases in hosts-setup
  spec/parts/linux/cloud-init/artifacts/aks_localdns_hosts_setup_spec.sh
Due: none

address PR review: rename aks-hosts-setup to aks-localdns-hosts-setup, replace EOL acs-mirror URL, bump TimeoutStartSec
  .pipelines/scripts/verify_shell.sh
  aks-node-controller/parser/parser.go
  e2e/node_config.go
  e2e/types.go
  e2e/validation.go
  e2e/validators.go
  parts/linux/cloud-init/artifacts/aks-localdns-hosts-setup.service
  parts/linux/cloud-init/artifacts/aks-localdns-hosts-setup.sh
  parts/linux/cloud-init/artifacts/aks-localdns-hosts-setup.timer
  parts/linux/cloud-init/artifacts/aks-log-collector.sh
  parts/linux/cloud-init/artifacts/cse_config.sh
  parts/linux/cloud-init/artifacts/cse_main.sh
  parts/linux/cloud-init/artifacts/localdns.sh
  pkg/agent/baker.go
  pkg/agent/baker_test.go
  spec/parts/linux/cloud-init/artifacts/aks_localdns_hosts_setup_spec.sh
  spec/parts/linux/cloud-init/artifacts/cse_config_spec.sh
  vhdbuilder/packer/packer_source.sh
  vhdbuilder/packer/vhd-image-builder-acl-arm64.json
  vhdbuilder/packer/vhd-image-builder-acl.json
  vhdbuilder/packer/vhd-image-builder-arm64-gen2.json
  vhdbuilder/packer/vhd-image-builder-base.json
  vhdbuilder/packer/vhd-image-builder-cvm.json
  vhdbuilder/packer/vhd-image-builder-mariner-arm64.json
  vhdbuilder/packer/vhd-image-builder-mariner-cvm.json
  vhdbuilder/packer/vhd-image-builder-mariner.json
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

add backward-compatibility e2e tests for hosts plugin disable
  e2e/scenario_localdns_hosts_test.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

add RerunCSE() helper for CSE re-run on existing VMSS
  e2e/vmss.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

remove AA and RA flag assertions from hosts plugin validator
  e2e/validation.go
  e2e/validators.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

clean up validators.go: remove disableHostsPluginOnRunningVM, drop cloud-env refs
  e2e/validators.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

update brownfield test comments to remove cloud-env references
  e2e/scenario_localdns_hosts_test.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

update rollback tests to use RerunCSE instead of SSH mutation
  e2e/scenario_localdns_hosts_test.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

add RA flag absence check to hosts plugin AA flag validation
  e2e/validators.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix CI: reduce gocognit complexity and update shellspec tests
  aks-node-controller/parser/helper_test.go
  spec/parts/linux/cloud-init/artifacts/cse_config_spec.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml

fix: wire collectGarbagePrivateDNSZones into DAG after rebase onto main
  e2e/cluster.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

feat: add OSSKU-based IsCgroupV2 detection and CustomizedImageTrustedLaunch distro
  pkg/agent/baker.go
  pkg/agent/baker_test.go
  pkg/agent/bakerapi.go
  pkg/agent/bakerapi_test.go
  pkg/agent/datamodel/types.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix(e2e): prevent kubenet route table detachment and stale node accumulation
  e2e/aks_model.go
  e2e/cluster.go
  e2e/config/azure.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

Override global sig_image publisher/offer values
  vhdbuilder/packer/produce-packer-settings-functions.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

Path conditions:
  .pipelines/.vsts-vhd-builder-gpu.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, .pipelines/templates/.builder-release-template.yaml, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/e2e-template.yaml, parts/linux, packer.mk, aks-node-controller, parts/common/components.json, go.mod, go.sum, e2e/scenario_gpu_managed_experience_test.go, but not: schemas/windows_settings.cue, vhdbuilder/release-notes, vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/windows, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*, .github, e2e/scenario_win_test.go, **/*.md
  .pipelines/.vsts-vhd-builder-pr-windows.yaml: any of: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/scripts, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/.build-and-test-windows-vhds-template.yaml, .pipelines/templates/.build-and-test-windows-vhd-template.yaml, .pipelines/templates/.builder-release-template-windows.yaml, .pipelines/templates/e2e-template.yaml, packer.mk, vhdbuilder/packer/packer-plugin.pkr.hcl, vhdbuilder/packer/*.ps1, vhdbuilder/packer/test/*.ps1, vhdbuilder/packer/test/run-test.sh, vhdbuilder/packer/windows-sub-cleanup.sh, vhdbuilder/packer/cleanup.sh, vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh, vhdbuilder/packer/generate-vhd-publishing-info.sh, vhdbuilder/packer/produce-packer-settings.sh, vhdbuilder/packer/windows, parts/common/components.json, parts/windows, go.mod, go.sum, e2e, staging/cse/windows, but not: vhdbuilder/release-notes, **/*.md, .github, e2e/scenario_test.go
  .pipelines/.vsts-vhd-builder.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, .pipelines/templates/.builder-release-template.yaml, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/e2e-template.yaml, parts/linux, packer.mk, aks-node-controller, parts/common/components.json, go.mod, go.sum, but not: schemas/windows_settings.cue, vhdbuilder/release-notes, vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/windows, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*, .github, e2e/scenario_win_test.go
  .pipelines/.vsts-vhd-refresh-testdata.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-refresh-testdata.yaml, parts/linux, packer.mk, parts/common/components.json, but not: vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*
  .pipelines/e2e-windows.yaml: any of: .pipelines/e2e-windows.yaml, .pipelines/templates/e2e-template.yaml, .pipelines/scripts/e2e_run.sh, .pipelines/scripts/e2e_delete_vmss.sh, e2e, parts/windows, pkg/agent, parts/common/components.json, staging/cse/windows, go.mod, go.sum, but not: pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/*Ubuntu*, pkg/agent/testdata/*Flatcar*, pkg/agent/testdata/*Mariner*, pkg/agent/testdata/*AzureLinux*, parts/common/components.json, staging/cse/windows/README, **/*.md, .github, e2e/scenario_test.go
  .pipelines/e2e.yaml: any of: .pipelines/e2e.yaml, .pipelines/templates/e2e-template.yaml, .pipelines/scripts/e2e_run.sh, e2e, parts/linux, parts/common/components.json, pkg/agent, go.mod, go.sum, but not: pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/AKSWindows*, parts/common/components.json, staging/cse/windows/README, **/*.md, e2e/scenario_win_test.go
  .pipelines/update-go-binary.yaml: any of: pkg/proto, pkg/parser
