Repository Azure/AgentBaker: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml, .pipelines/update-go-binary.yaml

Path conditions:
  .pipelines/.vsts-vhd-builder-release-windows.yaml: any of: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/templates/.builder-release-template-windows.yaml, packer.mk, vhdbuilder/packer/packer-plugin.pkr.hcl, vhdbuilder/packer/*.ps1, vhdbuilder/packer/test/*.ps1, vhdbuilder/packer/test/run-test.sh, vhdbuilder/packer/backfill-cleanup.sh, vhdbuilder/packer/cleanup.sh, vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh, vhdbuilder/packer/generate-vhd-publishing-info.sh, vhdbuilder/packer/init-variables.sh, vhdbuilder/packer/windows-image.env, vhdbuilder/packer/windows-vhd-builder-sig.json
  .pipelines/.vsts-vhd-builder.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, .pipelines/templates/.builder-release-template.yaml, parts/linux, packer.mk, but not: vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*
  .pipelines/e2e-windows.yaml: any of: .pipelines/e2e-windows.yaml, .pipelines/templates/e2e-windows-template.yaml, e2e/windows, parts/windows, staging/cse/windows, but not: staging/cse/windows/README
  .pipelines/e2e.yaml: any of: .pipelines/e2e.yaml, .pipelines/templates/e2e-template.yaml, e2e, parts/linux, pkg/agent, but not: e2e/windows, pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/AKSWindows*, parts/linux/cloud-init/artifacts/components.json
  .pipelines/update-go-binary.yaml: any of: pkg/proto, pkg/parser

rename to vuln-reporting-vms
  .pipelines/.vsts-vhd-builder-release.yaml
  vulnerability-reporting-vms/README.md
  vulnerability-reporting-vms/config/azure.go
  vulnerability-reporting-vms/config/config.go
  vulnerability-reporting-vms/go.mod
  vulnerability-reporting-vms/go.sum
  vulnerability-reporting-vms/main.go
  vulnerability-reporting-vms/process_json.go
  vulnerability-reporting-vms/resources.go
  vulnerability-reporting-vms/testdata/vhd-publishing-info-ARM.json
  vulnerability-reporting-vms/testdata/vhd-publishing-info-AzureLinux.json
  vulnerability-reporting-vms/testdata/vhd-publishing-info-containerd.json
Due: none

add containerd seccomp default profile for golden profile test data
  e2e/kubelet/containerd_seccomp_default_profile_arch_amd64.json
  e2e/kubelet/containerd_seccomp_default_profile_arch_arm.json
  e2e/kubelet/containerd_seccomp_default_profile_base.json
  e2e/kubelet/containerd_seccomp_default_profile_kernel_v4_8.json
Due: .pipelines/e2e.yaml

feat: test VHD build migration
  .pipelines/.vsts-vhd-builder-release.yaml
Due: none

add logging to see why I cant see jsons
  .pipelines/.vsts-vhd-builder-release.yaml
  vulnerability-reporting-vms/README.md
  vulnerability-reporting-vms/main.go
Due: none

fix indent
  .pipelines/.vsts-vhd-builder-release.yaml
Due: none

change dir
  .pipelines/.vsts-vhd-builder-release.yaml
Due: none

update readme
  vulnerability-reporting-vms/README.md
  vulnerability-reporting-vms/process_json.go
Due: none

download artifacts and try looping
  .pipelines/.vsts-vhd-builder-release.yaml
Due: none

download all pipeline artifacts
  .pipelines/.vsts-vhd-builder-release.yaml
Due: none

adjust readme
  .pipelines/.vsts-vhd-builder-release.yaml
  vulnerability-reporting-vms/README.md
Due: none

readme
  vulnerability-reporting-vms/README.md
Due: none

properly loop
  .pipelines/.vsts-vhd-builder-release.yaml
  vulnerability-reporting-vms/README.md
Due: none

add seccomp runtime profile gatekeeping test so that when default profile changes, the test will fail
  e2e/containerd/seccomp_default_profile/arch/amd64.json
  e2e/containerd/seccomp_default_profile/arch/arm.json
  e2e/containerd/seccomp_default_profile/base.json
  e2e/containerd/seccomp_default_profile/kernel/48.json
  e2e/scenario_helpers_test.go
  e2e/scenario_test.go
  e2e/template.go
  e2e/validation.go
  e2e/validators.go
Due: .pipelines/e2e.yaml

fix: remove test
  .pipelines/windows-vpack-build.yaml
Due: none

update seccomp default profile check in ubuntu
  e2e/scenario_helpers_test.go
  e2e/template.go
  e2e/types.go
  e2e/validation.go
  e2e/validators.go
Due: .pipelines/e2e.yaml

chore: add binaries for 1.27.101 lts
  parts/linux/cloud-init/artifacts/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

bump to latest cri-tools 1.31.1 for CVE fixes (#5228)
  parts/linux/cloud-init/artifacts/components.json
Due: .pipelines/.vsts-vhd-builder.yaml

adding Trivy DB fallbacks (#5225)
  vhdbuilder/packer/trivy-scan.sh
Due: .pipelines/.vsts-vhd-builder.yaml

try using find over looping
  .pipelines/.vsts-vhd-builder-release.yaml
Due: none

fix: add retry for initial trivy scan to handle 429's from ghcr on DB update (#5215)
  vhdbuilder/packer/trivy-scan.sh
Due: .pipelines/.vsts-vhd-builder.yaml

Add release notes for security patch 20241102T000000Z
  release-notes/security-patch/20241102T000000Z/release_notes_delta_20241102T000000Z.txt
Due: none

chore: remove refs
  .github/workflows/check-coverage.yml
  e2e/config/config.go
  e2e/config/vhd.go
  vhdbuilder/packer/vhd-scanning.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

rename debug pod for better clarity
  e2e/scenario_helpers_test.go
  e2e/template.go
  e2e/validation.go
Due: .pipelines/e2e.yaml

merge dev and go mod
  go.mod
  go.sum
Due: none

pull containerd 2.0
  parts/linux/cloud-init/artifacts/components.json
  spec/parts/linux/cloud-init/artifacts/cse_install_spec.sh
Due: .pipelines/.vsts-vhd-builder.yaml

chore: separate identities for scanning
  vhdbuilder/packer/test-scan-and-cleanup.sh
  vhdbuilder/packer/trivy-scan.sh
  vhdbuilder/packer/vhd-scanning.sh
Due: .pipelines/.vsts-vhd-builder.yaml

chore: bumping image version to 202411.10.0
  pkg/agent/datamodel/linux_sig_version.json
Due: none

chore: update image version in official branch
  pkg/agent/datamodel/linux_sig_version.json
Due: none

chore: store VHD build timestamp and publisher base image version in official branch
  vhdbuilder/publisher_base_image_version.json
  vhdbuilder/vhd_build_timestamp.json
Due: none

chore: set default automation target branch to dev
  .pipelines/.vsts-vhd-automation.yaml
Due: none

chore: set default automation target branch to dev (#5238)
  .pipelines/.vsts-vhd-automation.yaml
Due: none

chore: add binaries for 1.27.101 lts (#5200)
  parts/linux/cloud-init/artifacts/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

trigger build
  README.md
Due: none

chore: naming
  vhdbuilder/packer/init-variables.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml
