Repository Azure/AgentBaker: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

.pipelines/.vsts-vhd-builder-release-windows.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_$(Build.SourceBranchName)_$(BuildID)
  pool:
    name: $(AZURE_POOL_NAME)
  extends:
    template: v2/OneBranch.Official.CrossPlat.yml@templates
    parameters:
      globalSdl:
        antimalwareScan:
          enabled: true
        armory:
          enabled: false
        binskim:
  ...

.pipelines/.vsts-vhd-builder.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_$(OS_SKU)$(OS_VERSION)_$(HYPERV_GENERATION)_$(FEATURE_FLAGS)_$(Build.SourceBranchName)
  pool:
    name: $(POOL_NAME)
  stages:
  - stage: build_vhd
    dependsOn: []
    jobs:
    - job: build
      timeoutInMinutes: 180
      steps:
  ...

.pipelines/e2e-windows.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_e2e
  pool:
    name: $(AZURE_POOL_NAME)
  stages:
  - stage: test_2019_containerd
    dependsOn: []
    condition: eq('${{ parameters.test2019containerd }}', True)
    jobs:
    - template: ./templates/e2e-windows-template.yaml
      parameters:
        windowsImage: 2019-containerd
  ...

.pipelines/e2e.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  pool:
    name: nodesigtest-pool
  jobs:
  - job: Run_AgentBaker_E2E
    steps:
    - bash: 'az login --identity
  
        az account set -s $(AZURE_SUBSCRIPTION_ID)
  
        '
      displayName: az login
    - bash: bash .pipelines/scripts/setup_go.sh
      displayName: setup go
  ...

perf: enable accelerate networking for mariner
  vhdbuilder/packer/vhd-image-builder-mariner.json
Due: .pipelines/.vsts-vhd-builder.yaml

perf: record vhd build performance info
  .pipelines/templates/.builder-release-template.yaml
Due: none

fix: change go dev environment
  .pipelines/.vsts-vhd-builder-release.yaml
Due: none

fix: go dev to 1.38.3
  .pipelines/.vsts-vhd-builder-release.yaml
Due: none

fix: go dev environment 1.34.8
  .pipelines/.vsts-vhd-builder-release.yaml
Due: none

fix: add post-processor
  vhdbuilder/packer/vhd-image-builder-base.json
Due: .pipelines/.vsts-vhd-builder.yaml

fix: go dev 1.34.7
  .pipelines/.vsts-vhd-builder-release.yaml
Due: none

fix: azcopy bug
  vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

fix: go dev to 1.36.2
  .pipelines/.vsts-vhd-builder-release.yaml
Due: none

perf: lessen wait times
  parts/linux/cloud-init/artifacts/cse_install.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

test: get jq version
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml

fix
  parts/linux/cloud-init/artifacts/cse_helpers.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

get os version
  vhdbuilder/packer/pre-install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml

filepath
  vhdbuilder/packer/pre-install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml

fix: array appending
  parts/linux/cloud-init/artifacts/cse_helpers.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

chore: weekly image cve patching from Sec Pipelines (#4315)
  vhdbuilder/packer/components.json
  vhdbuilder/packer/kube-proxy-images.json
Due: .pipelines/.vsts-vhd-builder.yaml

fix: json benchmarks
  parts/linux/cloud-init/artifacts/cse_helpers.sh
  vhdbuilder/packer/pre-install-dependencies.sh
  vhdbuilder/packer/vhd-image-builder-arm64-gen2.json
  vhdbuilder/packer/vhd-image-builder-base.json
  vhdbuilder/packer/vhd-image-builder-mariner-arm64.json
  vhdbuilder/packer/vhd-image-builder-mariner.json
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

fix: skip blobfuse install on 24.04
  e2e/scenario/base_vhd_catalog.json
  parts/linux/cloud-init/artifacts/ubuntu/cse_install_ubuntu.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

fix: change operator
  parts/linux/cloud-init/artifacts/ubuntu/cse_install_ubuntu.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

fix: remove blobfuse2
  parts/linux/cloud-init/artifacts/ubuntu/cse_install_ubuntu.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

add parser test
  pkg/parser/cmd/cse_cmd.sh
  pkg/parser/cmd/main.go
  pkg/parser/cse_cmd.sh.gtpl
  pkg/parser/parser.go
  pkg/parser/parser_test.go
  pkg/parser/testdata/test_nbc.json
  pkg/parser/utils_test.go
Due: none

chore: cache secrets-store-csi-driver v1.4.3
  vhdbuilder/packer/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

test: bcc install time
  vhdbuilder/scripts/linux/ubuntu/tool_installs_ubuntu.sh
Due: .pipelines/.vsts-vhd-builder.yaml

improve tests
  pkg/agent/bakerapi_test.go
Due: .pipelines/e2e.yaml

fix variables for linter
  pkg/agent/bakerapi_test.go
Due: .pipelines/e2e.yaml

bump ksm to v2.12.0
  vhdbuilder/packer/components.json
Due: .pipelines/.vsts-vhd-builder.yaml

Update metrics-server version to latest 0.7.1 in components.json (#4316)
  vhdbuilder/packer/components.json
Due: .pipelines/.vsts-vhd-builder.yaml

feat: support skipping legacy code CleanupHnsNetwork in AKS Windows CSE
  staging/cse/windows/kubernetesfunc.ps1
  staging/cse/windows/provisioningscripts/cleanupnetwork.ps1
  staging/cse/windows/provisioningscripts/kubeletstart.ps1
  staging/cse/windows/provisioningscripts/kubeproxystart.ps1
  staging/cse/windows/provisioningscripts/windowsnodereset.ps1
Due: .pipelines/e2e-windows.yaml

feat: support skipping legacy code CleanupNetwork in AKS Windows CSE (#4131)
  staging/cse/windows/kubernetesfunc.ps1
  staging/cse/windows/provisioningscripts/cleanupnetwork.ps1
  staging/cse/windows/provisioningscripts/kubeletstart.ps1
  staging/cse/windows/provisioningscripts/kubeproxystart.ps1
  staging/cse/windows/provisioningscripts/windowsnodereset.ps1
Due: .pipelines/e2e-windows.yaml

chore: upgrade Azure File CSI driver versions in vhd image
  vhdbuilder/packer/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

fix
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml

remove azure-cloud-node-manager:v1.29.4
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml

feat: containerinsights 3.1.20 release
  vhdbuilder/packer/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

updating dropgz to v0.1.3
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml

Move NetworkConfig to ClusterNetworkConfig. Reorder the variables.
  pkg/nbcontracthelper/helper.go
  pkg/proto/nbcontract/v1/clusterconfig.pb.go
  pkg/proto/nbcontract/v1/clusterconfig.proto
  pkg/proto/nbcontract/v1/config.pb.go
  pkg/proto/nbcontract/v1/config.proto
  pkg/proto/nbcontract/v1/customlinuxosconfig.pb.go
  pkg/proto/nbcontract/v1/customlinuxosconfig.proto
  pkg/proto/nbcontract/v1/kubeletconfig.pb.go
  pkg/proto/nbcontract/v1/kubeletconfig.proto
  pkg/proto/nbcontract/v1/networkconfig.pb.go
  pkg/proto/nbcontract/v1/networkconfig.proto
Due: none

feat: containerinsights 3.1.20 release (#4328)
  vhdbuilder/packer/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

Validate Semantic Version
  go.mod
  go.sum
  pkg/nbcontracthelper/const.go
  pkg/nbcontracthelper/helper.go
Due: none

Path conditions:
  .pipelines/.vsts-vhd-builder-release-windows.yaml: any of: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/templates/.builder-release-template-windows.yaml, packer.mk, vhdbuilder/packer/packer-plugin.pkr.hcl, vhdbuilder/packer/*.ps1, vhdbuilder/packer/test/*.ps1, vhdbuilder/packer/test/run-test.sh, vhdbuilder/packer/backfill-cleanup.sh, vhdbuilder/packer/cleanup.sh, vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh, vhdbuilder/packer/generate-vhd-publishing-info.sh, vhdbuilder/packer/init-variables.sh, vhdbuilder/packer/windows-image.env, vhdbuilder/packer/windows-vhd-builder-sig.json
  .pipelines/.vsts-vhd-builder.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, parts/linux/cloud-init/artifacts/manifest.json, parts/linux/cloud-init/artifacts/cse_install.sh, parts/linux/cloud-init/artifacts/cse_helpers.sh, parts/linux/cloud-init/artifacts/ubuntu/cse_install_ubuntu.sh, parts/linux/cloud-init/artifacts/mariner/cse_install_mariner.sh, packer.mk, but not: vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*
  .pipelines/e2e-windows.yaml: any of: .pipelines/e2e-windows.yaml, .pipelines/templates/e2e-windows-template.yaml, e2e/windows, parts/windows, staging/cse/windows
  .pipelines/e2e.yaml: any of: .pipelines/e2e.yaml, e2e, parts/linux, pkg/agent, but not: e2e/windows, pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json
