Repository Azure/AgentBaker: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml, .pipelines/update-go-binary.yaml

Path conditions:
  .pipelines/.vsts-vhd-builder-pr-windows.yaml: any of: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/.build-and-test-windows-vhds-template.yaml, .pipelines/templates/.build-and-test-windows-vhd-template.yaml, .pipelines/templates/.builder-release-template-windows.yaml, .pipelines/templates/e2e-template.yaml, packer.mk, vhdbuilder/packer/packer-plugin.pkr.hcl, vhdbuilder/packer/*.ps1, vhdbuilder/packer/test/*.ps1, vhdbuilder/packer/test/run-test.sh, vhdbuilder/packer/backfill-cleanup.sh, vhdbuilder/packer/cleanup.sh, vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh, vhdbuilder/packer/generate-vhd-publishing-info.sh, vhdbuilder/packer/init-variables.sh, vhdbuilder/packer/windows, parts/common/components.json, parts/windows, go.mod, go.sum, but not: vhdbuilder/release-notes, **/*.md, .github, e2e/scenario_test.go
  .pipelines/.vsts-vhd-builder.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, .pipelines/templates/.builder-release-template.yaml, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/e2e-template.yaml, parts/linux, packer.mk, aks-node-controller, parts/common/components.json, go.mod, go.sum, but not: schemas/windows_settings.cue, vhdbuilder/release-notes, vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/windows, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*, **/*.md, .github, e2e/scenario_win_test.go
  .pipelines/.vsts-vhd-refresh-testdata.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-refresh-testdata.yaml, parts/linux, packer.mk, parts/common/components.json, but not: vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*
  .pipelines/e2e-windows.yaml: any of: .pipelines/e2e-windows.yaml, .pipelines/templates/e2e-template.yaml, e2e, parts/windows, pkg/agent, parts/common/components.json, staging/cse/windows, go.mod, go.sum, but not: pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/AKSWindows*, parts/common/components.json, staging/cse/windows/README, **/*.md, .github, e2e/scenario_test.go
  .pipelines/e2e.yaml: any of: .pipelines/e2e.yaml, .pipelines/templates/e2e-template.yaml, e2e, parts/linux, parts/common/components.json, pkg/agent, go.mod, go.sum, but not: pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/AKSWindows*, parts/common/components.json, staging/cse/windows/README, **/*.md, e2e/scenario_win_test.go
  .pipelines/update-go-binary.yaml: any of: pkg/proto, pkg/parser

Setup cron job for CA Cert refresh on Mariner
  parts/linux/cloud-init/artifacts/init-aks-custom-cloud-mariner.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

check folder and files existence
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

Test updates
  pkg/agent/testdata/MarinerV2+CustomCloud/CustomData
  pkg/agent/testdata/MarinerV2+CustomCloud/line82.sh
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix: correctly check exit code returned from retry operations
  parts/linux/cloud-init/artifacts/cse_helpers.sh
  parts/linux/cloud-init/artifacts/cse_install.sh
  parts/linux/cloud-init/artifacts/cse_main.sh
  parts/linux/cloud-init/artifacts/mariner/cse_install_mariner.sh
  parts/linux/cloud-init/artifacts/setup-custom-search-domains.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

chore: explain exit code in setup-custom-search-domains.sh
  parts/linux/cloud-init/artifacts/setup-custom-search-domains.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

chore: remove error propagation from removeContainerd step during install for mariner
  parts/linux/cloud-init/artifacts/mariner/cse_install_mariner.sh
  pkg/agent/testdata/AzureLinuxV2+Kata/CustomData
  pkg/agent/testdata/AzureLinuxV2+Kata/line61.sh
  pkg/agent/testdata/AzureLinuxv2+DisableUnattendedUpgrades=false/CustomData
  pkg/agent/testdata/AzureLinuxv2+DisableUnattendedUpgrades=false/line61.sh
  pkg/agent/testdata/AzureLinuxv2+DisableUnattendedUpgrades=true/CustomData
  pkg/agent/testdata/AzureLinuxv2+DisableUnattendedUpgrades=true/line61.sh
  pkg/agent/testdata/AzureLinuxv2+Kata+DisableUnattendedUpgrades=false/CustomData
  pkg/agent/testdata/AzureLinuxv2+Kata+DisableUnattendedUpgrades=false/line61.sh
  pkg/agent/testdata/AzureLinuxv2+Kata+DisableUnattendedUpgrades=true/CustomData
  pkg/agent/testdata/AzureLinuxv2+Kata+DisableUnattendedUpgrades=true/line61.sh
  pkg/agent/testdata/MarinerV2+CustomCloud/CustomData
  pkg/agent/testdata/MarinerV2+CustomCloud/line61.sh
  pkg/agent/testdata/MarinerV2+Kata/CustomData
  pkg/agent/testdata/MarinerV2+Kata/line61.sh
  pkg/agent/testdata/Marinerv2+DisableUnattendedUpgrades=false/CustomData
  pkg/agent/testdata/Marinerv2+DisableUnattendedUpgrades=false/line61.sh
  pkg/agent/testdata/Marinerv2+DisableUnattendedUpgrades=true/CustomData
  pkg/agent/testdata/Marinerv2+DisableUnattendedUpgrades=true/line61.sh
  pkg/agent/testdata/Marinerv2+Kata+DisableUnattendedUpgrades=false/CustomData
  pkg/agent/testdata/Marinerv2+Kata+DisableUnattendedUpgrades=false/line61.sh
  pkg/agent/testdata/Marinerv2+Kata+DisableUnattendedUpgrades=true/CustomData
  pkg/agent/testdata/Marinerv2+Kata+DisableUnattendedUpgrades=true/line61.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

feat: install dm-multipath package in Azure Linux
  parts/linux/cloud-init/artifacts/mariner/cse_install_mariner.sh
  pkg/agent/testdata/AzureLinuxV2+Kata/CustomData
  pkg/agent/testdata/AzureLinuxV2+Kata/line61.sh
  pkg/agent/testdata/AzureLinuxv2+DisableUnattendedUpgrades=false/CustomData
  pkg/agent/testdata/AzureLinuxv2+DisableUnattendedUpgrades=false/line61.sh
  pkg/agent/testdata/AzureLinuxv2+DisableUnattendedUpgrades=true/CustomData
  pkg/agent/testdata/AzureLinuxv2+DisableUnattendedUpgrades=true/line61.sh
  pkg/agent/testdata/AzureLinuxv2+Kata+DisableUnattendedUpgrades=false/CustomData
  pkg/agent/testdata/AzureLinuxv2+Kata+DisableUnattendedUpgrades=false/line61.sh
  pkg/agent/testdata/AzureLinuxv2+Kata+DisableUnattendedUpgrades=true/CustomData
  pkg/agent/testdata/AzureLinuxv2+Kata+DisableUnattendedUpgrades=true/line61.sh
  pkg/agent/testdata/MarinerV2+CustomCloud/CustomData
  pkg/agent/testdata/MarinerV2+CustomCloud/line61.sh
  pkg/agent/testdata/MarinerV2+Kata/CustomData
  pkg/agent/testdata/MarinerV2+Kata/line61.sh
  pkg/agent/testdata/Marinerv2+DisableUnattendedUpgrades=false/CustomData
  pkg/agent/testdata/Marinerv2+DisableUnattendedUpgrades=false/line61.sh
  pkg/agent/testdata/Marinerv2+DisableUnattendedUpgrades=true/CustomData
  pkg/agent/testdata/Marinerv2+DisableUnattendedUpgrades=true/line61.sh
  pkg/agent/testdata/Marinerv2+Kata+DisableUnattendedUpgrades=false/CustomData
  pkg/agent/testdata/Marinerv2+Kata+DisableUnattendedUpgrades=false/line61.sh
  pkg/agent/testdata/Marinerv2+Kata+DisableUnattendedUpgrades=true/CustomData
  pkg/agent/testdata/Marinerv2+Kata+DisableUnattendedUpgrades=true/line61.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

F
  parts/common/components.json
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

node condition test
  e2e/scenario_test.go
Due: .pipelines/e2e.yaml

Ubuntu 24.04 GPU GRID E2E
  e2e/scenario_test.go
Due: .pipelines/e2e.yaml

chore: retries
  e2e/validators.go
  parts/linux/cloud-init/artifacts/aks-log-collector-send.py
  parts/linux/cloud-init/artifacts/aks-log-collector.service
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

chore: add log collector logs
  e2e/vmss.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

chore: debug
  e2e/types.go
  e2e/vmss.go
  parts/linux/cloud-init/artifacts/aks-log-collector-send.py
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

chore: comments
  .github/labeler.yaml
  .github/workflows/labeler.yaml
Due: none

chore: test changes
  parts/common/components.json
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

chore: fixes
  .github/labeler.yml
  .github/workflows/labeler.yaml
Due: none

chore: fixes
  .github/labeler.yml
  .github/release.yaml
  .github/workflows/labeler.yaml
Due: none

feat: add labeler workflow (#6275)
  .github/labeler.yml
  .github/release.yaml
  .github/workflows/labeler.yaml
Due: none

add comments and fix typo in amd cleanup
  e2e/scenario_test.go
  e2e/vmss.go
  parts/linux/cloud-init/artifacts/cse_config.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

update test
  vhdbuilder/packer/test/linux-vhd-content-test.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

update
  vhdbuilder/packer/test/linux-vhd-content-test.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

fix: correctly check exit code returned from retry operations
  parts/linux/cloud-init/artifacts/mariner/cse_install_mariner.sh
  parts/linux/cloud-init/artifacts/setup-custom-search-domains.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml
