Repository Azure/AgentBaker: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml, .pipelines/update-go-binary.yaml

Path conditions:
  .pipelines/.vsts-vhd-builder-release-windows.yaml: any of: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/templates/.builder-release-template-windows.yaml, packer.mk, vhdbuilder/packer/packer-plugin.pkr.hcl, vhdbuilder/packer/*.ps1, vhdbuilder/packer/test/*.ps1, vhdbuilder/packer/test/run-test.sh, vhdbuilder/packer/backfill-cleanup.sh, vhdbuilder/packer/cleanup.sh, vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh, vhdbuilder/packer/generate-vhd-publishing-info.sh, vhdbuilder/packer/init-variables.sh, vhdbuilder/packer/windows-image.env, vhdbuilder/packer/windows-vhd-builder-sig.json
  .pipelines/.vsts-vhd-builder.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, parts/linux/cloud-init/artifacts/manifest.json, parts/linux/cloud-init/artifacts/cse_install.sh, parts/linux/cloud-init/artifacts/cse_helpers.sh, parts/linux/cloud-init/artifacts/ubuntu/cse_install_ubuntu.sh, parts/linux/cloud-init/artifacts/mariner/cse_install_mariner.sh, packer.mk, but not: vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*
  .pipelines/e2e-windows.yaml: any of: .pipelines/e2e-windows.yaml, .pipelines/templates/e2e-windows-template.yaml, e2e/windows, parts/windows, staging/cse/windows
  .pipelines/e2e.yaml: any of: .pipelines/e2e.yaml, e2e, parts/linux, pkg/agent, but not: e2e/windows, pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/AKSWindows*
  .pipelines/update-go-binary.yaml: any of: pkg/proto, pkg/parser

bumped npm version to address cves
  parts/linux/cloud-init/artifacts/components.json
Due: .pipelines/e2e.yaml

calico new images for caching
  parts/linux/cloud-init/artifacts/components.json
Due: .pipelines/e2e.yaml

fix: add managed image name back into packer templates
  vhdbuilder/packer/vhd-image-builder-arm64-gen2.json
  vhdbuilder/packer/vhd-image-builder-base.json
  vhdbuilder/packer/vhd-image-builder-mariner-arm64.json
  vhdbuilder/packer/vhd-image-builder-mariner.json
Due: .pipelines/.vsts-vhd-builder.yaml

fix: add managed image resource group property in packer template
  vhdbuilder/packer/vhd-image-builder-arm64-gen2.json
  vhdbuilder/packer/vhd-image-builder-base.json
  vhdbuilder/packer/vhd-image-builder-mariner-arm64.json
  vhdbuilder/packer/vhd-image-builder-mariner.json
Due: .pipelines/.vsts-vhd-builder.yaml

fix runc and containerd installation in Mariner
  parts/linux/cloud-init/artifacts/components.json
  parts/linux/cloud-init/artifacts/mariner/cse_install_mariner.sh
  pkg/agent/testdata/AzureLinuxV2+Kata/CustomData
  pkg/agent/testdata/AzureLinuxV2+Kata/line61.sh
  pkg/agent/testdata/AzureLinuxv2+DisableUnattendedUpgrades=false/CustomData
  pkg/agent/testdata/AzureLinuxv2+DisableUnattendedUpgrades=false/line61.sh
  pkg/agent/testdata/AzureLinuxv2+DisableUnattendedUpgrades=true/CustomData
  pkg/agent/testdata/AzureLinuxv2+DisableUnattendedUpgrades=true/line61.sh
  pkg/agent/testdata/AzureLinuxv2+Kata+DisableUnattendedUpgrades=false/CustomData
  pkg/agent/testdata/AzureLinuxv2+Kata+DisableUnattendedUpgrades=false/line61.sh
  pkg/agent/testdata/AzureLinuxv2+Kata+DisableUnattendedUpgrades=true/CustomData
  pkg/agent/testdata/AzureLinuxv2+Kata+DisableUnattendedUpgrades=true/line61.sh
  pkg/agent/testdata/MarinerV2+CustomCloud/CustomData
  pkg/agent/testdata/MarinerV2+CustomCloud/line61.sh
  pkg/agent/testdata/MarinerV2+Kata/CustomData
  pkg/agent/testdata/MarinerV2+Kata/line61.sh
  pkg/agent/testdata/Marinerv2+DisableUnattendedUpgrades=false/CustomData
  pkg/agent/testdata/Marinerv2+DisableUnattendedUpgrades=false/line61.sh
  pkg/agent/testdata/Marinerv2+DisableUnattendedUpgrades=true/CustomData
  pkg/agent/testdata/Marinerv2+DisableUnattendedUpgrades=true/line61.sh
  pkg/agent/testdata/Marinerv2+Kata+DisableUnattendedUpgrades=false/CustomData
  pkg/agent/testdata/Marinerv2+Kata+DisableUnattendedUpgrades=false/line61.sh
  pkg/agent/testdata/Marinerv2+Kata+DisableUnattendedUpgrades=true/CustomData
  pkg/agent/testdata/Marinerv2+Kata+DisableUnattendedUpgrades=true/line61.sh
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

fix: packer templates
  vhdbuilder/packer/vhd-image-builder-arm64-gen2.json
  vhdbuilder/packer/vhd-image-builder-mariner-arm64.json
Due: .pipelines/.vsts-vhd-builder.yaml

fix: add managed image properties to packer templates for cvm build fix (#4529)
  vhdbuilder/packer/vhd-image-builder-base.json
  vhdbuilder/packer/vhd-image-builder-mariner.json
Due: .pipelines/.vsts-vhd-builder.yaml

fixing bug
  parts/linux/cloud-init/artifacts/mariner/cse_install_mariner.sh
  pkg/agent/testdata/AzureLinuxV2+Kata/CustomData
  pkg/agent/testdata/AzureLinuxV2+Kata/line61.sh
  pkg/agent/testdata/AzureLinuxv2+DisableUnattendedUpgrades=false/CustomData
  pkg/agent/testdata/AzureLinuxv2+DisableUnattendedUpgrades=false/line61.sh
  pkg/agent/testdata/AzureLinuxv2+DisableUnattendedUpgrades=true/CustomData
  pkg/agent/testdata/AzureLinuxv2+DisableUnattendedUpgrades=true/line61.sh
  pkg/agent/testdata/AzureLinuxv2+Kata+DisableUnattendedUpgrades=false/CustomData
  pkg/agent/testdata/AzureLinuxv2+Kata+DisableUnattendedUpgrades=false/line61.sh
  pkg/agent/testdata/AzureLinuxv2+Kata+DisableUnattendedUpgrades=true/CustomData
  pkg/agent/testdata/AzureLinuxv2+Kata+DisableUnattendedUpgrades=true/line61.sh
  pkg/agent/testdata/MarinerV2+CustomCloud/CustomData
  pkg/agent/testdata/MarinerV2+CustomCloud/line61.sh
  pkg/agent/testdata/MarinerV2+Kata/CustomData
  pkg/agent/testdata/MarinerV2+Kata/line61.sh
  pkg/agent/testdata/Marinerv2+DisableUnattendedUpgrades=false/CustomData
  pkg/agent/testdata/Marinerv2+DisableUnattendedUpgrades=false/line61.sh
  pkg/agent/testdata/Marinerv2+DisableUnattendedUpgrades=true/CustomData
  pkg/agent/testdata/Marinerv2+DisableUnattendedUpgrades=true/line61.sh
  pkg/agent/testdata/Marinerv2+Kata+DisableUnattendedUpgrades=false/CustomData
  pkg/agent/testdata/Marinerv2+Kata+DisableUnattendedUpgrades=false/line61.sh
  pkg/agent/testdata/Marinerv2+Kata+DisableUnattendedUpgrades=true/CustomData
  pkg/agent/testdata/Marinerv2+Kata+DisableUnattendedUpgrades=true/line61.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

fix bug
  parts/linux/cloud-init/artifacts/mariner/cse_install_mariner.sh
  pkg/agent/testdata/AzureLinuxV2+Kata/CustomData
  pkg/agent/testdata/AzureLinuxV2+Kata/line61.sh
  pkg/agent/testdata/AzureLinuxv2+DisableUnattendedUpgrades=false/CustomData
  pkg/agent/testdata/AzureLinuxv2+DisableUnattendedUpgrades=false/line61.sh
  pkg/agent/testdata/AzureLinuxv2+DisableUnattendedUpgrades=true/CustomData
  pkg/agent/testdata/AzureLinuxv2+DisableUnattendedUpgrades=true/line61.sh
  pkg/agent/testdata/AzureLinuxv2+Kata+DisableUnattendedUpgrades=false/CustomData
  pkg/agent/testdata/AzureLinuxv2+Kata+DisableUnattendedUpgrades=false/line61.sh
  pkg/agent/testdata/AzureLinuxv2+Kata+DisableUnattendedUpgrades=true/CustomData
  pkg/agent/testdata/AzureLinuxv2+Kata+DisableUnattendedUpgrades=true/line61.sh
  pkg/agent/testdata/MarinerV2+CustomCloud/CustomData
  pkg/agent/testdata/MarinerV2+CustomCloud/line61.sh
  pkg/agent/testdata/MarinerV2+Kata/CustomData
  pkg/agent/testdata/MarinerV2+Kata/line61.sh
  pkg/agent/testdata/Marinerv2+DisableUnattendedUpgrades=false/CustomData
  pkg/agent/testdata/Marinerv2+DisableUnattendedUpgrades=false/line61.sh
  pkg/agent/testdata/Marinerv2+DisableUnattendedUpgrades=true/CustomData
  pkg/agent/testdata/Marinerv2+DisableUnattendedUpgrades=true/line61.sh
  pkg/agent/testdata/Marinerv2+Kata+DisableUnattendedUpgrades=false/CustomData
  pkg/agent/testdata/Marinerv2+Kata+DisableUnattendedUpgrades=false/line61.sh
  pkg/agent/testdata/Marinerv2+Kata+DisableUnattendedUpgrades=true/CustomData
  pkg/agent/testdata/Marinerv2+Kata+DisableUnattendedUpgrades=true/line61.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

fix: containerd/runc versions in mariner/azlinux release notes
  parts/linux/cloud-init/artifacts/mariner/cse_install_mariner.sh
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

reduce variability between pipelines
  .pipelines/.vsts-vhd-builder-release.yaml
  .pipelines/e2e.yaml
  .pipelines/templates/e2e-template.yaml
Due: .pipelines/e2e.yaml

chore: typos
  parts/linux/cloud-init/artifacts/mariner/cse_install_mariner.sh
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

remove else
  parts/linux/cloud-init/artifacts/cse_main.sh
Due: .pipelines/e2e.yaml

chore: formatting
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml

improve error message
  e2e/scenario/validators.go
Due: .pipelines/e2e.yaml

fix a logic bug to install containerd
  parts/linux/cloud-init/artifacts/README.md
  parts/linux/cloud-init/artifacts/cse_install.sh
  parts/linux/cloud-init/artifacts/mariner/cse_install_mariner.sh
  spec/parts/linux/cloud-init/artifacts/cse_install_spec.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

build:Remove unused build pipelines.
  .pipelines/.vsts-kata-uvm-builder.yaml
  .pipelines/.vsts-vhd-builder.yaml
Due: .pipelines/.vsts-vhd-builder.yaml

dont download kata packages
  parts/linux/cloud-init/artifacts/mariner/cse_install_mariner.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

chore(deps): cacing the CNI 1.6.0 in VHD
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml

add more unit tests
  parts/linux/cloud-init/artifacts/cse_install.sh
  spec/parts/linux/cloud-init/artifacts/cse_install_spec.sh
  spec/parts/linux/cloud-init/artifacts/test_components.json
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

force waagent dir for kata
  vhdbuilder/packer/init-variables.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

chore(deps): cache CNI/CNS V1.6.0 (#4524)
  parts/linux/cloud-init/artifacts/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/e2e.yaml

feat: use cse script package in static config file
  parts/windows/kuberneteswindowssetup.ps1
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/e2e-windows.yaml

feat: remove Invoke-Expression in Windows CSE command
  parts/windows/csecmd.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud+ootcredentialprovider/CSECommand
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CSECommand
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CSECommand
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CSECommand
  pkg/agent/testdata/AKSWindows2019+K8S116/CSECommand
  pkg/agent/testdata/AKSWindows2019+K8S117/CSECommand
  pkg/agent/testdata/AKSWindows2019+K8S118/CSECommand
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CSECommand
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CSECommand
  pkg/agent/testdata/AKSWindows2019+K8S119/CSECommand
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CSECommand
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CSECommand
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CSECommand
  pkg/agent/testdata/AKSWindows2019+ootcredentialprovider/CSECommand
Due: .pipelines/e2e-windows.yaml

chore: update npm linux to v1.5.29 (#4526)
  parts/linux/cloud-init/artifacts/components.json
Due: .pipelines/e2e.yaml

index -1 only supports in newer bash script.
  parts/linux/cloud-init/artifacts/cse_install.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

bug: fix trivy scanning so that rbac roles are deleted (#4527)
  vhdbuilder/packer/vhd-scanning.sh
Due: .pipelines/.vsts-vhd-builder.yaml

fix: containerd version in azlinux/mariner release notes
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml

test: Simplify e2e test configuration (#4512)
  .pipelines/e2e.yaml
  e2e/airgap.go
  e2e/artifact/download.go
  e2e/cluster.go
  e2e/config/azure.go
  e2e/config/config.go
  e2e/const.go
  e2e/e2e-local.sh
  e2e/errors.go
  e2e/exec.go
  e2e/flags.go
  e2e/go.mod
  e2e/go.sum
  e2e/kube.go
  e2e/log.go
  e2e/node.go
  e2e/nodebootstrapping.go
  e2e/opts.go
  e2e/pod.go
  e2e/pollers.go
  e2e/random.go
  e2e/regex.go
  e2e/scenario/scenario.go
  e2e/scenario/validators.go
  e2e/scenario/vhd.go
  e2e/suite/suite.go
  e2e/suite_test.go
  e2e/template.go
  e2e/validation.go
  e2e/vmss.go
  e2e/windows/e2e_test.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix: containerd version in azlinux/mariner release notes (#4536)
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml
