Repository Azure/AgentBaker: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml, .pipelines/update-go-binary.yaml

.pipelines/.vsts-vhd-builder-gpu.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_$(Build.SourceBranchName)_$(BuildID)
  pool:
    name: $(POOL_NAME)
  stages:
  - stage: build
    jobs:
    - job: build2404gen2containerd
      timeoutInMinutes: 360
      steps:
      - bash: 'echo ''##vso[task.setvariable variable=OS_SKU]Ubuntu''
  
  ...

.pipelines/.vsts-vhd-builder-pr-windows.yaml:
  name: PR_$(Date:yyyyMMdd)$(Rev:.r)_$(Build.SourceBranchName)_$(BuildID)
  pool:
    name: $(POOL_NAME)
  stages:
  - template: ./templates/.build-and-test-windows-vhds-template.yaml
    parameters:
      vhddebug: false
      skipExtensionCheck: true
      dryrun: false
      overrideBranch: master
  ...

.pipelines/.vsts-vhd-builder.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_$(Build.SourceBranchName)_$(BuildID)
  pool:
    name: $(POOL_NAME)
  stages:
  - stage: build
    jobs:
    - job: build2004fipsgen2containerd
      timeoutInMinutes: 180
      steps:
      - bash: 'echo ''##vso[task.setvariable variable=OS_SKU]Ubuntu''
  
  ...

.pipelines/.vsts-vhd-refresh-testdata.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_$(Build.SourceBranchName)_$(BuildID)
  pool:
    name: $(POOL_NAME)
  stages:
  - stage: Generate_and_Publish_Testdata
    condition: succeeded()
    jobs:
    - job: Generate_Publish_Testdata
      timeoutInMinutes: 10
      steps:
      - bash: 'make generate
  
          '
  ...

.pipelines/e2e-windows.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: ./templates/e2e-template.yaml
    parameters:
      name: Windows Tests
      IgnoreScenariosWithMissingVhd: false

.pipelines/e2e.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: ./templates/e2e-template.yaml
    parameters:
      name: Linux Tests
      IgnoreScenariosWithMissingVhd: false

.pipelines/update-go-binary.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  jobs: null
  check-file:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout current branch
      uses: actions/checkout@v2
    - name: build go binary
      run: make update-contract
    - name: Save file from current branch
      run: cp pkg/parser/bin/parser parser
  ...

add label
  spec/parts/linux/cloud-init/artifacts/cse_config_spec.sh
Due: none

test(e2e/localdns): assert exporter connection teardown and worker unit state
  e2e/localdns/validate-localdns-exporter-metrics.sh
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix: narrow Ubuntu kernel module deny mitigation
  e2e/validators.go
  parts/linux/cloud-init/artifacts/cse_helpers.sh
  parts/linux/cloud-init/artifacts/cse_main.sh
  spec/parts/linux/cloud-init/artifacts/cse_main_disable_modules_spec.sh
  vhdbuilder/packer/packer_source.sh
  vhdbuilder/packer/test/linux-vhd-content-test.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix: disable scriptless phase2 in case of customcacerts
  e2e/validators.go
  pkg/agent/baker.go
  pkg/agent/baker_test.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

refactor: hardcode WIRESERVER_ENDPOINT unconditionally
  parts/linux/cloud-init/artifacts/init-aks-cloud.sh
  spec/parts/linux/cloud-init/artifacts/init_aks_cloud_spec.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

style: restore comment explaining WIRESERVER_ENDPOINT constant
  parts/linux/cloud-init/artifacts/init-aks-cloud.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

arm64 COSI: bundle source + bootstrap tooling on minimal pool
  .pipelines/.vsts-vhd-builder-release.yaml
  .pipelines/templates/.builder-cosi-convert-template.yaml
  .pipelines/templates/.builder-release-template.yaml
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml

fix: revert CA bundle copy guards to match original behavior
  parts/linux/cloud-init/artifacts/init-aks-cloud.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

test: remove brittle grep assertion for internal mode variable
  spec/parts/linux/cloud-init/artifacts/init_aks_cloud_spec.sh
Due: none

fix: allowlist all CILIUM_ rules for EBPF Host Routing (#8977)
  e2e/validation.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

arm64 COSI: bundle source AFTER checkout, use artifactName suffix
  .pipelines/.vsts-vhd-builder-release.yaml
  .pipelines/templates/.builder-cosi-convert-template.yaml
  .pipelines/templates/.builder-release-template.yaml
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml

fix: disable scriptless phase2 in case of customcacerts (#8995)
  e2e/validators.go
  pkg/agent/baker.go
  pkg/agent/baker_test.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix
  packer.mk
  vhdbuilder/packer/produce-packer-settings-functions.sh
  vhdbuilder/packer/produce-packer-settings.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

fix: address scriptless phase2 backport feedback
  parts/linux/cloud-init/artifacts/aks-node-controller-hotfix.json
  pkg/agent/baker.go
  pkg/agent/baker_test.go
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

Revert "fix(localdns): handle exporter client disconnects (#8791)"
  parts/linux/cloud-init/artifacts/localdns_exporter.sh
  spec/parts/linux/cloud-init/artifacts/localdns_exporter_spec.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

fix: keep inactive hotfix file absent
  .github/workflows/hotfix-generate.yml
  hotfix/hotfix_generate.py
  parts/linux/cloud-init/artifacts/aks-node-controller-hotfix.json
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

fix: align scriptless phase2 review feedback
  e2e/validators.go
  pkg/agent/baker_test.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

extend gpu e2e pipeline jobTimeoutInMinutes to 2 hours
  .pipelines/e2e-gpu.yaml
  .pipelines/templates/e2e-template.yaml
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix: align scriptless fallback state
  e2e/validators.go
  e2e/vmss.go
  pkg/agent/baker.go
  pkg/agent/baker_test.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

Cherry-pick PR #8995 into official/v20260720 (#9001)
  .github/workflows/hotfix-generate.yml
  e2e/validators.go
  e2e/vmss.go
  hotfix/hotfix_generate.py
  pkg/agent/baker.go
  pkg/agent/baker_test.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

arm64 COSI: install CGO/OpenSSL deps for Microsoft Go build
  .pipelines/templates/.builder-cosi-convert-template.yaml
Due: none

Revert "fix(localdns): handle exporter client disconnects (#8791)", keep only Bug 2 fix
  parts/linux/cloud-init/artifacts/localdns_exporter.sh
  spec/parts/linux/cloud-init/artifacts/localdns_exporter_spec.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

arm64 COSI: install glibc-devel on Azure Linux for CGO builds
  .pipelines/templates/.builder-cosi-convert-template.yaml
Due: none

fix(localdns): drain HTTP request headers in exporter (Bug 2 only)
  parts/linux/cloud-init/artifacts/localdns_exporter.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

test(vhd-builder): restrict PR-gate build matrix to Ubuntu 2204 + 2404
  .pipelines/.vsts-vhd-builder.yaml
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml

chore: update assignees and reviewers for acr-credential-provider-sysext
  .github/renovate.json
Due: none

chore(CODEOWNERS): add owners for validate-localdns-exporter-metrics.sh
  CODEOWNERS
Due: none

arm64 COSI: build cosi-upload cgo-free (ms_nocgo_opensslcrypto)
  .pipelines/templates/.builder-cosi-convert-template.yaml
  packer.mk
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

fix: preserve location for linux provisioning
  aks-node-controller/parser/parser_test.go
  aks-node-controller/parser/templates/cse_cmd.sh.gtpl
  aks-node-controller/parser/testdata/AKSUbuntu2204+CloudProviderOverrides/generatedCSECommand
  aks-node-controller/parser/testdata/AKSUbuntu2204+Containerd+MIG/generatedCSECommand
  aks-node-controller/parser/testdata/AKSUbuntu2204+CustomCloud/generatedCSECommand
  aks-node-controller/parser/testdata/AKSUbuntu2204+CustomOSConfig/generatedCSECommand
  aks-node-controller/parser/testdata/AKSUbuntu2204+DefaultPubkeyAuth/generatedCSECommand
  aks-node-controller/parser/testdata/AKSUbuntu2204+DisablePubkeyAuth/generatedCSECommand
  aks-node-controller/parser/testdata/AKSUbuntu2204+EnablePubkeyAuth/generatedCSECommand
  aks-node-controller/parser/testdata/AKSUbuntu2204+LocalDNS+HostsPlugin/generatedCSECommand
  aks-node-controller/parser/testdata/AKSUbuntu2204+LocalDNS/generatedCSECommand
  aks-node-controller/parser/testdata/AKSUbuntu2204+SSHStatusOn/generatedCSECommand
  aks-node-controller/parser/testdata/AzureLinuxv2+Kata+DisableUnattendedUpgrades=false/generatedCSECommand
  aks-node-controller/parser/testdata/Compatibility+EmptyConfig/generatedCSECommand
  parts/linux/cloud-init/artifacts/cse_cmd.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

fix: preserve init cloud repo depot env
  aks-node-controller/parser/parser_test.go
  parts/linux/cloud-init/artifacts/cse_cmd.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

fix: scope location provisioning env
  aks-node-controller/parser/parser.go
  aks-node-controller/parser/parser_test.go
  aks-node-controller/parser/templates/cse_cmd.sh.gtpl
  aks-node-controller/parser/testdata/AKSUbuntu2204+China/generatedCSECommand
  aks-node-controller/parser/testdata/AKSUbuntu2204+CloudProviderOverrides/generatedCSECommand
  aks-node-controller/parser/testdata/AKSUbuntu2204+Containerd+MIG/generatedCSECommand
  aks-node-controller/parser/testdata/AKSUbuntu2204+CustomCloud/generatedCSECommand
  aks-node-controller/parser/testdata/AKSUbuntu2204+CustomOSConfig/generatedCSECommand
  aks-node-controller/parser/testdata/AKSUbuntu2204+DefaultPubkeyAuth/generatedCSECommand
  aks-node-controller/parser/testdata/AKSUbuntu2204+DisablePubkeyAuth/generatedCSECommand
  aks-node-controller/parser/testdata/AKSUbuntu2204+EnablePubkeyAuth/generatedCSECommand
  aks-node-controller/parser/testdata/AKSUbuntu2204+LocalDNS+HostsPlugin/generatedCSECommand
  aks-node-controller/parser/testdata/AKSUbuntu2204+LocalDNS/generatedCSECommand
  aks-node-controller/parser/testdata/AKSUbuntu2204+SSHStatusOn/generatedCSECommand
  aks-node-controller/parser/testdata/AzureLinuxv2+Kata+DisableUnattendedUpgrades=false/generatedCSECommand
  aks-node-controller/parser/testdata/Compatibility+EmptyConfig/generatedCSECommand
  parts/linux/cloud-init/artifacts/cse_cmd.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

fix scriptless_nbc for custom ca trust config
  e2e/validators.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix: document cse env flattening
  aks-node-controller/parser/templates/cse_cmd.sh.gtpl
  parts/linux/cloud-init/artifacts/cse_cmd.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

fix: clarify cse env flattening comments
  aks-node-controller/parser/templates/cse_cmd.sh.gtpl
  parts/linux/cloud-init/artifacts/cse_cmd.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

test: extend gpu e2e pipeline jobTimeoutInMinutes to 2 hours (#9004)
  .pipelines/e2e-gpu.yaml
  .pipelines/templates/e2e-template.yaml
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix: match ACR regional (geo) login server endpoints in credential-provider config (#8994)
  parts/linux/cloud-init/artifacts/cse_config.sh
  spec/parts/linux/cloud-init/artifacts/cse_config_spec.sh
  staging/cse/windows/configfunc.ps1
  staging/cse/windows/credentialProvider.tests.suites/CustomCloudContainerRegistryDNSSuffixEmpty.config.yaml
  staging/cse/windows/credentialProvider.tests.suites/CustomCloudContainerRegistryDNSSuffixNotEmpty.config.yaml
  staging/cse/windows/credentialProvider.tests.suites/credential-provider-config.yaml
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

test: harden location propagation assertion
  aks-node-controller/parser/parser_test.go
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml

Path conditions:
  .pipelines/.vsts-vhd-builder-gpu.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, .pipelines/templates/.builder-release-template.yaml, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/e2e-template.yaml, parts/linux, packer.mk, aks-node-controller, parts/common/components.json, go.mod, go.sum, e2e/scenario_gpu_managed_experience_test.go, but not: schemas/windows_settings.cue, vhdbuilder/release-notes, vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/windows, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*, .github, e2e/scenario_win_test.go, **/*.md
  .pipelines/.vsts-vhd-builder-pr-windows.yaml: any of: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/scripts, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/.build-and-test-windows-vhds-template.yaml, .pipelines/templates/.build-and-test-windows-vhd-template.yaml, .pipelines/templates/.builder-release-template-windows.yaml, .pipelines/templates/e2e-template.yaml, packer.mk, vhdbuilder/packer/packer-plugin.pkr.hcl, vhdbuilder/packer/*.ps1, vhdbuilder/packer/test/*.ps1, vhdbuilder/packer/test/run-test.sh, vhdbuilder/packer/windows-sub-cleanup.sh, vhdbuilder/packer/cleanup.sh, vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh, vhdbuilder/packer/generate-vhd-publishing-info.sh, vhdbuilder/packer/produce-packer-settings.sh, vhdbuilder/packer/windows, parts/common/components.json, parts/windows, go.mod, go.sum, e2e, staging/cse/windows, but not: vhdbuilder/release-notes, **/*.md, .github, e2e/scenario_test.go
  .pipelines/.vsts-vhd-builder.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, .pipelines/templates/.builder-release-template.yaml, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/e2e-template.yaml, parts/linux, packer.mk, aks-node-controller, parts/common/components.json, go.mod, go.sum, but not: schemas/windows_settings.cue, vhdbuilder/release-notes, vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/windows, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*, .github, e2e/scenario_win_test.go
  .pipelines/.vsts-vhd-refresh-testdata.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-refresh-testdata.yaml, parts/linux, packer.mk, parts/common/components.json, but not: vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*
  .pipelines/e2e-windows.yaml: any of: .pipelines/e2e-windows.yaml, .pipelines/templates/e2e-template.yaml, .pipelines/scripts/e2e_run.sh, .pipelines/scripts/e2e_delete_vmss.sh, e2e, parts/windows, pkg/agent, parts/common/components.json, staging/cse/windows, go.mod, go.sum, but not: pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/*Ubuntu*, pkg/agent/testdata/*Flatcar*, pkg/agent/testdata/*Mariner*, pkg/agent/testdata/*AzureLinux*, parts/common/components.json, staging/cse/windows/README, **/*.md, .github, e2e/scenario_test.go
  .pipelines/e2e.yaml: any of: .pipelines/e2e.yaml, .pipelines/templates/e2e-template.yaml, .pipelines/scripts/e2e_run.sh, e2e, parts/linux, parts/common/components.json, pkg/agent, go.mod, go.sum, but not: pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/AKSWindows*, parts/common/components.json, staging/cse/windows/README, **/*.md, e2e/scenario_win_test.go
  .pipelines/update-go-binary.yaml: any of: pkg/proto, pkg/parser
