Repository Azure/AgentBaker: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

Path conditions:
  .pipelines/.vsts-vhd-builder-release-windows.yaml: any of: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/templates/.builder-release-template-windows.yaml, packer.mk, vhdbuilder/packer/packer-plugin.pkr.hcl, vhdbuilder/packer/*.ps1, vhdbuilder/packer/test/*.ps1, vhdbuilder/packer/test/run-test.sh, vhdbuilder/packer/backfill-cleanup.sh, vhdbuilder/packer/cleanup.sh, vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh, vhdbuilder/packer/generate-vhd-publishing-info.sh, vhdbuilder/packer/init-variables.sh, vhdbuilder/packer/windows-image.env, vhdbuilder/packer/windows-vhd-builder-sig.json
  .pipelines/.vsts-vhd-builder.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, parts/linux/cloud-init/artifacts/manifest.json, parts/linux/cloud-init/artifacts/cse_install.sh, parts/linux/cloud-init/artifacts/cse_helpers.sh, parts/linux/cloud-init/artifacts/ubuntu/cse_install_ubuntu.sh, parts/linux/cloud-init/artifacts/mariner/cse_install_mariner.sh, packer.mk, but not: vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*
  .pipelines/e2e-windows.yaml: any of: .pipelines/e2e-windows.yaml, .pipelines/templates/e2e-windows-template.yaml, e2e/windows, parts/windows, staging/cse/windows
  .pipelines/e2e.yaml: any of: .pipelines/e2e.yaml, e2e, parts/linux, pkg/agent, but not: e2e/windows, pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json

Move helpers to the nbcontract folder
  pkg/proto/nbcontract/v1/const.go
  pkg/proto/nbcontract/v1/helper.go
  pkg/proto/nbcontract/v1/helper_test.go
Due: none

change is_vhd to optional
  pkg/proto/nbcontract/v1/config.pb.go
  pkg/proto/nbcontract/v1/config.proto
Due: none

feat: add parameters for collect-windows-logs.ps1
  staging/cse/windows/debug/collect-windows-logs.ps1
Due: .pipelines/e2e-windows.yaml

feat: add parameters for collect-windows-logs.ps1 (#4325)
  staging/cse/windows/debug/collect-windows-logs.ps1
Due: .pipelines/e2e-windows.yaml

feat: bump new CSE and skip CleanupNetwork controlled by AKS toggle
  parts/windows/kuberneteswindowssetup.ps1
  pkg/agent/datamodel/types.go
  pkg/agent/testdata/AKSWindows2019+CustomCloud+ootcredentialprovider/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/agent/testdata/AKSWindows2019+ootcredentialprovider/CustomData
  pkg/agent/variables.go
  pkg/templates/templates_generated.go
  staging/cse/windows/README
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

feat: bump new CSE and skip CleanupNetwork controlled by AKS toggle (#4103)
  parts/windows/kuberneteswindowssetup.ps1
  pkg/agent/datamodel/types.go
  pkg/agent/testdata/AKSWindows2019+CustomCloud+ootcredentialprovider/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/agent/testdata/AKSWindows2019+ootcredentialprovider/CustomData
  pkg/agent/variables.go
  pkg/templates/templates_generated.go
  staging/cse/windows/README
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

chore: cache secrets-store-csi-driver v1.4.3 (#4320)
  vhdbuilder/packer/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

chore: upgrade Azure File CSI driver versions in vhd image (#4324)
  vhdbuilder/packer/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

feat: remove duplicate value in Windows ExceptionList
  staging/cse/windows/azurecnifunc.ps1
Due: .pipelines/e2e-windows.yaml

docs: add Windows image release notes for 2024-4B of 23H2
  vhdbuilder/release-notes/AKSWindows/23H2-gen2/25398.830.240411.txt
  vhdbuilder/release-notes/AKSWindows/23H2/25398.830.240411.txt
Due: none

fix: add image-list.json files
  vhdbuilder/release-notes/AKSWindows/23H2-gen2/25398.830.240411-image-list.json
  vhdbuilder/release-notes/AKSWindows/23H2/25398.830.240411-image-list.json
Due: none

docs: add Windows image release notes for 2024-4B of 23H2 (#4311)
  vhdbuilder/release-notes/AKSWindows/23H2-gen2/25398.830.240411-image-list.json
  vhdbuilder/release-notes/AKSWindows/23H2-gen2/25398.830.240411.txt
  vhdbuilder/release-notes/AKSWindows/23H2/25398.830.240411-image-list.json
  vhdbuilder/release-notes/AKSWindows/23H2/25398.830.240411.txt
Due: none

fix: fix the wrong variable in windows VHD backfill script
  vhdbuilder/packer/backfill-cleanup.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

fix: fix the wrong variable in windows VHD backfill script (#4331)
  vhdbuilder/packer/backfill-cleanup.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

Update pkg/agent/datamodel/sig_config.go
  pkg/agent/datamodel/sig_config.go
Due: none

Update pkg/agent/datamodel/helper.go
  pkg/agent/datamodel/helper.go
Due: .pipelines/e2e.yaml

fix imports
  apiserver/getcachedvhdimages.go
  apiserver/getdistrosigimageconfig.go
  apiserver/getlatestsigimageconfig.go
  apiserver/getnodebootstrapdata.go
Due: none

cammel case for json key
  apiserver/getcachedvhdimages.go
Due: none

change function name
  pkg/agent/datamodel/helper.go
  pkg/agent/datamodel/sig_config.go
Due: .pipelines/e2e.yaml

trim suffix
  pkg/agent/datamodel/helper.go
Due: .pipelines/e2e.yaml

needs to be cap to be exported
  apiserver/getcachedvhdimages.go
Due: none

Add validation for required fields in NBContractBuilder
  pkg/proto/nbcontract/v1/helper.go
  pkg/proto/nbcontract/v1/helper_test.go
Due: none

make components a little neater
  pkg/agent/bakerapi_test.go
  pkg/agent/datamodel/sig_config.go
Due: .pipelines/e2e.yaml

fix typo
  pkg/proto/nbcontract/v1/helper.go
Due: none

change needs_cgroupv2 to optional
  pkg/proto/nbcontract/v1/config.pb.go
  pkg/proto/nbcontract/v1/config.proto
Due: none

Add downloaded files
  apiserver/getcachedvhdimages.go
  pkg/agent/bakerapi.go
  pkg/agent/bakerapi_test.go
  pkg/agent/datamodel/helper.go
  pkg/agent/datamodel/sig_config.go
Due: .pipelines/e2e.yaml

chore: bumping image version to 202404.15.0
  pkg/agent/datamodel/linux_sig_version.json
Due: none

chore: update image version in official branch
  pkg/agent/datamodel/linux_sig_version.json
Due: none

chore: compute and store VHD build timestamp in official branch
  vhdbuilder/202404.15.0_build_timestamp.json
Due: none

add more required fields in validateRequiredStringsNotEmpty
  pkg/proto/nbcontract/v1/helper.go
Due: none

Remove VnetResourceGroup check from validateRequiredStringsNotEmpty
  pkg/proto/nbcontract/v1/helper.go
Due: none

add_cloud_init_test
  vhdbuilder/packer/test/linux-vhd-content-test.sh
Due: .pipelines/.vsts-vhd-builder.yaml

update tests
  pkg/proto/nbcontract/v1/helper_test.go
Due: none

fix lint
  pkg/proto/nbcontract/v1/helper.go
  pkg/proto/nbcontract/v1/helper_test.go
Due: none
