Repository Azure/AgentBaker: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml, .pipelines/update-go-binary.yaml

Path conditions:
  .pipelines/.vsts-vhd-builder-gpu.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, .pipelines/templates/.builder-release-template.yaml, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/e2e-template.yaml, parts/linux, packer.mk, aks-node-controller, parts/common/components.json, go.mod, go.sum, e2e/scenario_gpu_managed_experience_test.go, but not: schemas/windows_settings.cue, vhdbuilder/release-notes, vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/windows, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*, .github, e2e/scenario_win_test.go, **/*.md
  .pipelines/.vsts-vhd-builder-pr-windows.yaml: any of: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/scripts, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/.build-and-test-windows-vhds-template.yaml, .pipelines/templates/.build-and-test-windows-vhd-template.yaml, .pipelines/templates/.builder-release-template-windows.yaml, .pipelines/templates/e2e-template.yaml, packer.mk, vhdbuilder/packer/packer-plugin.pkr.hcl, vhdbuilder/packer/*.ps1, vhdbuilder/packer/test/*.ps1, vhdbuilder/packer/test/run-test.sh, vhdbuilder/packer/windows-sub-cleanup.sh, vhdbuilder/packer/cleanup.sh, vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh, vhdbuilder/packer/generate-vhd-publishing-info.sh, vhdbuilder/packer/produce-packer-settings.sh, vhdbuilder/packer/windows, parts/common/components.json, parts/windows, go.mod, go.sum, e2e, staging/cse/windows, but not: vhdbuilder/release-notes, **/*.md, .github, e2e/scenario_test.go
  .pipelines/.vsts-vhd-builder.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, .pipelines/templates/.builder-release-template.yaml, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/e2e-template.yaml, parts/linux, packer.mk, aks-node-controller, parts/common/components.json, go.mod, go.sum, but not: schemas/windows_settings.cue, vhdbuilder/release-notes, vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/windows, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*, .github, e2e/scenario_win_test.go
  .pipelines/.vsts-vhd-refresh-testdata.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-refresh-testdata.yaml, parts/linux, packer.mk, parts/common/components.json, but not: vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*
  .pipelines/e2e-windows.yaml: any of: .pipelines/e2e-windows.yaml, .pipelines/templates/e2e-template.yaml, .pipelines/scripts/e2e_run.sh, .pipelines/scripts/e2e_delete_vmss.sh, e2e, parts/windows, pkg/agent, parts/common/components.json, staging/cse/windows, go.mod, go.sum, but not: pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/*Ubuntu*, pkg/agent/testdata/*Flatcar*, pkg/agent/testdata/*Mariner*, pkg/agent/testdata/*AzureLinux*, parts/common/components.json, staging/cse/windows/README, **/*.md, .github, e2e/scenario_test.go
  .pipelines/e2e.yaml: any of: .pipelines/e2e.yaml, .pipelines/templates/e2e-template.yaml, .pipelines/scripts/e2e_run.sh, e2e, parts/linux, parts/common/components.json, pkg/agent, go.mod, go.sum, but not: pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/AKSWindows*, parts/common/components.json, staging/cse/windows/README, **/*.md, e2e/scenario_win_test.go
  .pipelines/update-go-binary.yaml: any of: pkg/proto, pkg/parser

increase timeout to 120s
  e2e/scenario_test.go
  parts/linux/cloud-init/artifacts/cse_config.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

fix(localdns): bind metrics exporter to node IP via systemd drop-in
  e2e/localdns/validate-localdns-exporter-metrics.sh
  e2e/validate_localdns_exporter_metrics.go
  parts/linux/cloud-init/artifacts/cse_config.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix(localdns): use IMDS cache for node IP instead of hostname -I
  parts/linux/cloud-init/artifacts/cse_config.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

fix(localdns): use blocking socket start, fix comment, clean up corefile parser
  parts/linux/cloud-init/artifacts/cse_config.sh
  parts/linux/cloud-init/artifacts/localdns-exporter@.service
  parts/linux/cloud-init/artifacts/localdns.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

fix(localdns): remove unused helper script and tighten port grep pattern
  e2e/localdns/run-localdns-test.sh
  e2e/localdns/validate-localdns-exporter-metrics.sh
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix(localdns): rename memory metric to _bytes and increase CPU precision
  e2e/localdns/validate-localdns-exporter-metrics.sh
  parts/linux/cloud-init/artifacts/localdns.sh
  parts/linux/cloud-init/artifacts/localdns_exporter.sh
  spec/parts/linux/cloud-init/artifacts/localdns_exporter_spec.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix(localdns): add Connection: close header, staleness metric, and test filter
  e2e/localdns/run-localdns-test.sh
  e2e/localdns/validate-localdns-exporter-metrics.sh
  parts/linux/cloud-init/artifacts/localdns.sh
  parts/linux/cloud-init/artifacts/localdns_exporter.sh
  spec/parts/linux/cloud-init/artifacts/localdns_exporter_spec.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix(localdns): add Connection: close header to exporter HTTP responses
  parts/linux/cloud-init/artifacts/localdns_exporter.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

fix(localdns): move exporter socket setup to nodePrep for VHDCaching compat
  parts/linux/cloud-init/artifacts/cse_config.sh
  parts/linux/cloud-init/artifacts/cse_main.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

fix(localdns): simplify exporter socket binding with 0.0.0.0 default
  parts/linux/cloud-init/artifacts/cse_config.sh
  parts/linux/cloud-init/artifacts/cse_main.sh
  parts/linux/cloud-init/artifacts/localdns-exporter.socket
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

fix(localdns): harden socket unit and service for production readiness
  e2e/localdns/validate-localdns-exporter-metrics.sh
  parts/linux/cloud-init/artifacts/localdns-exporter.socket
  parts/linux/cloud-init/artifacts/localdns-exporter@.service
  parts/linux/cloud-init/artifacts/localdns_exporter.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix(localdns): move systemctl cat guard to top of configureLocalDNSExporterSocket
  parts/linux/cloud-init/artifacts/cse_config.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

fix(localdns): defer exporter socket setup after kubelet, fix service status check
  parts/linux/cloud-init/artifacts/cse_config.sh
  parts/linux/cloud-init/artifacts/cse_main.sh
  parts/linux/cloud-init/artifacts/localdns.sh
  parts/linux/cloud-init/artifacts/localdns_exporter.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

fix(localdns): guard exporter socket enable with unit existence check
  parts/linux/cloud-init/artifacts/cse_config.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

Move localdns exporter metrics validation into the common path
  e2e/localdns/validate-localdns-exporter-metrics.sh
  e2e/scenario_test.go
  e2e/validate_localdns_exporter_metrics.go
  e2e/validation.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix(localdns): use bash /dev/tcp instead of nc, add health-check block to test fixtures
  e2e/localdns/validate-localdns-exporter-metrics.sh
  spec/parts/linux/cloud-init/artifacts/localdns_spec.sh
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

revert: remove Connection: close header from exporter responses
  parts/linux/cloud-init/artifacts/localdns_exporter.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

fix(localdns): update shellspec tests and fix OSGuard script path
  spec/parts/linux/cloud-init/artifacts/cse_config_spec.sh
  spec/parts/linux/cloud-init/artifacts/localdns_spec.sh
  vhdbuilder/packer/imagecustomizer/azlosguard/azlosguard.yml
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

feat(localdns): add block label to forward metrics, move resource scraping to localdns.sh
  e2e/localdns/validate-localdns-exporter-metrics.sh
  parts/linux/cloud-init/artifacts/localdns.sh
  parts/linux/cloud-init/artifacts/localdns_exporter.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix(localdns): gate exporter label on socket unit existence, fix stale comments
  parts/linux/cloud-init/artifacts/cse_config.sh
  parts/linux/cloud-init/artifacts/cse_main.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

refactor(localdns): use node label instead of bash guard for exporter validation gating
  e2e/localdns/validate-localdns-exporter-metrics.sh
  e2e/validate_localdns_exporter_metrics.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix(localdns): revert /dev/tcp to nc for Flatcar compatibility
  e2e/localdns/validate-localdns-exporter-metrics.sh
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

refactor(localdns): read CPU/memory metrics from cgroup v2 directly
  parts/linux/cloud-init/artifacts/localdns.service
  parts/linux/cloud-init/artifacts/localdns.sh
  spec/parts/linux/cloud-init/artifacts/localdns_spec.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

fix(localdns): skip exporter validation on VHDs without exporter socket
  e2e/localdns/validate-localdns-exporter-metrics.sh
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix(localdns): skip exporter file checks on Flatcar VHD content test
  vhdbuilder/packer/test/linux-vhd-content-test.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

test(localdns): add shellspec tests for export_resource_metrics
  spec/parts/linux/cloud-init/artifacts/localdns_spec.sh
Due: none

fix(localdns): use variables instead of hardcoded IPs in metrics export
  parts/linux/cloud-init/artifacts/localdns.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

fix(localdns): mock export_resource_metrics in watchdog test
  spec/parts/linux/cloud-init/artifacts/localdns_spec.sh
Due: none

chore(localdns): skip metrics exporter on Flatcar (EOL June 2026)
  vhdbuilder/packer/packer_source.sh
  vhdbuilder/packer/vhd-image-builder-flatcar-arm64.json
  vhdbuilder/packer/vhd-image-builder-flatcar.json
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

feat(localdns): add hosts plugin support for LocalDNS
  .pipelines/scripts/verify_shell.sh
  aks-node-controller/parser/helper.go
  aks-node-controller/parser/helper_test.go
  aks-node-controller/parser/parser.go
  aks-node-controller/parser/parser_test.go
  aks-node-controller/parser/templates/localdns.toml.gtpl
  aks-node-controller/parser/testdata/AKSUbuntu2204+LocalDNS+HostsPlugin/generatedCSECommand
  aks-node-controller/parser/testdata/AKSUbuntu2204+LocalDNS/generatedCSECommand
  aks-node-controller/pkg/gen/aksnodeconfig/v1/localdns_config.pb.go
  aks-node-controller/proto/aksnodeconfig/v1/localdns_config.proto
  e2e/aks_model.go
  e2e/cluster.go
  e2e/scenario_localdns_hosts_test.go
  e2e/types.go
  e2e/validation.go
  e2e/validators.go
  e2e/vmss.go
  parts/linux/cloud-init/artifacts/aks-hosts-setup.service
  parts/linux/cloud-init/artifacts/aks-hosts-setup.sh
  parts/linux/cloud-init/artifacts/aks-hosts-setup.timer
  parts/linux/cloud-init/artifacts/cse_cmd.sh
  parts/linux/cloud-init/artifacts/cse_config.sh
  parts/linux/cloud-init/artifacts/cse_helpers.sh
  parts/linux/cloud-init/artifacts/cse_main.sh
  parts/linux/cloud-init/artifacts/localdns.sh
  pkg/agent/baker.go
  pkg/agent/baker_test.go
  pkg/agent/datamodel/types.go
  pkg/agent/datamodel/types_test.go
  spec/parts/linux/cloud-init/artifacts/aks_hosts_setup_spec.sh
  spec/parts/linux/cloud-init/artifacts/cse_config_spec.sh
  spec/parts/linux/cloud-init/artifacts/cse_main_spec.sh
  spec/parts/linux/cloud-init/artifacts/localdns_spec.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix(spec): add dnsutils to shellspec Docker image and fix localdns spec
  spec/parts/linux/cloud-init/artifacts/localdns_spec.sh
  spec/shellspec.Dockerfile
Due: none

fix: remove stale teleport code that leaked in from old merge
  aks-node-controller/parser/parser.go
  parts/linux/cloud-init/artifacts/cse_cmd.sh
  parts/linux/cloud-init/artifacts/cse_config.sh
  parts/linux/cloud-init/artifacts/cse_helpers.sh
  parts/linux/cloud-init/artifacts/cse_main.sh
  pkg/agent/baker.go
  pkg/agent/datamodel/types.go
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

feat(vhd): wire aks-hosts-setup files into all packer VHD builds
  vhdbuilder/packer/packer_source.sh
  vhdbuilder/packer/vhd-image-builder-acl-arm64.json
  vhdbuilder/packer/vhd-image-builder-acl.json
  vhdbuilder/packer/vhd-image-builder-arm64-gen2.json
  vhdbuilder/packer/vhd-image-builder-base.json
  vhdbuilder/packer/vhd-image-builder-cvm.json
  vhdbuilder/packer/vhd-image-builder-flatcar-arm64.json
  vhdbuilder/packer/vhd-image-builder-flatcar.json
  vhdbuilder/packer/vhd-image-builder-mariner-arm64.json
  vhdbuilder/packer/vhd-image-builder-mariner-cvm.json
  vhdbuilder/packer/vhd-image-builder-mariner.json
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

fix: remove stale non-localdns changes from branch
  aks-node-controller/parser/parser.go
  e2e/types.go
  e2e/validators.go
  e2e/vmss.go
  parts/linux/cloud-init/artifacts/cse_helpers.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

add unit test for old-CSE + new-VHD fallback path
  spec/parts/linux/cloud-init/artifacts/cse_config_spec.sh
Due: none

fix: restore remaining SKIP_WAAGENT_HOLD guards in nodePrep
  parts/linux/cloud-init/artifacts/cse_main.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

refactor: hosts plugin e2e to use dig AA flag, table-driven tests across all distros
  e2e/scenario_localdns_hosts_test.go
  e2e/validation.go
  e2e/validators.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

address remaining PR review feedback: nslookup→dig, fix stale comment, reuse systemd validators
  e2e/validators.go
  parts/linux/cloud-init/artifacts/aks-hosts-setup.sh
  parts/linux/cloud-init/artifacts/cse_main.sh
  parts/linux/cloud-init/artifacts/localdns.sh
  spec/parts/linux/cloud-init/artifacts/aks_hosts_setup_spec.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix: restore SKIP_WAAGENT_HOLD guard and tag e2e Private DNS zones
  e2e/aks_model.go
  parts/linux/cloud-init/artifacts/cse_main.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

refactor: move corefile selection logic into select_localdns_corefile, add VHD/CSE fallback
  parts/linux/cloud-init/artifacts/cse_config.sh
  parts/linux/cloud-init/artifacts/localdns.sh
  spec/parts/linux/cloud-init/artifacts/localdns_spec.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml
