Repository Azure/AgentBaker: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml, .pipelines/update-go-binary.yaml

.pipelines/.vsts-vhd-builder-release-windows.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_$(Build.SourceBranchName)_$(BuildID)
  pool:
    name: $(AZURE_POOL_NAME)
  stages:
  - template: ./templates/.build-and-test-windows-vhd-template.yaml
    parameters:
      stageName: win_2019_v1
      artifactName: 2019-containerd
      imageName: windows-2019-containerd
  ...

.pipelines/.vsts-vhd-builder.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_$(Build.SourceBranchName)_$(BuildID)
  pool:
    name: $(POOL_NAME)
  stages:
  - template: ./templates/.build-and-test-all-linux-vhds-template.yaml
    parameters:
      useOverrides: ${{ parameters.useOverrides }}
      overrideBranch: ${{ parameters.overrideBranch }}
  ...

.pipelines/e2e-windows.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_e2e
  pool:
    name: $(AZURE_POOL_NAME)
  stages:
  - stage: test_2019_containerd
    dependsOn: []
    condition: eq('${{ parameters.test2019containerd }}', True)
    jobs:
    - template: ./templates/e2e-windows-template.yaml
      parameters:
        windowsImage: 2019-containerd
  ...

.pipelines/e2e.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: ./templates/e2e-template.yaml
    parameters:
      subscriptionId: $(SUBSCRIPTION_ID)
      poolName: $(POOL_NAME)

.pipelines/update-go-binary.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  jobs: null
  check-file:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout current branch
      uses: actions/checkout@v2
    - name: build go binary
      run: make update-contract
    - name: Save file from current branch
      run: cp pkg/parser/bin/parser parser
  ...

echo images
  vhdbuilder/packer/windows/configure-windows-vhd.ps1
Due: none

ciprod upgrade not part of this pr
  parts/linux/cloud-init/artifacts/components.json
Due: .pipelines/.vsts-vhd-builder.yaml

fix: update CUDA driver installation logic for Azure Linux GPU (#5735)
  parts/linux/cloud-init/artifacts/mariner/cse_install_mariner.sh
  pkg/agent/testdata/AzureLinuxV2+Kata/CustomData
  pkg/agent/testdata/AzureLinuxV2+Kata/line61.sh
  pkg/agent/testdata/AzureLinuxv2+DisableUnattendedUpgrades=false/CustomData
  pkg/agent/testdata/AzureLinuxv2+DisableUnattendedUpgrades=false/line61.sh
  pkg/agent/testdata/AzureLinuxv2+DisableUnattendedUpgrades=true/CustomData
  pkg/agent/testdata/AzureLinuxv2+DisableUnattendedUpgrades=true/line61.sh
  pkg/agent/testdata/AzureLinuxv2+Kata+DisableUnattendedUpgrades=false/CustomData
  pkg/agent/testdata/AzureLinuxv2+Kata+DisableUnattendedUpgrades=false/line61.sh
  pkg/agent/testdata/AzureLinuxv2+Kata+DisableUnattendedUpgrades=true/CustomData
  pkg/agent/testdata/AzureLinuxv2+Kata+DisableUnattendedUpgrades=true/line61.sh
  pkg/agent/testdata/MarinerV2+CustomCloud/CustomData
  pkg/agent/testdata/MarinerV2+CustomCloud/line61.sh
  pkg/agent/testdata/MarinerV2+Kata/CustomData
  pkg/agent/testdata/MarinerV2+Kata/line61.sh
  pkg/agent/testdata/Marinerv2+DisableUnattendedUpgrades=false/CustomData
  pkg/agent/testdata/Marinerv2+DisableUnattendedUpgrades=false/line61.sh
  pkg/agent/testdata/Marinerv2+DisableUnattendedUpgrades=true/CustomData
  pkg/agent/testdata/Marinerv2+DisableUnattendedUpgrades=true/line61.sh
  pkg/agent/testdata/Marinerv2+Kata+DisableUnattendedUpgrades=false/CustomData
  pkg/agent/testdata/Marinerv2+Kata+DisableUnattendedUpgrades=false/line61.sh
  pkg/agent/testdata/Marinerv2+Kata+DisableUnattendedUpgrades=true/CustomData
  pkg/agent/testdata/Marinerv2+Kata+DisableUnattendedUpgrades=true/line61.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

fix test
  vhdbuilder/packer/windows/components_json_helpers.tests.ps1
Due: none

enhance logging, disable test
  e2e/kube.go
  e2e/scenario_win_test.go
Due: .pipelines/e2e.yaml

more logging
  e2e/kube.go
Due: .pipelines/e2e.yaml

chore: show cached container images in the logs and their sizes (#5752)
  vhdbuilder/packer/windows/configure-windows-vhd.ps1
Due: none

chore: upgrade CSI sidecar image versions
  parts/linux/cloud-init/artifacts/components.json
Due: .pipelines/.vsts-vhd-builder.yaml

chore: upgrade CSI sidecar image versions (#5713)
  parts/linux/cloud-init/artifacts/components.json
Due: .pipelines/.vsts-vhd-builder.yaml

test: re activate test and scan steps
  vhdbuilder/packer/test-scan-and-cleanup.sh
Due: .pipelines/.vsts-vhd-builder.yaml

test: new sections
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml

test: test automatic ingestion
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml

update cvm version format
  .pipelines/.vsts-vhd-builder-release.yaml
Due: none

feat: add build parameter for AzureLinuxV3 CVM Gen2 in VHD builder pipeline
  .pipelines/.vsts-vhd-builder-release.yaml
Due: none

chore: update windows cse script version (#5749)
  e2e/kube.go
  e2e/scenario_win_test.go
  e2e/validators.go
  parts/linux/cloud-init/artifacts/components.json
  parts/windows/kuberneteswindowssetup.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud+ootcredentialprovider/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletServingCertificateRotation/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/agent/testdata/AKSWindows2019+ootcredentialprovider/CustomData
  staging/cse/windows/README
  vhdbuilder/packer/windows/components_json_helpers.tests.ps1
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

test: auto ingest
  vhdbuilder/packer/install-dependencies.sh
  vhdbuilder/packer/test-scan-and-cleanup.sh
Due: .pipelines/.vsts-vhd-builder.yaml

fix: update IMG_SKU variable for Azure Linux V3 CVM Gen2 in VHD builder pipeline
  .pipelines/.vsts-vhd-builder-release.yaml
Due: none

Add build pipeline for 2404 CVM (#5746)
  .pipelines/.vsts-vhd-builder-release.yaml
Due: none

fix: update IMG_SKU and AZURE_VM_SIZE variables in VHD builder pipeline
  .pipelines/.vsts-vhd-builder-release.yaml
Due: none

fix: update AZURE_VM_SIZE variable in VHD builder pipeline
  .pipelines/.vsts-vhd-builder-release.yaml
Due: none

fix: update Azure VM size to Standard_DC16ds_v3 in pipeline configuration
  .pipelines/.vsts-vhd-builder-release.yaml
Due: none

fix: update AZURE_VM_SIZE variable to Standard_DC16ads_v5 in VHD builder pipeline
  .pipelines/.vsts-vhd-builder-release.yaml
Due: none

fix: correct Azure VM size variable in VHD builder release pipeline
  .pipelines/.vsts-vhd-builder-release.yaml
Due: none

undo unintended change
  .pipelines/.vsts-vhd-builder-release.yaml
Due: none

fix: update Azure VM size to Standard_DC16ads_v5 in VHD builder release pipeline
  .pipelines/.vsts-vhd-builder-release.yaml
Due: none

fix: update IMG_SKU variable in VHD builder pipeline
  .pipelines/.vsts-vhd-builder-release.yaml
Due: none

fix: update Azure VM size to Standard_DC16ds_v3 in pipeline configura… (#5756)
  .pipelines/.vsts-vhd-builder-release.yaml
Due: none

security type test
  .pipelines/.vsts-vhd-builder-release.yaml
Due: none

Turn off to investigate failure
  .pipelines/.vsts-vhd-builder-release.yaml
Due: none

chore: turn off 2404 CVM builds to investigate failures (#5758)
  .pipelines/.vsts-vhd-builder-release.yaml
Due: none

Update packer for new cvm build
  packer.mk
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

Path conditions:
  .pipelines/.vsts-vhd-builder-release-windows.yaml: any of: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/templates/.build-and-test-windows-vhd-template.yaml, .pipelines/templates/.builder-release-template-windows.yaml, .pipelines/templates/e2e-template.yaml, packer.mk, vhdbuilder/packer/packer-plugin.pkr.hcl, vhdbuilder/packer/*.ps1, vhdbuilder/packer/test/*.ps1, vhdbuilder/packer/test/run-test.sh, vhdbuilder/packer/backfill-cleanup.sh, vhdbuilder/packer/cleanup.sh, vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh, vhdbuilder/packer/generate-vhd-publishing-info.sh, vhdbuilder/packer/init-variables.sh, vhdbuilder/packer/windows-image.env, vhdbuilder/packer/windows-vhd-builder-sig.json, but not: vhdbuilder/release-notes, **/*.md
  .pipelines/.vsts-vhd-builder.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, .pipelines/templates/.builder-release-template.yaml, parts/linux, packer.mk, but not: vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*
  .pipelines/e2e-windows.yaml: any of: .pipelines/e2e-windows.yaml, .pipelines/templates/e2e-windows-template.yaml, e2e/windows, parts/windows, staging/cse/windows, but not: staging/cse/windows/README
  .pipelines/e2e.yaml: any of: .pipelines/e2e.yaml, .pipelines/templates/e2e-template.yaml, e2e, parts/linux, pkg/agent, but not: pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/AKSWindows*, parts/linux/cloud-init/artifacts/components.json, staging/cse/windows/README
  .pipelines/update-go-binary.yaml: any of: pkg/proto, pkg/parser
