Repository Azure/AgentBaker: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml, .pipelines/update-go-binary.yaml

Path conditions:
  .pipelines/.vsts-vhd-builder-gpu.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, .pipelines/templates/.builder-release-template.yaml, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/e2e-template.yaml, parts/linux, packer.mk, aks-node-controller, parts/common/components.json, go.mod, go.sum, e2e/scenario_gpu_managed_experience_test.go, but not: schemas/windows_settings.cue, vhdbuilder/release-notes, vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/windows, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*, .github, e2e/scenario_win_test.go, **/*.md
  .pipelines/.vsts-vhd-builder-pr-windows.yaml: any of: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/scripts, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/.build-and-test-windows-vhds-template.yaml, .pipelines/templates/.build-and-test-windows-vhd-template.yaml, .pipelines/templates/.builder-release-template-windows.yaml, .pipelines/templates/e2e-template.yaml, packer.mk, vhdbuilder/packer/packer-plugin.pkr.hcl, vhdbuilder/packer/*.ps1, vhdbuilder/packer/test/*.ps1, vhdbuilder/packer/test/run-test.sh, vhdbuilder/packer/windows-sub-cleanup.sh, vhdbuilder/packer/cleanup.sh, vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh, vhdbuilder/packer/generate-vhd-publishing-info.sh, vhdbuilder/packer/produce-packer-settings.sh, vhdbuilder/packer/windows, parts/common/components.json, parts/windows, go.mod, go.sum, e2e, staging/cse/windows, but not: vhdbuilder/release-notes, **/*.md, .github, e2e/scenario_test.go
  .pipelines/.vsts-vhd-builder.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, .pipelines/templates/.builder-release-template.yaml, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/e2e-template.yaml, parts/linux, packer.mk, aks-node-controller, parts/common/components.json, go.mod, go.sum, but not: schemas/windows_settings.cue, vhdbuilder/release-notes, vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/windows, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*, .github, e2e/scenario_win_test.go
  .pipelines/.vsts-vhd-refresh-testdata.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-refresh-testdata.yaml, parts/linux, packer.mk, parts/common/components.json, but not: vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*
  .pipelines/e2e-windows.yaml: any of: .pipelines/e2e-windows.yaml, .pipelines/templates/e2e-template.yaml, .pipelines/scripts/e2e_run.sh, .pipelines/scripts/e2e_delete_vmss.sh, e2e, parts/windows, pkg/agent, parts/common/components.json, staging/cse/windows, go.mod, go.sum, but not: pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/*Ubuntu*, pkg/agent/testdata/*Flatcar*, pkg/agent/testdata/*Mariner*, pkg/agent/testdata/*AzureLinux*, parts/common/components.json, staging/cse/windows/README, **/*.md, .github, e2e/scenario_test.go
  .pipelines/e2e.yaml: any of: .pipelines/e2e.yaml, .pipelines/templates/e2e-template.yaml, .pipelines/scripts/e2e_run.sh, e2e, parts/linux, parts/common/components.json, pkg/agent, go.mod, go.sum, but not: pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/AKSWindows*, parts/common/components.json, staging/cse/windows/README, **/*.md, e2e/scenario_win_test.go
  .pipelines/update-go-binary.yaml: any of: pkg/proto, pkg/parser

REVERT ME: enable verbose test output for azcopy/wireserver diagnostics
  .pipelines/scripts/e2e_run.sh
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix: make wireserver cert retrieval failures fatal on Linux
  parts/linux/cloud-init/artifacts/init-aks-custom-cloud.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

REVERT ME: add azcopy error logging to Windows log collection
  e2e/vmss.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

revert: remove diagnostic commits used during RCV1P development
  .pipelines/scripts/e2e_run.sh
  e2e/vmss.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

REVERT ME: use branch-built CSE zip for Windows RCV1P E2E tests
  e2e/scenario_rcv1p_test.go
  e2e/scenario_rcv1p_win_test.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix: make wireserver unreachable fatal for RCV1P opt-in check
  parts/linux/cloud-init/artifacts/init-aks-custom-cloud.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

fix: use RCV1P Azure CNI cluster for Windows tests when explicit subscription set
  e2e/cache.go
  e2e/scenario_rcv1p_test.go
  e2e/scenario_rcv1p_win_test.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix: align Windows wireserver retries to 10 to match Linux parity
  parts/linux/cloud-init/artifacts/init-aks-custom-cloud.sh
  staging/cse/windows/kubernetesfunc.ps1
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix: replace legacy ca-refresh cron entry with location-aware version
  parts/linux/cloud-init/artifacts/init-aks-custom-cloud.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

e2e: collapse RCV1P dual-subscription abstraction into single-sub-per-run
  .pipelines/scripts/e2e_run.sh
  e2e/aks_model.go
  e2e/cache.go
  e2e/cluster.go
  e2e/config/config.go
  e2e/kube.go
  e2e/scenario_rcv1p_test.go
  e2e/scenario_rcv1p_win_test.go
  e2e/test_helpers.go
  e2e/types.go
  e2e/vmss.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fixup(rcv1p): re-apply refactor edits dropped by -Xours rebase
  e2e/cache.go
  e2e/cluster.go
  e2e/scenario_rcv1p_test.go
  e2e/scenario_rcv1p_win_test.go
  e2e/test_helpers.go
  e2e/validators.go
  e2e/vmss.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fixup(rcv1p): restore Windows NodePrep CA refresh task and location-aware Get-CACertificates
  parts/windows/kuberneteswindowssetup.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

e2e(rcv1p): remove Test_RCV1P_Flatcar (duplicate of Test_RCV1P_ACL)
  e2e/scenario_rcv1p_test.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fixup(rcv1p): skip Windows NotOptedIn negative test on auto-injecting subs
  .pipelines/e2e-rcv1p.yaml
  .pipelines/templates/e2e-template.yaml
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

refactor(agent): drop rename-service workaround now that custom-cloud init is unified
  pkg/agent/baker.go
  pkg/agent/baker_test.go
  pkg/agent/const.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix(vhd): remove stale references to deleted custom-cloud init scripts
  hack/hotfix_generate.py
  vhdbuilder/packer/imagecustomizer/azlosguard/azlosguard.yml
  vhdbuilder/packer/packer_source.sh
  vhdbuilder/packer/vhd-image-builder-acl-arm64.json
  vhdbuilder/packer/vhd-image-builder-acl.json
  vhdbuilder/packer/vhd-image-builder-arm64-gen2.json
  vhdbuilder/packer/vhd-image-builder-base.json
  vhdbuilder/packer/vhd-image-builder-cvm.json
  vhdbuilder/packer/vhd-image-builder-mariner-arm64.json
  vhdbuilder/packer/vhd-image-builder-mariner-cvm.json
  vhdbuilder/packer/vhd-image-builder-mariner.json
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

chore: update localdns CODEOWNERS to @saewoni
  CODEOWNERS
Due: none

fix: localdns readiness curl must bypass HTTP proxy on http-proxy clusters
  parts/linux/cloud-init/artifacts/localdns.sh
  spec/parts/linux/cloud-init/artifacts/localdns_spec.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

fix(windows): bound wireserver Invoke-WebRequest calls with TimeoutSec=30
  staging/cse/windows/kubernetesfunc.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

chore: skip linux-modules-extra-
  parts/linux/cloud-init/artifacts/ubuntu/cse_install_ubuntu.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

fix(windows): honor -FailOnError when rcv1p opt-in yields zero certs
  staging/cse/windows/kubernetesfunc.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

test(e2e): assert timer absence for ACL/Flatcar in RCV1P not-opted-in
  e2e/validators.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

chore: fix
  parts/linux/cloud-init/artifacts/ubuntu/cse_install_ubuntu.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

test(e2e): add localdns HTTP-proxy readiness-curl bypass VHD validation
  e2e/scenario_test.go
Due: .pipelines/e2e.yaml

chore: add nvidia repo support
  parts/linux/cloud-init/artifacts/ubuntu/cse_install_ubuntu.sh
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

fix(test): Fix go-test
  pkg/agent/datamodel/sig_config_test.go
Due: none

chore: debug
  parts/linux/cloud-init/artifacts/ubuntu/cse_install_ubuntu.sh
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

fix: re-remove redundant cron schedule from e2e-rcv1p pipeline
  .pipelines/e2e-rcv1p.yaml
Due: none

test(e2e): fix localdns file-content assertion string
  e2e/scenario_test.go
Due: .pipelines/e2e.yaml

chore(e2e): remove empty init() in config.go
  e2e/config/config.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

chore: bcc fixes
  parts/linux/cloud-init/artifacts/ubuntu/cse_install_ubuntu.sh
  vhdbuilder/packer/install-dependencies.sh
  vhdbuilder/scripts/linux/ubuntu/tool_installs_ubuntu.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

chore: Remove useless capabilities for privileged debug daemonset
  e2e/kube.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

refactor: rename 26.04 minimal distro and SIGImageConfigTemplate consts
  pkg/agent/datamodel/sig_config.go
  pkg/agent/datamodel/sig_config_test.go
  pkg/agent/datamodel/types.go
  pkg/agent/datamodel/types_test.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

chore: add missing packages for bcc install
  vhdbuilder/scripts/linux/ubuntu/tool_installs_ubuntu.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

chore: purge after bcc install
  vhdbuilder/scripts/linux/ubuntu/tool_installs_ubuntu.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

chore(gpu): rename RTX PRO 6000 BSE v6 SKUs from preview to GA names
  e2e/scenario_test.go
  pkg/agent/baker_test.go
  pkg/agent/datamodel/gpu_components.go
  spec/parts/linux/cloud-init/artifacts/cse_install_acl_spec.sh
  spec/parts/linux/cloud-init/artifacts/cse_install_mariner_spec.sh
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

chore: handle nvidia repo gpg
  parts/linux/cloud-init/artifacts/ubuntu/cse_install_ubuntu.sh
  vhdbuilder/scripts/linux/ubuntu/tool_installs_ubuntu.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

chore: enable LSM configuration with BPF
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

chore: cleanup trivy scanning
  parts/linux/cloud-init/artifacts/cse_config.sh
  vhdbuilder/packer/packer_source.sh
  vhdbuilder/packer/trivy-scan.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

chore: typo
  vhdbuilder/packer/trivy-scan.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml
