Repository Azure/AgentBaker: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml, .pipelines/update-go-binary.yaml

.pipelines/.vsts-vhd-builder-release-windows.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_$(Build.SourceBranchName)_$(BuildID)
  pool:
    name: $(AZURE_POOL_NAME)
  extends:
    template: v2/OneBranch.Official.CrossPlat.yml@templates
    parameters:
      globalSdl:
        antimalwareScan:
          enabled: true
        armory:
          enabled: false
        binskim:
  ...

.pipelines/.vsts-vhd-builder.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_$(OS_SKU)$(OS_VERSION)_$(HYPERV_GENERATION)_$(FEATURE_FLAGS)_$(Build.SourceBranchName)
  pool:
    name: $(POOL_NAME)
  stages:
  - stage: build
    jobs:
    - job: build2204gen2containerd
      timeoutInMinutes: 180
      steps:
  ...

.pipelines/e2e-windows.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_e2e
  pool:
    name: $(AZURE_POOL_NAME)
  stages:
  - stage: test_2019_containerd
    dependsOn: []
    condition: eq('${{ parameters.test2019containerd }}', True)
    jobs:
    - template: ./templates/e2e-windows-template.yaml
      parameters:
        windowsImage: 2019-containerd
  ...

.pipelines/e2e.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: ./templates/e2e-template.yaml

.pipelines/update-go-binary.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  jobs: null
  check-file:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout current branch
      uses: actions/checkout@v2
    - name: build go binary
      run: make update-contract
    - name: Save file from current branch
      run: cp pkg/parser/bin/parser parser
  ...

test: fix azcopy
  .pipelines/templates/.builder-release-template.yaml
Due: .pipelines/.vsts-vhd-builder.yaml

chore: revert to old go-dev container version
  .pipelines/.vsts-vhd-builder-release.yaml
Due: none

test: azcopy login syntax
  vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

fix: align towards use_shallow_replication in init-variables
  vhdbuilder/packer/init-variables.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

test: remove go dev container from convert to vhd blob step
  .pipelines/templates/.builder-release-template.yaml
Due: .pipelines/.vsts-vhd-builder.yaml

fix: remove toggle for shallow replication and set to true
  vhdbuilder/packer/init-variables.sh
  vhdbuilder/packer/vhd-image-builder-arm64-gen2.json
  vhdbuilder/packer/vhd-image-builder-base.json
  vhdbuilder/packer/vhd-image-builder-mariner-arm64.json
  vhdbuilder/packer/vhd-image-builder-mariner.json
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

fix: helper message
  .pipelines/.vsts-vhd-builder-release.yaml
Due: none

fix: go dev container version and msi variable
  .pipelines/.vsts-vhd-builder-release.yaml
  .pipelines/templates/.builder-release-template.yaml
Due: .pipelines/.vsts-vhd-builder.yaml

test: revert to original logic
  .pipelines/templates/.builder-release-template.yaml
  vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

chore: change variable name to match all pipelines
  .pipelines/templates/.builder-release-template.yaml
Due: .pipelines/.vsts-vhd-builder.yaml

chore: remove example variable
  .pipelines/templates/.builder-release-template.yaml
Due: .pipelines/.vsts-vhd-builder.yaml

test: azcopy login method
  .pipelines/templates/.builder-release-template.yaml
  vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

fix: add premium_lrs for base image
  vhdbuilder/packer/vhd-image-builder-base.json
Due: .pipelines/.vsts-vhd-builder.yaml

test: upgrade go dev container version
  .pipelines/.vsts-vhd-builder-release.yaml
Due: none

chore: remove premium ssd used for testing branch
  vhdbuilder/packer/vhd-image-builder-base.json
Due: .pipelines/.vsts-vhd-builder.yaml

test: test azcopy login
  .pipelines/templates/.builder-release-template.yaml
Due: .pipelines/.vsts-vhd-builder.yaml

perf: make useShallowReplication a pipeline variable
  .pipelines/.vsts-vhd-builder-release.yaml
  .pipelines/templates/.builder-release-template.yaml
  vhdbuilder/packer/init-variables.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

chore: change variable name for pipeline
  .pipelines/templates/.builder-release-template.yaml
Due: .pipelines/.vsts-vhd-builder.yaml

fix: remove whitespace bug
  vhdbuilder/packer/init-variables.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

fix: change variable name
  .pipelines/templates/.builder-release-template.yaml
Due: .pipelines/.vsts-vhd-builder.yaml

fix: set stage variables
  .pipelines/templates/.builder-release-template.yaml
Due: .pipelines/.vsts-vhd-builder.yaml

fix: env variable for container
  .pipelines/templates/.builder-release-template.yaml
Due: .pipelines/.vsts-vhd-builder.yaml

fix: azcopy
  vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

test: bump go dev container version
  .pipelines/.vsts-vhd-builder-release.yaml
Due: none

chore: paramter description
  .pipelines/.vsts-vhd-builder-release.yaml
Due: none

fix: indentation
  .pipelines/templates/.builder-release-template.yaml
Due: .pipelines/.vsts-vhd-builder.yaml

chore: merge conflict
  .pipelines/.vsts-vhd-builder.yaml
Due: .pipelines/.vsts-vhd-builder.yaml

fix: pass useShallowReplication paramter to build stages
  .pipelines/.vsts-vhd-builder-release.yaml
  .pipelines/templates/.builder-release-template.yaml
Due: .pipelines/.vsts-vhd-builder.yaml

test: get variable values
  .pipelines/templates/.builder-release-template.yaml
Due: .pipelines/.vsts-vhd-builder.yaml

chore: remove now unnecessary stage variables
  .pipelines/templates/.builder-release-template.yaml
Due: .pipelines/.vsts-vhd-builder.yaml

fix: revert to old go dev container version
  .pipelines/.vsts-vhd-builder-release.yaml
Due: none

test: azcopy login
  .pipelines/templates/.builder-release-template.yaml
Due: .pipelines/.vsts-vhd-builder.yaml

fix: change ordering of pipeline paramters
  .pipelines/.vsts-vhd-builder-release.yaml
Due: none

fix: add shallow replication toggle
  vhdbuilder/packer/init-variables.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

fix: downgrade go dev container by 1 minor version
  .pipelines/.vsts-vhd-builder-release.yaml
Due: none

chore: show description
  .pipelines/.vsts-vhd-builder-release.yaml
Due: none

fix: go dev container for PR check-in gate
  .pipelines/.vsts-vhd-builder.yaml
Due: .pipelines/.vsts-vhd-builder.yaml

fix: change go dev container version for ubuntu bug
  .pipelines/.vsts-vhd-builder.yaml
Due: .pipelines/.vsts-vhd-builder.yaml

Path conditions:
  .pipelines/.vsts-vhd-builder-release-windows.yaml: any of: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/templates/.builder-release-template-windows.yaml, packer.mk, vhdbuilder/packer/packer-plugin.pkr.hcl, vhdbuilder/packer/*.ps1, vhdbuilder/packer/test/*.ps1, vhdbuilder/packer/test/run-test.sh, vhdbuilder/packer/backfill-cleanup.sh, vhdbuilder/packer/cleanup.sh, vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh, vhdbuilder/packer/generate-vhd-publishing-info.sh, vhdbuilder/packer/init-variables.sh, vhdbuilder/packer/windows-image.env, vhdbuilder/packer/windows-vhd-builder-sig.json
  .pipelines/.vsts-vhd-builder.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, .pipelines/templates/.builder-release-template.yaml, parts/linux, packer.mk, but not: vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*
  .pipelines/e2e-windows.yaml: any of: .pipelines/e2e-windows.yaml, .pipelines/templates/e2e-windows-template.yaml, e2e/windows, parts/windows, staging/cse/windows
  .pipelines/e2e.yaml: any of: .pipelines/e2e.yaml, .pipelines/templates/e2e-template.yaml, e2e, but not: e2e/windows
  .pipelines/update-go-binary.yaml: any of: pkg/proto, pkg/parser
