Repository Azure/AgentBaker: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml, .pipelines/update-go-binary.yaml

Path conditions:
  .pipelines/.vsts-vhd-builder-release-windows.yaml: any of: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/templates/.builder-release-template-windows.yaml, packer.mk, vhdbuilder/packer/packer-plugin.pkr.hcl, vhdbuilder/packer/*.ps1, vhdbuilder/packer/test/*.ps1, vhdbuilder/packer/test/run-test.sh, vhdbuilder/packer/backfill-cleanup.sh, vhdbuilder/packer/cleanup.sh, vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh, vhdbuilder/packer/generate-vhd-publishing-info.sh, vhdbuilder/packer/init-variables.sh, vhdbuilder/packer/windows-image.env, vhdbuilder/packer/windows-vhd-builder-sig.json
  .pipelines/.vsts-vhd-builder.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, parts/linux/cloud-init/artifacts/manifest.json, parts/linux/cloud-init/artifacts/cse_install.sh, parts/linux/cloud-init/artifacts/cse_helpers.sh, parts/linux/cloud-init/artifacts/ubuntu/cse_install_ubuntu.sh, parts/linux/cloud-init/artifacts/mariner/cse_install_mariner.sh, packer.mk, but not: vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*
  .pipelines/e2e-windows.yaml: any of: .pipelines/e2e-windows.yaml, .pipelines/templates/e2e-windows-template.yaml, e2e/windows, parts/windows, staging/cse/windows
  .pipelines/e2e.yaml: any of: .pipelines/e2e.yaml, .pipelines/templates/e2e-template.yaml, e2e, but not: e2e/windows
  .pipelines/update-go-binary.yaml: any of: pkg/proto, pkg/parser

test: shallow replication values
  vhdbuilder/packer/vhd-image-builder-mariner.json
Due: .pipelines/.vsts-vhd-builder.yaml

test: azcopy login
  .pipelines/templates/.builder-release-template.yaml
Due: none

fix: remove whitespace in JSON
  vhdbuilder/packer/init-variables.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

fix: fix carriage return bug
  vhdbuilder/packer/init-variables.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

fix: env variable for container
  .pipelines/templates/.builder-release-template.yaml
Due: none

chore: remove new packer version
  .pipelines/templates/.builder-release-template.yaml
Due: none

chore: remove premium ssd used for testing branch
  vhdbuilder/packer/vhd-image-builder-base.json
Due: .pipelines/.vsts-vhd-builder.yaml

fix: revert to using containe for pipeline step
  .pipelines/templates/.builder-release-template.yaml
Due: none

test: premium LRS
  vhdbuilder/packer/vhd-image-builder-base.json
Due: .pipelines/.vsts-vhd-builder.yaml

fix: go dev container version
  .pipelines/.vsts-vhd-builder-release.yaml
Due: none

fix: revert to old go dev container version
  .pipelines/.vsts-vhd-builder-release.yaml
Due: none

chore: remove example variable
  .pipelines/templates/.builder-release-template.yaml
Due: none

fix: azcopy
  vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

fix: add azure-arm plugin for packer v1.11.0
  vhdbuilder/packer/linux-packer-plugin.pkr.hcl
Due: .pipelines/.vsts-vhd-builder.yaml

test: find azcopy
  .pipelines/templates/.builder-release-template.yaml
Due: none

fix: remove whitespace bug
  vhdbuilder/packer/init-variables.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

chore: change variable name for pipeline
  .pipelines/templates/.builder-release-template.yaml
Due: none

chore: change variable name to match all pipelines
  .pipelines/templates/.builder-release-template.yaml
Due: none

fix: variable syntax
  vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

test: make all SKUs into managed images
  vhdbuilder/packer/vhd-image-builder-arm64-gen2.json
  vhdbuilder/packer/vhd-image-builder-base.json
  vhdbuilder/packer/vhd-image-builder-mariner-arm64.json
  vhdbuilder/packer/vhd-image-builder-mariner.json
Due: .pipelines/.vsts-vhd-builder.yaml

chore: automated PR to update VHDVersion for 202407.22.0 VHD (#4678)
  pkg/agent/datamodel/linux_sig_version.json
Due: none

chore: bump containerd patch verison to .20
  parts/linux/cloud-init/artifacts/components.json
Due: none

fix: fix cleanup script bugs
  vhdbuilder/packer/cleanup.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

chore: add echo statement for clarity
  vhdbuilder/packer/cleanup.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

fix ubuntu gpu location
  e2e/scenario_test.go
Due: .pipelines/e2e.yaml

fix: errant variable assignment
  vhdbuilder/packer/cleanup.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

chore: new addon version (#4675)
  parts/linux/cloud-init/artifacts/components.json
Due: none

testing per package assignee
  .github/renovate.json
Due: none

feat: modify tests to check for containerd version based on the state of components.json which is the current source of truth
  e2e/go.mod
  e2e/go.sum
  e2e/scenario_helpers_test.go
  e2e/scenario_test.go
  go.mod
  go.sum
Due: .pipelines/e2e.yaml

bumping limits
  .github/renovate.json
Due: none

feat: update windows release notes for 2024-07
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.5936.240722-image-list.json
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.5936.240722.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2529.240722-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2529.240722.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.2529.240722-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.2529.240722.txt
  vhdbuilder/release-notes/AKSWindows/23H2-gen2/25398.950.240722-image-list.json
  vhdbuilder/release-notes/AKSWindows/23H2-gen2/25398.950.240722.txt
  vhdbuilder/release-notes/AKSWindows/23H2/25398.950.240722-image-list.json
  vhdbuilder/release-notes/AKSWindows/23H2/25398.950.240722.txt
Due: none

working with oss/azure/secrets-store/provider-azure
  .github/renovate.json
Due: none

right settingd
  .github/renovate.json
Due: none

fix
  .github/renovate.json
Due: none
