Repository Azure/AgentBaker: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml, .pipelines/update-go-binary.yaml

Path conditions:
  .pipelines/.vsts-vhd-builder-gpu.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, .pipelines/templates/.builder-release-template.yaml, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/e2e-template.yaml, parts/linux, packer.mk, aks-node-controller, parts/common/components.json, go.mod, go.sum, e2e/scenario_gpu_managed_experience_test.go, but not: schemas/windows_settings.cue, vhdbuilder/release-notes, vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/windows, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*, .github, e2e/scenario_win_test.go, **/*.md
  .pipelines/.vsts-vhd-builder-pr-windows.yaml: any of: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/scripts, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/.build-and-test-windows-vhds-template.yaml, .pipelines/templates/.build-and-test-windows-vhd-template.yaml, .pipelines/templates/.builder-release-template-windows.yaml, .pipelines/templates/e2e-template.yaml, packer.mk, vhdbuilder/packer/packer-plugin.pkr.hcl, vhdbuilder/packer/*.ps1, vhdbuilder/packer/test/*.ps1, vhdbuilder/packer/test/run-test.sh, vhdbuilder/packer/windows-sub-cleanup.sh, vhdbuilder/packer/cleanup.sh, vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh, vhdbuilder/packer/generate-vhd-publishing-info.sh, vhdbuilder/packer/produce-packer-settings.sh, vhdbuilder/packer/windows, parts/common/components.json, parts/windows, go.mod, go.sum, e2e, staging/cse/windows, but not: vhdbuilder/release-notes, **/*.md, .github, e2e/scenario_test.go
  .pipelines/.vsts-vhd-builder.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, .pipelines/templates/.builder-release-template.yaml, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/e2e-template.yaml, parts/linux, packer.mk, aks-node-controller, parts/common/components.json, go.mod, go.sum, but not: schemas/windows_settings.cue, vhdbuilder/release-notes, vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/windows, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*, .github, e2e/scenario_win_test.go
  .pipelines/.vsts-vhd-refresh-testdata.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-refresh-testdata.yaml, parts/linux, packer.mk, parts/common/components.json, but not: vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*
  .pipelines/e2e-windows.yaml: any of: .pipelines/e2e-windows.yaml, .pipelines/templates/e2e-template.yaml, .pipelines/scripts/e2e_run.sh, .pipelines/scripts/e2e_delete_vmss.sh, e2e, parts/windows, pkg/agent, parts/common/components.json, staging/cse/windows, go.mod, go.sum, but not: pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/*Ubuntu*, pkg/agent/testdata/*Flatcar*, pkg/agent/testdata/*Mariner*, pkg/agent/testdata/*AzureLinux*, parts/common/components.json, staging/cse/windows/README, **/*.md, .github, e2e/scenario_test.go
  .pipelines/e2e.yaml: any of: .pipelines/e2e.yaml, .pipelines/templates/e2e-template.yaml, .pipelines/scripts/e2e_run.sh, e2e, parts/linux, parts/common/components.json, pkg/agent, go.mod, go.sum, but not: pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/AKSWindows*, parts/common/components.json, staging/cse/windows/README, **/*.md, e2e/scenario_win_test.go
  .pipelines/update-go-binary.yaml: any of: pkg/proto, pkg/parser

fix: use POSIX-compatible [ ] syntax in aks-hosts-setup.sh
  parts/linux/cloud-init/artifacts/aks-hosts-setup.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

add design doc
  docs/localdns-hosts-plugin-design.md
Due: none

test: add IPv6 filtering test for aks-hosts-setup.sh
  parts/linux/cloud-init/artifacts/aks-hosts-setup.sh
  spec/parts/linux/cloud-init/artifacts/aks_hosts_setup_spec.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

add that we have hardcoded ips
  docs/localdns-hosts-plugin-design.md
Due: none

chore: regenerate protos and test snapshots for localdns hosts plugin
  aks-node-controller/pkg/gen/aksnodeconfig/v1/api_server_config.pb.go
  aks-node-controller/pkg/gen/aksnodeconfig/v1/auth_config.pb.go
  aks-node-controller/pkg/gen/aksnodeconfig/v1/bootstrapping_config.pb.go
  aks-node-controller/pkg/gen/aksnodeconfig/v1/cluster_config.pb.go
  aks-node-controller/pkg/gen/aksnodeconfig/v1/config.pb.go
  aks-node-controller/pkg/gen/aksnodeconfig/v1/containerd_config.pb.go
  aks-node-controller/pkg/gen/aksnodeconfig/v1/custom_cloud_config.pb.go
  aks-node-controller/pkg/gen/aksnodeconfig/v1/custom_linux_os_config.pb.go
  aks-node-controller/pkg/gen/aksnodeconfig/v1/custom_search_domain_config.pb.go
  aks-node-controller/pkg/gen/aksnodeconfig/v1/gpu_config.pb.go
  aks-node-controller/pkg/gen/aksnodeconfig/v1/http_proxy_config.pb.go
  aks-node-controller/pkg/gen/aksnodeconfig/v1/imds_restriction_config.pb.go
  aks-node-controller/pkg/gen/aksnodeconfig/v1/kube_binary_config.pb.go
  aks-node-controller/pkg/gen/aksnodeconfig/v1/kubelet_config.pb.go
  aks-node-controller/pkg/gen/aksnodeconfig/v1/localdns_config.pb.go
  aks-node-controller/pkg/gen/aksnodeconfig/v1/network_config.pb.go
  aks-node-controller/pkg/gen/aksnodeconfig/v1/runc_config.pb.go
  aks-node-controller/pkg/gen/aksnodeconfig/v1/service_account_image_pull_profile.pb.go
  aks-node-controller/pkg/gen/aksnodeconfig/v1/teleport_config.pb.go
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml

fix(localdns): wait for resolv.conf update after networkctl reload to prevent race condition (#7749)
  parts/linux/cloud-init/artifacts/localdns.sh
  spec/parts/linux/cloud-init/artifacts/localdns_spec.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

fix: create new field kubelet_cmd_flags which can replace kubelet_flags (#7771)
  aks-node-controller/Makefile
  aks-node-controller/parser/helper.go
  aks-node-controller/parser/helper_test.go
  aks-node-controller/parser/parser_test.go
  aks-node-controller/pkg/gen/aksnodeconfig/v1/kubelet_config.pb.go
  aks-node-controller/proto/README.md
  aks-node-controller/proto/aksnodeconfig/v1/kubelet_config.proto
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml

test: fix e2e and validation bugs (#7776)
  e2e/config/azure.go
  e2e/validators.go
  vhdbuilder/packer/test-scan-and-cleanup.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

refactor(e2e): wire cluster as DAG task, pass functions directly
  e2e/cluster.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

feat: shrink flatcar customdata size (#7755)
  parts/linux/cloud-init/flatcar.yml
  pkg/agent/baker.go
  pkg/agent/baker_test.go
  pkg/agent/testdata/Flatcar+CustomCloud+USSec/CustomData
  pkg/agent/testdata/Flatcar+CustomCloud+USSec/CustomData.inner
  pkg/agent/testdata/Flatcar+CustomCloud/CustomData
  pkg/agent/testdata/Flatcar+CustomCloud/CustomData.inner
  pkg/agent/testdata/Flatcar/CustomData
  pkg/agent/testdata/Flatcar/CustomData.inner
  pkg/agent/utils.go
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix: revert create new field kubelet_cmd_flags which can replace kubelet_flags (#7782)
  aks-node-controller/parser/helper.go
  aks-node-controller/parser/helper_test.go
  aks-node-controller/parser/parser_test.go
  aks-node-controller/pkg/gen/aksnodeconfig/v1/kubelet_config.pb.go
  aks-node-controller/proto/README.md
  aks-node-controller/proto/aksnodeconfig/v1/kubelet_config.proto
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml

fix: enabling waagent root password removal logic again for Ubuntu (#7780)r
  parts/linux/cloud-init/artifacts/cis.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

chore(deps): replace cni and cns versions with v1.6.35 (#7757)
  parts/common/components.json
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

fix(e2e): log instead of error when NICs not found in rx buffer test (#7784)
  e2e/validators.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix: adding crontab for AzureLinux in custom clouds to ensure custom CAs are getting refreshed daily (#7785)
  parts/linux/cloud-init/artifacts/init-aks-custom-cloud-mariner.sh
  parts/linux/cloud-init/artifacts/init-aks-custom-cloud-operation-requests-mariner.sh
  parts/linux/cloud-init/artifacts/init-aks-custom-cloud-operation-requests.sh
  parts/linux/cloud-init/artifacts/init-aks-custom-cloud.sh
  pkg/agent/testdata/AKSUbuntu2204+CustomCloud+USNat/CustomData
  pkg/agent/testdata/AKSUbuntu2204+CustomCloud+USSec/CustomData
  pkg/agent/testdata/AKSUbuntu2204+CustomCloud+ootcredentialprovider/CustomData
  pkg/agent/testdata/AKSUbuntu2204+CustomCloud/CustomData
  pkg/agent/testdata/Flatcar+CustomCloud+USSec/CustomData
  pkg/agent/testdata/Flatcar+CustomCloud+USSec/CustomData.inner
  pkg/agent/testdata/Flatcar+CustomCloud/CustomData
  pkg/agent/testdata/Flatcar+CustomCloud/CustomData.inner
  pkg/agent/testdata/MarinerV2+CustomCloud+USNat/CustomData
  pkg/agent/testdata/MarinerV2+CustomCloud+USSec/CustomData
  pkg/agent/testdata/MarinerV2+CustomCloud/CustomData
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

fix(e2e): ensure slot retrieval does not fail in ValidateNetworkInterfaceConfig (#7792)
  e2e/validators.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix: replace copilot-instructions.md symlink with actual file content (#7801)
  .github/copilot-instructions.md
Due: none

chore(deps): using newly rebuilt deb with latest golang for CVE fixes (#7802)
  parts/common/components.json
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

add e2e tests
  aks-node-controller/parser/helper_test.go
  aks-node-controller/parser/parser_test.go
  e2e/node_config.go
  e2e/validation.go
  e2e/validators.go
  pkg/agent/datamodel/types_test.go
  spec/parts/linux/cloud-init/artifacts/cse_config_spec.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

ci: update renovate to match distroless images (#7823)
  .github/renovate.json
Due: none

docs: enhance PR review guidelines with detailed risk categories and package update analysis (#7810)
  .github/copilot-instructions.md
  AGENTS.md
Due: none

feat: adding first caching for k8s 1.35 (#7799)
  parts/common/components.json
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

ci: replace Cilium v1.16 with v1.18 Cilium-distroless + Cilium-distroless-init (#7325)
  parts/common/components.json
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

chore(deps): bump cri-tools to latest version for CVE fixes (#7800)
  parts/common/components.json
  vhdbuilder/packer/test/linux-vhd-content-test.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

make generate customdata for flatcar
  pkg/agent/testdata/Flatcar+CustomCloud+USSec/CustomData
  pkg/agent/testdata/Flatcar+CustomCloud/CustomData
  pkg/agent/testdata/Flatcar/CustomData
Due: .pipelines/e2e.yaml

fix: fail on any error in step (#7793)
  vhdbuilder/packer/imagecustomizer/azlosguard/scripts/azlosguard-postinstall.sh
  vhdbuilder/packer/install-dependencies.sh
  vhdbuilder/packer/post-install-dependencies.sh
  vhdbuilder/packer/pre-install-dependencies.sh
  vhdbuilder/packer/vhd-image-builder-arm64-gen2.json
  vhdbuilder/packer/vhd-image-builder-base.json
  vhdbuilder/packer/vhd-image-builder-cvm.json
  vhdbuilder/packer/vhd-image-builder-flatcar-arm64.json
  vhdbuilder/packer/vhd-image-builder-flatcar.json
  vhdbuilder/packer/vhd-image-builder-mariner-arm64.json
  vhdbuilder/packer/vhd-image-builder-mariner-cvm.json
  vhdbuilder/packer/vhd-image-builder-mariner.json
  vhdbuilder/scripts/linux/ubuntu/tool_installs_ubuntu.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

fix: skip gpu e2e tests on sku quota exceeded and add configurable test timeout (#7836)
  .pipelines/e2e-gpu.yaml
  .pipelines/scripts/e2e_run.sh
  e2e/vmss.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

feat: add TL FIPS SIG image config and e2e (#7814)
  e2e/config/vhd.go
  e2e/scenario_test.go
  pkg/agent/datamodel/sig_config.go
  pkg/agent/datamodel/sig_config_test.go
  pkg/agent/datamodel/types.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml
