Repository Azure/AgentBaker: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml, .pipelines/update-go-binary.yaml

Path conditions:
  .pipelines/.vsts-vhd-builder-gpu.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, .pipelines/templates/.builder-release-template.yaml, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/e2e-template.yaml, parts/linux, packer.mk, aks-node-controller, parts/common/components.json, go.mod, go.sum, e2e/scenario_gpu_managed_experience_test.go, but not: schemas/windows_settings.cue, vhdbuilder/release-notes, vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/windows, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*, .github, e2e/scenario_win_test.go, **/*.md
  .pipelines/.vsts-vhd-builder-pr-windows.yaml: any of: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/scripts, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/.build-and-test-windows-vhds-template.yaml, .pipelines/templates/.build-and-test-windows-vhd-template.yaml, .pipelines/templates/.builder-release-template-windows.yaml, .pipelines/templates/e2e-template.yaml, packer.mk, vhdbuilder/packer/packer-plugin.pkr.hcl, vhdbuilder/packer/*.ps1, vhdbuilder/packer/test/*.ps1, vhdbuilder/packer/test/run-test.sh, vhdbuilder/packer/windows-sub-cleanup.sh, vhdbuilder/packer/cleanup.sh, vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh, vhdbuilder/packer/generate-vhd-publishing-info.sh, vhdbuilder/packer/produce-packer-settings.sh, vhdbuilder/packer/windows, parts/common/components.json, parts/windows, go.mod, go.sum, e2e, staging/cse/windows, but not: vhdbuilder/release-notes, **/*.md, .github, e2e/scenario_test.go
  .pipelines/.vsts-vhd-builder.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, .pipelines/templates/.builder-release-template.yaml, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/e2e-template.yaml, parts/linux, packer.mk, aks-node-controller, parts/common/components.json, go.mod, go.sum, but not: schemas/windows_settings.cue, vhdbuilder/release-notes, vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/windows, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*, .github, e2e/scenario_win_test.go
  .pipelines/.vsts-vhd-refresh-testdata.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-refresh-testdata.yaml, parts/linux, packer.mk, parts/common/components.json, but not: vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*
  .pipelines/e2e-windows.yaml: any of: .pipelines/e2e-windows.yaml, .pipelines/templates/e2e-template.yaml, .pipelines/scripts/e2e_run.sh, .pipelines/scripts/e2e_delete_vmss.sh, e2e, parts/windows, pkg/agent, parts/common/components.json, staging/cse/windows, go.mod, go.sum, but not: pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/*Ubuntu*, pkg/agent/testdata/*Flatcar*, pkg/agent/testdata/*Mariner*, pkg/agent/testdata/*AzureLinux*, parts/common/components.json, staging/cse/windows/README, **/*.md, .github, e2e/scenario_test.go
  .pipelines/e2e.yaml: any of: .pipelines/e2e.yaml, .pipelines/templates/e2e-template.yaml, .pipelines/scripts/e2e_run.sh, e2e, parts/linux, parts/common/components.json, pkg/agent, go.mod, go.sum, but not: pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/AKSWindows*, parts/common/components.json, staging/cse/windows/README, **/*.md, e2e/scenario_win_test.go
  .pipelines/update-go-binary.yaml: any of: pkg/proto, pkg/parser

python3 patch
  vhdbuilder/packer/pre-install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

chore: address comments
  e2e/validators.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix kernel log file
  e2e/validators.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

improve pattern matching
  e2e/validators.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

make generate customdata for flatcar
  pkg/agent/testdata/Flatcar+CustomCloud+USSec/CustomData
  pkg/agent/testdata/Flatcar+CustomCloud/CustomData
  pkg/agent/testdata/Flatcar/CustomData
Due: .pipelines/e2e.yaml

e2e: improve test logging (#7841)
  e2e/aks_model.go
  e2e/cluster.go
  e2e/config/azure.go
  e2e/config/vhd.go
  e2e/kube.go
  e2e/test_helpers.go
  e2e/toolkit/log.go
  e2e/toolkit/strings.go
  e2e/vmss.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

feat: inspektor gadget into vhd build (#7371)
  .pipelines/scripts/verify_shell.sh
  e2e/validation.go
  e2e/validators.go
  parts/common/components.json
  parts/linux/cloud-init/artifacts/inspektor-gadget/baseline/usr/lib/systemd/system/ig-import-gadgets.service
  parts/linux/cloud-init/artifacts/inspektor-gadget/baseline/usr/share/inspektor-gadget/import_gadgets.sh
  parts/linux/cloud-init/artifacts/inspektor-gadget/baseline/usr/share/inspektor-gadget/remove_gadgets.sh
  schemas/components.cue
  vhdbuilder/packer/imagecustomizer/azlosguard/azlosguard.yml
  vhdbuilder/packer/imagecustomizer/azlosguard/scripts/azlosguard-postinstall.sh
  vhdbuilder/packer/install-dependencies.sh
  vhdbuilder/packer/install-ig.sh
  vhdbuilder/packer/packer_source.sh
  vhdbuilder/packer/test/linux-vhd-content-test.sh
  vhdbuilder/packer/test/run-pretest.sh
  vhdbuilder/packer/vhd-image-builder-arm64-gen2.json
  vhdbuilder/packer/vhd-image-builder-base.json
  vhdbuilder/packer/vhd-image-builder-cvm.json
  vhdbuilder/packer/vhd-image-builder-flatcar-arm64.json
  vhdbuilder/packer/vhd-image-builder-flatcar.json
  vhdbuilder/packer/vhd-image-builder-mariner-arm64.json
  vhdbuilder/packer/vhd-image-builder-mariner-cvm.json
  vhdbuilder/packer/vhd-image-builder-mariner.json
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix: make node-problem-detector.d directory before trying to touch the status file skip_vhd_npd in it.
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

s/-r/-p/, make parents, not recursive
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

python3 patch bin
  vhdbuilder/packer/pre-install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

chore: add kernel log validation to abe2es (#7835)
  e2e/validation.go
  e2e/validators.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

Add Kubernetes 1.35 component cache support
  parts/common/components.json
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

fix: make node-problem-detector.d directory before trying to touch the status file skip_vhd_npd in it (#7849)
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

test: Add DCGM Exporter dependency compatibility e2e
  e2e/scenario_gpu_managed_experience_test.go
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

chore(deps): Update DCGM packages to 4.5.1
  parts/common/components.json
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

style: make isARM64 work like a regular shell helper function
  parts/linux/cloud-init/artifacts/cse_config.sh
  parts/linux/cloud-init/artifacts/cse_helpers.sh
  parts/linux/cloud-init/artifacts/cse_install.sh
  parts/linux/cloud-init/artifacts/ubuntu/cse_install_ubuntu.sh
  vhdbuilder/packer/install-dependencies.sh
  vhdbuilder/packer/test/linux-vhd-content-test.sh
  vhdbuilder/scripts/linux/tool_installs.sh
  vhdbuilder/scripts/linux/ubuntu/tool_installs_ubuntu.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

feat: enable Artifact Streaming on Flatcar
  parts/linux/cloud-init/artifacts/cse_config.sh
  vhdbuilder/packer/flatcar-customdata.json
  vhdbuilder/packer/flatcar-customdata.yaml
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

chore: add vm size as e2e pipeline variable
  e2e/config/config.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

add metric export for localdns
  parts/linux/cloud-init/artifacts/node-exporter/node-exporter-startup.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

add add location as pipeline variable
  .pipelines/e2e.yaml
  .pipelines/scripts/e2e_run.sh
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

remove pipeline variables
  .pipelines/e2e.yaml
  .pipelines/scripts/e2e_run.sh
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

Add CPU and memory accounting metrics for localdns
  parts/linux/cloud-init/artifacts/node-exporter/node-exporter-startup.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

Update GPU systemd verification script
  parts/linux/cloud-init/artifacts/cse_config.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

chore(deps): bump azure-cloud-node-manager for CVE fixes
  parts/common/components.json
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

test: add dcgm exporter compatibility e2e (#7787)
  e2e/scenario_gpu_managed_experience_test.go
  parts/common/components.json
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

onboard azl3 kubectl and kublet to renovate
  parts/common/components.json
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

Update parts/common/components.json
  parts/common/components.json
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

chore: cache oras binary in Windows image
  parts/common/components.json
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

fix: onboard azl3 kubectl and kublet to renovate (#7859)
  parts/common/components.json
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

set previousLatestVersion to 1.34.2-1.azl3
  parts/common/components.json
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

chore(deps): bump acr-mirror to version 0.3.0
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

test: timeout/retry ssh connections and remove intermediate pipe
  e2e/bastionssh.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

test: timeout/retry ssh connections and remove intermediate pipe (#7850)
  e2e/bastionssh.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix: have a sane default for CSE_TIMEOUT if not set
  parts/linux/cloud-init/artifacts/cse_start.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

change owner
  .github/renovate.json
Due: none
