Repository Azure/AgentBaker: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml, .pipelines/update-go-binary.yaml

Path conditions:
  .pipelines/.vsts-vhd-builder-gpu.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, .pipelines/templates/.builder-release-template.yaml, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/e2e-template.yaml, parts/linux, packer.mk, aks-node-controller, parts/common/components.json, go.mod, go.sum, e2e/scenario_gpu_managed_experience_test.go, but not: schemas/windows_settings.cue, vhdbuilder/release-notes, vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/windows, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*, .github, e2e/scenario_win_test.go, **/*.md
  .pipelines/.vsts-vhd-builder-pr-windows.yaml: any of: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/scripts, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/.build-and-test-windows-vhds-template.yaml, .pipelines/templates/.build-and-test-windows-vhd-template.yaml, .pipelines/templates/.builder-release-template-windows.yaml, .pipelines/templates/e2e-template.yaml, packer.mk, vhdbuilder/packer/packer-plugin.pkr.hcl, vhdbuilder/packer/*.ps1, vhdbuilder/packer/test/*.ps1, vhdbuilder/packer/test/run-test.sh, vhdbuilder/packer/windows-sub-cleanup.sh, vhdbuilder/packer/cleanup.sh, vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh, vhdbuilder/packer/generate-vhd-publishing-info.sh, vhdbuilder/packer/produce-packer-settings.sh, vhdbuilder/packer/windows, parts/common/components.json, parts/windows, go.mod, go.sum, e2e, staging/cse/windows, but not: vhdbuilder/release-notes, **/*.md, .github, e2e/scenario_test.go
  .pipelines/.vsts-vhd-builder.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, .pipelines/templates/.builder-release-template.yaml, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/e2e-template.yaml, parts/linux, packer.mk, aks-node-controller, parts/common/components.json, go.mod, go.sum, but not: schemas/windows_settings.cue, vhdbuilder/release-notes, vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/windows, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*, .github, e2e/scenario_win_test.go
  .pipelines/.vsts-vhd-refresh-testdata.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-refresh-testdata.yaml, parts/linux, packer.mk, parts/common/components.json, but not: vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*
  .pipelines/e2e-windows.yaml: any of: .pipelines/e2e-windows.yaml, .pipelines/templates/e2e-template.yaml, .pipelines/scripts/e2e_run.sh, .pipelines/scripts/e2e_delete_vmss.sh, e2e, parts/windows, pkg/agent, parts/common/components.json, staging/cse/windows, go.mod, go.sum, but not: pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/*Ubuntu*, pkg/agent/testdata/*Flatcar*, pkg/agent/testdata/*Mariner*, pkg/agent/testdata/*AzureLinux*, parts/common/components.json, staging/cse/windows/README, **/*.md, .github, e2e/scenario_test.go
  .pipelines/e2e.yaml: any of: .pipelines/e2e.yaml, .pipelines/templates/e2e-template.yaml, .pipelines/scripts/e2e_run.sh, e2e, parts/linux, parts/common/components.json, pkg/agent, go.mod, go.sum, but not: pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/AKSWindows*, parts/common/components.json, staging/cse/windows/README, **/*.md, e2e/scenario_win_test.go
  .pipelines/update-go-binary.yaml: any of: pkg/proto, pkg/parser

feat(e2e): configure MANA VM SKU through flags and environment
  e2e/README.md
  e2e/config/config.go
  e2e/config/flags.go
  e2e/config/flags_test.go
  e2e/scenario.go
  e2e/scenario_mana_test.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

feat(e2e): configure the Gen1 compatibility fallback SKU
  e2e/README.md
  e2e/config/config.go
  e2e/config/flags.go
  e2e/config/flags_test.go
  e2e/test_helpers.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

test: add async recovery case for empty resolver during LocalDNS startup wait
  spec/parts/linux/cloud-init/artifacts/localdns_spec.sh
Due: none

refactor(e2e): name fallback SKU for Gen1 and SCSI support
  e2e/README.md
  e2e/config/config.go
  e2e/config/flags.go
  e2e/config/flags_test.go
  e2e/test_helpers.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

refactor(e2e): share MANA setup and reuse ethtool output
  e2e/network_validation_test.go
  e2e/scenario.go
  e2e/scenario_mana_test.go
  e2e/validators.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix: bake Windows exporter extension skip marker
  e2e/scenario_win_test.go
  e2e/validators.go
  parts/windows/kuberneteswindowssetup.ps1.template
  staging/cse/windows/windowsexporterfunc.ps1
  staging/cse/windows/windowsexporterfunc.tests.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
  vhdbuilder/packer/windows/configure-windows-vhd.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix: fail Linux content tests when Run Command retries are exhausted (#9442)
  spec/vhdbuilder/packer/test/run_test_spec.sh
  vhdbuilder/packer/test/run-test.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

test(vhd): replicate captured SIG image to eastus2euap for GB300 e2e (TEST-ONLY)
  .pipelines/.vsts-vhd-builder-release.yaml
Due: none

fix(e2e): apply shared daemonsets in one request
  e2e/README.md
  e2e/kube.go
  e2e/kube_daemonset_test.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix(e2e): run GPU consistency check in scenario package
  .github/workflows/validate-components.yml
Due: none

test: cover cleanup init when DEFAULT_ROUTE_INTERFACE is unset
  spec/parts/linux/cloud-init/artifacts/localdns_spec.sh
Due: none

fix: windows cilium networking (#9197)
  staging/cse/windows/windowsciliumnetworkingfunc.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

fix: reuse validated upstream DNS snapshot for LocalDNS
  parts/linux/cloud-init/artifacts/localdns.sh
  spec/parts/linux/cloud-init/artifacts/localdns_spec.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

fix(anc): remove unsafe direct hotfix download (1) (#9449)
  aks-node-controller/app.go
  aks-node-controller/checkhotfix.go
  aks-node-controller/checkhotfix_test.go
  aks-node-controller/hotfix.go
  aks-node-controller/hotfix_test.go
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml

fix(windows): wait for service deletion before reinstall
  staging/cse/windows/configfunc.ps1
  staging/cse/windows/configfunc.tests.ps1
  staging/cse/windows/helpers.ps1
  staging/cse/windows/helpers.tests.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

pr review
  staging/cse/windows/configfunc.tests.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

fix(windows): fail when SSH ACL removal fails
  staging/cse/windows/configfunc.ps1
  staging/cse/windows/configfunc.tests.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

fix(windows): validate complete GMSA plugin registration
  staging/cse/windows/configfunc.ps1
  staging/cse/windows/configfunc.tests.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

test(windows): cover service failure action errors
  staging/cse/windows/configfunc.tests.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

fix(windows): validate GMSA registry after import failure
  staging/cse/windows/configfunc.ps1
  staging/cse/windows/configfunc.tests.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

config func
  staging/cse/windows/configfunc.ps1
  staging/cse/windows/configfunc.tests.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

test(windows): isolate tests from host services and registry
  staging/cse/windows/configfunc.tests.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

fix(windows): preserve containerd registration error code
  staging/cse/windows/containerdfunc.ps1
  staging/cse/windows/containerdfunc.tests.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

test(windows): avoid mocking Write-Log in staging tests
  staging/cse/windows/configfunc.tests.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

fix(windows): handle pending service states during replacement
  staging/cse/windows/helpers.ps1
  staging/cse/windows/helpers.tests.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

fix(windows): route kubelet dependencies through NSSM wrapper
  staging/cse/windows/kubeletfunc.ps1
  staging/cse/windows/kubeletfunc.tests.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

fix(windows): accept missing service during deletion
  staging/cse/windows/helpers.ps1
  staging/cse/windows/helpers.tests.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

test(windows): isolate kubelet service orchestration tests
  staging/cse/windows/kubeletfunc.tests.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

test(windows): cover kubelet service dependencies
  staging/cse/windows/kubeletfunc.tests.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

test(windows): cover kubelet dependency failure
  staging/cse/windows/kubeletfunc.tests.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

test(windows): cover kubeproxy configuration failure
  staging/cse/windows/kubeletfunc.tests.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

chore: add r2k1 as e2e code owner
  CODEOWNERS
Due: none

chore: allow general reviewers to approve e2e changes
  CODEOWNERS
Due: none

chore: use repository-wide owners for e2e
  CODEOWNERS
Due: none

test(windows): verify separate NSSM dependency arguments
  staging/cse/windows/kubeletfunc.tests.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

refactor(e2e): keep LocalDNS script at its original path
  CODEOWNERS
  e2e/localdns/script.go
  e2e/localdns/validate-localdns-exporter-metrics.sh
  e2e/scenario/validate_localdns_exporter_metrics.go
  spec/parts/linux/cloud-init/artifacts/localdns_exporter_spec.sh
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix(e2e): retain five SSH attempts and remove extended retries
  e2e/README.md
  e2e/bastionssh.go
  e2e/bastionssh_test.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

docs(e2e): remove shared DaemonSet README addition
  e2e/README.md
Due: none

refactor: export proxy configuration directly (#9387)
  aks-node-controller/app.go
  aks-node-controller/app_test.go
  parts/linux/cloud-init/artifacts/cse_cmd.sh
  parts/linux/cloud-init/artifacts/cse_main.sh
  pkg/agent/baker_test.go
  pkg/agent/variables.go
  spec/parts/linux/cloud-init/artifacts/cse_main_spec.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml
