Repository Azure/AgentBaker: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml, .pipelines/update-go-binary.yaml

Path conditions:
  .pipelines/.vsts-vhd-builder-pr-windows.yaml: any of: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/scripts, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/.build-and-test-windows-vhds-template.yaml, .pipelines/templates/.build-and-test-windows-vhd-template.yaml, .pipelines/templates/.builder-release-template-windows.yaml, .pipelines/templates/e2e-template.yaml, packer.mk, vhdbuilder/packer/packer-plugin.pkr.hcl, vhdbuilder/packer/*.ps1, vhdbuilder/packer/test/*.ps1, vhdbuilder/packer/test/run-test.sh, vhdbuilder/packer/windows-sub-cleanup.sh, vhdbuilder/packer/cleanup.sh, vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh, vhdbuilder/packer/generate-vhd-publishing-info.sh, vhdbuilder/packer/produce-packer-settings.sh, vhdbuilder/packer/windows, parts/common/components.json, parts/windows, go.mod, go.sum, e2e, staging/cse/windows, but not: vhdbuilder/release-notes, **/*.md, .github, e2e/scenario_test.go
  .pipelines/.vsts-vhd-builder.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, .pipelines/templates/.builder-release-template.yaml, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/e2e-template.yaml, parts/linux, packer.mk, aks-node-controller, parts/common/components.json, go.mod, go.sum, but not: schemas/windows_settings.cue, vhdbuilder/release-notes, vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/windows, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*, .github, e2e/scenario_win_test.go
  .pipelines/.vsts-vhd-refresh-testdata.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-refresh-testdata.yaml, parts/linux, packer.mk, parts/common/components.json, but not: vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*
  .pipelines/e2e-windows.yaml: any of: .pipelines/e2e-windows.yaml, .pipelines/templates/e2e-template.yaml, .pipelines/scripts/e2e_run.sh, .pipelines/scripts/e2e_delete_vmss.sh, e2e, parts/windows, pkg/agent, parts/common/components.json, staging/cse/windows, go.mod, go.sum, but not: pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/*Ubuntu*, pkg/agent/testdata/*Flatcar*, pkg/agent/testdata/*Mariner*, pkg/agent/testdata/*AzureLinux*, parts/common/components.json, staging/cse/windows/README, **/*.md, .github, e2e/scenario_test.go
  .pipelines/e2e.yaml: any of: .pipelines/e2e.yaml, .pipelines/templates/e2e-template.yaml, .pipelines/scripts/e2e_run.sh, e2e, parts/linux, parts/common/components.json, pkg/agent, go.mod, go.sum, but not: pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/AKSWindows*, parts/common/components.json, staging/cse/windows/README, **/*.md, e2e/scenario_win_test.go
  .pipelines/update-go-binary.yaml: any of: pkg/proto, pkg/parser

add --resolve for dnf download to download required deps
  parts/linux/cloud-init/artifacts/mariner/cse_helpers_mariner.sh
  pkg/agent/testdata/AzureLinuxV2+Kata/CustomData
  pkg/agent/testdata/AzureLinuxV3+Kata+DisableUnattendedUpgrades=false/CustomData
  pkg/agent/testdata/AzureLinuxV3+Kata+DisableUnattendedUpgrades=true/CustomData
  pkg/agent/testdata/AzureLinuxV3+Kata/CustomData
  pkg/agent/testdata/AzureLinuxv2+DisableUnattendedUpgrades=false/CustomData
  pkg/agent/testdata/AzureLinuxv2+DisableUnattendedUpgrades=true/CustomData
  pkg/agent/testdata/AzureLinuxv2+Kata+DisableUnattendedUpgrades=false/CustomData
  pkg/agent/testdata/AzureLinuxv2+Kata+DisableUnattendedUpgrades=true/CustomData
  pkg/agent/testdata/MarinerV2+CustomCloud+USNat/CustomData
  pkg/agent/testdata/MarinerV2+CustomCloud+USSec/CustomData
  pkg/agent/testdata/MarinerV2+CustomCloud/CustomData
  pkg/agent/testdata/MarinerV2+Kata/CustomData
  pkg/agent/testdata/Marinerv2+DisableUnattendedUpgrades=false/CustomData
  pkg/agent/testdata/Marinerv2+DisableUnattendedUpgrades=true/CustomData
  pkg/agent/testdata/Marinerv2+Kata+DisableUnattendedUpgrades=false/CustomData
  pkg/agent/testdata/Marinerv2+Kata+DisableUnattendedUpgrades=true/CustomData
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

initial changes
  parts/linux/cloud-init/artifacts/cse_config.sh
  parts/linux/cloud-init/artifacts/cse_main.sh
  parts/linux/cloud-init/artifacts/mcr-hosts-setup.service
  parts/linux/cloud-init/artifacts/mcr-hosts-setup.sh
  parts/linux/cloud-init/artifacts/mcr-hosts-setup.timer
  vhdbuilder/packer/packer_source.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

update vhdbuilder/packer/
  vhdbuilder/packer/vhd-image-builder-arm64-gen2.json
  vhdbuilder/packer/vhd-image-builder-base.json
  vhdbuilder/packer/vhd-image-builder-cvm.json
  vhdbuilder/packer/vhd-image-builder-flatcar-arm64.json
  vhdbuilder/packer/vhd-image-builder-flatcar.json
  vhdbuilder/packer/vhd-image-builder-mariner-arm64.json
  vhdbuilder/packer/vhd-image-builder-mariner-cvm.json
  vhdbuilder/packer/vhd-image-builder-mariner.json
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

f
  vhdbuilder/scripts/linux/mariner/tool_installs_mariner.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

chore: upgrade Azure CSI driver versions
  parts/common/components.json
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

dnf install skip makecache
  parts/linux/cloud-init/artifacts/mariner/cse_helpers_mariner.sh
  parts/linux/cloud-init/artifacts/mariner/cse_install_mariner.sh
  parts/linux/cloud-init/artifacts/ubuntu/cse_helpers_ubuntu.sh
  parts/linux/cloud-init/artifacts/ubuntu/cse_install_ubuntu.sh
  spec/parts/linux/cloud-init/artifacts/cse_install_mariner_spec.sh
  spec/parts/linux/cloud-init/artifacts/cse_install_ubuntu_spec.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

fix: log bastion instructions for ssh
  e2e/vmss.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix: log bastion instructions for ssh (#7623)
  e2e/vmss.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

update
  parts/linux/cloud-init/artifacts/mariner/cse_helpers_mariner.sh
  pkg/agent/testdata/AzureLinuxV2+Kata/CustomData
  pkg/agent/testdata/AzureLinuxV3+Kata+DisableUnattendedUpgrades=false/CustomData
  pkg/agent/testdata/AzureLinuxV3+Kata+DisableUnattendedUpgrades=true/CustomData
  pkg/agent/testdata/AzureLinuxV3+Kata/CustomData
  pkg/agent/testdata/AzureLinuxv2+DisableUnattendedUpgrades=false/CustomData
  pkg/agent/testdata/AzureLinuxv2+DisableUnattendedUpgrades=true/CustomData
  pkg/agent/testdata/AzureLinuxv2+Kata+DisableUnattendedUpgrades=false/CustomData
  pkg/agent/testdata/AzureLinuxv2+Kata+DisableUnattendedUpgrades=true/CustomData
  pkg/agent/testdata/MarinerV2+CustomCloud+USNat/CustomData
  pkg/agent/testdata/MarinerV2+CustomCloud+USSec/CustomData
  pkg/agent/testdata/MarinerV2+CustomCloud/CustomData
  pkg/agent/testdata/MarinerV2+Kata/CustomData
  pkg/agent/testdata/Marinerv2+DisableUnattendedUpgrades=false/CustomData
  pkg/agent/testdata/Marinerv2+DisableUnattendedUpgrades=true/CustomData
  pkg/agent/testdata/Marinerv2+Kata+DisableUnattendedUpgrades=false/CustomData
  pkg/agent/testdata/Marinerv2+Kata+DisableUnattendedUpgrades=true/CustomData
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

fix: log correct bastion instructions for ssh
  e2e/log.go
  e2e/vmss.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix: log correct bastion instructions for ssh (#7627)
  e2e/log.go
  e2e/vmss.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

chore: upgrade Azure CSI driver versions (#7622)
  parts/common/components.json
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

fix
  .pipelines/templates/.builder-release-template.yaml
Due: .pipelines/.vsts-vhd-builder.yaml

Regenerate localdns corefile if it goes missing
  spec/parts/linux/cloud-init/artifacts/cse_config_spec.sh
Due: none

copy /opt/azure/containers/aks-node-controller-wrapper.sh in packer
  vhdbuilder/packer/packer_source.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

feat(azure-acr-credential-provider): disable minor update
  .github/renovate.json
Due: none

feat(azure-acr-credential-provider): disable minor update (#7632)
  .github/renovate.json
Due: none

add aks-node-controller-wrapper.sh to all json
  parts/common/components.json
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

Revert "add aks-node-controller-wrapper.sh to all json"
  parts/common/components.json
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

add aks-node-controller-wrapper.sh to all json
  vhdbuilder/packer/vhd-image-builder-arm64-gen2.json
  vhdbuilder/packer/vhd-image-builder-base.json
  vhdbuilder/packer/vhd-image-builder-cvm.json
  vhdbuilder/packer/vhd-image-builder-flatcar-arm64.json
  vhdbuilder/packer/vhd-image-builder-flatcar.json
  vhdbuilder/packer/vhd-image-builder-mariner-arm64.json
  vhdbuilder/packer/vhd-image-builder-mariner-cvm.json
  vhdbuilder/packer/vhd-image-builder-mariner.json
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

feat: caching Kubelet, KubeCtl deps in default dnf location
  parts/common/components.json
  parts/linux/cloud-init/artifacts/mariner/cse_helpers_mariner.sh
  pkg/agent/testdata/AzureLinuxV2+Kata/CustomData
  pkg/agent/testdata/AzureLinuxV3+Kata+DisableUnattendedUpgrades=false/CustomData
  pkg/agent/testdata/AzureLinuxV3+Kata+DisableUnattendedUpgrades=true/CustomData
  pkg/agent/testdata/AzureLinuxV3+Kata/CustomData
  pkg/agent/testdata/AzureLinuxv2+DisableUnattendedUpgrades=false/CustomData
  pkg/agent/testdata/AzureLinuxv2+DisableUnattendedUpgrades=true/CustomData
  pkg/agent/testdata/AzureLinuxv2+Kata+DisableUnattendedUpgrades=false/CustomData
  pkg/agent/testdata/AzureLinuxv2+Kata+DisableUnattendedUpgrades=true/CustomData
  pkg/agent/testdata/MarinerV2+CustomCloud+USNat/CustomData
  pkg/agent/testdata/MarinerV2+CustomCloud+USSec/CustomData
  pkg/agent/testdata/MarinerV2+CustomCloud/CustomData
  pkg/agent/testdata/MarinerV2+Kata/CustomData
  pkg/agent/testdata/Marinerv2+DisableUnattendedUpgrades=false/CustomData
  pkg/agent/testdata/Marinerv2+DisableUnattendedUpgrades=true/CustomData
  pkg/agent/testdata/Marinerv2+Kata+DisableUnattendedUpgrades=false/CustomData
  pkg/agent/testdata/Marinerv2+Kata+DisableUnattendedUpgrades=true/CustomData
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

feat: support ib-based image pull
  aks-node-controller/parser/helper.go
  aks-node-controller/parser/helper_test.go
  aks-node-controller/parser/parser.go
  aks-node-controller/pkg/gen/aksnodeconfig/v1/config.pb.go
  aks-node-controller/pkg/gen/aksnodeconfig/v1/security_profile.pb.go
  aks-node-controller/proto/aksnodeconfig/v1/config.proto
  aks-node-controller/proto/aksnodeconfig/v1/security_profile.proto
  e2e/scenario_test.go
  parts/linux/cloud-init/artifacts/cse_cmd.sh
  parts/linux/cloud-init/artifacts/cse_config.sh
  pkg/agent/datamodel/types.go
  pkg/agent/datamodel/types_test.go
  pkg/agent/variables.go
  pkg/agent/variables_test.go
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

print dnf cached component's location
  parts/linux/cloud-init/artifacts/mariner/cse_helpers_mariner.sh
  pkg/agent/testdata/AzureLinuxV2+Kata/CustomData
  pkg/agent/testdata/AzureLinuxV3+Kata+DisableUnattendedUpgrades=false/CustomData
  pkg/agent/testdata/AzureLinuxV3+Kata+DisableUnattendedUpgrades=true/CustomData
  pkg/agent/testdata/AzureLinuxV3+Kata/CustomData
  pkg/agent/testdata/AzureLinuxv2+DisableUnattendedUpgrades=false/CustomData
  pkg/agent/testdata/AzureLinuxv2+DisableUnattendedUpgrades=true/CustomData
  pkg/agent/testdata/AzureLinuxv2+Kata+DisableUnattendedUpgrades=false/CustomData
  pkg/agent/testdata/AzureLinuxv2+Kata+DisableUnattendedUpgrades=true/CustomData
  pkg/agent/testdata/MarinerV2+CustomCloud+USNat/CustomData
  pkg/agent/testdata/MarinerV2+CustomCloud+USSec/CustomData
  pkg/agent/testdata/MarinerV2+CustomCloud/CustomData
  pkg/agent/testdata/MarinerV2+Kata/CustomData
  pkg/agent/testdata/Marinerv2+DisableUnattendedUpgrades=false/CustomData
  pkg/agent/testdata/Marinerv2+DisableUnattendedUpgrades=true/CustomData
  pkg/agent/testdata/Marinerv2+Kata+DisableUnattendedUpgrades=false/CustomData
  pkg/agent/testdata/Marinerv2+Kata+DisableUnattendedUpgrades=true/CustomData
  vhdbuilder/packer/test/linux-vhd-content-test.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

fix: disable azure linux automatic timer.onlynotify (#7614)
  vhdbuilder/scripts/linux/mariner/tool_installs_mariner.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

adding new logic for repo depot configuration for all Ubuntu versions and all AzLinux version.
  parts/linux/cloud-init/artifacts/init-aks-custom-cloud-mariner.sh
  parts/linux/cloud-init/artifacts/init-aks-custom-cloud.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

latest test data
  pkg/agent/testdata/AKSUbuntu2204+CustomCloud+USNat/CustomData
  pkg/agent/testdata/AKSUbuntu2204+CustomCloud+USSec/CustomData
  pkg/agent/testdata/Flatcar+CustomCloud+USSec/CustomData
  pkg/agent/testdata/Flatcar+CustomCloud+USSec/CustomData.inner
  pkg/agent/testdata/MarinerV2+CustomCloud+USNat/CustomData
  pkg/agent/testdata/MarinerV2+CustomCloud+USSec/CustomData
Due: .pipelines/e2e.yaml
