Repository Azure/AgentBaker: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml, .pipelines/update-go-binary.yaml

Path conditions:
  .pipelines/.vsts-vhd-builder-release-windows.yaml: any of: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/templates/.builder-release-template-windows.yaml, packer.mk, vhdbuilder/packer/packer-plugin.pkr.hcl, vhdbuilder/packer/*.ps1, vhdbuilder/packer/test/*.ps1, vhdbuilder/packer/test/run-test.sh, vhdbuilder/packer/backfill-cleanup.sh, vhdbuilder/packer/cleanup.sh, vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh, vhdbuilder/packer/generate-vhd-publishing-info.sh, vhdbuilder/packer/init-variables.sh, vhdbuilder/packer/windows-image.env, vhdbuilder/packer/windows-vhd-builder-sig.json
  .pipelines/.vsts-vhd-builder.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, parts/linux/cloud-init/artifacts/manifest.json, parts/linux/cloud-init/artifacts/cse_install.sh, parts/linux/cloud-init/artifacts/cse_helpers.sh, parts/linux/cloud-init/artifacts/ubuntu/cse_install_ubuntu.sh, parts/linux/cloud-init/artifacts/mariner/cse_install_mariner.sh, packer.mk, but not: vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*
  .pipelines/e2e-windows.yaml: any of: .pipelines/e2e-windows.yaml, .pipelines/templates/e2e-windows-template.yaml, e2e/windows, parts/windows, staging/cse/windows
  .pipelines/e2e.yaml: any of: .pipelines/e2e.yaml, e2e, parts/linux, pkg/agent, but not: e2e/windows, pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json
  .pipelines/update-go-binary.yaml: any of: pkg/proto, pkg/parser

feat: support Windows private k8s packages
  staging/cse/windows/kubeletfunc.ps1
  vhdbuilder/packer/configure-windows-vhd.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/e2e-windows.yaml

undo architecture check
  packer.mk
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

test: add ut
  staging/cse/windows/kubeletfunc.tests.ps1
Due: .pipelines/e2e-windows.yaml

test: test private packages in building Windows VHDs
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml

fix: ignore file size for azure-acr-credential-provider-windows-amd64-v1.29.2.tar.gz
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml

fix bug and update comments in test
  schemas/components.cue
  vhdbuilder/packer/test/linux-vhd-content-test.sh
Due: .pipelines/.vsts-vhd-builder.yaml

chore: remove logic to upgrade az
  vhdbuilder/packer/init-variables.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

fix test bug
  vhdbuilder/packer/test/linux-vhd-content-test.sh
Due: .pipelines/.vsts-vhd-builder.yaml

chore: automated PR to update VHDVersion for 202406.07.0 VHD (#4493)
  pkg/agent/datamodel/linux_sig_version.json
Due: none

feat: support Windows private k8s packages (#4496)
  staging/cse/windows/kubeletfunc.ps1
  staging/cse/windows/kubeletfunc.tests.ps1
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/e2e-windows.yaml

feat: bump Windows CSE script package version to v0.0.43
  parts/windows/kuberneteswindowssetup.ps1
  staging/cse/windows/README
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/e2e-windows.yaml

chore: generate template and test data
  pkg/agent/testdata/AKSWindows2019+CustomCloud+ootcredentialprovider/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/agent/testdata/AKSWindows2019+ootcredentialprovider/CustomData
Due: .pipelines/e2e.yaml

fix bug
  parts/linux/cloud-init/artifacts/cse_install.sh
  pkg/agent/vhd/cache/cache.go
  vhdbuilder/packer/install-dependencies.sh
  vhdbuilder/packer/test/linux-vhd-content-test.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

fix: ignore windows package test
  vhdbuilder/packer/test/windows-files-check.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml

chore: remove logic to upgrade az (#4501)
  vhdbuilder/packer/init-variables.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

add a default case for packages handling
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml

feat: bump Windows CSE script package version to v0.0.43 (#4497)
  parts/windows/kuberneteswindowssetup.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud+ootcredentialprovider/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/agent/testdata/AKSWindows2019+ootcredentialprovider/CustomData
  staging/cse/windows/README
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/test/windows-files-check.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

feat: use one ignore list for windows vhd test
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/test/windows-files-check.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml

chore: update registry key
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
  vhdbuilder/packer/write-release-notes-windows.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml

chore: update security patch
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml

feat: bump windows image version for 2024-06
  vhdbuilder/packer/windows-image.env
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml

chore: update 23H2 image version
  vhdbuilder/packer/windows-image.env
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml

feat: bump windows image version for 2024-06B (#4505)
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
  vhdbuilder/packer/windows-image.env
  vhdbuilder/packer/write-release-notes-windows.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml

feat: use one ignore list for windows vhd test (#4504)
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/test/windows-files-check.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml

chore: cherry pick code change of windows image version for 2024-06B to release branch (#4506)
  parts/windows/kuberneteswindowssetup.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud+ootcredentialprovider/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/agent/testdata/AKSWindows2019+ootcredentialprovider/CustomData
  staging/cse/windows/README
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/test/windows-files-check.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
  vhdbuilder/packer/windows-image.env
  vhdbuilder/packer/write-release-notes-windows.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

cleanup: streamline ARM64 VHD build. Reduce discrepancies between builds. (#4498)
  .pipelines/templates/.builder-release-template.yaml
  packer.mk
  vhdbuilder/packer/cleanup.sh
  vhdbuilder/packer/convert-osdisk-snapshot-to-sig.sh
  vhdbuilder/packer/init-variables.sh
  vhdbuilder/packer/vhd-image-builder-arm64-gen2.json
  vhdbuilder/packer/vhd-image-builder-base.json
  vhdbuilder/packer/vhd-image-builder-mariner-arm64.json
  vhdbuilder/packer/vhd-image-builder-mariner.json
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

trying agian
  parts/linux/cloud-init/artifacts/cse_install.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

remove files extension
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml

test: install CNI but not azureCNI
  parts/linux/cloud-init/artifacts/cse_install.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

Version that is forsure there
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml

take off ending (didnt i do that lol)
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml

fix bug
  parts/linux/cloud-init/artifacts/cse_install.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml
