Repository Azure/AgentBaker: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml, .pipelines/update-go-binary.yaml

.pipelines/.vsts-vhd-builder-release-windows.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_$(Build.SourceBranchName)_$(BuildID)
  pool:
    name: $(AZURE_POOL_NAME)
  extends:
    template: v2/OneBranch.Official.CrossPlat.yml@templates
    parameters:
      globalSdl:
        antimalwareScan:
          enabled: true
        armory:
          enabled: false
        binskim:
  ...

.pipelines/.vsts-vhd-builder.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_$(OS_SKU)$(OS_VERSION)_$(HYPERV_GENERATION)_$(FEATURE_FLAGS)_$(Build.SourceBranchName)
  pool:
    name: $(POOL_NAME)
  stages:
  - stage: build_vhd
    dependsOn: []
    jobs:
    - job: build
      timeoutInMinutes: 180
      steps:
  ...

.pipelines/e2e-windows.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_e2e
  pool:
    name: $(AZURE_POOL_NAME)
  stages:
  - stage: test_2019_containerd
    dependsOn: []
    condition: eq('${{ parameters.test2019containerd }}', True)
    jobs:
    - template: ./templates/e2e-windows-template.yaml
      parameters:
        windowsImage: 2019-containerd
  ...

.pipelines/e2e.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: ./templates/e2e-template.yaml

.pipelines/update-go-binary.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  jobs: null
  check-file:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout current branch
      uses: actions/checkout@v2
    - name: build go binary
      run: make update-contract
    - name: Save file from current branch
      run: cp pkg/parser/bin/parser parser
  ...

test: remove go dev container from convert to vhd blob step
  .pipelines/templates/.builder-release-template.yaml
Due: none

chore: revert to old go-dev container version
  .pipelines/.vsts-vhd-builder-release.yaml
Due: none

test: azcopy login
  .pipelines/templates/.builder-release-template.yaml
Due: none

fix: env variable for container
  .pipelines/templates/.builder-release-template.yaml
Due: none

test: azcopy login method
  .pipelines/templates/.builder-release-template.yaml
  vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

test: set trivy parallel value to 14
  vhdbuilder/packer/trivy-scan.sh
Due: .pipelines/.vsts-vhd-builder.yaml

nit: move packer init to new line
  packer.mk
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

fix: change go dev container
  .pipelines/.vsts-vhd-builder-release.yaml
Due: none

fix: go dev container version
  .pipelines/.vsts-vhd-builder-release.yaml
Due: none

test: get variable values
  .pipelines/templates/.builder-release-template.yaml
Due: none

fix: enable azcopy login for both windows and linux
  vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

test: trivy test
  .pipelines/templates/.builder-release-template.yaml
  vhdbuilder/packer/trivy-scan.sh
  vhdbuilder/packer/vhd-scanning.sh
Due: .pipelines/.vsts-vhd-builder.yaml

test: remove ephemeral disk
  vhdbuilder/packer/test/run-test.sh
  vhdbuilder/packer/vhd-scanning.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

test: checkout linux_vhd_test fixes
  vhdbuilder/packer/test/linux-vhd-content-test.sh
Due: .pipelines/.vsts-vhd-builder.yaml

test: use cache for ephermal disk
  vhdbuilder/packer/test/run-test.sh
  vhdbuilder/packer/vhd-scanning.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

test: change size for testing
  .pipelines/.vsts-vhd-builder-release.yaml
  vhdbuilder/packer/test/run-test.sh
  vhdbuilder/packer/vhd-scanning.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

test: installbcc
  vhdbuilder/scripts/linux/ubuntu/tool_installs_ubuntu.sh
Due: .pipelines/.vsts-vhd-builder.yaml

test: test and scan with ephemeral disk
  vhdbuilder/packer/test/run-test.sh
  vhdbuilder/packer/vhd-scanning.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

test: remove parallelism, increase scanning vm size
  vhdbuilder/packer/trivy-scan.sh
  vhdbuilder/packer/vhd-scanning.sh
Due: .pipelines/.vsts-vhd-builder.yaml

test: vm sizes
  vhdbuilder/packer/vhd-scanning.sh
Due: .pipelines/.vsts-vhd-builder.yaml

test: test and scan speed test configuration
  vhdbuilder/packer/test/run-test.sh
  vhdbuilder/packer/vhd-scanning.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

test: revert to v2 vms for testing
  vhdbuilder/packer/test/run-test.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

test: vm sizes
  vhdbuilder/packer/test/run-test.sh
  vhdbuilder/packer/vhd-scanning.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

test: install python3-distutils on Ubuntu 22.04
  vhdbuilder/scripts/linux/ubuntu/tool_installs_ubuntu.sh
Due: .pipelines/.vsts-vhd-builder.yaml

test: test and scan using resource disk
  vhdbuilder/packer/test/run-test.sh
  vhdbuilder/packer/vhd-scanning.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

test: remove Premium_LRS flag
  vhdbuilder/packer/test/run-test.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

test: change vm size for test
  vhdbuilder/packer/test/run-test.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

test: test ephemeral disk with Ubuntu
  vhdbuilder/packer/test/run-test.sh
  vhdbuilder/packer/vhd-scanning.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

test: change vm size for testing
  vhdbuilder/packer/test/run-test.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

test: remove epheremal disk for test/scan
  vhdbuilder/packer/test/run-test.sh
  vhdbuilder/packer/vhd-scanning.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

test: test
  parts/windows/kuberneteswindowssetup.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud+ootcredentialprovider/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/agent/testdata/AKSWindows2019+ootcredentialprovider/CustomData
Due: .pipelines/e2e-windows.yaml

fix: rebase issue
  .pipelines/.vsts-vhd-builder-release.yaml
  .pipelines/.vsts-vhd-builder.yaml
Due: .pipelines/.vsts-vhd-builder.yaml

fix: azcopy login method
  vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

fix: change go dev container version for ubuntu bug
  .pipelines/.vsts-vhd-builder.yaml
Due: .pipelines/.vsts-vhd-builder.yaml

fix: login method
  vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

perf: mount agent vm packer binary to go dev container
  .pipelines/templates/.builder-release-template.yaml
Due: none

test: check azure cli
  .pipelines/templates/.builder-release-template.yaml
Due: none

test: attempt azcopy login with upgraded toolchain
  .pipelines/templates/.builder-release-template.yaml
Due: none

test: test azcopy login
  .pipelines/templates/.builder-release-template.yaml
Due: none

fix: az copy login issues
  vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

Path conditions:
  .pipelines/.vsts-vhd-builder-release-windows.yaml: any of: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/templates/.builder-release-template-windows.yaml, packer.mk, vhdbuilder/packer/packer-plugin.pkr.hcl, vhdbuilder/packer/*.ps1, vhdbuilder/packer/test/*.ps1, vhdbuilder/packer/test/run-test.sh, vhdbuilder/packer/backfill-cleanup.sh, vhdbuilder/packer/cleanup.sh, vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh, vhdbuilder/packer/generate-vhd-publishing-info.sh, vhdbuilder/packer/init-variables.sh, vhdbuilder/packer/windows-image.env, vhdbuilder/packer/windows-vhd-builder-sig.json
  .pipelines/.vsts-vhd-builder.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, parts/linux/cloud-init/artifacts/manifest.json, parts/linux/cloud-init/artifacts/cse_install.sh, parts/linux/cloud-init/artifacts/cse_helpers.sh, parts/linux/cloud-init/artifacts/ubuntu/cse_install_ubuntu.sh, parts/linux/cloud-init/artifacts/mariner/cse_install_mariner.sh, packer.mk, but not: vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*
  .pipelines/e2e-windows.yaml: any of: .pipelines/e2e-windows.yaml, .pipelines/templates/e2e-windows-template.yaml, e2e/windows, parts/windows, staging/cse/windows
  .pipelines/e2e.yaml: any of: .pipelines/e2e.yaml, .pipelines/templates/e2e-template.yaml, e2e, but not: e2e/windows
  .pipelines/update-go-binary.yaml: any of: pkg/proto, pkg/parser
