Repository Azure/AgentBaker: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml, .pipelines/update-go-binary.yaml

Path conditions:
  .pipelines/.vsts-vhd-builder-release-windows.yaml: any of: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/templates/.builder-release-template-windows.yaml, packer.mk, vhdbuilder/packer/packer-plugin.pkr.hcl, vhdbuilder/packer/*.ps1, vhdbuilder/packer/test/*.ps1, vhdbuilder/packer/test/run-test.sh, vhdbuilder/packer/backfill-cleanup.sh, vhdbuilder/packer/cleanup.sh, vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh, vhdbuilder/packer/generate-vhd-publishing-info.sh, vhdbuilder/packer/init-variables.sh, vhdbuilder/packer/windows-image.env, vhdbuilder/packer/windows-vhd-builder-sig.json
  .pipelines/.vsts-vhd-builder.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, parts/linux/cloud-init/artifacts/manifest.json, parts/linux/cloud-init/artifacts/cse_install.sh, parts/linux/cloud-init/artifacts/cse_helpers.sh, parts/linux/cloud-init/artifacts/ubuntu/cse_install_ubuntu.sh, parts/linux/cloud-init/artifacts/mariner/cse_install_mariner.sh, packer.mk, but not: vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*
  .pipelines/e2e-windows.yaml: any of: .pipelines/e2e-windows.yaml, .pipelines/templates/e2e-windows-template.yaml, e2e/windows, parts/windows, staging/cse/windows
  .pipelines/e2e.yaml: any of: .pipelines/e2e.yaml, e2e, parts/linux, pkg/agent, but not: e2e/windows, pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/AKSWindows*
  .pipelines/update-go-binary.yaml: any of: pkg/proto, pkg/parser

feat: add dedicated cacher binary for caching VHD components
  vhdbuilder/cacher/cmd/collector/main.go
  vhdbuilder/cacher/go.mod
  vhdbuilder/cacher/go.sum
  vhdbuilder/cacher/pkg/env/env.go
  vhdbuilder/cacher/pkg/env/types.go
  vhdbuilder/cacher/pkg/exec/exec.go
  vhdbuilder/cacher/pkg/installers/containerimage/installer.go
  vhdbuilder/cacher/pkg/installers/containerimage/types.go
  vhdbuilder/cacher/pkg/model/model.go
  vhdbuilder/cacher/pkg/model/validate.go
Due: none

chore: cleanup
  vhdbuilder/cacher/pkg/exec/exec.go
Due: none

chore: renaming
  vhdbuilder/cacher/cmd/cacher/main.go
Due: none

improve resource cleanup
  e2e/cluster.go
  e2e/scenario_helpers_test.go
  e2e/vmss.go
Due: .pipelines/e2e.yaml

move vmss cleanup closer to it's creation
  e2e/scenario_helpers_test.go
  e2e/vmss.go
Due: .pipelines/e2e.yaml

avoid creating uncancellable contexts
  e2e/config/vhd.go
  e2e/exec.go
  e2e/pod.go
  e2e/scenario_helpers_test.go
  e2e/types.go
  e2e/validation.go
  e2e/vmss.go
Due: .pipelines/e2e.yaml

review suggestions
  e2e/cluster.go
  e2e/config/vhd.go
  e2e/vmss.go
Due: .pipelines/e2e.yaml

add more context to error message
  .pipelines/templates/e2e-template.yaml
  e2e/vmss.go
Due: .pipelines/e2e.yaml

simplify vmss cleanup
  e2e/scenario_helpers_test.go
  e2e/vmss.go
Due: .pipelines/e2e.yaml

fix vmss creation
  e2e/cluster.go
  e2e/pollers.go
  e2e/scenario_helpers_test.go
  e2e/types.go
  e2e/validation.go
  e2e/vmss.go
Due: .pipelines/e2e.yaml

improve error message
  e2e/pollers.go
  e2e/vmss.go
Due: .pipelines/e2e.yaml

delete unused functions
  e2e/errors.go
Due: .pipelines/e2e.yaml

Remove patch urls
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml

skip test before creating a new cluster
  e2e/scenario_helpers_test.go
Due: .pipelines/e2e.yaml

fix vmss cleanup
  e2e/scenario_helpers_test.go
  e2e/vmss.go
Due: .pipelines/e2e.yaml

remove name from tags
  e2e/scenario_test.go
Due: .pipelines/e2e.yaml

group tests in a single test for better reporting
  e2e/scenario_helpers_test.go
  e2e/scenario_test.go
Due: .pipelines/e2e.yaml

Have packer abort on error so we can investigate VM
  .pipelines/templates/.builder-release-template.yaml
  packer.mk
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

Try bumping up the timeout on the second reboot
  vhdbuilder/packer/vhd-image-builder-base.json
Due: .pipelines/.vsts-vhd-builder.yaml

Revert "Setting temp rg name to try to cause an error"
  vhdbuilder/packer/init-variables.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

Update ARM template as well in hopes of avoiding capacity issues
  vhdbuilder/packer/vhd-image-builder-arm64-gen2.json
Due: .pipelines/.vsts-vhd-builder.yaml

Set msi_resource_strings from AZURE_MSI_RESOURCE_ID
  vhdbuilder/packer/init-variables.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

Update one template to match updated settings
  vhdbuilder/packer/vhd-image-builder-base.json
Due: .pipelines/.vsts-vhd-builder.yaml

Remove location - can't have it and build_resource_group_name
  vhdbuilder/packer/vhd-image-builder-base.json
Due: .pipelines/.vsts-vhd-builder.yaml

Build VMs in the same RG as output, rather than creating temp RG
  vhdbuilder/packer/init-variables.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

Setting temp rg name to try to cause an error
  vhdbuilder/packer/init-variables.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

Suppress noisy output from ctr image pull
  parts/linux/cloud-init/artifacts/cse_config.sh
  parts/linux/cloud-init/artifacts/cse_helpers.sh
  parts/linux/cloud-init/artifacts/cse_install.sh
  self-contained/bootstrap_config.sh
  self-contained/bootstrap_helpers.sh
  self-contained/bootstrap_install.sh
  vhdbuilder/packer/install-dependencies.sh
  vhdbuilder/scripts/automate_helpers.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

Use a hardcoded build RG in a different region
  vhdbuilder/packer/init-variables.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

Turn off retry for now since it's just muddying the waters
  .pipelines/templates/.builder-release-template.yaml
Due: none

delete unused airgap property
  e2e/scenario_test.go
  e2e/types.go
Due: .pipelines/e2e.yaml

Hardcode vnet and vnet RG names
  vhdbuilder/packer/init-variables.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

feat: remove VHD's patch for 7OOB
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml

feat: remove VHD's patch for 2024.7OOB (#4647)
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml

simplify ip address fetching
  e2e/pollers.go
  e2e/scenario_helpers_test.go
  e2e/vmss.go
Due: .pipelines/e2e.yaml

reduce noise from logs
  e2e/exec.go
Due: .pipelines/e2e.yaml

feat: remove public k8s packages
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml

simplify writing log files
  e2e/log.go
  e2e/opts.go
  e2e/pollers.go
  e2e/scenario_helpers_test.go
  e2e/scenario_test.go
  e2e/vmss.go
Due: .pipelines/e2e.yaml

feat: remove exit in testing free space
  vhdbuilder/packer/configure-windows-vhd.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml

feat: remove exit in testing free space (#4649)
  vhdbuilder/packer/configure-windows-vhd.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml
