Repository Azure/AgentBaker: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

Path conditions:
  .pipelines/.vsts-vhd-builder-release-windows.yaml: any of: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/templates/.builder-release-template-windows.yaml, packer.mk, vhdbuilder/packer/packer-plugin.pkr.hcl, vhdbuilder/packer/*.ps1, vhdbuilder/packer/test/*.ps1, vhdbuilder/packer/test/run-test.sh, vhdbuilder/packer/backfill-cleanup.sh, vhdbuilder/packer/cleanup.sh, vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh, vhdbuilder/packer/generate-vhd-publishing-info.sh, vhdbuilder/packer/init-variables.sh, vhdbuilder/packer/windows-image.env, vhdbuilder/packer/windows-vhd-builder-sig.json
  .pipelines/.vsts-vhd-builder.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, parts/linux/cloud-init/artifacts/manifest.json, parts/linux/cloud-init/artifacts/cse_install.sh, parts/linux/cloud-init/artifacts/cse_helpers.sh, parts/linux/cloud-init/artifacts/ubuntu/cse_install_ubuntu.sh, parts/linux/cloud-init/artifacts/mariner/cse_install_mariner.sh, packer.mk, but not: vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*
  .pipelines/e2e-windows.yaml: any of: .pipelines/e2e-windows.yaml, .pipelines/templates/e2e-windows-template.yaml, e2e/windows, parts/windows, staging/cse/windows
  .pipelines/e2e.yaml: any of: .pipelines/e2e.yaml, e2e, parts/linux, pkg/agent, but not: e2e/windows, pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json

fix: install iscsi package in Mariner
  parts/linux/cloud-init/artifacts/mariner/cse_install_mariner.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

fix: remove unrecognized configuration key
  vhdbuilder/packer/vhd-image-builder-base.json
  vhdbuilder/publish/sig-version-create.sh
Due: .pipelines/.vsts-vhd-builder.yaml

perf: enable shallow replication
  vhdbuilder/packer/vhd-image-builder-base.json
Due: .pipelines/.vsts-vhd-builder.yaml

fix: use shalow replication
  vhdbuilder/packer/vhd-image-builder-base.json
Due: .pipelines/.vsts-vhd-builder.yaml

perf: use shallow replication
  vhdbuilder/packer/generate-vhd-publishing-info.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

fix: syntax error
  vhdbuilder/packer/generate-vhd-publishing-info.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

fix: use_shallow_replication unrecognized
  vhdbuilder/packer/vhd-image-builder-base.json
Due: .pipelines/.vsts-vhd-builder.yaml

perf: use shallow replication
  vhdbuilder/packer/init-variables.sh
  vhdbuilder/packer/vhd-image-builder-base.json
  vhdbuilder/scripts/linux/tool_installs.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

fix: syntax error
  vhdbuilder/packer/vhd-image-builder-base.json
Due: .pipelines/.vsts-vhd-builder.yaml

fix: syntax error
  vhdbuilder/packer/init-variables.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

feat: containerinsights 3.1.18 release (#4165)
  vhdbuilder/packer/components.json
Due: .pipelines/.vsts-vhd-builder.yaml

perf: use shallow replication
  vhdbuilder/packer/init-variables.sh
  vhdbuilder/packer/vhd-image-builder-base.json
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

fix: install iscsi package in Mariner 2.0 (#4159)
  parts/linux/cloud-init/artifacts/mariner/cse_install_mariner.sh
  pkg/agent/testdata/AzureLinuxV2+Kata/CustomData
  pkg/agent/testdata/AzureLinuxV2+Kata/line61.sh
  pkg/agent/testdata/AzureLinuxv2+DisableUnattendedUpgrades=false/CustomData
  pkg/agent/testdata/AzureLinuxv2+DisableUnattendedUpgrades=false/line61.sh
  pkg/agent/testdata/AzureLinuxv2+DisableUnattendedUpgrades=true/CustomData
  pkg/agent/testdata/AzureLinuxv2+DisableUnattendedUpgrades=true/line61.sh
  pkg/agent/testdata/AzureLinuxv2+Kata+DisableUnattendedUpgrades=false/CustomData
  pkg/agent/testdata/AzureLinuxv2+Kata+DisableUnattendedUpgrades=false/line61.sh
  pkg/agent/testdata/AzureLinuxv2+Kata+DisableUnattendedUpgrades=true/CustomData
  pkg/agent/testdata/AzureLinuxv2+Kata+DisableUnattendedUpgrades=true/line61.sh
  pkg/agent/testdata/MarinerV2+CustomCloud/CustomData
  pkg/agent/testdata/MarinerV2+CustomCloud/line61.sh
  pkg/agent/testdata/MarinerV2+Kata/CustomData
  pkg/agent/testdata/MarinerV2+Kata/line61.sh
  pkg/agent/testdata/Marinerv2+DisableUnattendedUpgrades=false/CustomData
  pkg/agent/testdata/Marinerv2+DisableUnattendedUpgrades=false/line61.sh
  pkg/agent/testdata/Marinerv2+DisableUnattendedUpgrades=true/CustomData
  pkg/agent/testdata/Marinerv2+DisableUnattendedUpgrades=true/line61.sh
  pkg/agent/testdata/Marinerv2+Kata+DisableUnattendedUpgrades=false/CustomData
  pkg/agent/testdata/Marinerv2+Kata+DisableUnattendedUpgrades=false/line61.sh
  pkg/agent/testdata/Marinerv2+Kata+DisableUnattendedUpgrades=true/CustomData
  pkg/agent/testdata/Marinerv2+Kata+DisableUnattendedUpgrades=true/line61.sh
  pkg/templates/templates_generated.go
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

shallow replication mode
  vhdbuilder/packer/init-variables.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

bump packer version
  vhdbuilder/packer/packer-plugin.pkr.hcl
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

fix: remove shallow replicatin
  vhdbuilder/packer/init-variables.sh
  vhdbuilder/packer/vhd-image-builder-base.json
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

perf: use shallow replication
  vhdbuilder/packer/packer-plugin.pkr.hcl
  vhdbuilder/packer/vhd-image-builder-base.json
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

Update config.proto with new boolean fields for SSH, hosts_config_agent and unattended upgrade
  pkg/proto/nbcontract/v1/config.pb.go
  pkg/proto/nbcontract/v1/config.proto
Due: none

handle the remediation in coredump.conf
  parts/linux/cloud-init/artifacts/cis.sh
Due: .pipelines/e2e.yaml

feat: managed prometheus addon release (#4164)
  vhdbuilder/packer/components.json
Due: .pipelines/.vsts-vhd-builder.yaml

cleanup: remove unused kube proxy 1.26.6 and azure cloud node manager 1.25
  vhdbuilder/packer/components.json
  vhdbuilder/packer/kube-proxy-images.json
Due: .pipelines/.vsts-vhd-builder.yaml

cleanup: remove network proxy v0.0.33
  vhdbuilder/packer/components.json
Due: .pipelines/.vsts-vhd-builder.yaml

Remove deprecated fields and add workload_runtime in config.proto
  pkg/proto/nbcontract/v1/config.pb.go
  pkg/proto/nbcontract/v1/config.proto
Due: none

remove package_audit_installed
  vhdbuilder/scripts/linux/mariner/tool_installs_mariner.sh
Due: .pipelines/.vsts-vhd-builder.yaml

cleanup: remove unused images for VHD space (#4182)
  vhdbuilder/packer/components.json
  vhdbuilder/packer/kube-proxy-images.json
Due: .pipelines/.vsts-vhd-builder.yaml

feat: add outbound networking type to NodeBootstrappingConfiguration (#4145)
  pkg/agent/datamodel/types.go
  pkg/agent/variables.go
Due: .pipelines/e2e.yaml

Add WorkloadRuntime enum to Configuration message
  pkg/proto/nbcontract/v1/config.pb.go
  pkg/proto/nbcontract/v1/config.proto
Due: none

Update WorkloadRuntime enum
  pkg/proto/nbcontract/v1/config.pb.go
  pkg/proto/nbcontract/v1/config.proto
Due: none

docs: add Windows image release notes for 2024-3b
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.5576.240316-image-list.json
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.5576.240316.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2340.240316-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2340.240316.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.2340.240316-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.2340.240316.txt
Due: none

docs: add Windows image release notes for 2024-3b (#4183)
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.5576.240316-image-list.json
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.5576.240316.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2340.240316-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2340.240316.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.2340.240316-image-list.json
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.2340.240316.txt
Due: none

use shallow replication
  vhdbuilder/packer/vhd-image-builder-base.json
  vhdbuilder/publish/sig-version-create.sh
Due: .pipelines/.vsts-vhd-builder.yaml

fix: shallow replication bug
  vhdbuilder/packer/vhd-image-builder-base.json
Due: .pipelines/.vsts-vhd-builder.yaml

bumped npm linux image tag to v1.5.23
  vhdbuilder/packer/components.json
Due: .pipelines/.vsts-vhd-builder.yaml

skip password repeat remediations
  vhdbuilder/scripts/linux/mariner/tool_installs_mariner.sh
Due: .pipelines/.vsts-vhd-builder.yaml

chore: update npm linux to v1.5.23 (#4184)
  vhdbuilder/packer/components.json
Due: .pipelines/.vsts-vhd-builder.yaml

remove temporary skip list
  vhdbuilder/scripts/linux/mariner/tool_installs_mariner.sh
Due: .pipelines/.vsts-vhd-builder.yaml

add default timeout variable
  .pipelines/e2e.yaml
Due: .pipelines/e2e.yaml

perf: use shallow replication
  .pipelines/.vsts-vhd-builder-release.yaml
  vhdbuilder/packer/vhd-image-builder-base.json
Due: .pipelines/.vsts-vhd-builder.yaml
