Repository Azure/AgentBaker: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml, .pipelines/update-go-binary.yaml

Path conditions:
  .pipelines/.vsts-vhd-builder-gpu.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, .pipelines/templates/.builder-release-template.yaml, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/e2e-template.yaml, parts/linux, packer.mk, aks-node-controller, parts/common/components.json, go.mod, go.sum, e2e/scenario_gpu_managed_experience_test.go, but not: schemas/windows_settings.cue, vhdbuilder/release-notes, vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/windows, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*, .github, e2e/scenario_win_test.go, **/*.md
  .pipelines/.vsts-vhd-builder-pr-windows.yaml: any of: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/scripts, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/.build-and-test-windows-vhds-template.yaml, .pipelines/templates/.build-and-test-windows-vhd-template.yaml, .pipelines/templates/.builder-release-template-windows.yaml, .pipelines/templates/e2e-template.yaml, packer.mk, vhdbuilder/packer/packer-plugin.pkr.hcl, vhdbuilder/packer/*.ps1, vhdbuilder/packer/test/*.ps1, vhdbuilder/packer/test/run-test.sh, vhdbuilder/packer/windows-sub-cleanup.sh, vhdbuilder/packer/cleanup.sh, vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh, vhdbuilder/packer/generate-vhd-publishing-info.sh, vhdbuilder/packer/produce-packer-settings.sh, vhdbuilder/packer/windows, parts/common/components.json, parts/windows, go.mod, go.sum, e2e, staging/cse/windows, but not: vhdbuilder/release-notes, **/*.md, .github, e2e/scenario_test.go
  .pipelines/.vsts-vhd-builder.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, .pipelines/templates/.builder-release-template.yaml, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/e2e-template.yaml, parts/linux, packer.mk, aks-node-controller, parts/common/components.json, go.mod, go.sum, but not: schemas/windows_settings.cue, vhdbuilder/release-notes, vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/windows, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*, .github, e2e/scenario_win_test.go
  .pipelines/.vsts-vhd-refresh-testdata.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-refresh-testdata.yaml, parts/linux, packer.mk, parts/common/components.json, but not: vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*
  .pipelines/e2e-windows.yaml: any of: .pipelines/e2e-windows.yaml, .pipelines/templates/e2e-template.yaml, .pipelines/scripts/e2e_run.sh, .pipelines/scripts/e2e_delete_vmss.sh, e2e, parts/windows, pkg/agent, parts/common/components.json, staging/cse/windows, go.mod, go.sum, but not: pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/*Ubuntu*, pkg/agent/testdata/*Flatcar*, pkg/agent/testdata/*Mariner*, pkg/agent/testdata/*AzureLinux*, parts/common/components.json, staging/cse/windows/README, **/*.md, .github, e2e/scenario_test.go
  .pipelines/e2e.yaml: any of: .pipelines/e2e.yaml, .pipelines/templates/e2e-template.yaml, .pipelines/scripts/e2e_run.sh, e2e, parts/linux, parts/common/components.json, pkg/agent, go.mod, go.sum, but not: pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/AKSWindows*, parts/common/components.json, staging/cse/windows/README, **/*.md, e2e/scenario_win_test.go
  .pipelines/update-go-binary.yaml: any of: pkg/proto, pkg/parser

fix: use Azure/aks-node-lifecycle team for Renovate reviewers and harden GitHub fallback
  vhdbuilder/packer/trivy-scan.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

fix: move renovate annotation directly above version string
  vhdbuilder/packer/trivy-scan.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

fix(vhd-scanning): install trivy from PMC with version pinning and Renovate tracking (#8248)
  .github/renovate.json
  vhdbuilder/packer/trivy-scan.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

fix: consolidate e2e scenario tests (#8329)
  e2e/scenario_test.go
Due: .pipelines/e2e.yaml

fix: re-apply /etc/issue banners after apt dist-upgrade
  vhdbuilder/packer/packer_source.sh
  vhdbuilder/packer/post-install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

add agentbaker artifact streaming combo e2es
  e2e/config/vhd.go
  e2e/scenario_test.go
  e2e/test_helpers.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

replace grubby with sed+grub2-mkconfig
  vhdbuilder/scripts/linux/mariner/tool_installs_mariner.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

e2e: use BeginUpdate + deferred CSE for VM instance tagging
  e2e/vmss.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

rename kata
  e2e/scenario_test.go
Due: .pipelines/e2e.yaml

Add Ubuntu 24.04 ARM64 artifact streaming e2e tests
  e2e/scenario_test.go
Due: .pipelines/e2e.yaml

test: add Ubuntu 24.04 ARM64 artifact streaming e2e tests (#8328)
  e2e/scenario_test.go
Due: .pipelines/e2e.yaml

fix: improve fuse installation check for Ubuntu 20.04 compatibility
  vhdbuilder/packer/test/linux-vhd-content-test.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

pr feedback from squad
  parts/windows/kuberneteswindowssetup.ps1
  staging/cse/windows/configfunc.ps1
  staging/cse/windows/containerdfunc.ps1
  staging/cse/windows/containerdfunc.tests.ps1
  staging/cse/windows/kubeletfunc.ps1
  staging/helpers.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

fix tests
  staging/cse/windows/configfunc.ps1
  staging/cse/windows/configfunc.tests.ps1
  staging/cse/windows/containerdfunc.ps1
  staging/cse/windows/kubeletfunc.ps1
  staging/helpers.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

More svcs on 4-16
  vhdbuilder/scripts/linux/acl/tool_installs_acl.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

Test updating containerd to 2.1.6
  parts/common/components.json
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

fix: update blobfuse and blobfuse2 installation logic for improved handling
  parts/linux/cloud-init/artifacts/ubuntu/cse_install_ubuntu.sh
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

fix: speed up provisioning even more by 10s with localdns enabled
  e2e/vmss.go
  parts/linux/cloud-init/artifacts/cse_cmd.sh
  pkg/agent/baker.go
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

prewarm coredns for faster provisioning
  parts/linux/cloud-init/artifacts/cse_main.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

fix: address review comments from djsly
  parts/common/components.json
  parts/linux/cloud-init/artifacts/mariner/cse_install_mariner.sh
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

fix: remove duplicate installAznfsPkgFromPMC call after download loop
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

chore: upgrade CSI driver image versions
  parts/common/components.json
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

feat(rcv1p): unify cert bootstrap flow and add Windows CA refresh task
  aks-node-controller/parser/helper.go
  aks-node-controller/parser/templates/cse_cmd.sh.gtpl
  parts/linux/cloud-init/artifacts/init-aks-custom-cloud-mariner.sh
  parts/linux/cloud-init/artifacts/init-aks-custom-cloud-operation-requests-mariner.sh
  parts/linux/cloud-init/artifacts/init-aks-custom-cloud-operation-requests.sh
  parts/linux/cloud-init/artifacts/init-aks-custom-cloud.sh
  parts/windows/kuberneteswindowssetup.ps1
  pkg/agent/const.go
  pkg/agent/variables.go
  staging/cse/windows/kubernetesfunc.ps1
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

feat: enhance CA certificates refresh task with endpoint mode based on location
  parts/linux/cloud-init/artifacts/init-aks-custom-cloud.sh
  parts/windows/kuberneteswindowssetup.ps1
  staging/cse/windows/kubernetesfunc.ps1
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

feat: simplify certificate endpoint mode handling and refresh task registration
  parts/linux/cloud-init/artifacts/init-aks-custom-cloud.sh
  parts/windows/kuberneteswindowssetup.ps1
  spec/parts/linux/cloud-init/artifacts/init_aks_custom_cloud_spec.sh
  staging/cse/windows/kubernetesfunc.ps1
  staging/cse/windows/kubernetesfunc.tests.ps1
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

feat: add tests for certificate endpoint mode handling in AKS custom cloud spec
  spec/parts/linux/cloud-init/artifacts/init_aks_custom_cloud_spec.sh
  staging/cse/windows/kubernetesfunc.tests.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

feat: implement conditional CA certificates refresh task registration for legacy and opted-in rcv1p modes
  parts/linux/cloud-init/artifacts/init-aks-custom-cloud.sh
  parts/windows/kuberneteswindowssetup.ps1
  spec/parts/linux/cloud-init/artifacts/init_aks_custom_cloud_spec.sh
  staging/cse/windows/kubernetesfunc.ps1
  staging/cse/windows/kubernetesfunc.tests.ps1
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

feat: update tests for certificate endpoint mode handling and refresh schedule installation
  spec/parts/linux/cloud-init/artifacts/init_aks_custom_cloud_spec.sh
  staging/cse/windows/kubernetesfunc.tests.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

feat: enhance CA certificates refresh task registration for legacy CSE packages
  parts/windows/kuberneteswindowssetup.ps1
  spec/parts/linux/cloud-init/artifacts/init_aks_custom_cloud_spec.sh
  staging/cse/windows/kubernetesfunc.tests.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

feat: remove deprecated Ubuntu repository initialization logic from init-aks-custom-cloud.sh
  parts/linux/cloud-init/artifacts/init-aks-custom-cloud.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

feat: update CA certificates functions for backward compatibility with optional Location parameter
  staging/cse/windows/kubernetesfunc.ps1
  staging/cse/windows/kubernetesfunc.tests.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

feat: update cse_cmd.sh and cse_cmd.sh.gtpl to ensure consistent logging of custom cloud file paths
  aks-node-controller/parser/templates/cse_cmd.sh.gtpl
  parts/linux/cloud-init/artifacts/cse_cmd.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

feat: enhance tests for Should-InstallCACertificatesRefreshTask and Get-CACertificates to verify URI handling
  staging/cse/windows/kubernetesfunc.tests.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

feat: update Get-CustomCloudCertEndpointModeFromLocation to clarify endpoint mode handling for legacy and rcv1p regions
  staging/cse/windows/kubernetesfunc.ps1
  staging/cse/windows/kubernetesfunc.tests.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

feat: refactor test setup functions for improved readability and consistency
  staging/cse/windows/kubernetesfunc.tests.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

feat(e2e): add RCV1P cert mode end-to-end tests
  .pipelines/e2e-rcv1p.yaml
  .pipelines/scripts/e2e_run.sh
  .pipelines/templates/e2e-template.yaml
  e2e/aks_model.go
  e2e/cache.go
  e2e/cluster.go
  e2e/config/azure.go
  e2e/config/config.go
  e2e/kube.go
  e2e/scenario_rcv1p_test.go
  e2e/scenario_rcv1p_win_test.go
  e2e/test_helpers.go
  e2e/types.go
  e2e/validators.go
  e2e/vmss.go
  parts/linux/cloud-init/artifacts/init-aks-custom-cloud.sh
  spec/parts/linux/cloud-init/artifacts/init_aks_custom_cloud_spec.sh
  staging/cse/windows/kubernetesfunc.ps1
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

Address PR review feedback: fix multi-subscription, validation, and error handling
  e2e/cluster.go
  e2e/validators.go
  parts/windows/kuberneteswindowssetup.ps1
  staging/cse/windows/kubernetesfunc.ps1
  staging/cse/windows/kubernetesfunc.tests.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

Split init-aks-custom-cloud.sh to fix Flatcar/ACL customData size limit
  parts/linux/cloud-init/artifacts/init-aks-custom-cloud-repos.sh
  parts/linux/cloud-init/artifacts/init-aks-custom-cloud.sh
  parts/linux/cloud-init/nodecustomdata.yml
  pkg/agent/baker.go
  pkg/agent/const.go
  pkg/agent/variables.go
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

Add Windows not-opted-in negative test for RCV1P cert mode
  e2e/scenario_rcv1p_win_test.go
  e2e/validators.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml
