Repository Azure/AgentBaker: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-scanning.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml, .pipelines/update-go-binary.yaml

Path conditions:
  .pipelines/.vsts-vhd-builder-release-windows.yaml: any of: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/templates/.builder-release-template-windows.yaml, packer.mk, vhdbuilder/packer/packer-plugin.pkr.hcl, vhdbuilder/packer/*.ps1, vhdbuilder/packer/test/*.ps1, vhdbuilder/packer/test/run-test.sh, vhdbuilder/packer/backfill-cleanup.sh, vhdbuilder/packer/cleanup.sh, vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh, vhdbuilder/packer/generate-vhd-publishing-info.sh, vhdbuilder/packer/init-variables.sh, vhdbuilder/packer/windows-image.env, vhdbuilder/packer/windows-vhd-builder-sig.json
  .pipelines/.vsts-vhd-builder.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, parts/linux/cloud-init/artifacts/manifest.json, parts/linux/cloud-init/artifacts/cse_install.sh, parts/linux/cloud-init/artifacts/cse_helpers.sh, parts/linux/cloud-init/artifacts/ubuntu/cse_install_ubuntu.sh, parts/linux/cloud-init/artifacts/mariner/cse_install_mariner.sh, packer.mk, but not: vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*
  .pipelines/.vsts-vhd-scanning.yaml: any of: vhdbuilder/packer
  .pipelines/e2e-windows.yaml: any of: .pipelines/e2e-windows.yaml, .pipelines/templates/e2e-windows-template.yaml, e2e/windows, parts/windows, staging/cse/windows
  .pipelines/e2e.yaml: any of: .pipelines/e2e.yaml, e2e, parts/linux, pkg/agent, but not: e2e/windows, pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/AKSWindows*
  .pipelines/update-go-binary.yaml: any of: pkg/proto, pkg/parser

use specific cpu arch
  parts/linux/cloud-init/artifacts/cse_install.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

fix: template
  .pipelines/templates/.builder-release-template.yaml
Due: none

fix: add packer plugin
  packer.mk
  vhdbuilder/packer/linux-packer-plugin.pkr.hcl
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-scanning.yaml

fix: remove private packages url
  .pipelines/templates/.builder-release-template.yaml
Due: none

test: use premium ssd for testing purposes
  vhdbuilder/packer/vhd-image-builder-arm64-gen2.json
  vhdbuilder/packer/vhd-image-builder-base.json
  vhdbuilder/packer/vhd-image-builder-mariner-arm64.json
  vhdbuilder/packer/vhd-image-builder-mariner.json
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-scanning.yaml

chore: bumping image version to 0.0.1
  pkg/agent/datamodel/linux_sig_version.json
Due: none

fix: change file name var
  vhdbuilder/scripts/automate_version_bump.sh
Due: none

fix: bash is sad
  vhdbuilder/packer/generate-vhd-publishing-info.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-scanning.yaml

test: WIP
  .pipelines/templates/.builder-release-template.yaml
Due: none

run e2e tests on PRs
  .pipelines/.vsts-vhd-builder.yaml
Due: .pipelines/.vsts-vhd-builder.yaml

test: test packer generated file existence
  vhdbuilder/packer/install-dependencies.sh
  vhdbuilder/packer/vhd-image-builder-base.json
  vhdbuilder/vhd_build_timestamp.json
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-scanning.yaml

fix: bugs
  vhdbuilder/packer/generate-vhd-publishing-info.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-scanning.yaml

chore: use publisher base images from official branch if they exist
  vhdbuilder/packer/init-variables.sh
  vhdbuilder/publisher_base_image_version.json
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-scanning.yaml

chore: bumping image version to 22.22.22
  pkg/agent/datamodel/linux_sig_version.json
Due: none

chore: update image version in official branch
  pkg/agent/datamodel/linux_sig_version.json
Due: none

chore: store VHD build timestamp and publisher base image version in official branch
  vhdbuilder/publisher_base_image_version.json
  vhdbuilder/vhd_build_timestamp.json
Due: none

chore: add logic to consume timestamp and versions
  vhdbuilder/packer/init-variables.sh
  vhdbuilder/packer/pre-install-dependencies.sh
  vhdbuilder/packer/vhd-image-builder-base.json
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-scanning.yaml

chore: remove install dep changes
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-scanning.yaml

fix: fix file path
  vhdbuilder/packer/init-variables.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-scanning.yaml

fix: add debug
  vhdbuilder/packer/init-variables.sh
  vhdbuilder/packer/vhd-image-builder-base.json
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-scanning.yaml

fix: change var name
  vhdbuilder/packer/vhd-image-builder-base.json
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-scanning.yaml

fix: remove vhd build timestamp from packer builders
  vhdbuilder/packer/vhd-image-builder-base.json
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-scanning.yaml

fix
  vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-scanning.yaml

simplify cluster loading
  e2e/cluster.go
  e2e/config/config.go
  e2e/suite_test.go
Due: .pipelines/e2e.yaml

fix: update file names and mapping criteria for automation (#4580)
  vhdbuilder/packer/generate-vhd-publishing-info.sh
  vhdbuilder/scripts/automate_version_bump.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-scanning.yaml

chore: add snapshot support
  vhdbuilder/packer/pre-install-dependencies.sh
  vhdbuilder/packer/vhd-image-builder-arm64-gen2.json
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-scanning.yaml

chore: update timestamp file
  vhdbuilder/publisher_base_image_version.json
  vhdbuilder/vhd_build_timestamp.json
Due: none

simplify randomization
  e2e/cluster.go
  e2e/random.go
  e2e/suite_test.go
  e2e/vmss.go
Due: .pipelines/e2e.yaml

simplify location configuration
  e2e/cluster.go
Due: .pipelines/e2e.yaml

chore: add arm64 support and revert snapshot change after its done
  vhdbuilder/packer/init-variables.sh
  vhdbuilder/packer/install-dependencies.sh
  vhdbuilder/packer/vhd-image-builder-arm64-gen2.json
  vhdbuilder/packer/vhd-image-builder-base.json
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-scanning.yaml

simplify subscription configuration
  e2e/pollers.go
  e2e/vmss.go
Due: .pipelines/e2e.yaml

chore: remove jsons and test vhd builds
  vhdbuilder/publisher_base_image_version.json
  vhdbuilder/vhd_build_timestamp.json
Due: none

move config parameters
  e2e/airgap.go
  e2e/config/config.go
Due: .pipelines/e2e.yaml

chore: add comments, change conditionals
  vhdbuilder/packer/install-dependencies.sh
  vhdbuilder/packer/pre-install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-scanning.yaml

fix: remove test json files
  vhdbuilder/publisher_base_image_version.json
  vhdbuilder/vhd_build_timestamp.json
Due: none

testing another VM SKU
  e2e/cluster.go
  e2e/vmss.go
Due: .pipelines/e2e.yaml

fix: update default vm size for abe2es
  e2e/vmss.go
Due: .pipelines/e2e.yaml
