Repository Azure/AgentBaker: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml, .pipelines/update-go-binary.yaml

.pipelines/.vsts-vhd-builder-pr-windows.yaml:
  name: PR_$(Date:yyyyMMdd)$(Rev:.r)_$(Build.SourceBranchName)_$(BuildID)
  pool:
    name: $(POOL_NAME)
  stages:
  - template: ./templates/.build-and-test-windows-vhds-template.yaml
    parameters:
      vhddebug: false
      skipExtensionCheck: true
      dryrun: false
      overrideBranch: master
  ...

.pipelines/.vsts-vhd-builder.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_$(Build.SourceBranchName)_$(BuildID)
  pool:
    name: $(POOL_NAME)
  stages:
  - stage: build
    jobs:
    - job: build2004fipsgen2containerd
      timeoutInMinutes: 180
      steps:
      - bash: 'echo ''##vso[task.setvariable variable=OS_SKU]Ubuntu''
  
  ...

.pipelines/.vsts-vhd-refresh-testdata.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_$(Build.SourceBranchName)_$(BuildID)
  pool:
    name: $(POOL_NAME)
  stages:
  - stage: Generate_and_Publish_Testdata
    condition: succeeded()
    jobs:
    - job: Generate_Publish_Testdata
      timeoutInMinutes: 10
      steps:
      - bash: 'make generate
  
          '
  ...

.pipelines/e2e-windows.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: ./templates/e2e-template.yaml
    parameters:
      name: Windows Tests
      IgnoreScenariosWithMissingVhd: false

.pipelines/e2e.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: ./templates/e2e-template.yaml
    parameters:
      name: Linux Tests
      IgnoreScenariosWithMissingVhd: false

.pipelines/update-go-binary.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  jobs: null
  check-file:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout current branch
      uses: actions/checkout@v2
    - name: build go binary
      run: make update-contract
    - name: Save file from current branch
      run: cp pkg/parser/bin/parser parser
  ...

chore: triggers
  .github/workflows/auto-generate.yaml
Due: none

updating npd configs from vm-extension
  parts/linux/cloud-init/artifacts/node-problem-detector/custom-plugin-monitor/custom-ig-monitor.json
  parts/linux/cloud-init/artifacts/node-problem-detector/custom-plugin-monitor/custom-kubelet-monitor.json
  parts/linux/cloud-init/artifacts/node-problem-detector/custom-plugin-monitor/dns-problem-monitor.json
  parts/linux/cloud-init/artifacts/node-problem-detector/custom-plugin-monitor/gpu_checks/custom-plugin-nvidia-dcgm-services.json
  parts/linux/cloud-init/artifacts/node-problem-detector/custom-plugin-monitor/gpu_checks/custom-plugin-nvidia-device-plugin.json
  parts/linux/cloud-init/artifacts/node-problem-detector/custom-plugin-monitor/gpu_checks/custom-plugin-nvidia-grid-status.json
  parts/linux/cloud-init/artifacts/node-problem-detector/custom-plugin-monitor/localdns-problem-monitor.json
  parts/linux/cloud-init/artifacts/node-problem-detector/plugin/GPU_CAPABILITIES_README.md
  parts/linux/cloud-init/artifacts/node-problem-detector/plugin/check_cpu_pressure.sh
  parts/linux/cloud-init/artifacts/node-problem-detector/plugin/check_cpu_pressure_ig.sh
  parts/linux/cloud-init/artifacts/node-problem-detector/plugin/check_dns_common.sh
  parts/linux/cloud-init/artifacts/node-problem-detector/plugin/check_dns_to_coredns.sh
  parts/linux/cloud-init/artifacts/node-problem-detector/plugin/check_egress.sh
  parts/linux/cloud-init/artifacts/node-problem-detector/plugin/check_memory_pressure.sh
  parts/linux/cloud-init/artifacts/node-problem-detector/plugin/check_memory_pressure_ig.sh
  parts/linux/cloud-init/artifacts/node-problem-detector/plugin/check_nvidia_dcgm_services.sh
  parts/linux/cloud-init/artifacts/node-problem-detector/plugin/check_nvidia_device_plugin.sh
  parts/linux/cloud-init/artifacts/node-problem-detector/plugin/check_nvidia_grid_status.sh
  parts/linux/cloud-init/artifacts/node-problem-detector/plugin/gpu_vms_capabilities.json
  parts/linux/cloud-init/artifacts/node-problem-detector/plugin/npd_common.sh
  parts/linux/cloud-init/artifacts/node-problem-detector/plugin/pressure_common.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

chore: indentation
  .github/workflows/auto-generate.yaml
Due: none

test: new auto-generate flow
  parts/linux/cloud-init/artifacts/cse_config.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

chore: test
  .github/workflows/auto-generate.yaml
Due: none

chore: fix more triggers
  .github/workflows/tidy.yaml
Due: none

chore: revert
  .github/workflows/tidy.yaml
Due: none

chore: fix correct triggers
  .github/workflows/auto-generate.yaml
Due: none

chore: remove conditional
  .github/workflows/auto-generate.yaml
Due: none

chore: widen triggers
  .github/workflows/auto-generate.yaml
Due: none

debug
  .github/workflows/auto-generate.yaml
Due: none

chore: revert
  .github/workflows/auto-generate.yaml
Due: none

feat: adding logic to configure repo_depot (#7694)
  parts/linux/cloud-init/artifacts/init-aks-custom-cloud-operation-requests-mariner.sh
  parts/linux/cloud-init/artifacts/init-aks-custom-cloud-operation-requests.sh
  parts/linux/cloud-init/artifacts/init-aks-custom-cloud.sh
  pkg/agent/testdata/AKSUbuntu2204+CustomCloud+USNat/CustomData
  pkg/agent/testdata/AKSUbuntu2204+CustomCloud+USSec/CustomData
  pkg/agent/testdata/AKSUbuntu2204+CustomCloud+ootcredentialprovider/CustomData
  pkg/agent/testdata/AKSUbuntu2204+CustomCloud/CustomData
  pkg/agent/testdata/Flatcar+CustomCloud+USSec/CustomData
  pkg/agent/testdata/Flatcar+CustomCloud+USSec/CustomData.inner
  pkg/agent/testdata/Flatcar+CustomCloud/CustomData
  pkg/agent/testdata/Flatcar+CustomCloud/CustomData.inner
  pkg/agent/testdata/MarinerV2+CustomCloud/CustomData
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

feat: redirect mcr.azk8s.cn to mcr.azure.cn in Windows containerd (#7705)
  e2e/scenario_win_test.go
  staging/cse/windows/containerd2template.toml
  staging/cse/windows/containerdfunc.ps1
  staging/cse/windows/containerdfunc.tests.ps1
  staging/cse/windows/containerdtemplate.toml
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

feat: update OS Guard base image version to 3.0.20260107
  .pipelines/.vsts-vhd-builder-release.yaml
Due: none

fix: e2e test cases and validators
  e2e/scenario_test.go
  e2e/validators.go
  parts/linux/cloud-init/artifacts/azure-network-tuning.sh
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

Revert password expiry changes for root account
  parts/linux/cloud-init/artifacts/cis.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

fix: update udev rule
  e2e/scenario_test.go
  e2e/validators.go
  parts/linux/cloud-init/artifacts/99-azure-network.rules
  parts/linux/cloud-init/artifacts/cse_config.sh
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix: Remove root password expiration early in CSE execution
  parts/linux/cloud-init/artifacts/cse_config.sh
  parts/linux/cloud-init/artifacts/cse_main.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

fix: refactor ethtool configuration and validation logic
  e2e/scenario_test.go
  e2e/validators.go
  parts/linux/cloud-init/artifacts/99-azure-network.rules
  parts/linux/cloud-init/artifacts/configure-azure-network.sh
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix: remove root password expiration early in CSE execution - v20260113 (#7714)
  parts/linux/cloud-init/artifacts/cse_config.sh
  parts/linux/cloud-init/artifacts/cse_main.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

Path conditions:
  .pipelines/.vsts-vhd-builder-pr-windows.yaml: any of: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/scripts, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/.build-and-test-windows-vhds-template.yaml, .pipelines/templates/.build-and-test-windows-vhd-template.yaml, .pipelines/templates/.builder-release-template-windows.yaml, .pipelines/templates/e2e-template.yaml, packer.mk, vhdbuilder/packer/packer-plugin.pkr.hcl, vhdbuilder/packer/*.ps1, vhdbuilder/packer/test/*.ps1, vhdbuilder/packer/test/run-test.sh, vhdbuilder/packer/windows-sub-cleanup.sh, vhdbuilder/packer/cleanup.sh, vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh, vhdbuilder/packer/generate-vhd-publishing-info.sh, vhdbuilder/packer/produce-packer-settings.sh, vhdbuilder/packer/windows, parts/common/components.json, parts/windows, go.mod, go.sum, e2e, staging/cse/windows, but not: vhdbuilder/release-notes, **/*.md, .github, e2e/scenario_test.go
  .pipelines/.vsts-vhd-builder.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, .pipelines/templates/.builder-release-template.yaml, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/e2e-template.yaml, parts/linux, packer.mk, aks-node-controller, parts/common/components.json, go.mod, go.sum, but not: schemas/windows_settings.cue, vhdbuilder/release-notes, vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/windows, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*, .github, e2e/scenario_win_test.go
  .pipelines/.vsts-vhd-refresh-testdata.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-refresh-testdata.yaml, parts/linux, packer.mk, parts/common/components.json, but not: vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*
  .pipelines/e2e-windows.yaml: any of: .pipelines/e2e-windows.yaml, .pipelines/templates/e2e-template.yaml, .pipelines/scripts/e2e_run.sh, .pipelines/scripts/e2e_delete_vmss.sh, e2e, parts/windows, pkg/agent, parts/common/components.json, staging/cse/windows, go.mod, go.sum, but not: pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/*Ubuntu*, pkg/agent/testdata/*Flatcar*, pkg/agent/testdata/*Mariner*, pkg/agent/testdata/*AzureLinux*, parts/common/components.json, staging/cse/windows/README, **/*.md, .github, e2e/scenario_test.go
  .pipelines/e2e.yaml: any of: .pipelines/e2e.yaml, .pipelines/templates/e2e-template.yaml, .pipelines/scripts/e2e_run.sh, e2e, parts/linux, parts/common/components.json, pkg/agent, go.mod, go.sum, but not: pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/AKSWindows*, parts/common/components.json, staging/cse/windows/README, **/*.md, e2e/scenario_win_test.go
  .pipelines/update-go-binary.yaml: any of: pkg/proto, pkg/parser
