Repository Azure/AgentBaker: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml, .pipelines/update-go-binary.yaml

Path conditions:
  .pipelines/.vsts-vhd-builder-gpu.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, .pipelines/templates/.builder-release-template.yaml, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/e2e-template.yaml, parts/linux, packer.mk, aks-node-controller, parts/common/components.json, go.mod, go.sum, e2e/scenario_gpu_managed_experience_test.go, but not: schemas/windows_settings.cue, vhdbuilder/release-notes, vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/windows, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*, .github, e2e/scenario_win_test.go, **/*.md
  .pipelines/.vsts-vhd-builder-pr-windows.yaml: any of: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/scripts, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/.build-and-test-windows-vhds-template.yaml, .pipelines/templates/.build-and-test-windows-vhd-template.yaml, .pipelines/templates/.builder-release-template-windows.yaml, .pipelines/templates/e2e-template.yaml, packer.mk, vhdbuilder/packer/packer-plugin.pkr.hcl, vhdbuilder/packer/*.ps1, vhdbuilder/packer/test/*.ps1, vhdbuilder/packer/test/run-test.sh, vhdbuilder/packer/windows-sub-cleanup.sh, vhdbuilder/packer/cleanup.sh, vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh, vhdbuilder/packer/generate-vhd-publishing-info.sh, vhdbuilder/packer/produce-packer-settings.sh, vhdbuilder/packer/windows, parts/common/components.json, parts/windows, go.mod, go.sum, e2e, staging/cse/windows, but not: vhdbuilder/release-notes, **/*.md, .github, e2e/scenario_test.go
  .pipelines/.vsts-vhd-builder.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, .pipelines/templates/.builder-release-template.yaml, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/e2e-template.yaml, parts/linux, packer.mk, aks-node-controller, parts/common/components.json, go.mod, go.sum, but not: schemas/windows_settings.cue, vhdbuilder/release-notes, vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/windows, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*, .github, e2e/scenario_win_test.go
  .pipelines/.vsts-vhd-refresh-testdata.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-refresh-testdata.yaml, parts/linux, packer.mk, parts/common/components.json, but not: vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*
  .pipelines/e2e-windows.yaml: any of: .pipelines/e2e-windows.yaml, .pipelines/templates/e2e-template.yaml, .pipelines/scripts/e2e_run.sh, .pipelines/scripts/e2e_delete_vmss.sh, e2e, parts/windows, pkg/agent, parts/common/components.json, staging/cse/windows, go.mod, go.sum, but not: pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/*Ubuntu*, pkg/agent/testdata/*Flatcar*, pkg/agent/testdata/*Mariner*, pkg/agent/testdata/*AzureLinux*, parts/common/components.json, staging/cse/windows/README, **/*.md, .github, e2e/scenario_test.go
  .pipelines/e2e.yaml: any of: .pipelines/e2e.yaml, .pipelines/templates/e2e-template.yaml, .pipelines/scripts/e2e_run.sh, e2e, parts/linux, parts/common/components.json, pkg/agent, go.mod, go.sum, but not: pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/AKSWindows*, parts/common/components.json, staging/cse/windows/README, **/*.md, e2e/scenario_win_test.go
  .pipelines/update-go-binary.yaml: any of: pkg/proto, pkg/parser

test instead on V100
  e2e/config/config.go
  e2e/scenario_test.go
  pkg/agent/testdata/ACL+CustomCloud+USSec/CustomData
  pkg/agent/testdata/ACL+CustomCloud+USSec/CustomData.inner
  pkg/agent/testdata/ACL+CustomCloud/CustomData
  pkg/agent/testdata/ACL+CustomCloud/CustomData.inner
  pkg/agent/testdata/ACL/CustomData
  pkg/agent/testdata/ACL/CustomData.inner
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

test ACL on NC before merge
  .pipelines/templates/.builder-release-template.yaml
  e2e/config/config.go
  parts/linux/cloud-init/artifacts/cse_config.sh
  parts/linux/cloud-init/artifacts/cse_main.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix comment
  parts/linux/cloud-init/artifacts/acl/cse_install_acl.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

feat: onboard ACL GPU provisioning support
  e2e/scenario_test.go
  parts/linux/cloud-init/artifacts/acl/cse_install_acl.sh
  parts/linux/cloud-init/artifacts/cse_config.sh
  parts/linux/cloud-init/artifacts/cse_helpers.sh
  parts/linux/cloud-init/artifacts/cse_install.sh
  parts/linux/cloud-init/artifacts/cse_main.sh
  parts/linux/cloud-init/artifacts/mariner/cse_install_mariner.sh
  spec/parts/linux/cloud-init/artifacts/cse_install_mariner_spec.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

test GRID again
  e2e/config/config.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

test: add hotfix tests for scriptless CSE command delivery mechanism
  e2e/scenario_test.go
  e2e/vmss.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

address PR review: defer Close, check errors, handle multiline content
  e2e/vmss.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

polish: improve naming, comments, and error wrapping in dag/tasks packages
  e2e/cluster.go
  e2e/dag/dag.go
  e2e/dag/dag_test.go
  e2e/tasks/execute.go
  e2e/tasks/graph.go
  e2e/tasks/task.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

refactor(e2e): remove unused tasks package in favor of dag package
  e2e/tasks/execute.go
  e2e/tasks/execute_test.go
  e2e/tasks/graph.go
  e2e/tasks/graph_test.go
  e2e/tasks/integration_test.go
  e2e/tasks/task.go
  e2e/tasks/task_test.go
  e2e/tasks/validate.go
  e2e/tasks/validate_test.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

chore: remove design spec docs, revert config.go changes
  docs/superpowers/specs/2026-03-20-taskdag-design.md
  e2e/config/config.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

refactor(e2e): remove bind/bindRun helpers, use inline closures
  e2e/cluster.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

docs(e2e): add note to keep prepareCluster minimal
  e2e/cluster.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix: address PR review comments on dag package and cluster.go
  e2e/cluster.go
  e2e/dag/dag.go
  e2e/dag/dag_test.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

test(dag): expand coverage to 95.1% with 37 tests
  e2e/dag/dag_test.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

Revert "feat: add scripts hotfix pipeline for test (#8046)"
  .pipelines/.vsts-provisioning-scripts-hotfix.yaml
Due: none

dag: recover panics in task goroutines and improve docs
  e2e/dag/dag.go
  e2e/dag/dag_test.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix: revert "feat: add scripts hotfix pipeline for test (#8046)" (#8150)
  .pipelines/.vsts-provisioning-scripts-hotfix.yaml
Due: none

feat: download containerd with oras in network isolated windows cluster
  e2e/scenario_win_test.go
  parts/windows/windowscsehelper.ps1
  staging/cse/windows/containerdfunc.ps1
  staging/cse/windows/containerdfunc.tests.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

feat: onboard NVIDIA GPU support for ACL (#8112)
  e2e/scenario_test.go
  parts/linux/cloud-init/artifacts/acl/cse_install_acl.sh
  parts/linux/cloud-init/artifacts/cse_config.sh
  parts/linux/cloud-init/artifacts/cse_helpers.sh
  parts/linux/cloud-init/artifacts/cse_install.sh
  parts/linux/cloud-init/artifacts/cse_main.sh
  parts/linux/cloud-init/artifacts/mariner/cse_install_mariner.sh
  spec/parts/linux/cloud-init/artifacts/cse_install_mariner_spec.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

feat:network isolated cluster implements oras to pull acr azure credential provider
  staging/cse/windows/configfunc.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

Update staging/cse/windows/configfunc.ps1
  staging/cse/windows/configfunc.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

ff
  staging/cse/windows/configfunc.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

chore: remove stale .vsts-provisioning-scripts-hotfix.yaml
  .pipelines/.vsts-provisioning-scripts-hotfix.yaml
Due: none

remove md file
  e2e/agentbaker-e2e-vs-aksrp-e2ev3.md
Due: none

chore: cherry pick github actions changes (#7478)
  .gitignore
  .pipelines/templates/.builder-release-template.yaml
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml

increase the time out value
  .pipelines/templates/.k8s-windows-e2e-template.yaml
Due: none

Edit cleanup logic to only keep the last image version and resource group in a subscription
  .pipelines/scripts/windows-sub-cleanup.sh
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml

temp change to add monitoring for 2025lt branch
  .pipelines/.vsts-cross-builds.yaml
  .pipelines/local/getContainerLayersFromBuilds.ps1
  .pipelines/scripts/download_layers_from_storage.ps1
  .pipelines/scripts/export_nano_images.ps1
  .pipelines/scripts/import_layers.ps1
  .pipelines/tests/buildxdocker_active
  .pipelines/tests/crossbuild.sh
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml

Removing crossbuild pipeline files from AgentBaker
  .pipelines/.vsts-cross-builds.yaml
  .pipelines/scripts/cleanup.ps1
  .pipelines/scripts/cleanupACR.ps1
  .pipelines/scripts/download_layers_from_storage.ps1
  .pipelines/scripts/export_nano_images.ps1
  .pipelines/scripts/export_sparc_images.ps1
  .pipelines/scripts/import_layers.ps1
  .pipelines/templates/.buildx-test-template.yaml
  .pipelines/tests/crossbuild.sh
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml

upgrade the kusto extension version
  .pipelines/templates/.k8s-windows-azuredisk-template.yaml
  .pipelines/templates/.k8s-windows-azurefile-template.yaml
  .pipelines/templates/.k8s-windows-e2e-template.yaml
  .pipelines/templates/.k8s-windows-e2eslow-template.yaml
  .pipelines/templates/.windows-npm-test-template.yaml
Due: none

Remove duplicate AzCLI auth fields
  vhdbuilder/packer/vhd-image-builder-base.json
  vhdbuilder/packer/windows/windows-vhd-builder-sig.json
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

chore: remove stale changes from other PRs baked into branch history
  e2e/scenario_test.go
  e2e/scenario_win_test.go
  parts/linux/cloud-init/artifacts/acl/cse_install_acl.sh
  parts/linux/cloud-init/artifacts/mariner/cse_install_mariner.sh
  spec/shellspec.Dockerfile
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix: remove duplicate LOCALDNS_* variable assignments in cse_cmd.sh
  parts/linux/cloud-init/artifacts/cse_cmd.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

Update package versions for GB200 image
  vhdbuilder/packer/gb200-mai-bom.json
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

fix: update cloud-init write_files injection mechanism for scriptless CSE command delivery
  e2e/scenario_test.go
  e2e/vmss.go
  pkg/agent/datamodel/types.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml
