Repository Azure/AgentBaker: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml, .pipelines/update-go-binary.yaml

Path conditions:
  .pipelines/.vsts-vhd-builder-release-windows.yaml: any of: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/templates/.builder-release-template-windows.yaml, packer.mk, vhdbuilder/packer/packer-plugin.pkr.hcl, vhdbuilder/packer/*.ps1, vhdbuilder/packer/test/*.ps1, vhdbuilder/packer/test/run-test.sh, vhdbuilder/packer/backfill-cleanup.sh, vhdbuilder/packer/cleanup.sh, vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh, vhdbuilder/packer/generate-vhd-publishing-info.sh, vhdbuilder/packer/init-variables.sh, vhdbuilder/packer/windows-image.env, vhdbuilder/packer/windows-vhd-builder-sig.json
  .pipelines/.vsts-vhd-builder.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, parts/linux/cloud-init/artifacts/manifest.json, parts/linux/cloud-init/artifacts/cse_install.sh, parts/linux/cloud-init/artifacts/cse_helpers.sh, parts/linux/cloud-init/artifacts/ubuntu/cse_install_ubuntu.sh, parts/linux/cloud-init/artifacts/mariner/cse_install_mariner.sh, packer.mk, but not: vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*
  .pipelines/e2e-windows.yaml: any of: .pipelines/e2e-windows.yaml, .pipelines/templates/e2e-windows-template.yaml, e2e/windows, parts/windows, staging/cse/windows
  .pipelines/e2e.yaml: any of: .pipelines/e2e.yaml, e2e, parts/linux, pkg/agent, but not: e2e/windows, pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json
  .pipelines/update-go-binary.yaml: any of: pkg/proto, pkg/parser

Update GRID driver to 535.161.08 for kernel compat issue (#4429)
  pkg/agent/common/gpu.go
Due: .pipelines/e2e.yaml

cherry-pick: Update GRID driver to 535.161.08 for kernel compat issue (#4429) (#4432)
  pkg/agent/common/gpu.go
Due: .pipelines/e2e.yaml

add --allow-no-subscriptions for trusted launch
  vhdbuilder/packer/vhd-scanning.sh
Due: .pipelines/.vsts-vhd-builder.yaml

fix: add retry interval, fix kubelet arg filtering
  staging/cse/windows/provisioningscripts/kubeletstart.ps1
  staging/cse/windows/provisioningscripts/securetlsbootstrap.ps1
Due: .pipelines/e2e-windows.yaml

fix go binary test
  vhdbuilder/packer/test/linux-vhd-content-test.sh
Due: .pipelines/.vsts-vhd-builder.yaml

modify where --allow-no-subs is
  vhdbuilder/packer/vhd-scanning-vm-exe.sh
  vhdbuilder/packer/vhd-scanning.sh
Due: .pipelines/.vsts-vhd-builder.yaml

comments
  vhdbuilder/packer/vhd-scanning-vm-exe.sh
  vhdbuilder/packer/vhd-scanning.sh
Due: .pipelines/.vsts-vhd-builder.yaml

remove arm64 guard for fuse3
  parts/linux/cloud-init/artifacts/ubuntu/cse_install_ubuntu.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

format
  parts/linux/cloud-init/artifacts/ubuntu/cse_install_ubuntu.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

try adding scope to TL vm creation
  vhdbuilder/packer/vhd-scanning-exe-on-vm.sh
  vhdbuilder/packer/vhd-scanning.sh
Due: .pipelines/.vsts-vhd-builder.yaml

self-contained: add go binary to vhd (#4396)
  nbcparser/go.mod
  nbcparser/go.sum
  nbcparser/main.go
  nbcparser/pkg/parser/consts.go
  nbcparser/pkg/parser/helper.go
  nbcparser/pkg/parser/helper_test.go
  nbcparser/pkg/parser/parser.go
  nbcparser/pkg/parser/parser_suite_test.go
  nbcparser/pkg/parser/parser_test.go
  nbcparser/pkg/parser/templates/containerd.toml.gtpl
  nbcparser/pkg/parser/templates/cse_cmd.sh.gtpl
  nbcparser/pkg/parser/templates/kubenet-cni.json.gtpl
  nbcparser/testdata/test_nbc.json
  nbcparser/testdata/test_nbc_fields_missing.json
  nbcparser/testdata/test_nbc_fields_unexpected.json
  packer.mk
  vhdbuilder/packer/packer_source.sh
  vhdbuilder/packer/test/linux-vhd-content-test.sh
  vhdbuilder/packer/vhd-image-builder-arm64-gen2.json
  vhdbuilder/packer/vhd-image-builder-base.json
  vhdbuilder/packer/vhd-image-builder-mariner-arm64.json
  vhdbuilder/packer/vhd-image-builder-mariner.json
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

test: update pam tests to allow us to use FedRAMP-specific settings
  vhdbuilder/packer/test/pam/conftest.py
  vhdbuilder/packer/test/pam/test_pam.py
Due: .pipelines/.vsts-vhd-builder.yaml

chore: cache cilium 1.14.10
  parts/linux/cloud-init/artifacts/components.json
Due: .pipelines/e2e.yaml

chore: cache cilium 1.14.10 (#4417)
  parts/linux/cloud-init/artifacts/components.json
Due: .pipelines/e2e.yaml

update identity
  vhdbuilder/packer/vhd-scanning.sh
Due: .pipelines/.vsts-vhd-builder.yaml

Rename the build stages to remove reference to SAS tokens
  .pipelines/templates/.builder-release-template-windows.yaml
  .pipelines/templates/.builder-release-template.yaml
  packer.mk
  vhdbuilder/packer/generate-vhd-publishing-info.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

chore: Update agentbaker e2e with image on 05202024 (#4419)
  e2e/scenario/base_vhd_catalog.json
Due: .pipelines/e2e.yaml

Removing templates_generated.go
  pkg/templates/templates_generated.go
Due: none

fix file name
  vhdbuilder/packer/vhd-scanning.sh
Due: .pipelines/.vsts-vhd-builder.yaml

add role assignment on the fly
  vhdbuilder/packer/vhd-scanning.sh
Due: .pipelines/.vsts-vhd-builder.yaml

remove and try again
  vhdbuilder/packer/vhd-scanning.sh
Due: .pipelines/.vsts-vhd-builder.yaml

add role assignment to vm?
  vhdbuilder/packer/vhd-scanning.sh
Due: .pipelines/.vsts-vhd-builder.yaml

move to after vm is made
  vhdbuilder/packer/vhd-scanning.sh
Due: .pipelines/.vsts-vhd-builder.yaml

add scope
  vhdbuilder/packer/vhd-scanning.sh
Due: .pipelines/.vsts-vhd-builder.yaml

chore: automated PR to update VHDVersion for 202405.20.0 VHD (#4414)
  pkg/agent/datamodel/linux_sig_version.json
Due: none

chore: add .gitignore entry
  .gitignore
Due: none

chore: removing templates_generated.go (#4434)
  .gitignore
  pkg/templates/templates_generated.go
Due: none

support arm64 nbcparser
  packer.mk
  vhdbuilder/packer/vhd-image-builder-arm64-gen2.json
  vhdbuilder/packer/vhd-image-builder-base.json
  vhdbuilder/packer/vhd-image-builder-mariner-arm64.json
  vhdbuilder/packer/vhd-image-builder-mariner.json
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

chore: address comments
  staging/cse/windows/README
  staging/cse/windows/provisioningscripts/kubeletstart.ps1
Due: .pipelines/e2e-windows.yaml

fix make target
  packer.mk
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

Self-contained: nbcparser add arm64 support (#4435)
  packer.mk
  vhdbuilder/packer/vhd-image-builder-arm64-gen2.json
  vhdbuilder/packer/vhd-image-builder-base.json
  vhdbuilder/packer/vhd-image-builder-mariner-arm64.json
  vhdbuilder/packer/vhd-image-builder-mariner.json
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

Update cloud-init to use mariner v2 version
  vhdbuilder/packer/pre-install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml

chore: generate
  pkg/agent/testdata/AKSUbuntu2204+TLSBootstrapping+SecureTLSBoostrapping/CustomData
  pkg/agent/testdata/AKSUbuntu2204+TLSBootstrapping+SecureTLSBoostrapping/line62.sh
Due: .pipelines/e2e.yaml

feat: update windows release notes for 2024-05
  vhdbuilder/release-notes/AKSWindows/2019-containerd/17763.5820.240516.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd-gen2/20348.2461.240516.txt
  vhdbuilder/release-notes/AKSWindows/2022-containerd/20348.2461.240516.txt
Due: none
