Repository Azure/AgentBaker: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml, .pipelines/update-go-binary.yaml

Path conditions:
  .pipelines/.vsts-vhd-builder-release-windows.yaml: any of: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/templates/.builder-release-template-windows.yaml, packer.mk, vhdbuilder/packer/packer-plugin.pkr.hcl, vhdbuilder/packer/*.ps1, vhdbuilder/packer/test/*.ps1, vhdbuilder/packer/test/run-test.sh, vhdbuilder/packer/backfill-cleanup.sh, vhdbuilder/packer/cleanup.sh, vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh, vhdbuilder/packer/generate-vhd-publishing-info.sh, vhdbuilder/packer/init-variables.sh, vhdbuilder/packer/windows-image.env, vhdbuilder/packer/windows-vhd-builder-sig.json
  .pipelines/.vsts-vhd-builder.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, .pipelines/templates/.builder-release-template.yaml, parts/linux, packer.mk, but not: vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*
  .pipelines/e2e-windows.yaml: any of: .pipelines/e2e-windows.yaml, .pipelines/templates/e2e-windows-template.yaml, e2e/windows, parts/windows, staging/cse/windows, but not: staging/cse/windows/README
  .pipelines/e2e.yaml: any of: .pipelines/e2e.yaml, .pipelines/templates/e2e-template.yaml, e2e, parts/linux, pkg/agent, but not: e2e/windows, pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/AKSWindows*, parts/linux/cloud-init/artifacts/components.json
  .pipelines/update-go-binary.yaml: any of: pkg/proto, pkg/parser

removing possible stderr during build
  parts/linux/cloud-init/artifacts/cgroup-memory-telemetry.sh
  parts/linux/cloud-init/artifacts/cgroup-pressure-telemetry.sh
  parts/linux/cloud-init/artifacts/cse_helpers.sh
  parts/linux/cloud-init/artifacts/cse_start.sh
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

removing more stderr and issues during build
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml

removing stderr output from the buildlogs
  parts/linux/cloud-init/artifacts/cse_helpers.sh
  parts/linux/cloud-init/artifacts/ubuntu/cse_install_ubuntu.sh
  vhdbuilder/packer/pre-install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

properly disabling unpacked layer
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml

dont print downoad % in the logs
  parts/linux/cloud-init/artifacts/cse_install.sh
  vhdbuilder/scripts/linux/tool_installs.sh
  vhdbuilder/scripts/linux/ubuntu/tool_installs_ubuntu.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

ignoring image name which starts with sha
  vhdbuilder/lister/pkg/image/list.go
Due: none

disable properly
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml

testing with more logs
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml

real string... thanks copilot!
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml

convert script from sh to go, update makefile logic, adding testdata to gitignore
  .gitignore
  Makefile
  pkg/agent/baker_test.go
Due: .pipelines/e2e.yaml

fix linter
  pkg/agent/baker_test.go
Due: .pipelines/e2e.yaml

generating test data
  .github/workflows/check-coverage.yml
Due: none

right value
  .pipelines/templates/e2e-template.yaml
Due: .pipelines/e2e.yaml

skip shell-check on testdata when missing
  .pipelines/scripts/verify_shell.sh
Due: none

small cosmetic changes
  .github/workflows/check-tests.yml
  Makefile
Due: none

fix go install
  .pipelines/templates/e2e-template.yaml
Due: .pipelines/e2e.yaml

adding better e2e visiblity
  .pipelines/templates/e2e-template.yaml
Due: .pipelines/e2e.yaml

forcing make generate before e2e
  .gitignore
  .pipelines/templates/e2e-template.yaml
Due: .pipelines/e2e.yaml

forcing generate for unit-tests
  Makefile
Due: none

refactor: VHD automation as go binary
  .pipelines/.vsts-vhd-automation.yaml
  vhdbuilder/automation/cmd/main.go
  vhdbuilder/automation/go.mod
  vhdbuilder/automation/go.sum
  vhdbuilder/automation/internal/release/sig.go
Due: none

gzip best compression
  pkg/agent/baker.go
  pkg/agent/utils.go
Due: .pipelines/e2e.yaml

chore: fix
  .pipelines/.vsts-vhd-automation.yaml
Due: none

chore: set env
  .pipelines/.vsts-vhd-automation.yaml
Due: none

chore: revert
  .pipelines/.vsts-vhd-automation.yaml
Due: none

revert method rename
  pkg/agent/baker.go
  pkg/agent/utils.go
Due: .pipelines/e2e.yaml

chore: tweaks
  .pipelines/.vsts-vhd-automation.yaml
  .pipelines/templates/.set-image-version-template.yaml
Due: none

gzip the whole file instead of it's parts
  e2e/validators.go
  parts/linux/cloud-init/nodecustomdata.yml
  pkg/agent/baker.go
  pkg/agent/utils.go
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

test custom data
  e2e/scenario_test.go
  parts/linux/cloud-init/nodecustomdata.yml
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

fix encoding
  parts/linux/cloud-init/nodecustomdata.yml
  pkg/agent/utils.go
  pkg/agent/variables.go
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

test:ensure kubelet is not restarted during GPU node bootstrapping
  e2e/scenario_test.go
Due: .pipelines/e2e.yaml

fix: Ensure nvidia modprobe is run before kubelet
  parts/linux/cloud-init/artifacts/nvidia-modprobe.service
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

chore: refactor
  vhdbuilder/automation/cmd/main.go
  vhdbuilder/automation/internal/ado/ado.go
  vhdbuilder/automation/internal/release/sig.go
Due: none

chore: extract urls
  vhdbuilder/automation/internal/ado/ado.go
Due: none

chore: cleanup
  vhdbuilder/automation/internal/ado/ado.go
Due: none

don't optionally unzip
  pkg/agent/baker_test.go
Due: .pipelines/e2e.yaml
