Repository Azure/AgentBaker: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml, .pipelines/update-go-binary.yaml

.pipelines/.vsts-vhd-builder-release-windows.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_$(Build.SourceBranchName)_$(BuildID)
  pool:
    name: $(AZURE_POOL_NAME)
  extends:
    template: v2/OneBranch.Official.CrossPlat.yml@templates
    parameters:
      globalSdl:
        antimalwareScan:
          enabled: true
        armory:
          enabled: false
        binskim:
  ...

.pipelines/.vsts-vhd-builder.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_$(OS_SKU)$(OS_VERSION)_$(HYPERV_GENERATION)_$(FEATURE_FLAGS)_$(Build.SourceBranchName)
  pool:
    name: $(POOL_NAME)
  stages:
  - stage: build_vhd
    dependsOn: []
    jobs:
    - job: build
      timeoutInMinutes: 180
      steps:
  ...

.pipelines/e2e-windows.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_e2e
  pool:
    name: $(AZURE_POOL_NAME)
  stages:
  - stage: test_2019_containerd
    dependsOn: []
    condition: eq('${{ parameters.test2019containerd }}', True)
    jobs:
    - template: ./templates/e2e-windows-template.yaml
      parameters:
        windowsImage: 2019-containerd
  ...

.pipelines/e2e.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  pool:
    name: nodesigtest-pool
  jobs:
  - job: Run_AgentBaker_E2E
    timeoutInMinutes: ${{ variables.defaultTimeout }}
    steps:
    - bash: 'az login --identity
  
        az account set -s $(AZURE_SUBSCRIPTION_ID)
  
        '
      displayName: az login
  ...

.pipelines/update-go-binary.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  jobs: null
  check-file:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout current branch
      uses: actions/checkout@v2
    - name: build go binary
      run: make update-contract
    - name: Save file from current branch
      run: cp pkg/parser/bin/parser parser
  ...

revert changes to gen2containerdprivatekubepkg
  e2e/scenario/base_vhd_catalog.json
Due: .pipelines/e2e.yaml

undo go.mod change
  go.mod
  go.sum
Due: none

set env variables through .env variable, simplify local test running
  e2e/e2e-local.sh
  e2e/go.mod
  e2e/go.sum
  e2e/suite_test.go
Due: .pipelines/e2e.yaml

mage version tag configurable
  .pipelines/e2e.yaml
  e2e/config/config.go
  e2e/config/vhd.go
  e2e/suite_test.go
Due: .pipelines/e2e.yaml

define VHD catalog in code
  e2e/scenario/base_vhd_catalog.json
  e2e/scenario/vhd.go
Due: .pipelines/e2e.yaml

fix test name
  e2e/scenario/scenario_marinerv2-airgap.go
Due: .pipelines/e2e.yaml

Update one template to match updated settings
  vhdbuilder/packer/vhd-image-builder-base.json
Due: .pipelines/.vsts-vhd-builder.yaml

Remove location - can't have it and build_resource_group_name
  vhdbuilder/packer/vhd-image-builder-base.json
Due: .pipelines/.vsts-vhd-builder.yaml

Set msi_resource_strings from AZURE_MSI_RESOURCE_ID
  vhdbuilder/packer/init-variables.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

Update ARM template as well in hopes of avoiding capacity issues
  vhdbuilder/packer/vhd-image-builder-arm64-gen2.json
Due: .pipelines/.vsts-vhd-builder.yaml

update lint rules
  .golangci.yaml
  pkg/agent/baker.go
  pkg/agent/bakerapi.go
  pkg/agent/datamodel/types.go
Due: .pipelines/e2e.yaml

feat: init vuln-to-kusto step
  .pipelines/templates/.builder-release-template.yaml
Due: none

simplify parameters
  .pipelines/.vsts-vhd-builder-release.yaml
  .pipelines/e2e.yaml
  .pipelines/templates/e2e-template.yaml
Due: .pipelines/e2e.yaml

undo change
  .pipelines/.vsts-vhd-builder.yaml
Due: .pipelines/.vsts-vhd-builder.yaml

style: fix lint errors (#4553)
  .golangci.yaml
  pkg/agent/baker.go
  pkg/agent/bakerapi.go
  pkg/agent/datamodel/types.go
Due: .pipelines/e2e.yaml

perf: remove go dev container
  .pipelines/.vsts-vhd-builder-release.yaml
Due: none

perf: remove docker run commands for go dev env container
  Makefile
Due: none

perf: remove docker run command option
  Makefile
Due: none

update component.json and readme
  README.md
  parts/linux/cloud-init/artifacts/components.json
  schemas/components.cue
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

feat: containerinsights 3.1.22 release
  parts/linux/cloud-init/artifacts/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/e2e.yaml

migrate kube-proxy
  parts/linux/cloud-init/artifacts/components.json
  vhdbuilder/packer/install-dependencies.sh
  vhdbuilder/packer/kube-proxy-images.json
  vhdbuilder/packer/pre-install-dependencies.sh
  vhdbuilder/packer/test/linux-vhd-content-test.sh
  vhdbuilder/packer/vhd-image-builder-arm64-gen2.json
  vhdbuilder/packer/vhd-image-builder-base.json
  vhdbuilder/packer/vhd-image-builder-mariner-arm64.json
  vhdbuilder/packer/vhd-image-builder-mariner.json
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

feat: enable packer builds in multiple regions for linux
  .pipelines/templates/.builder-release-template.yaml
  vhdbuilder/packer/init-variables.sh
  vhdbuilder/packer/test/run-test.sh
  vhdbuilder/packer/vhd-image-builder-arm64-gen2.json
  vhdbuilder/packer/vhd-image-builder-base.json
  vhdbuilder/packer/vhd-image-builder-mariner-arm64.json
  vhdbuilder/packer/vhd-image-builder-mariner.json
  vhdbuilder/packer/vhd-scanning.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

chore: correctly set networking vars
  vhdbuilder/packer/init-variables.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

chore: wrong vnet name
  vhdbuilder/packer/init-variables.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

pass through vhdBuildId
  .pipelines/.vsts-vhd-builder-release.yaml
  .pipelines/e2e.yaml
  .pipelines/templates/e2e-template.yaml
Due: .pipelines/e2e.yaml

fix missing image handling
  e2e/config/vhd.go
Due: .pipelines/e2e.yaml

remove PAT token requirement
  .pipelines/templates/e2e-template.yaml
Due: none

cfix update location for windows pipelines
  e2e/windows/e2e-helper.sh
  e2e/windows/e2e-starter.sh
Due: .pipelines/e2e-windows.yaml

fix: fix bug
  .pipelines/templates/e2e-windows-template.yaml
  e2e/windows/e2e-helper.sh
  e2e/windows/e2e-scenario.sh
  e2e/windows/e2e-starter.sh
Due: .pipelines/e2e-windows.yaml

chore: clean up unused windows cache
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml

chore: clean up unused windows cache (#4558)
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml

fix: virtual network resource group name property added
  vhdbuilder/packer/vhd-image-builder-mariner-arm64.json
Due: .pipelines/.vsts-vhd-builder.yaml

test: use packer/makle on host vm
  .pipelines/templates/.builder-release-template.yaml
Due: none

test: find packer path in container
  .pipelines/templates/.builder-release-template.yaml
Due: none

perf: shallow replication
  vhdbuilder/packer/vhd-image-builder-mariner-arm64.json
Due: .pipelines/.vsts-vhd-builder.yaml

test: mount host packer binary to container
  .pipelines/templates/.builder-release-template.yaml
Due: none

test: add packer plugin
  packer.mk
  vhdbuilder/packer/packer-plugin.pkr.hcl
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

Path conditions:
  .pipelines/.vsts-vhd-builder-release-windows.yaml: any of: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/templates/.builder-release-template-windows.yaml, packer.mk, vhdbuilder/packer/packer-plugin.pkr.hcl, vhdbuilder/packer/*.ps1, vhdbuilder/packer/test/*.ps1, vhdbuilder/packer/test/run-test.sh, vhdbuilder/packer/backfill-cleanup.sh, vhdbuilder/packer/cleanup.sh, vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh, vhdbuilder/packer/generate-vhd-publishing-info.sh, vhdbuilder/packer/init-variables.sh, vhdbuilder/packer/windows-image.env, vhdbuilder/packer/windows-vhd-builder-sig.json
  .pipelines/.vsts-vhd-builder.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, parts/linux/cloud-init/artifacts/manifest.json, parts/linux/cloud-init/artifacts/cse_install.sh, parts/linux/cloud-init/artifacts/cse_helpers.sh, parts/linux/cloud-init/artifacts/ubuntu/cse_install_ubuntu.sh, parts/linux/cloud-init/artifacts/mariner/cse_install_mariner.sh, packer.mk, but not: vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*
  .pipelines/e2e-windows.yaml: any of: .pipelines/e2e-windows.yaml, .pipelines/templates/e2e-windows-template.yaml, e2e/windows, parts/windows, staging/cse/windows
  .pipelines/e2e.yaml: any of: .pipelines/e2e.yaml, e2e, parts/linux, pkg/agent, but not: e2e/windows, pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/AKSWindows*
  .pipelines/update-go-binary.yaml: any of: pkg/proto, pkg/parser
