Repository Azure/AgentBaker: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml, .pipelines/update-go-binary.yaml

.pipelines/.vsts-vhd-builder-release-windows.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_$(Build.SourceBranchName)_$(BuildID)
  pool:
    name: $(AZURE_POOL_NAME)
  extends:
    template: v2/OneBranch.Official.CrossPlat.yml@templates
    parameters:
      globalSdl:
        antimalwareScan:
          enabled: true
        armory:
          enabled: false
        binskim:
  ...

.pipelines/.vsts-vhd-builder.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_$(OS_SKU)$(OS_VERSION)_$(HYPERV_GENERATION)_$(FEATURE_FLAGS)_$(Build.SourceBranchName)
  pool:
    name: $(POOL_NAME)
  stages:
  - stage: build
    jobs:
    - job: build2204gen2containerd
      timeoutInMinutes: 180
      steps:
  ...

.pipelines/e2e-windows.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_e2e
  pool:
    name: $(AZURE_POOL_NAME)
  stages:
  - stage: test_2019_containerd
    dependsOn: []
    condition: eq('${{ parameters.test2019containerd }}', True)
    jobs:
    - template: ./templates/e2e-windows-template.yaml
      parameters:
        windowsImage: 2019-containerd
  ...

.pipelines/e2e.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: ./templates/e2e-template.yaml

.pipelines/update-go-binary.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  jobs: null
  check-file:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout current branch
      uses: actions/checkout@v2
    - name: build go binary
      run: make update-contract
    - name: Save file from current branch
      run: cp pkg/parser/bin/parser parser
  ...

fix: exit when bcc install fails (#5075)
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml

finish updating CNI 1.6 versions
  parts/linux/cloud-init/artifacts/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/prefetch/internal/containerimage/testdata/components.json
  vhdbuilder/prefetch/internal/containerimage/testdata/prefetch.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

Add test data for cni and cns version update 1.5.38 and 1.4.56
  vhdbuilder/prefetch/internal/containerimage/testdata/prefetch.sh
Due: none

update cni v1.4.56
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/prefetch/internal/containerimage/testdata/components.json
  vhdbuilder/prefetch/internal/containerimage/testdata/prefetch.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml

make generate testdata files
  vhdbuilder/prefetch/internal/containerimage/testdata/components.json
  vhdbuilder/prefetch/internal/containerimage/testdata/prefetch.sh
Due: none

cache v1.6.13
  parts/linux/cloud-init/artifacts/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/prefetch/internal/containerimage/testdata/components.json
  vhdbuilder/prefetch/internal/containerimage/testdata/prefetch.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

undo v1.6.x related changes
  parts/linux/cloud-init/artifacts/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/prefetch/internal/containerimage/testdata/components.json
  vhdbuilder/prefetch/internal/containerimage/testdata/prefetch.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

undo 1.6.x related changes
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml

moving to crictl for image pulling, removing useless vars
  nbcparser/pkg/parser/templates/cse_cmd.sh.gtpl
  parts/linux/cloud-init/artifacts/cse_cmd.sh
  parts/linux/cloud-init/artifacts/cse_config.sh
  parts/linux/cloud-init/artifacts/cse_install.sh
  pkg/agent/baker_test.go
  pkg/agent/params.go
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

chore: fix
  parts/linux/cloud-init/artifacts/components.json
Due: .pipelines/.vsts-vhd-builder.yaml

chore: sync prefetch
  vhdbuilder/prefetch/internal/containerimage/testdata/components.json
  vhdbuilder/prefetch/internal/containerimage/testdata/prefetch.sh
Due: none

trying the discard_unpacked_layers flag
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml

test: use original components.json for prefetch tests
  vhdbuilder/prefetch/Makefile
  vhdbuilder/prefetch/hack/generate-testdata.sh
  vhdbuilder/prefetch/internal/containerimage/containerimage.go
  vhdbuilder/prefetch/internal/containerimage/containerimage_test.go
  vhdbuilder/prefetch/internal/containerimage/testdata/components.json
  vhdbuilder/prefetch/internal/containerimage/testdata/prefetch.sh
Due: none

chore: naming
  vhdbuilder/prefetch/internal/containerimage/containerimage_test.go
Due: none

chore: update policy-kubernetes-addon-prod, livenessprobe, csi-node-driver-registrar renovate config
  .github/renovate.json
  parts/linux/cloud-init/artifacts/README-COMPONENTS.md
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

chore: typo
  vhdbuilder/prefetch/internal/containerimage/containerimage_test.go
Due: none

cache v1.6.13 cni binary
  parts/linux/cloud-init/artifacts/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/prefetch/internal/containerimage/testdata/components.json
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

chore: set coverage calculations to manual trigger only
  .github/workflows/check-coverage.yml
Due: none

chore: set coverage calculations to manual trigger only (#5080)
  .github/workflows/check-coverage.yml
Due: none

chore: comments
  parts/linux/cloud-init/artifacts/components.json
  vhdbuilder/prefetch/internal/containerimage/testdata/components.json
Due: .pipelines/.vsts-vhd-builder.yaml

test: use original components.json for prefetch tests (#5078)
  vhdbuilder/prefetch/Makefile
  vhdbuilder/prefetch/hack/generate-testdata.sh
  vhdbuilder/prefetch/internal/containerimage/containerimage.go
  vhdbuilder/prefetch/internal/containerimage/containerimage_test.go
  vhdbuilder/prefetch/internal/containerimage/testdata/components.json
  vhdbuilder/prefetch/internal/containerimage/testdata/prefetch.sh
Due: none

simpler version managment
  parts/linux/cloud-init/artifacts/cse_install.sh
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

chore: upgrade blob csi driver version in vhd image (#5069)
  parts/linux/cloud-init/artifacts/components.json
Due: .pipelines/.vsts-vhd-builder.yaml

chore: upgrade CSI driver sidecar images in vhd image (#5073)
  parts/linux/cloud-init/artifacts/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

feat: create private acr during e2e
  e2e/aks_model.go
  e2e/azure-resources/azure-container-registry-airgap.bicep
  e2e/azure-resources/azure-container-registry-airgap.json
  e2e/config/azure.go
  e2e/go.mod
  e2e/go.sum
Due: .pipelines/e2e.yaml

need anon pull
  e2e/aks_model.go
  e2e/azure-resources/azure-container-registry-airgap.bicep
  e2e/azure-resources/azure-container-registry-airgap.json
Due: .pipelines/e2e.yaml

add role assignment to managed identity
  e2e/aks_model.go
  e2e/config/azure.go
  e2e/go.mod
  e2e/go.sum
Due: .pipelines/e2e.yaml

cleanup
  e2e/aks_model.go
  e2e/scenario_test.go
Due: .pipelines/e2e.yaml

fix acr name
  e2e/config/azure.go
  e2e/kube.go
  e2e/scenario_test.go
  e2e/template.go
Due: .pipelines/e2e.yaml

clean go mod
  e2e/go.mod
  e2e/go.sum
Due: .pipelines/e2e.yaml

cleanup var name
  e2e/scenario_test.go
Due: .pipelines/e2e.yaml

var cleanup
  e2e/aks_model.go
Due: .pipelines/e2e.yaml

Path conditions:
  .pipelines/.vsts-vhd-builder-release-windows.yaml: any of: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/templates/.builder-release-template-windows.yaml, packer.mk, vhdbuilder/packer/packer-plugin.pkr.hcl, vhdbuilder/packer/*.ps1, vhdbuilder/packer/test/*.ps1, vhdbuilder/packer/test/run-test.sh, vhdbuilder/packer/backfill-cleanup.sh, vhdbuilder/packer/cleanup.sh, vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh, vhdbuilder/packer/generate-vhd-publishing-info.sh, vhdbuilder/packer/init-variables.sh, vhdbuilder/packer/windows-image.env, vhdbuilder/packer/windows-vhd-builder-sig.json
  .pipelines/.vsts-vhd-builder.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, .pipelines/templates/.builder-release-template.yaml, parts/linux, packer.mk, but not: vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*
  .pipelines/e2e-windows.yaml: any of: .pipelines/e2e-windows.yaml, .pipelines/templates/e2e-windows-template.yaml, e2e/windows, parts/windows, staging/cse/windows, but not: staging/cse/windows/README
  .pipelines/e2e.yaml: any of: .pipelines/e2e.yaml, .pipelines/templates/e2e-template.yaml, e2e, parts/linux, pkg/agent, but not: e2e/windows, pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/AKSWindows*, parts/linux/cloud-init/artifacts/components.json
  .pipelines/update-go-binary.yaml: any of: pkg/proto, pkg/parser
