Repository Azure/AgentBaker: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml, .pipelines/update-go-binary.yaml

.pipelines/.vsts-vhd-builder-gpu.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_$(Build.SourceBranchName)_$(BuildID)
  pool:
    name: $(POOL_NAME)
  stages:
  - stage: build
    jobs:
    - job: build2404gen2containerd
      timeoutInMinutes: 360
      steps:
      - bash: 'echo ''##vso[task.setvariable variable=OS_SKU]Ubuntu''
  
  ...

.pipelines/.vsts-vhd-builder-pr-windows.yaml:
  name: PR_$(Date:yyyyMMdd)$(Rev:.r)_$(Build.SourceBranchName)_$(BuildID)
  pool:
    name: $(POOL_NAME)
  stages:
  - template: ./templates/.build-and-test-windows-vhds-template.yaml
    parameters:
      vhddebug: false
      skipExtensionCheck: true
      dryrun: false
      overrideBranch: master
  ...

.pipelines/.vsts-vhd-builder.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_$(Build.SourceBranchName)_$(BuildID)
  pool:
    name: $(POOL_NAME)
  stages:
  - stage: build
    jobs:
    - job: build2004fipsgen2containerd
      timeoutInMinutes: 180
      steps:
      - bash: 'echo ''##vso[task.setvariable variable=OS_SKU]Ubuntu''
  
  ...

.pipelines/.vsts-vhd-refresh-testdata.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_$(Build.SourceBranchName)_$(BuildID)
  pool:
    name: $(POOL_NAME)
  stages:
  - stage: Generate_and_Publish_Testdata
    condition: succeeded()
    jobs:
    - job: Generate_Publish_Testdata
      timeoutInMinutes: 10
      steps:
      - bash: 'make generate
  
          '
  ...

.pipelines/e2e-windows.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: ./templates/e2e-template.yaml
    parameters:
      name: Windows Tests
      IgnoreScenariosWithMissingVhd: false

.pipelines/e2e.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: ./templates/e2e-template.yaml
    parameters:
      name: Linux Tests
      IgnoreScenariosWithMissingVhd: false

.pipelines/update-go-binary.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  jobs: null
  check-file:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout current branch
      uses: actions/checkout@v2
    - name: build go binary
      run: make update-contract
    - name: Save file from current branch
      run: cp pkg/parser/bin/parser parser
  ...

fix(gpu): ldconfig + incomplete-status gate on the preserve path
  parts/linux/cloud-init/artifacts/ubuntu/cse_install_ubuntu.sh
  spec/parts/linux/cloud-init/artifacts/cse_install_ubuntu_spec.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

feat: use MIG profile layout for partitioning (#9129)
  aks-node-controller/parser/helper.go
  aks-node-controller/parser/parser.go
  aks-node-controller/parser/parser_test.go
  aks-node-controller/pkg/gen/aksnodeconfig/v1/gpu_config.pb.go
  aks-node-controller/proto/aksnodeconfig/v1/gpu_config.proto
  e2e/node_config.go
  e2e/scenario_gpu_managed_experience_test.go
  e2e/validators.go
  parts/linux/cloud-init/artifacts/mig-partition.sh
  pkg/agent/baker.go
  pkg/agent/baker_test.go
  pkg/agent/datamodel/helper.go
  pkg/agent/variables.go
  spec/parts/linux/cloud-init/artifacts/mig_partition_spec.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix(gpu): depmod after removing AKS's marker-version .ko on the preserve path
  parts/linux/cloud-init/artifacts/ubuntu/cse_install_ubuntu.sh
  spec/parts/linux/cloud-init/artifacts/cse_install_ubuntu_spec.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

fix(gpu): strip AKS's marker-version module across all kernels on preserve
  parts/linux/cloud-init/artifacts/ubuntu/cse_install_ubuntu.sh
  spec/parts/linux/cloud-init/artifacts/cse_install_ubuntu_spec.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

test: disable multi-GPU MIG scenario
  e2e/scenario_gpu_managed_experience_test.go
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

docs: clarify MIG partitioning comments
  parts/linux/cloud-init/artifacts/mig-partition.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

fix(gpu): depmod after full sweep + report incomplete on removal failure
  parts/linux/cloud-init/artifacts/ubuntu/cse_install_ubuntu.sh
  spec/parts/linux/cloud-init/artifacts/cse_install_ubuntu_spec.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

docs: align MIG partitioning guidance
  parts/linux/cloud-init/artifacts/cse_main.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

docs: remove duplicate mig-parted guidance
  parts/linux/cloud-init/artifacts/cse_main.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

chore: remove former AKS code owners
  CODEOWNERS
Due: none

fix: retain active AKS code owner
  CODEOWNERS
Due: none

chore: remove former AKS code owners (#9322)
  CODEOWNERS
Due: none

feat: add Azure Linux GPU driver versions to release notes (#8872)
  parts/linux/cloud-init/artifacts/mariner/cse_install_mariner.sh
  spec/parts/linux/cloud-init/artifacts/cse_install_mariner_spec.sh
  vhdbuilder/packer/install-dependencies.sh
  vhdbuilder/packer/test/linux-vhd-content-test.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

added acr 2604 amd64 and arm64 tests
  e2e/scenario_test.go
Due: .pipelines/e2e.yaml

test: add Windows E2E for SSH key with special char comment
  e2e/scenario_win_test.go
  e2e/validators.go
  pkg/agent/utils.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

chore(ci): correct azure login version comments
  .github/workflows/hotfix-generate.yml
  .github/workflows/tidy.yaml
Due: none

refactor(e2e): decouple scenarios from test control
  e2e/aks_model.go
  e2e/cache.go
  e2e/cluster.go
  e2e/config/azure.go
  e2e/config/config.go
  e2e/config/config_poll_test.go
  e2e/cse_timing.go
  e2e/scenario_control_test.go
  e2e/scenario_runner_test.go
  e2e/shared_infra.go
  e2e/skip.go
  e2e/test_helpers.go
  e2e/toolkit/log.go
  e2e/toolkit/log_test.go
  e2e/types.go
  e2e/validators.go
  e2e/vmss.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

fix(gpu): always re-arm nvidia-cdi-refresh.path, even when repair fails
  parts/linux/cloud-init/artifacts/cse_config.sh
  spec/parts/linux/cloud-init/artifacts/cse_config_spec.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

fix: use base64 encoding for SSH key literals in PowerShell template (#9313)
  e2e/scenario_win_test.go
  e2e/validators.go
  pkg/agent/utils.go
  pkg/agent/utils_test.go
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

docs(gpu): correct MIG rationale and restore misplaced comment block
  parts/linux/cloud-init/artifacts/cse_config.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

feat(anc): direct HTTP download for hotfix with SHA-256 verification (#9233)
  aks-node-controller/app.go
  aks-node-controller/checkhotfix.go
  aks-node-controller/hotfix.go
  aks-node-controller/hotfix_test.go
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml

feat: cache azure iptables monitor
  parts/common/components.json
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

fix temp
  vhdbuilder/packer/pre-install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

fix
  vhdbuilder/packer/pre-install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

fx
  .pipelines/.vsts-vhd-builder-release.yaml
  .pipelines/.vsts-vhd-builder.yaml
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml

fix
  .pipelines/.vsts-vhd-builder-release.yaml
  .pipelines/.vsts-vhd-builder.yaml
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml

test: disable multi-GPU MIG scenario (#9318)
  e2e/scenario_gpu_managed_experience_test.go
  parts/linux/cloud-init/artifacts/cse_main.sh
  parts/linux/cloud-init/artifacts/mig-partition.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

feat: add prefetch to azure iptables monitor
  parts/common/components.json
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

fix: preserve CIS module denylist (incl. SCTP) on AzureLinux 3.0
  e2e/validators.go
  vhdbuilder/packer/packer_source.sh
  vhdbuilder/packer/test/linux-vhd-content-test.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

chore(deps): add 2604 acr-mirror ref (#9309)
  e2e/scenario_test.go
  parts/common/components.json
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

fix: bound live patching kubeconfig wait
  parts/linux/cloud-init/artifacts/ubuntu/ubuntu-snapshot-update.sh
  spec/parts/linux/cloud-init/artifacts/ubuntu-snapshot-update_spec.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

test: cover live patching ConfigMap JSONPath
  spec/parts/linux/cloud-init/artifacts/ubuntu-snapshot-update_spec.sh
Due: none

feat: update snapshot to be generic
  CODEOWNERS
  hotfix/hotfix_generate.py
  parts/linux/cloud-init/artifacts/ubuntu/security-update.sh
  parts/linux/cloud-init/artifacts/ubuntu/ubuntu-snapshot-update.sh
  parts/linux/cloud-init/nodecustomdata.yml
  pkg/agent/const.go
  pkg/agent/variables.go
  spec/parts/linux/cloud-init/artifacts/security-update_spec.sh
  spec/parts/linux/cloud-init/artifacts/snapshot-update-service_spec.sh
  spec/parts/linux/cloud-init/artifacts/ubuntu-snapshot-update_spec.sh
  vhdbuilder/packer/packer_source.sh
  vhdbuilder/packer/test/linux-vhd-content-test.sh
  vhdbuilder/packer/vhd-image-builder-arm64-gb.json
  vhdbuilder/packer/vhd-image-builder-arm64-gen2.json
  vhdbuilder/packer/vhd-image-builder-base.json
  vhdbuilder/packer/vhd-image-builder-cvm.json
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

addressing comment, adding live patch annotate
  parts/linux/cloud-init/artifacts/ubuntu/security-update.sh
  spec/parts/linux/cloud-init/artifacts/security-update_spec.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

fix: handle nodes without annotations
  parts/linux/cloud-init/artifacts/ubuntu/security-update.sh
  parts/linux/cloud-init/artifacts/ubuntu/ubuntu-snapshot-update.sh
  spec/parts/linux/cloud-init/artifacts/security-update_spec.sh
  spec/parts/linux/cloud-init/artifacts/ubuntu-snapshot-update_spec.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

fix(gpu): remove prebake before PIS customization
  parts/linux/cloud-init/artifacts/cse_helpers.sh
  parts/linux/cloud-init/artifacts/cse_main.sh
  parts/linux/cloud-init/artifacts/ubuntu/cse_install_ubuntu.sh
  spec/parts/linux/cloud-init/artifacts/cse_install_ubuntu_spec.sh
  spec/parts/linux/cloud-init/artifacts/cse_main_pis_reconcile_spec.sh
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

refactor(anc): extract shared os-release parsing into parsePlatformInfo
  aks-node-controller/hotfix.go
  aks-node-controller/hotfix_test.go
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml

Added the OS family prefix to production code and updated the schema documentation; switched all test fixtures over.
  aks-node-controller/hotfix.go
  aks-node-controller/hotfix_test.go
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml

refactor(anc): extract shared os-release parsing into parsePlatformInfo
  aks-node-controller/hotfix.go
Due: .pipelines/.vsts-vhd-builder-gpu.yaml, .pipelines/.vsts-vhd-builder.yaml

fix: remove internal ADO hostnames from renovate.md skill
  .github/copilot/skills/renovate.md
Due: none

Path conditions:
  .pipelines/.vsts-vhd-builder-gpu.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, .pipelines/templates/.builder-release-template.yaml, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/e2e-template.yaml, parts/linux, packer.mk, aks-node-controller, parts/common/components.json, go.mod, go.sum, e2e/scenario_gpu_managed_experience_test.go, but not: schemas/windows_settings.cue, vhdbuilder/release-notes, vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/windows, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*, .github, e2e/scenario_win_test.go, **/*.md
  .pipelines/.vsts-vhd-builder-pr-windows.yaml: any of: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/scripts, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/.build-and-test-windows-vhds-template.yaml, .pipelines/templates/.build-and-test-windows-vhd-template.yaml, .pipelines/templates/.builder-release-template-windows.yaml, .pipelines/templates/e2e-template.yaml, packer.mk, vhdbuilder/packer/packer-plugin.pkr.hcl, vhdbuilder/packer/*.ps1, vhdbuilder/packer/test/*.ps1, vhdbuilder/packer/test/run-test.sh, vhdbuilder/packer/windows-sub-cleanup.sh, vhdbuilder/packer/cleanup.sh, vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh, vhdbuilder/packer/generate-vhd-publishing-info.sh, vhdbuilder/packer/produce-packer-settings.sh, vhdbuilder/packer/windows, parts/common/components.json, parts/windows, go.mod, go.sum, e2e, staging/cse/windows, but not: vhdbuilder/release-notes, **/*.md, .github, e2e/scenario_test.go
  .pipelines/.vsts-vhd-builder.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, .pipelines/templates/.builder-release-template.yaml, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/e2e-template.yaml, parts/linux, packer.mk, aks-node-controller, parts/common/components.json, go.mod, go.sum, but not: schemas/windows_settings.cue, vhdbuilder/release-notes, vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/windows, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*, .github, e2e/scenario_win_test.go
  .pipelines/.vsts-vhd-refresh-testdata.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-refresh-testdata.yaml, parts/linux, packer.mk, parts/common/components.json, but not: vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*
  .pipelines/e2e-windows.yaml: any of: .pipelines/e2e-windows.yaml, .pipelines/templates/e2e-template.yaml, .pipelines/scripts/e2e_run.sh, .pipelines/scripts/e2e_delete_vmss.sh, e2e, parts/windows, pkg/agent, parts/common/components.json, staging/cse/windows, go.mod, go.sum, but not: pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/*Ubuntu*, pkg/agent/testdata/*Flatcar*, pkg/agent/testdata/*Mariner*, pkg/agent/testdata/*AzureLinux*, parts/common/components.json, staging/cse/windows/README, **/*.md, .github, e2e/scenario_test.go
  .pipelines/e2e.yaml: any of: .pipelines/e2e.yaml, .pipelines/templates/e2e-template.yaml, .pipelines/scripts/e2e_run.sh, e2e, parts/linux, parts/common/components.json, pkg/agent, go.mod, go.sum, but not: pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/AKSWindows*, parts/common/components.json, staging/cse/windows/README, **/*.md, e2e/scenario_win_test.go
  .pipelines/update-go-binary.yaml: any of: pkg/proto, pkg/parser
