Repository Azure/AgentBaker: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

Path conditions:
  .pipelines/.vsts-vhd-builder-release-windows.yaml: any of: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/templates/.builder-release-template-windows.yaml, packer.mk, vhdbuilder/packer/packer-plugin.pkr.hcl, vhdbuilder/packer/*.ps1, vhdbuilder/packer/test/*.ps1, vhdbuilder/packer/test/run-test.sh, vhdbuilder/packer/backfill-cleanup.sh, vhdbuilder/packer/cleanup.sh, vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh, vhdbuilder/packer/generate-vhd-publishing-info.sh, vhdbuilder/packer/init-variables.sh, vhdbuilder/packer/windows-image.env, vhdbuilder/packer/windows-vhd-builder-sig.json
  .pipelines/.vsts-vhd-builder.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, parts/linux/cloud-init/artifacts/manifest.json, parts/linux/cloud-init/artifacts/cse_install.sh, parts/linux/cloud-init/artifacts/cse_helpers.sh, parts/linux/cloud-init/artifacts/ubuntu/cse_install_ubuntu.sh, parts/linux/cloud-init/artifacts/mariner/cse_install_mariner.sh, packer.mk, but not: vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*
  .pipelines/e2e-windows.yaml: any of: .pipelines/e2e-windows.yaml, .pipelines/templates/e2e-windows-template.yaml, e2e/windows, parts/windows, staging/cse/windows
  .pipelines/e2e.yaml: any of: .pipelines/e2e.yaml, e2e, parts/linux, pkg/agent, but not: e2e/windows, pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json

perf: change number of sig image version replicas
  vhdbuilder/publish/sig-version-create.sh
Due: none

fix: downloadContainerdWasmShims Function Bug
  parts/linux/cloud-init/artifacts/cse_install.sh
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

test: azcopy conccurnecy value
  vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

test: add benchmarks and helper functions
  parts/linux/cloud-init/artifacts/cse_helpers.sh
  vhdbuilder/packer/install-dependencies.sh
  vhdbuilder/packer/post-install-dependencies.sh
  vhdbuilder/packer/pre-install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

fix: change benchmark title for downloading NVIDIA Driver Image (MCR)
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml

abort on error
  packer.mk
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

little cleanup
  e2e/suite_test.go
  e2e/vmss.go
Due: .pipelines/e2e.yaml

perf: parallelize container image pulls
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml

perf: parallelize kube proxy pulls
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml

perf: parallelize downloadContainerdWasmShims function and decrease wait time for extractKubeBinaries and downloadAzureCNI functions
  parts/linux/cloud-init/artifacts/cse_install.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

perf: run installBcc in subshell
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml

perf: increase vm size for VHD pipeline
  .pipelines/.vsts-vhd-builder-release.yaml
Due: none

perf: change azcopy concurrency value
  vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

feat: managed prometheus addon release
  vhdbuilder/packer/components.json
Due: .pipelines/.vsts-vhd-builder.yaml

dump info about /tmp
  packer.mk
  vhdbuilder/scripts/linux/mariner/tool_installs_mariner.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

feat: containerinsights 3.1.18 release
  vhdbuilder/packer/components.json
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

chore: use the same file name for Windows cse provision complete
  parts/windows/csecmd.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CSECommand
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CSECommand
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CSECommand
  pkg/agent/testdata/AKSWindows2019+K8S116/CSECommand
  pkg/agent/testdata/AKSWindows2019+K8S117/CSECommand
  pkg/agent/testdata/AKSWindows2019+K8S118/CSECommand
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CSECommand
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CSECommand
  pkg/agent/testdata/AKSWindows2019+K8S119/CSECommand
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CSECommand
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CSECommand
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CSECommand
  pkg/templates/templates_generated.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

patch image cves
  vhdbuilder/packer/components.json
  vhdbuilder/packer/kube-proxy-images.json
Due: .pipelines/.vsts-vhd-builder.yaml

perf: set azcopy concurrency value
  vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

feat: collect Windows memroy dump in collect-windows-logs.ps1
  staging/cse/windows/debug/collect-windows-logs.ps1
Due: .pipelines/e2e-windows.yaml

chore: use the same file name for Windows cse provision complete (#4166)
  parts/windows/csecmd.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CSECommand
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CSECommand
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CSECommand
  pkg/agent/testdata/AKSWindows2019+K8S116/CSECommand
  pkg/agent/testdata/AKSWindows2019+K8S117/CSECommand
  pkg/agent/testdata/AKSWindows2019+K8S118/CSECommand
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CSECommand
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CSECommand
  pkg/agent/testdata/AKSWindows2019+K8S119/CSECommand
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CSECommand
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CSECommand
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CSECommand
  pkg/templates/templates_generated.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

feat: collect Windows memroy dump in collect-windows-logs.ps1 (#4168)
  staging/cse/windows/debug/collect-windows-logs.ps1
Due: .pipelines/e2e-windows.yaml

test public 3b without fix
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/windows-image.env
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml

test public 3b with 4 fixes
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
  vhdbuilder/packer/windows-image.env
  vhdbuilder/packer/write-release-notes-windows.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml

test public 3b with 3 fixes
  vhdbuilder/packer/configure-windows-vhd.ps1
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
  vhdbuilder/packer/test/windows-vhd-content-test.ps1
  vhdbuilder/packer/windows-image.env
  vhdbuilder/packer/write-release-notes-windows.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml

feat: add more containerd logs and disk usage logs to collect-windows-logs.ps1
  staging/cse/windows/debug/collect-windows-logs.ps1
Due: .pipelines/e2e-windows.yaml

fix: concurrency flag error
  vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

test: containerd 2.0
  parts/linux/cloud-init/artifacts/ubuntu/cse_install_ubuntu.sh
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

cleanup unused cache
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml

feat: collect Windows extensions logs
  staging/cse/windows/debug/collect-windows-logs.ps1
Due: .pipelines/e2e-windows.yaml

feat: collect Windows extensions logs (#4169)
  staging/cse/windows/debug/collect-windows-logs.ps1
Due: .pipelines/e2e-windows.yaml

chore: bump azcopy version
  vhdbuilder/scripts/linux/tool_installs.sh
Due: .pipelines/.vsts-vhd-builder.yaml

perf: improve storage account sku
  vhdbuilder/packer/init-variables.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

perf: decrease azcopy concurrency value
  vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

cleanup comments
  e2e/airgap.go
  e2e/vmss.go
Due: .pipelines/e2e.yaml
