Repository Azure/AgentBaker: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml, .pipelines/update-go-binary.yaml

.pipelines/.vsts-vhd-builder-pr-windows.yaml:
  name: PR_$(Date:yyyyMMdd)$(Rev:.r)_$(Build.SourceBranchName)_$(BuildID)
  pool:
    name: $(AZURE_POOL_NAME)
  stages:
  - template: ./templates/.build-and-test-windows-vhds-template.yaml
    parameters:
      vhddebug: false
      skipExtensionCheck: true
      dryrun: false
  ...

.pipelines/.vsts-vhd-builder.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_$(Build.SourceBranchName)_$(BuildID)
  pool:
    name: $(POOL_NAME)
  stages:
  - stage: build
    jobs:
    - job: build2204gen2containerd
      timeoutInMinutes: 180
      steps:
      - bash: 'echo ''##vso[task.setvariable variable=OS_SKU]Ubuntu''
  
  ...

.pipelines/.vsts-vhd-refresh-testdata.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_$(Build.SourceBranchName)_$(BuildID)
  pool:
    name: $(POOL_NAME)
  stages:
  - stage: Generate_and_Publish_Testdata
    condition: succeeded()
    jobs:
    - job: Generate_Publish_Testdata
      timeoutInMinutes: 10
      steps:
      - bash: 'make generate
  
          '
  ...

.pipelines/e2e-windows.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: ./templates/e2e-template.yaml
    parameters:
      name: Windows Tests
      IgnoreScenariosWithMissingVhd: false

.pipelines/e2e.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: ./templates/e2e-template.yaml
    parameters:
      name: Linux Tests

.pipelines/update-go-binary.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  jobs: null
  check-file:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout current branch
      uses: actions/checkout@v2
    - name: build go binary
      run: make update-contract
    - name: Save file from current branch
      run: cp pkg/parser/bin/parser parser
  ...

feat: Scan for CIS compliance after applying CIS changes
  parts/linux/cloud-init/artifacts/cis.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml, .pipelines/e2e.yaml

build: Publish CIS report as artifact
  .pipelines/templates/.builder-release-template.yaml
  vhdbuilder/packer/vhd-image-builder-base.json
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

chore: Remove asc-baseline
  .pipelines/templates/.builder-release-template.yaml
  vhdbuilder/packer/post-install-dependencies.sh
  vhdbuilder/packer/vhd-image-builder-arm64-gen2.json
  vhdbuilder/packer/vhd-image-builder-base.json
  vhdbuilder/packer/vhd-image-builder-cvm.json
  vhdbuilder/scripts/linux/mariner/tool_installs_mariner.sh
  vhdbuilder/scripts/linux/ubuntu/tool_installs_ubuntu.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

feat: Expand CIS scanning to Ubuntu arm64 images
  .pipelines/templates/.builder-release-template.yaml
  vhdbuilder/packer/vhd-image-builder-arm64-gen2.json
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

chore: update Blob CSI driver versions (#6467)
  parts/common/components.json
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

feat: setting allowPartiallySucceededBuilds for kata to false.
  .pipelines/templates/.builder-release-template.yaml
Due: .pipelines/.vsts-vhd-builder.yaml

Squashed commit of automation work from branch "parse2"
  .pipelines/templates/.builder-release-template-windows.yaml
  vhdbuilder/packer/produce-packer-settings.sh
  vhdbuilder/packer/windows/windows_settings.json
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

feat: setting allowPartiallySucceededBuilds for kata to false. (#6469)
  .pipelines/templates/.builder-release-template.yaml
Due: .pipelines/.vsts-vhd-builder.yaml

chore: policy addon 1.12.1 (#6444)
  parts/common/components.json
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

Add the 2025 6B reg key
  vhdbuilder/packer/windows/windows_settings.json
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml

improve the currently skipped cilium test
  e2e/aks_model.go
  e2e/cluster.go
  e2e/kube.go
  e2e/scenario_win_test.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

add comment
  e2e/kube.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

Initial regression pipeline
  .pipelines/e2e-windows-regression.yaml
Due: none

set copy data into e2e-windows for testing
  .pipelines/e2e-windows-regression.yaml
  .pipelines/e2e-windows.yaml
Due: .pipelines/e2e-windows.yaml

improve comment
  e2e/kube.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

build cse pacakge in ado pipelines
  .pipelines/scripts/windows_build_cse.sh
  .pipelines/templates/.builder-release-template-windows.yaml
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml

fix: correct minor issues in windows_build_cse.sh script
  .pipelines/scripts/windows_build_cse.sh
Due: none

fix: correct artifact upload path in windows_build_cse.sh script
  .pipelines/scripts/windows_build_cse.sh
Due: none

fix: mismatched variable name
  .pipelines/scripts/windows_build_cse.sh
Due: none

fix: use ado built in directory for publishing artifacts
  .pipelines/templates/.builder-release-template-windows.yaml
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml

enable debugging
  .pipelines/scripts/windows_build_vhd.sh
Due: none

add variables to packer
  .pipelines/scripts/windows_build_vhd.sh
  vhdbuilder/packer/windows/windows-vhd-builder-sig.json
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml

fix: remove variables block from template
  .pipelines/templates/.builder-release-template-windows.yaml
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml

fix: variable used in scripts
  .pipelines/templates/.builder-release-template-windows.yaml
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml

to use current cse package, unless RP overrides with fully qualified package
  parts/windows/kuberneteswindowssetup.ps1
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/e2e-windows.yaml

build vhd with cse package
  .pipelines/scripts/windows_build_cse.sh
  .pipelines/templates/.builder-release-template-windows.yaml
  vhdbuilder/packer/windows/windows-vhd-builder-sig.json
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml

test: regenerate test cases
  pkg/agent/testdata/AKSWindows2019+CustomCloud+ootcredentialprovider/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletServingCertificateRotation/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/agent/testdata/AKSWindows2019+ootcredentialprovider/CustomData
Due: none

add dependencies
  .pipelines/templates/.build-and-test-windows-vhds-template.yaml
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml

update components.json to match cse version
  parts/common/components.json
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

fix: set ado variables inside task
  .pipelines/templates/.builder-release-template-windows.yaml
  vhdbuilder/packer/windows/windows-vhd-builder-sig.json
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml

redefine variables pattern
  .pipelines/templates/.build-and-test-windows-vhds-template.yaml
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml

add space
  .pipelines/scripts/windows_build_vhd.sh
Due: none

a ew more variable checks
  .pipelines/scripts/windows_build_vhd.sh
Due: none

fix unbound variables
  .pipelines/scripts/windows_build_vhd.sh
Due: none

set variables in bash
  .pipelines/scripts/windows_build_vhd.sh
Due: none

fix: build cse package only once for all windows versions
  .pipelines/scripts/windows_build_vhd.sh
  .pipelines/templates/.build-and-test-windows-vhd-template.yaml
  .pipelines/templates/.build-and-test-windows-vhds-template.yaml
  .pipelines/templates/.builder-release-template-windows.yaml
  vhdbuilder/packer/windows/windows-vhd-builder-sig.json
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml

fix: add dryrun to shell script
  .pipelines/templates/.builder-release-template-windows.yaml
  parts/common/components.json
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/.vsts-vhd-refresh-testdata.yaml

fix pipeline indentation
  .pipelines/templates/.builder-release-template-windows.yaml
Due: .pipelines/.vsts-vhd-builder-pr-windows.yaml

Path conditions:
  .pipelines/.vsts-vhd-builder-pr-windows.yaml: any of: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder-pr-windows.yaml, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/.build-and-test-windows-vhds-template.yaml, .pipelines/templates/.build-and-test-windows-vhd-template.yaml, .pipelines/templates/.builder-release-template-windows.yaml, .pipelines/templates/e2e-template.yaml, packer.mk, vhdbuilder/packer/packer-plugin.pkr.hcl, vhdbuilder/packer/*.ps1, vhdbuilder/packer/test/*.ps1, vhdbuilder/packer/test/run-test.sh, vhdbuilder/packer/backfill-cleanup.sh, vhdbuilder/packer/cleanup.sh, vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh, vhdbuilder/packer/generate-vhd-publishing-info.sh, vhdbuilder/packer/produce-packer-settings.sh, vhdbuilder/packer/windows, parts/common/components.json, parts/windows, go.mod, go.sum, but not: vhdbuilder/release-notes, **/*.md, .github, e2e/scenario_test.go
  .pipelines/.vsts-vhd-builder.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, .pipelines/templates/.builder-release-template.yaml, .pipelines/templates/.template-override-components-json.yaml, .pipelines/templates/.template-copy-file.yaml, .pipelines/templates/e2e-template.yaml, parts/linux, packer.mk, aks-node-controller, parts/common/components.json, go.mod, go.sum, but not: schemas/windows_settings.cue, vhdbuilder/release-notes, vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/windows, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*, **/*.md, .github, e2e/scenario_win_test.go
  .pipelines/.vsts-vhd-refresh-testdata.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-refresh-testdata.yaml, parts/linux, packer.mk, parts/common/components.json, but not: vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*
  .pipelines/e2e-windows.yaml: any of: .pipelines/e2e-windows.yaml, .pipelines/templates/e2e-template.yaml, .pipelines/scripts/e2e_run.sh, e2e, parts/windows, pkg/agent, parts/common/components.json, staging/cse/windows, go.mod, go.sum, but not: pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/AKSWindows*, parts/common/components.json, staging/cse/windows/README, **/*.md, .github, e2e/scenario_test.go
  .pipelines/e2e.yaml: any of: .pipelines/e2e.yaml, .pipelines/templates/e2e-template.yaml, e2e, parts/linux, parts/common/components.json, pkg/agent, go.mod, go.sum, but not: pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json, pkg/agent/testdata/AKSWindows*, parts/common/components.json, staging/cse/windows/README, **/*.md, e2e/scenario_win_test.go
  .pipelines/update-go-binary.yaml: any of: pkg/proto, pkg/parser
