Repository Azure/AgentBaker: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

Path conditions:
  .pipelines/.vsts-vhd-builder-release-windows.yaml: any of: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/templates/.builder-release-template-windows.yaml, packer.mk, vhdbuilder/packer/packer-plugin.pkr.hcl, vhdbuilder/packer/*.ps1, vhdbuilder/packer/test/*.ps1, vhdbuilder/packer/test/run-test.sh, vhdbuilder/packer/backfill-cleanup.sh, vhdbuilder/packer/cleanup.sh, vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh, vhdbuilder/packer/generate-vhd-publishing-info.sh, vhdbuilder/packer/init-variables.sh, vhdbuilder/packer/windows-image.env, vhdbuilder/packer/windows-vhd-builder-sig.json
  .pipelines/.vsts-vhd-builder.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, parts/linux/cloud-init/artifacts/manifest.json, parts/linux/cloud-init/artifacts/cse_install.sh, parts/linux/cloud-init/artifacts/cse_helpers.sh, parts/linux/cloud-init/artifacts/ubuntu/cse_install_ubuntu.sh, parts/linux/cloud-init/artifacts/mariner/cse_install_mariner.sh, packer.mk, but not: vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*
  .pipelines/e2e-windows.yaml: any of: .pipelines/e2e-windows.yaml, .pipelines/templates/e2e-windows-template.yaml, e2e/windows, parts/windows, staging/cse/windows
  .pipelines/e2e.yaml: any of: .pipelines/e2e.yaml, e2e, parts/linux, pkg/agent, but not: e2e/windows, pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json

reliability changes to aks-local-dns
  parts/linux/cloud-init/artifacts/aks-local-dns
Due: .pipelines/e2e.yaml

add coredns install curl
  vhdbuilder/packer/pre-install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml

add journal output for aks-local-dns for troubleshooting
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml

multiple script updates and features
  parts/linux/cloud-init/artifacts/05-aks-keepconfig.conf
  parts/linux/cloud-init/artifacts/aks-local-dns-corefile
  parts/linux/cloud-init/artifacts/aks-local-dns-corefile-node
  parts/linux/cloud-init/artifacts/aks-local-dns-corefile-pod
  parts/linux/cloud-init/artifacts/aks-local-dns-resolved.conf
  parts/linux/cloud-init/artifacts/aks-local-dns.service
  parts/linux/cloud-init/artifacts/aks-local-dns.sh
  parts/linux/cloud-init/artifacts/aks-local-dns.slice
  pkg/templates/templates_generated.go
  vhdbuilder/packer/packer_source.sh
  vhdbuilder/packer/vhd-image-builder-arm64-gen2.json
  vhdbuilder/packer/vhd-image-builder-base.json
  vhdbuilder/packer/vhd-image-builder-mariner-arm64.json
  vhdbuilder/packer/vhd-image-builder-mariner.json
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

Add aks-local-dns to image build.
  parts/linux/cloud-init/artifacts/aks-local-dns
  parts/linux/cloud-init/artifacts/aks-local-dns-corefile
  parts/linux/cloud-init/artifacts/aks-local-dns-resolved.conf
  parts/linux/cloud-init/artifacts/aks-local-dns.service
  parts/linux/cloud-init/artifacts/aks-local-dns.slice
  pkg/templates/templates_generated.go
  vhdbuilder/packer/packer_source.sh
  vhdbuilder/packer/pre-install-dependencies.sh
  vhdbuilder/packer/vhd-image-builder-arm64-gen2.json
  vhdbuilder/packer/vhd-image-builder-base.json
  vhdbuilder/packer/vhd-image-builder-mariner-arm64.json
  vhdbuilder/packer/vhd-image-builder-mariner.json
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

don't start aks-local-dns during the build process
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml

update path after rename
  vhdbuilder/packer/vhd-image-builder-arm64-gen2.json
  vhdbuilder/packer/vhd-image-builder-base.json
  vhdbuilder/packer/vhd-image-builder-mariner-arm64.json
  vhdbuilder/packer/vhd-image-builder-mariner.json
Due: .pipelines/.vsts-vhd-builder.yaml

fix loop during provisioning
  parts/linux/cloud-init/artifacts/aks-local-dns-corefile-node
  parts/linux/cloud-init/artifacts/aks-local-dns-corefile-pod
  parts/linux/cloud-init/artifacts/aks-local-dns.sh
  pkg/templates/templates_generated.go
Due: .pipelines/e2e.yaml

fix dns service IP to be default
  parts/linux/cloud-init/artifacts/aks-local-dns
  parts/linux/cloud-init/artifacts/aks-local-dns-corefile
  pkg/templates/templates_generated.go
  vhdbuilder/packer/pre-install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

move aks-local-dns later in the install sequence so that jq is there
  vhdbuilder/packer/install-dependencies.sh
  vhdbuilder/packer/pre-install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml

updates to script and paths
  parts/linux/cloud-init/artifacts/aks-local-dns
  parts/linux/cloud-init/artifacts/aks-local-dns-corefile
  parts/linux/cloud-init/artifacts/aks-local-dns-resolved.conf
  parts/linux/cloud-init/artifacts/aks-local-dns.service
  parts/linux/cloud-init/artifacts/aks-local-dns.sh
  pkg/templates/templates_generated.go
  vhdbuilder/packer/packer_source.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

split node and pod dns listeners
  parts/linux/cloud-init/artifacts/aks-local-dns-corefile
  parts/linux/cloud-init/artifacts/aks-local-dns.service
  parts/linux/cloud-init/artifacts/aks-local-dns.sh
  pkg/templates/templates_generated.go
  vhdbuilder/packer/packer_source.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

fix build failure due to cd command
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml

fix DNS IP lookup to work on ubuntu and azure linux
  parts/linux/cloud-init/artifacts/aks-local-dns.sh
  pkg/templates/templates_generated.go
Due: .pipelines/e2e.yaml

chore: update default VHDs for AB e2es
  e2e/scenario/base_vhd_catalog.json
Due: .pipelines/e2e.yaml

try running trivy without the db
  vhdbuilder/packer/trivy-scan.sh
Due: .pipelines/.vsts-vhd-builder.yaml

feat: bump%20windows%20image%20version for 2024.02
  vhdbuilder/packer/windows-image.env
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml

feat: bump windows image version for 2024.02
  vhdbuilder/packer/windows-image.env
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml

chore: update default VHDs for AB e2es (#4051)
  e2e/scenario/base_vhd_catalog.json
Due: .pipelines/e2e.yaml

fix add everything back
  .pipelines/templates/.builder-release-template.yaml
  vhdbuilder/packer/trivy-scan.sh
  vhdbuilder/packer/vhd-image-builder-base.json
  vhdbuilder/packer/vhd-image-builder-mariner-arm64.json
  vhdbuilder/packer/vhd-image-builder-mariner.json
Due: .pipelines/.vsts-vhd-builder.yaml

major updates
  parts/linux/cloud-init/artifacts/aks-local-dns-corefile-node
  parts/linux/cloud-init/artifacts/aks-local-dns-corefile-pod
  parts/linux/cloud-init/artifacts/aks-local-dns.service
  parts/linux/cloud-init/artifacts/aks-local-dns.sh
  pkg/templates/templates_generated.go
  vhdbuilder/packer/install-dependencies.sh
  vhdbuilder/packer/packer_source.sh
  vhdbuilder/packer/vhd-image-builder-arm64-gen2.json
  vhdbuilder/packer/vhd-image-builder-base.json
  vhdbuilder/packer/vhd-image-builder-mariner-arm64.json
  vhdbuilder/packer/vhd-image-builder-mariner.json
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

add aks-local-dns group
  vhdbuilder/packer/install-dependencies.sh
Due: .pipelines/.vsts-vhd-builder.yaml

fix spacing
  parts/linux/cloud-init/artifacts/aks-local-dns.sh
  pkg/templates/templates_generated.go
Due: .pipelines/e2e.yaml

a few last updates
  parts/linux/cloud-init/artifacts/aks-local-dns.sh
  pkg/templates/templates_generated.go
Due: .pipelines/e2e.yaml

fix re-run tests
  .pipelines/templates/.builder-release-template.yaml
Due: none

fix fix syntax
  .pipelines/templates/.builder-release-template.yaml
Due: none

add config file, better comments, better iptables rules
  parts/linux/cloud-init/artifacts/aks-local-dns.default
  parts/linux/cloud-init/artifacts/aks-local-dns.service
  parts/linux/cloud-init/artifacts/aks-local-dns.sh
  pkg/templates/templates_generated.go
  vhdbuilder/packer/install-dependencies.sh
  vhdbuilder/packer/packer_source.sh
  vhdbuilder/packer/vhd-image-builder-arm64-gen2.json
  vhdbuilder/packer/vhd-image-builder-base.json
  vhdbuilder/packer/vhd-image-builder-mariner-arm64.json
  vhdbuilder/packer/vhd-image-builder-mariner.json
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

fix script on cgroupv1 nodes
  parts/linux/cloud-init/artifacts/aks-local-dns.sh
  pkg/templates/templates_generated.go
Due: .pipelines/e2e.yaml

greatly simplify script
  parts/linux/cloud-init/artifacts/aks-local-dns-prestart.sh
  parts/linux/cloud-init/artifacts/aks-local-dns.default
  parts/linux/cloud-init/artifacts/aks-local-dns.service
  parts/linux/cloud-init/artifacts/aks-local-dns.sh
  pkg/templates/templates_generated.go
  vhdbuilder/packer/vhd-image-builder-arm64-gen2.json
  vhdbuilder/packer/vhd-image-builder-base.json
  vhdbuilder/packer/vhd-image-builder-mariner-arm64.json
  vhdbuilder/packer/vhd-image-builder-mariner.json
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

fix startup script
  parts/linux/cloud-init/artifacts/aks-local-dns-prestart.sh
  parts/linux/cloud-init/artifacts/aks-local-dns.service
  parts/linux/cloud-init/artifacts/aks-local-dns.sh
  pkg/templates/templates_generated.go
  vhdbuilder/packer/packer_source.sh
Due: .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e.yaml

fix: remove chrony apt-get call
  parts/linux/cloud-init/artifacts/init-aks-custom-cloud.sh
Due: .pipelines/e2e.yaml

fix: run make generate
  pkg/agent/testdata/AKSUbuntu2204+CustomCloud/CustomData
  pkg/agent/testdata/AKSUbuntu2204+CustomCloud/line84.sh
  pkg/templates/templates_generated.go
Due: .pipelines/e2e.yaml

fix: remove chrony apt-get call (#4061)
  parts/linux/cloud-init/artifacts/init-aks-custom-cloud.sh
  pkg/agent/testdata/AKSUbuntu2204+CustomCloud/CustomData
  pkg/agent/testdata/AKSUbuntu2204+CustomCloud/line84.sh
  pkg/templates/templates_generated.go
Due: .pipelines/e2e.yaml
