Repository Azure/AgentBaker: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

.pipelines/.vsts-vhd-builder-release-windows.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_$(Build.SourceBranchName)_$(BuildID)
  pool:
    name: $(AZURE_POOL_NAME)
  extends:
    template: v2/OneBranch.Official.CrossPlat.yml@templates
    parameters:
      globalSdl:
        antimalwareScan:
          enabled: true
        armory:
          enabled: false
        binskim:
  ...

.pipelines/.vsts-vhd-builder.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_$(OS_SKU)$(OS_VERSION)_$(HYPERV_GENERATION)_$(FEATURE_FLAGS)_$(Build.SourceBranchName)
  pool:
    name: $(POOL_NAME)
  stages:
  - stage: build_vhd
    dependsOn: []
    jobs:
    - job: build
      timeoutInMinutes: 180
      steps:
  ...

.pipelines/e2e-windows.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)_e2e
  pool:
    name: $(AZURE_POOL_NAME)
  stages:
  - stage: test_2019_containerd
    dependsOn: []
    condition: eq('${{ parameters.test2019containerd }}', True)
    jobs:
    - template: ./templates/e2e-windows-template.yaml
      parameters:
        windowsImage: 2019-containerd
  ...

.pipelines/e2e.yaml:
  name: $(Date:yyyyMMdd)$(Rev:.r)
  pool:
    name: nodesigtest-pool
  jobs:
  - job: Run_AgentBaker_E2E
    steps:
    - bash: 'az login --identity
  
        az account set -s $(AZURE_SUBSCRIPTION_ID)
  
        '
      displayName: az login
    - bash: bash .pipelines/scripts/setup_go.sh
      displayName: setup go
  ...

fix choosing cluster logic
  e2e/cluster.go
  e2e/vmss.go
Due: .pipelines/e2e.yaml

fix retry variable
  e2e/vmss.go
Due: .pipelines/e2e.yaml

test: assure that CSEResultFilePath is generated by Windows CSE
  e2e/windows/e2e-scenario.sh
  e2e/windows/upload-cse-logs.ps1
  parts/windows/kuberneteswindowssetup.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/templates/templates_generated.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

test: assure that CSEResultFilePath is generated by Windows CSE (#4194)
  e2e/windows/e2e-scenario.sh
  e2e/windows/upload-cse-logs.ps1
  parts/windows/kuberneteswindowssetup.ps1
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/templates/templates_generated.go
Due: .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

test
  vhdbuilder/packer/init-variables.sh
  vhdbuilder/packer/windows-vhd-builder-sig.json
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

test
  vhdbuilder/packer/init-variables.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

remove client sp
  .pipelines/.vsts-vhd-builder-release-windows.yaml
  .pipelines/templates/.builder-release-template-windows.yaml
  vhdbuilder/packer/init-variables.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

fix
  vhdbuilder/packer/init-variables.sh
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

test
  vhdbuilder/packer/windows-vhd-builder-sig.json
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml

chore: clean up windows client secret used in building vhd (#4193)
  .pipelines/.vsts-vhd-builder-release-windows.yaml
  .pipelines/templates/.builder-release-template-windows.yaml
  vhdbuilder/packer/init-variables.sh
  vhdbuilder/packer/windows-vhd-builder-sig.json
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/.vsts-vhd-builder.yaml

fix: short-circuit in read error
  pkg/agent/overrides/read.go
Due: .pipelines/e2e.yaml

feat: add support for default values
  pkg/agent/overrides/overrides.go
  pkg/agent/overrides/overrides_test.go
  pkg/agent/overrides/read_test.go
  pkg/agent/overrides/testdata/defaults/empty-map-override.yaml
  pkg/agent/overrides/testdata/defaults/empty-string-override.yaml
  pkg/agent/overrides/testdata/defaults/map-override.yaml
  pkg/agent/overrides/testdata/defaults/string-override.yaml
  pkg/agent/overrides/testdata/multi/override1.yaml
  pkg/agent/overrides/testdata/multi/override2.yaml
  pkg/agent/overrides/testdata/multi/override3.yaml
  pkg/agent/overrides/types.go
Due: .pipelines/e2e.yaml

chore: patch addon and gk
  vhdbuilder/packer/components.json
Due: .pipelines/.vsts-vhd-builder.yaml

feat: add register task in Windows VHD
  vhdbuilder/packer/configure-windows-vhd.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml

chore: use containerd v1.7.9 to build 23H2 VHD
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml

add Register-ScheduledTask
  vhdbuilder/packer/configure-windows-vhd.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml

chore: use containerd v1.7.9 to build 23H2 VHD (#4196)
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml

chore: bump abe2e vhd versions
  e2e/scenario/base_vhd_catalog.json
Due: .pipelines/e2e.yaml

chore: bump abe2e vhd versions (#4201)
  e2e/scenario/base_vhd_catalog.json
Due: .pipelines/e2e.yaml

chore: patch addon and gk (#4198)
  vhdbuilder/packer/components.json
Due: .pipelines/.vsts-vhd-builder.yaml

feat: skip legacy code CleanupHnsNetwork controlled by reusing the existing node pool field NotRebootWindowsNode
  parts/windows/kuberneteswindowssetup.ps1
  pkg/agent/datamodel/types.go
  pkg/agent/testdata/AKSWindows2019+CustomCloud/CustomData
  pkg/agent/testdata/AKSWindows2019+CustomVnet/CustomData
  pkg/agent/testdata/AKSWindows2019+EnablePrivateClusterHostsConfigAgent/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S116/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S117/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S118/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+CSI/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119+FIPS/CustomData
  pkg/agent/testdata/AKSWindows2019+K8S119/CustomData
  pkg/agent/testdata/AKSWindows2019+KubeletClientTLSBootstrapping/CustomData
  pkg/agent/testdata/AKSWindows2019+ManagedIdentity/CustomData
  pkg/agent/testdata/AKSWindows2019+SecurityProfile/CustomData
  pkg/agent/variables.go
  pkg/templates/templates_generated.go
  staging/cse/windows/README
  vhdbuilder/packer/generate-windows-vhd-configuration.ps1
Due: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/e2e-windows.yaml, .pipelines/e2e.yaml

chore: patch image cves
  vhdbuilder/packer/components.json
  vhdbuilder/packer/kube-proxy-images.json
Due: .pipelines/.vsts-vhd-builder.yaml

chore: kube-proxy 1.26.10-hotfix.20231103-5
  vhdbuilder/packer/kube-proxy-images.json
Due: .pipelines/.vsts-vhd-builder.yaml

chore: remove v1.26.10 and v1.28.8 to save vhd size
  vhdbuilder/packer/components.json
Due: .pipelines/.vsts-vhd-builder.yaml

chore: remove azurefile-csi v1.26.10 and v1.28.8
  vhdbuilder/packer/components.json
Due: .pipelines/.vsts-vhd-builder.yaml

chore: weekly image cve patching from Sec Pipelines (#4195)
  vhdbuilder/packer/components.json
  vhdbuilder/packer/kube-proxy-images.json
Due: .pipelines/.vsts-vhd-builder.yaml

remove optional
  pkg/proto/nbcontract/v1/customlinuxosconfig.pb.go
  pkg/proto/nbcontract/v1/customlinuxosconfig.proto
Due: none

chore: bumping image version to 202403.25.0
  pkg/agent/datamodel/linux_sig_version.json
Due: none

Path conditions:
  .pipelines/.vsts-vhd-builder-release-windows.yaml: any of: .pipelines/.vsts-vhd-builder-release-windows.yaml, .pipelines/templates/.builder-release-template-windows.yaml, packer.mk, vhdbuilder/packer/packer-plugin.pkr.hcl, vhdbuilder/packer/*.ps1, vhdbuilder/packer/test/*.ps1, vhdbuilder/packer/test/run-test.sh, vhdbuilder/packer/backfill-cleanup.sh, vhdbuilder/packer/cleanup.sh, vhdbuilder/packer/convert-sig-to-classic-storage-account-blob.sh, vhdbuilder/packer/generate-vhd-publishing-info.sh, vhdbuilder/packer/init-variables.sh, vhdbuilder/packer/windows-image.env, vhdbuilder/packer/windows-vhd-builder-sig.json
  .pipelines/.vsts-vhd-builder.yaml: any of: schemas, vhdbuilder/packer, vhdbuilder/scripts/linux, .pipelines/.vsts-vhd-builder.yaml, parts/linux/cloud-init/artifacts/manifest.json, parts/linux/cloud-init/artifacts/cse_install.sh, parts/linux/cloud-init/artifacts/cse_helpers.sh, parts/linux/cloud-init/artifacts/ubuntu/cse_install_ubuntu.sh, parts/linux/cloud-init/artifacts/mariner/cse_install_mariner.sh, packer.mk, but not: vhdbuilder/packer/*.ps1, vhdbuilder/packer/**/*.ps1, vhdbuilder/packer/*windows*, vhdbuilder/packer/**/*windows*
  .pipelines/e2e-windows.yaml: any of: .pipelines/e2e-windows.yaml, .pipelines/templates/e2e-windows-template.yaml, e2e/windows, parts/windows, staging/cse/windows
  .pipelines/e2e.yaml: any of: .pipelines/e2e.yaml, e2e, parts/linux, pkg/agent, but not: e2e/windows, pkg/agent/datamodel/sig_config*.go, pkg/agent/datamodel/*.json
